############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils 36C = SKIDROW ISO SPARE TiNYiSO iNSOMNi PROTOCOL ZWTiSO PRODEV
allows 36C = APPS APPS.MAC APPS.Linux GAMES GAMES.Linux GAMES.MAC XBOX360 WII DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM TV.X264.DTV X264.RET.720 PS3 DOX DOX.DLC X264.LIM.720 TV.X264.WEB
banned 36C = -ETH0 -FANiSO -FASiSO -XiSO TomTom. $INDUSTRIAL ^Autodesk ^Sonny.With.A.Chance.S\d  ^Good.Luck.Charlie.S\d ^Shake.It.Up.S\d JTAG JAGUAR -JAGDOX

filter 36C = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES 

#filter 36C = TV.DIVX.DTV= ^Lost|^24|^Heroes|^Prison.Break|^Scrubs|^Greys.Anatomy|^House.S|Nip.Tuck.S|Desperate.Housewives.S|^My.Name.Is.Earl|^Kyle.XY|^Dexter.S|The.4400.S|^Reaper.S|^Weeds.S|Californication.S|The.Shield.S|The.Unit.S|^Jericho|^Smallville.S|^Bones.S|^Psych.S|^Eureka.S|South.Park.S|The.Simpsons
#filter 36C = TV.DIVX.DSR= ^Lost|^24|^Heroes|^Prison.Break|^Scrubs|^Greys.Anatomy|^House.S|Nip.Tuck.S|Desperate.Housewives.S|^My.Name.Is.Earl|^Kyle.XY|^Dexter.S|The.4400.S|^Reaper.S|^Weeds.S|Californication.S|The.Shield.S|The.Unit.S|^Jericho|^Smallville.S|^Bones.S|^Psych.S|^Eureka.S|South.Park.S|The.Simpsons
#filter 36C = XXX= -SWE6RUS

filter 36C = Wii= !USA|NTSC 
filter 36C = APPS= !$INDUSTRIAL 
filter 36C = XBOX360 = !NTSC

rating                 36C = DIVX.LIM     = 6.0 1 1 
rating                 36C = X264.LIM.720 = 6.0 1 1

## Documentaries ok:
moviegenre             36C = DIVX.*       = 

# No year limit(?)
movieminyear 	       36C = DIVX.*       = 2009 
consoleregions         36C = XBOX360      = PAL|NTSC 
#tvcountry              36C = TV.X264.DTV = US

# Changelog:
#
# 070814 - Site added (me)
# 071107 - Huge update (guess! slackers...)
# 080326 - Wii filter (stealth)
# 080415 - Added pci2 filters (shrike)
# 090123 - removed clone* (ze stealth)
# 100507 - removed Adobe from banned (solar)
# 110306 - removed affils (solar)
# 120329 - added affil MONEY (moet)
# 150421 - updated x264 1080 changed to 720, and divx.lim fixed (g0ne)
# 150603 - Fixed TV.264.WEB -> TV.X264.WEB (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
