############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils A42-M = BURGER HUSTLE SWE6RUS UNiVERSAL NeDiVx 
allows A42-M = DIVX.TC DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DVDR.RET SVCD.TC SVCD.TS XXX
filter A42-M = XXX= -PORNOLATION|-Pr0nStarS
banned A42-M = 


# Changelog:
# A42 movie BNC
# 060306 - Site added (orbith)
# 060514 - updated affils(baker)
# 061114 - divx.ts/tc added (spark)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
