############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils A42 = ORiGiNAL BURGER HUSTLE SWE6RUS bC ORGASM RoME 
allows A42 = DIVX.TS DIVX.TC DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DVDR.RET XXX PS2DVD PS2CD XBOXDVD GAMES GAMES.DVD APPS APPS.Linux APPS.DVD TV.DIVX.DSR TV.DIVX.DTV XBOX360 WII PS3 DIVX.RET.DE DIVX.BL.DE
banned A42 = SKIDROW
filter A42 = TV.DIVX.DSR= !$UK-SERIES|$REALITY-N-CRAP
filter A42 = TV.DIVX.DTV= !$UK-SERIES|$REALITY-N-CRAP
filter A42 = XXX= -PORNOLATION
filter A42 = WII= !USA|NTSC
filter A42 = PS3= !USA|NTSC
filter A42 = XBOX360= !USA|NTSC

# Changelog:
#
# 060307 - Site added (orb)
# 060514 - added affils (baker)
# 060824 - XBOX360 to allows (checker)
# 070303 - fixed(baker)
# 070320 - added wii (stealth)
# 070414 - added ps3 (stealth)
# 070420 - svcd removed (dave smith)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
