# A5A

AFFILS = BareHD FTP LAZERS LucidTV MiNDTHEGAP OUIJA PiECES SFM VERUM

blacklist = BLURAY.PROPER

rule MOVIES.BDR = MOVIES BDR language:(English) rating:5 std stdmovies
rule TV = TV 720p nw_us nw_gb hdtv h264 web webrip x264 currentseason Documentary reality talk-show scripted language:(English) std
rule TV = TV 720p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web webrip x264 currentseason Documentary reality talk-show scripted language:(English) std
rule DAILYSHOWS = DAILYSHOWS x264 h264 720p hdtv web webrip std
rule TV.HDTV = TV sd hdtv nw_us nw_gb nw_ca nw_au x264 currentseason Documentary reality scripted talk-show language:(English) std
rule TV.BLURAY = TV 720p nw_us nw_gb bluray language:(English) scripted x264 premiere:2000 std
rule TV.BLURAY = TV 720p network:(amazon,netflix,youtube,youtube-premium) bluray language:(English) scripted x264 premiere:2000 std


# NAME           PATH
dir MOVIES.BDR       = /incoming/bluray
dir TV               = /incoming/tv-hd
dir TV.SD            = /incoming/tv-sd
dir TV.BLURAY        = /incoming/tv-bd
dir SPORTS           = /incoming/tv-hd
dir TV.DVDRip        = /incoming/tv-sd
dir DAILYSHOWS       = /incoming/tv-hd

Name = Apartment 5A
Location = 1000Mbit
Country = se
Size =
ISP =
Control = AMNiSO TFAiSO
Sitebans =
Status = Up
