#xx#########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ADT2 = BNU DFA ERT MAX PTi RagnaroK SMP ViXEN 
allows ADT2 = XXX
banned ADT2 = 
filter ADT2 = XXX= -SWE6RUS|-CUMSTAiNS|-WDE

# Changelog:
#
# 062805 - Site added (baker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
