
############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils AES = ABSTRAKT BEDLAM BooKWoRM CYGiSO DiSRUPTiON iNKiSO iNLAWS NEWiSO NiSO PANDEMONiUM PHOBOS PSiCO SoSISO STARLETS THUGLiNE TRiPS WHiZZ PSFR33
allows AES = BOOKWARE BLURAY.RET GAMES GAMES.MAC GAMES.LINUX WIIU PS3 DOX DOX.DLC APPS APPS.MAC APPS.Linux XBOX360 TV.X264.DTV TV.X264.DTV.1080 X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 TV.X264.WEB TV.X264.WEB.1080 TV.X264.HDD TV.X264.HDD.1080 PSV
banned AES = Crossing.Jordan -BARGE -REGRET -W4FX

filter AES = GAMES*        = -SKIDROW|-TiNYiSO|-CODEX|-PLAZA|-RELOADED|-HI2U|-ACTiVATED|-FLT|-POSTMORTEM|-MONEY|-Razor1911|-SMACKs|-CPY
filter AES = APPS*         = -CORE|-ISO|-TBE|-TDA|-DVTiSO|-ZWTiSO|-MAGNiTUDE|-ECZ
filter AES = DOX*          = -RAZORDOX|-CODEX|-RELOADED|-SKIDROW|-FLT|-FLTDOX|-BAT
#filter AES = PS3           = -DUPLEX|-COMPLEX|-iMARS|-PROTOCOL|-iNSOMNi|-WiiERD|-iCON|-STRANGE|-ACCiDENT|-ABSTRAKT|-PROTON|-RESPAWN
#filter AES = XBOX360       = -DUPLEX|-COMPLEX|-iMARS|-PROTOCOL|-iNSOMNi|-WiiERD|-iCON|-STRANGE|-ACCiDENT|-ABSTRAKT|-PROTON|-RESPAWN
filter AES = BOOKWARE      = !OFFICE|EXCEL|WORD|OUTLOOK|POWERPOINT|ACCESS|PUBLISHER|3D|CINEMA|MAYA|ANIMATION|EFFECTS|PHOTO|AUDIO|MUSIC|FINALE|CUBASE|FRUITY|LOGIC|DJ

rating AES = X264.*         = 0.0 0 1
rating AES = X264.LIM.*     = 5.0 500 1

tvcountry              AES = TV.X264.* = US|UK|CA
#tvgenre                AES = TV.X264.* = Scripted
tvstartyear            AES = TV.X264.HDD    = 2010
movieminyear           AES = X264.*         = 2014

consoleregions         AES = XBOX360       = PAL|NTSC


# Changelog:
#
# 121011 - Site added (me)
# 150314 - Updated (a lot) (shrike)
# 150331 - Fixed X264.RET.720 (dyna)
# 150407 - updated games,console,tv and added x264.LIM (g0ne)
# 160921 - added 1080 tv (ohno)
# 160902 - added webtv1080 (ohno)
# 160902 - delled VERUM as affil (ohno)
# 160903 - added THUGLiNE as affil (ohno)
# 160930 - added DiSRUPTiON as affil (ohno)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
