############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################
# todo :)
# divx 08:29:52 200- .. Limited Releases need imdb rating 6.0+/250+ Votes............[NUKE 3X] ..
# dvdr 08:29:52 200- .. Limited releases need imdb rating of 6.0+/250 votes..........[NUKE 3X] ..


affils AF = 2HD STFU SAPHiRE UNiVERSAL
#allows AF = DIVX.RET PS2DVD TV.X264.DTV TV.DIVX.DTV TV.DIVX.HR XXX XBOX360 DVDR.RET DIVX.TS
allows AF = GAMES CLONES DIVX.TS DIVX.SCR DIVX.R5 DIVX.RET DIVX.TC PS2DVD TV.DIVX.DTV TV.DIVX.HR XXX XBOX360 DVDR.RET
banned AF = CRNTV NESSUNO ENLIGHT CaRaT FUtv SYS G4L BiA GOTHiC XaNaX BeStDvD GRiSO PORNOLATiON iNGOT hV PLEX SaGa REMAX D0PE BeStDiVX AFO FASiSO RPT GGS JFKPC
filter AF = XXX= -DiVXFactory 
filter AF = CLONES= -Unleashed -PROCYON

# Changelog:
#
# 070414 - Site added (blade)
# 070515 - updated sections (ego)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
