##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils AFT = MAGNITUDE PANTHEON TM3
allows AFT = APPS APPS.Linux DIVX.RET DIVX.LIM SVCD.RET SVCD.LIM SVCD.TS VCD.SCR VCD.LIM TV.VCD GAMES GAMES.DVD GERMAN
banned AFT = IBM Lotus
filter AFT = TV.VCD= ^24|^Malcom|Simpsons|^Scrubs|Stargate.S

# Changelog:
#
# 040803 - THIS SITE IS NOT FULLY FIXED YET - ANYONE?
# 040827 - updated some stuff (blade)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
