############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils AK = 2HD ACCiDENT APATHY CHRONiC EXiMiUS FoV PreCiSiON STRANGE SiNNERS ZRY hV CTU
allows AK = WII XBOX360 PS3 NDS GAMES GAMES.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.R5 DIVX.SCR.LIM DIVX.TS DIVX.TC TV.DIVX.DSR TV.DIVX.DTV TV.X264.DVD TV.DVDR X264.RET.720
filter AK = WII= !NTSC|USA
filter AK = PS3= !NTSC|USA
banned AK = 

filter AK = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter AK = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES

rating AK = DIVX.LIM=      6.0 50 1
rating AK = DIVX.RET=      4.0 0 0
rating AK = DIVX.SCR=      4.0 0 0
rating AK = DIVX.R5=       4.0 0 0
rating AK = DIVX.TS=       4.0 0 0
rating AK = DIVX.TC=       4.0 0 0
rating AK = DIVX.SCR.LIM=  6.0 50 1 
rating AK = DVDR.RET=      4.0 0 0
rating AK = X264.*=        5.5 250 1

movieminyear AK = X264.*=   2006
x264formats  AK = X264.*=   mkv

tvstartyear AK = TV.X264.DVD= 1995


# Changelog:
#
# 080326 - Site added (vibr)
# 080504 - Allows and all fixed whoever set it up sucks (conky)
# 080906 - Removed SUSHi from affils (dyna)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
