##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils AKS-PRE = AVATAR CCCLX Caravan DMU GeNiuS Mirage PROMiNENT ProjectX SUSHi iSOSPHERE
allows AKS-PRE = PS2DVD.JAP XBOXDVD.JAP XBOX360
banned AKS-PRE = 

# Changelog:
#
# YYMMDD - Site added (me)
# 051024 site  added (acidbr)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
