##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils AKSDIVX = DiAMOND DMT ESPiSE FRAGMENT GREiD iMBT KiNOBOX PROMiSE RETRO S6 SAPHiRE AMIABLE AEN
allows AKSDIVX = DIVX.R5 DIVX.RET DIVX.LIM DIVX.SCR DIVX.TS DIVX.TC DIVX.SCR.LIM DIVX.STV ANIME.Series ANIME.Movies
banned AKSDIVX = -iNVFX -CRDS Fansubbed -BBX -LRC -RPT

rating                 AKSDIVX = DIVX.LIM       = 0.0 0 0
movieminyear           AKSDIVX = DIVX.*         = 2002

# Changelog:
#
# 050509 - Site added (checker)
# 050513 - Removed non existing section DIVX.FOREIGN - do it by filters/new FOREIGN/LANG rule in general.cfg ... (shrike)
# 051216 - Updated affils (darkm)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
