##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils AKSISO = CARTEL ConFuSiON D3Si DiAMOND DVDiSO GAMEOVER MaGE Mirage rG RiSCiSO S6 USAnime
allows AKSISO = BOOKWARE APPS GAMES GAMES.DVD TV.DIVX.DTV TV.DIVX.A TV.X264.DVD PS2DVD DIVX.TS DIVX.TC DIVX.SCR DIVX.RET VCD.SCR SVCD.TS SVCD.TC XBOXDVD DVDR.RET ANIME.Movies ANIME.Series
banned AKSISO = $INDUSTRIAL -MiLLERTiME -HOODLUM
filter AKSISO = TV.DIVX.DTV= ^24|^CSI|^Dead.Like|Enterprise|^Fifth.Gear|^Jake|L.Word|^Lost|^Pimp.My.Ride|^The.O.C|^The.Shield|Simpsons|Sopranos|Stargate.Atlantis|^Top.Gear|Half.Men
filter AKSISO = TV.DIVX.A= ^South.Park|^Stargate.SG
filter AKSISO = SVCD.TS= Centropy|maVen|VideoCD|-TCR
filter AKSISO = SVCD.TC= Chakra|-TUN|VideoCD
filter AKSISO = BOOKWARE= !.DVDR-
filter AKSISO = TV.X264.DVD= The.Pretender

# Changelog:
#
# 040804 - Site added (shrike) - NOT DONE YET - ANYONE?? i'm not on :)
# 040830 - updated some stuff (blade) i'm on it :)
# 040910 - added TV.X264.DVD to allows (blade)
# 041005 - Added iSO to affils (psychoffee)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
