##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils AKSXXX = DivXfacTory EViLVAULT FLESHLiGHT JustDifferent KSiO NYMPHO SPiCE XCiTE xjPx
allows AKSXXX = XXX
banned AKSXXX = -FFI -HS -kRc -LCxxx -TXC -ViCE

# Changelog:
#
# 040729 - Site added (wader)
# 040821 - Removed CLXXX as affils (wader)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
