############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils AM = SEPTiC FEAR XorCist Start2 AMRCMPG BURGER NeDiVx FCR HIPPOS MRN SWE6RUS Unleashed NBS UNiVERSAL RELiSH SKIDROW REMAX MOMENT MICAWBER
allows AM = APPS APPS.DVD CLONECD CLONEDVD DIVX.LIM DIVX.SCR.LIM DIVX.R5 DIVX.RET DIVX.SCR DIVX.CLS DIVX.TS DIVX.STV DVDR.SCR DVDR.RET DVDR.LIM GAMES GAMES.DVD NORDIC PS2CD PS2DVD XBOXDVD XXX TV.X264.DTV X264.RET.720 X264.CLS.720 TV.DIVX.DSR TV.DIVX.DTV WII DVDR.R5 XBOX360
banned AM = TNT
exempt AM = ^UFC|^American.Idol.S\d|^Balls.Of.Steel|^Comedy.Central.Presents|^Fifth.Gear.S\d|^Discovery|^National.Geographic|^Viasat.Explorer
filter AM = XXX= -PORNOLATiON|-DivXfacTory
filter AM = APPS= Adobe|Ahead|Corel|Macromedia|Microsoft|Pinnacle|Roxio|SPCS|Steinberg|Symantec|Veritas|Ulead
filter AM = APPS.DVD= Adobe|Ahead|Corel|Macromedia|Microsoft|Pinnacle|Roxio|SPCS|Steinberg|Symantec|Veritas|Ulead
filter AM = TV.DIVX.HR= HR.HDTV
filter AM = TV.DIVX.DTV= !$REALITY-N-CRAP
consoleallowregiondupe AM = XBOX360       = 0
consoleregions         AM = XBOX360       = PAL|NTSC
consoleregionrank      AM = XBOX360       = PAL NTSC
consoleallowregiondupe AM = WII       = 0
consoleregions         AM = WII       = PAL|NTSC
consoleregionrank      AM = WII       = PAL NTSC
movieminyear    AM = X264.RET.720 = 2006
movieminyear    AM = DVDR.* = 2000
movieminyear    AM = DIVX.* = 1950
movieminyear    AM = X264.CLS.720 = 1990
rating AM = X264.RET.720  = 0.0 1 1
rating AM = X264.CLS.720  = 6.5 1 1

# All tv allowed:
tvcountry  AM  = TV.X264.DVD = SE|US
tvgenre    AM  = TV.X264.DVD = scripted
tvcountry  AM  = TV.DIVX.DTV = SE|US|UK
tvgenre    AM  = TV.DIVX.DTV = scripted
tvcountry  AM  = TV.DIVX.DSR = SE|US
tvgenre    AM  = TV.DIVX.DSR = scripted
tvstartyear AM = TV.X264.DVD= 1995

# Changelog:
#
# 060801 - Site added (baker)
# 060919 - allows and such added (sparky)
# 070724 - CFE removed (sparky)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
