############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils AP = ENFUSiA 0mnidvd FKKDVDR gFViD GWViD SLiEZE XCiTE koCZka aAF
allows AP = APPS APPS.DVD APPS.LinuxLinux DIVX.RET DIVX.R5 DIVX.SCR GAMES GAMES.DVD TV.DIVX.DTV XXX
banned AP = ^IBM ^ALLDATA
filter AP = TV.DIVX.DTV= 24|American.Dad|Battlestar.Gallactica|Criminal.Minds|CSI.*|Californication|Desperate.Housewives|Dexter|Eureka|Family.Guy|Fringe|Heroes|House|Knight.Rider|Lost|Medium|Metalcoalypse|Numb3rs|Prison.Break|Pushing.Dasies|Regenesis|Smallville|South.Park|Star.Wars.Clone|Stargate.Atlantis|Supernatural|Terminator|The.Big.Bang.Theory|The.IT.Crowd|The.Simpsons|The.Unit|True.Blood|Veronica.Mars|Weeds
filter AP = XXX= -0nStarS|-PORNOLATiON|-QualitX

# Changelog:
#
# 090510 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
