###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils APE = ACE BAVARiA CTU FFNDVD GOOGLE SAiNTS RiVER RiOT ORGASM MOOSE iTWINS MPTDVD
allows APE = CLONECD CLONEDVD DIVX.RET DIVX.SCR DOX DOX.DLC DVDR.RET GAMES GAMES.DVD GAMES.Linux PS2DVD PSP TRAILERS TV.SCR TV.DIVX.DSR TV.DIVX.DTV TV.X264.DVD XBOXDVD XXX
banned APE = -MiRROR -GLORIOUS -TMN -MINIME -QLTVCD -CONSOLE HOYLE. -RiSCiSO Law.And.Order.S\d.+DVDRip Miami.Vice.S\d Andromeda.S05 SeaQuest.DSV. Degrassi.High.S\d The.Net.S\d Saved.By.the.Bell.The.New.Class.S\d Quantum.Leap.S\d Odyssey.5.S\d
#filter APE = APPS= Adobe|Cisco|Corel|McAffee|Microsoft|Norton|Symantec|Ulead
#filter APE = APPS.Linux= Adobe|Cisco|Corel|McAffee|Microsoft|Norton|Symantec|Ulead
filter APE = TV.SCR= S01.*E0[01]
filter APE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter APE = TV.X264.DVD= !$REALITY-N-CRAP|$UK-SERIES
filter APE = TV.DIVX.DSR= The.Shield|Simpsons|The.4400|Stargate|Battlestar.Galactica
filter APE = XXX= -LDSXXX|-Pr0nStarS
filter APE = CLONECD= ![._]SF.*Clone|[._]SF.*Cure
filter APE = CLONEDVD= ![._]SF.*Clone|[._]SF.*Cure
filter APE = PSP= !UMDRIP
exempt APE = Coupling.S\d Shameless.S\d Spooks.S\d Ultimate.Force.S\d



# Changelog:
#
# 040801 - Added section/filter TV.DVD.SCR => general.cfg: rule (shrike)
# 040823 - TV.DVD.SCR -> TV.SCR (shrike)
# 040824 - Added LOL (guest) to affils (shrike)
# 040926 - Added GOOGLE to affils (shrike)
# 040928 - Removed LOL from affils (bourbon)
# 041003 - Removed SVCD.RET SVCD.SCR SVCD.TS VCD.TS VCD.SCR from allows (bourbon)
# 041004 - Correction: VCD.SCR is still allowed (shrike)
# 041007 - Added AURA/NOX to affils (shrike)
# 041202 - Added BAVARIA to affils (shrike)
# 041203 - Added filter APE = TV.X264.DVD= Gilmore.Girls.S02E +section (shrike)
# 041209 - Added $UK-SERIES-APE [without Coupling/Spooks] to banlist (shrike)
# 041214 - Added CamTV as affils (bourbon)
# 050110 - Added -KJS to bans (bourbon)
# 050106 - Removed TDA (checker)
# 050818 - Updated alot (checker)
# 050825 - TV Rules Updated, allows dvdrip 1990+ (checker)
# 050829 - Added FFNDVD and RIVER to affils (shrike)
# 050831 - Added TV.DIVX.DSR +filter (shrike)
# 050831 - Upadted DSR filter, 2 shows were missing (checker)
# 051003 - Added PSP to allows (no idea)
# 051005 - Added Hoyle. to banned (shrike)
# 051123 - Added Clone to allows (checker)[17:11:23] * kingy has joined #mindstate <wtf?
# 051203 - Added Clone filter! grrr (shrike)
# 051206 - Added filter APE = PSP= !UMDRIP (shrike)
# 051215 - Added MPTDVD to affils (shrike)
# 060123 - Added exempt list for approved UK series, delled some bans (shrike)
# 060222 - Added Mirror to banned list (darkm)
# 060222 - Removed dead.zone and pimp.my.ride from DSR allowed (darkm)
# 060316 - Removed Apprentice from exempt (shr)
# 060408 - Rem. SEPTIC (checker)
# 080522 - Shrike is a noob!
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
