############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils AR = FiCO FiCODVDR aAF AVCDVD BFF CLANDESTINE MOMENTUM NANO TASTE TASTETV WAVEY ViLD KaKa TENEIGHTY
allows AR = APPS APPS.MAC APPS.Linux BOOKWARE GAMES GAMES.MAC XBOX360 TV.X264.DTV TV.X264.DVD TV.X264.HDD TV.X264.HDD.1080 DVDR.RET DVDR.LIM XXX X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 DIVX.R5 DIVX.SCR DIVX.RET WII TV.DIVX.DVD TV.DIVX.DTV PS3 DIVX.LIM DIVX.RET DIVX.SCR DIVX.TS DIVX.R5 DIVX.R5.LIM DIVX.SCR.LIM 
#banned AR = 
filter  AR = XXX  = .+
exempt  AR = XXX  = .+
consoleallowregiondupe AR = WII=          0
consoleregions         AR = WII=          PAL NTSC
consoleregions         AR = PS3=          PAL NTSC
tvgenre                AR = TV.DIVX.DTV = Scripted|Documentary|Sport|Talkshow|Reality|Cartoon|Variety|Talkshow
tvgenre                AR = TV.X264.DTV = Scripted|Documentary|Sport|Talkshow|Reality|Cartoon|Variety|Talkshow
tvcountry              AR = TV.DIVX.DTV   = UK|US|AU|CA
tvcountry              AR = TV.X264.DTV   = UK|US|AU|CA
tvcountry              AR = TV.X264.HDD   = UK|US|AU|CA
tvcountry              AR = TV.X264.HDD.1080   = UK|US|AU|CA
tvcountry              AR = TV.X264.DVD   = UK|US|AU|CA

moviegenre             AR = X264.* = 
rating                 AR = DIVX.* = 0.0 0 0
rating                 AR = X264.* = 0.0 0 0
rating                 AR = DVDR.* = 0.0 0 0
movieminyear           AR = X264.* = 1900
movieminyear           AR = DIVX.* = 1900
movieminyear           AR = DVDR.* = 1900
# Changelog:
#
