############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ASG = 4PL ASTEROiDS BABiES BiA CTU EMERALD REDLiGHT
allows ASG = APPS TV.DIVX.HR TV.DIVX.DTV TV.DIVX.DSR APPS.linux APPS.DVD PS2DVD XBOXDVD GAMES GAMES.DVD CLONECD CLONEDVD DVDR.RET DIVX.SCR DIVX.SCR.LIM DIVX.RET DIVX.LIM DIVX.TC DIVX.TS XBOXDVD XXX
banned ASG = ^IBM PRiDE PRiDEVCD aAF UMD DeFaCto CRiMSON PreVail iND REMAX CLEAR XiSO 
filter ASG = XXX= -SWE6RUS|-LDSXXX|-Pr0nStarS
filter ASG = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES

# Changelog:
#
# 060614 - Site added (sparky)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
