############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ASS = ABSOKT Razor1911 TBE RazorDOX
allows ASS = GAMES TV.X264.DTV X264.RET.720 APPS APPS.DVD TV.X264.HR X264.CLS.720 X264.LIM.720 TV.X264.HDD XBOX360 WII DOX DOX.DLC DIVX.RET DIVX.RET.SE
banned ASS = .Linux([._-]|32|64)

filter ASS = TV.X264.HDD = Supernatural|Gossip.Girl|American.Dad|Bones|Californication|Chuck|CSI|Dexter|Entourage|Family.Guy|Fringe|South.Park

filter ASS = TV.*        = !$REALITY-N-CRAP|$UK-SERIES|Funny\.or\.Die\.Presents\.
filter ASS = TV.X264.HR  = Family.Guy|Simpsons|American.Dad
filter ASS = APPS        = -TBE|-ZWTiSO|-iSO|-RiSE|-MAGNiTUDE 
filter ASS = APPS.DVD    = -TBE|-ZWTiSO|-iSO|-RiSE|-MAGNiTUDE 
filter ASS = GAMES       = -Razor1911|-RELOADED|-FLT|-SKIDROW 
filter ASS = Wii         = !USA|NTSC
movieminyear  ASS = DIVX.RET=     2009
#rating        ASS = DIVX.RET =    5.0 0 0

movieminyear  ASS = X264.*      = 2010
#moviegenre    ASS = X264.*      = 
# imdb top 250
rating ASS = X264.CLS.720 = 7.9 50000 0 
rating ASS = X264.LIM.720 = 0.0 0 0 
rating ASS = X264.RET.720 = 0.0 0 0 


# Changelog:
#
# 100214 - Site added (solar)
# 100217 - added APPS.DVD (solar)
#
#
#
#
##
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
