##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ATL = BBXviD
allows ATL = CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.SCR GAMES GAMES.DVD GAMES.Linux PS2DVD TV.DIVX.DTV TV.DIVX.DSR XBOXDVD XXX
#banned ATL =
filter ATL =         XXX= -SWE6RUS
filter ATL = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter ATL = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES

# Changelog:
#
# 040803 - THIS IS ATLISO BEFORE FEDZ BUST ...FIX IT !
# 060510 - Updated alot of stuff (wader)
# 060902 - Fixed TV filter (shr)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
