##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ATLVCD = DiVE DVL DVNVCD XSTREEM
allows ATLVCD = DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET MV SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TS SVCD.TS.LIM TV.DIVX.DTV VCD.SCR VCD.SCR.LIM VCD.TS VCD.TS.LIM XXX
banned ATLVCD = -FTF
filter ATLVCD = TV.DIVX.DTV= ^24|^CSI|^CSI.Miami|^Friends|^Kingdom.Hospital|^Las.Vegas|^The.OC|^The.O.C.|Simpsons|Sopranos
filter ATLVCD = XXX= Asian.Fever|Barely.Legal
filter ATLVCD = SVCD.TS= -Centropy|-VIDEOCD|-TCF|-TCR
#warning ATLVCD = DVDR= (*)DVDR:imdb5+

# Changelog:
#
# 040803 - THIS IS ATLVCD BEFORE FEDZ BUST ...FIX IT !
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !