##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ATP = JGTiSO MORRiGAN BETAMAX CAFFEiNE CFE MRN TACTiLE
allows ATP = APPS CloneCD CloneDVD DOX DOX.DLC DVDR.RET GAMES GAMES.DVD PS2C$ VCD.RET XBOXDVD PS2DVD	 
banned ATP = 

# Changelog:
#
# 041226 - Site added (Janno)
# 080327 - ECHELON,ProjectX,MPTDVD out, MORRiGAN,BETAMAX,CAFFEiNE,CFE,TACTiLE in (vibr)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
