affils = MONEY ISO DUPLEX

#blacklist = 

rule GAMES = GAMES windows std
rule DOX = DOX windows std

rule APPS = APPS windows filter:(Adobe,Symantec,Norton,Microsoft,Autodesk) std

rule MOVIES.SD = MOVIES sd x264 bluray year:2012 limited lrating:6 std stdmovies language:(English)
rule MOVIES.1080p = MOVIES 1080p x264 bluray year:2012 std stdmovies language:(English)

rule TV.SD = TV sd hdtv nw_us x264 episodeAge:3 scripted language:(English) std

# NAME                   PATH
dir BOOKWARE     = /bookware
dir MOVIES.SD    = /divx
dir DOX          = /dox
dir GAMES        = /games
dir PS4          = /ps4
cbftp-dur TV.SD        = /tv
dir APPS         = /apps
dir MOVIES.1080p = /x264