# AZP

affils = ACCiDENT AMRAP COCAIN EMERALD iNCiDENT iNFAMOUS JAWN Replica SCREAM SNOW STRANGE WiiERD XQZT

groupblacklist = STRiFE ViTALiTY FASiSO ignition C4TV LZ0 minime iMARS
blacklist = ^Andromeda

rule DOX = DOX std
rule GAMES = GAMES std

rule TV = TV 720p x264 hdtv h264 currentseason nw_us nw_gb nw_ca web webrip scripted language:(English) std
rule TV = TV 720p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.BLURAY = TV 720p x264 bluray nw_us nw_gb nw_ca language:(English) airdate:2017 episodeAge:24 std
rule TV.BLURAY = TV 720p x264 bluray network:(amazon,netflix,youtube,youtube-premium) language:(English) airdate:2017 std


rule MOVIES.720p = MOVIES bluray 720p x264 year:2017 limited lrating:6 lvotes:500 language:(English) std stdmovies
rule MOVIES.1080p = MOVIES bluray 1080p x264 year:2017 language:(English) std stdmovies
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited lrating:6 lvotes:500 year:2017 language:(English) std stdmovies

rule XXX = XXX bluray bdrip group:(PORNOLATiON,STARLETS,KuKaS) x264 std

dir BOOKWARE           = /bookware
dir DOX                = /dox
dir GAMES              = /games
dir TV                 = /tvx264
dir TV.BLURAY          = /tvbd
dir MOVIES.720p        = /x264
dir MOVIES.1080p       = /x264
dir MOVIES.2160p       = /x265
dir MOVIES.BDRip       = /xvid
dir MOVIES.DVDRip      = /xvid
dir XXX                = /xxx


