##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils B = AG CYGiSO LiBiSO MRN SKIDROW Unleashed TACTiLE DDUISO iTWINS QUASAR WHEELS
allows B = TV.DIVX.DTV TV.X264.DTV X264.RET.720 DVDR.RET DIVX.RET DIVX.LIM XBOX360 WII BOOKWARE GAMES APPS APPS.DVD DOX DOX.DLC

filter B = TV.DIVX.DTV        = !$REALITY-N-CRAP|!$UK-SERIES|PDTV
filter B = Wii                = !NTSC|USA

movieminyear B = DIVX.RET     = 2006
movieminyear B = DVDR.RET     = 2008
movieminyear B = X264.RET.720 = 2008
movieminyear B = DIVX.LIM     = 2006
tvgenre B = TV.*= Scripted
rating B = DIVX.LIM           = 0.0 0 10
rating B = X264.RET.720       = 5.0 1000 1
rating B = DVDR.RET           = 5.0 1000 1
 
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
# 081019 - Added iTWINS (dyna)
