##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils B13 = HOEGAARDEN ORENJi NBS MTG
allows B13 = GAMES GAMES.DVD DIVX.RET DIVX.SCR DIVX.LIM DIVX.TC XXX PS2DVD TV.DIVX.DTV APPS APPS.MAC DVDR.RET
banned B13 = $REALITY-N-CRAP
filter B13 = XXX= -Pr0nStarS

# Changelog:
#
# 051211 - Site added (blade)
# 060121 - updated Apps.Mac (blade)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
