##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils B2 = FANTA DVDR PlayTime TDS NOD
allows B2 = DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET DVDR.SCR TV.DIVX.DTV XBOXDVD GAMES GAMES.DVD VCD.SCR 
banned B2 = $REALITY-N-CRAP

# Changelog:
#
# 050420 - Site added (moet)
# 050513 - cfg released (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
