##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils B52 = ADX ANiDVD HCG LOKi LRC MPT MPTDVD MRN NBS Pr0nStarS PRECISION PVi RiVER SCOPE SCOTCH W3D XPD
allows B52 = APPS APPS.MAC DIVX.RET DIVX.SCR DIVX.LIM GAMES GAMES.DVD CLONECD XBOXDVD VCD.TC VCD.SCR DVDR.RET TV.DIVX.DTV TV.DIVX.DSR
banned B52 = HK BMC IBM MSC PTC CISCO CAD CAE CAM $INDUSTRIAL UK-SERIES $REALITY-N-CRAP
filter B52 = TV.DIVX.DTV= !$REALITY-N-CRAP
filter B52 = TV.DIVX.DSR= !$REALITY-N-CRAP
filter B52 = BOOKWARE= GNOMON

# Changelog:
#
# 040804 - Site added (shrike) - NOT DONE YET 
# 040807 - Updated in Sections,Filter etc. (checker)
# 040918 - Added TV.VCD filter (checker)
# 041021 - XXX Removed, Now affil only.(checker)
# 050208 - removed pr0nstars from affils (blade)
# 050902 - updated affils and stuff
# 092006 - pr0nstars is affil :)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
