###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BA = AG ABORTIONSAREFORBABIES CFE COALiTiON FCNiSO FCR LiBiSO MRN QuidaM SKIDROW Unleashed iTWINS NSiD SATIVA JGTiSO RiZLA
allows BA = APPS APPS.Linux APPS.DVD DIVX.RET TV.DIVX.DTV DIVX.LIM DIVX.SCR DIVX.R5 DIVX.SCR.LIM DVDR.RET GAMES GAMES.DVD XXX PHOTODISC PS2DVD PS2CD XBOXDVD DIVX.TC DIVX.TS DIVX.FOREIGN 
banned BA = DVD9 .FS. -FASISO
filter BA = XXX= -xDMNx
filter BA = DIVX.TS= -maVen
filter BA = TV.DIVX.DTV= ^Prison.Break
filter BA = DIVX.R5= ![._]LINE[._-]

# Changelog:
#
# 041029 - Site added (checker)
# 050531 - Removed BURGER (orbith)
# 050602 - Added FCR as affils (orbith)
# 050822 - Added SWE6RUS as affil (baker)
# 050831 - Added WAM (orb)
# 050808 - added NicJr (orb)
# 050909 - added NBP
# 050915 - added mirror (orb)
# 051104 - Affils udated (acid)
# 060512 - Added AAFB affils(baker)
# 060513 - SVCD.TC/TS -> DIVX.TS/TC +filter (shrike)
# 060608 - added libiso(baker)
# 060822 - updated affils (baker)
# 060829 - added prison.break to allows
# 061102 - Added PHOTODISC to allows (shr)
# 070604 - fixed affils and allows (baker)
# 071121 - added SATIVA (orb)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
