
############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BAC = PROTON BRISK SNOOZE SPARKS
allows BAC = GAMES TV.X264.DTV X264.RET.720 X264.RET.1080 TV.X264.HDD
#exempt BAC = The.Ultimate.Fighter.S\d.+HDTV.XviD Mythbusters.S\d.*XviD Doctor[._]Who[._]2005.*720p.*x264
banned BAC = $DSRDUPES -XanaX -FASiSO -BiA -VITALITY -PreVail -HI2U -BIOSHOCK -DEFACED ^Andromeda PROPER+KILLERS
exempt BAC = -DEMAND

movieminyear         BAC = X264.*       = 2015

consoleregions       BAC = WII          = PAL

tvcountry            BAC = TV.X264.HDD  = US
tvstartyear          BAC = TV.X264.HDD  = 2000


# Changelog:
#
# 060529 - Site added (psychoffee)
# 060617 - Fixed some missing sections etc... (shr)
# 060618 - add affil -PLEX (sillix) 
# 060621 - Removed affils -PLEX (psy)
# 060722 - add affil -EMiNENT (sillix)
# 060803 - Removed SVCD/VCD (shr)
# 060912 - Added DIVX.VHS (shr)
# 070615 - Updated affils (stealth/d0nd)
# 070624 - Added FASiSO to banned
# 070717 - Removed XBOXDVD
# 070908 - usa wii allowed now (stealth)
# 080210 - X264.RET.720 added (stealth)
# 080211 - no more pal wii (stealth)
# 080331 - X264.LIM.720 +year filter added (shrike)
# 080415 - Added pci2 filters (shrike)
# 080521 - Added Counterfeit to affils (stealth)
# 080616 - Removed MARVEL from affils (stealth)
# 080627 - Removed PS2DVD (shrike)
# 080714 - Added HiQT unofficial affil (dyna)
# 081103 - Bye iMARS and DMT (dyna)
# 081103 - Changed x264 year to 2007, removed DIVX.LIM (dyna)
# 090106 - Added PreVail to banned (dyna)
# 170210 - Banned PROPER+KILLERS ("xcess")
# 170408 - Removed ISO (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
