# BAE

affils = CookieMonster DOGE MenInTights OldSeasons

rule APPS = APPS windows std
rule DOX = DOX windows std
rule GAMES = GAMES windows std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason nw_us nw_gb web webrip scripted animation documentary reality talk-show language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip scripted animation documentary reality talk-show language:(English) std
rule TV.X264.BLURAY = TV 1080p bluray language:(English) nw_us nw_gb x264 premiere:2005 std
rule TV.X264.BLURAY = TV 1080p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) x264 premiere:2005 std
rule DAILYSHOWS = DAILYSHOWS x264 h264 1080p hdtv web webrip std
rule MOVIES = MOVIES bluray 1080p x264 year:2010 limited rating:5 votes:500 lrating:5 lvotes:500 language:(English) cls std stdmovies
rule XXX = XXX bluray bdrip group:(PORNOLATiON,Pr0nStarS,SWE6RUS,KuKaS,DivXfacTory,STARLETS,UPPERCUT,NEGERSAFARI,MOFOXXX) x264 std

# NAME                     PATH
dir APPS               = /incoming/util
dir DOX                = /incoming/dox
dir GAMES              = /incoming/games
dir SPORTS             = /incoming/tv-hd
dir TV.1080p           = /incoming/tv-hd
dir DAILYSHOWS         = /incoming/tv-hd
dir TV.x264.BLURAY     = /incoming/tv-bd
dir TV.SD              = /incoming/tv-sd
dir MOVIES             = /incoming/x264
dir XXX                = /incoming/xxx

Name = BAE
Location = 500mbit
Country = NL
Size = 
ISP = 
Control = iND TFAiSO
Sitebans =
Status = Up
Comments = 

