# BAN

rule TV.X264.BLURAY = TV 720p x264 bluray internal language:(English) std
rule TV.UHDRip = TV 2160p uhdrip internal language:(English) x265 std

rule MOVIES.1080p = MOVIES bluray 1080p limited x264 language:(English) std stv cls stdmovies
rule MOVIES.1080p = MOVIES bluray 1080p limited x264 group:(AMIABLE,BLOW,DEFLATE,DRONES,GECKOS,Replica,SPARKS) internal stv cls nonfo language:(English) std
rule MOVIES.1080p = MOVIES bluray x264 1080p DK NO SE external nodupe 2D stdmovies

rule MOVIES.2160p = MOVIES bluray uhdrip 2160p internal limited stv cls nonfo std 
rule MOVIES.2160p = MOVIES bluray uhdrip 2160p FI NO SE limited stv cls nonfo std 

# NAME                     PATH
dir TV.x264.BLURAY   = /incoming/tvbd.720p
dir TV.x265.UHDRip   = /incoming/tvbd.2160P
dir MOVIES.1080p     = /incoming/movies.1080p
dir MOVIES.2160p     = /incoming/movies.2160p

