############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BAR = CBGB GAC HEiRLOOM REV0 RiFT HLS XII CLUE DASH MARVEL RoME RELOADED METiS SATURN 
allows BAR = GAMES GAMES.DVD GAMES.MAC APPS.MAC APPS.LINUX APPS APPS.DVD DIVX.FOREIGN DIVX.RET DIVX.LIM TV.DIVX.DSR TV.DIVX.DTV DVDR.RET TV.X264.DVD TV.X264.DTV X264.RET.720 XBOX360 Wii UFC DOX F1 NDS DOX.DLC
banned BAR = -ViTALiTY -CPY -FASiSO Funny.or.Die.Presents. Jeremiah.S02 Everwood.S03 [_.]Puzzle[_.-]

filter BAR = TV.*        = !$REALITY-N-CRAP|$UK-SERIES|The.Fresh.Prince.Of.Bel
#filter BAR = TV.X264.DVD = ^American.Dreams|^Beverly.Hills.90210|^Bones|^Burn.Notice|^Cold.Case|^Csi|^Degrassi|^Desperate.Housewives|^Dexter|^Dharma.And.Greg|^Dirt|^Entourage|^Eureka|^Everwood|^Friday.Night.Lights|^Ghost.Whisperer|^Gilmore.Girls|^Greys.Anatomy|^Heroes|^House|^How.I.Met.Your.Mother|^Jag|^Jericho|^Joan.Of.Arcadia|^Joey|^Kyle.Xy|^Lois.And.Clark|^Lost|^Lucky.Louie|^My.Boys|^My.Name.Is.Earl|^Navy.Ncis|^Ncis|^Nip.Tuck|^Numb3rs|^October.Road|^One.Tree.Hill|^Party.Of.Five|^Prison.Break|^Sample|^Scrubs|^Shark|^Sleeper.Cell|^Smallville|^Stargate|^Subs|^Supernatural|^The.L.Word|^The.O.C|^The.Oc|^The.Office|^The.Office.Us|^The.Richs|^Tru.Calling|^Twin.Peaks|^Two.And.A.Half.Men|^Veronica.Mars|^Weeds|^What.I.Like.About.You|^Will.And.Grace|^24
filter BAR = F1          = [HP]DTV.XVID !QUALIFY|HIGHLIGHT

filter BAR = APPS.*      = Adobe|Borland|Corel|Cubase|McAfee|Macromedia|Microsoft|Norton|PowerQuest|Propellerheads|Roxio|Steinberg|Symantec|TomTom|Ulead|Veritas|VMware|Discreet|Citrix|Pinnacle 
filter BAR = GAMES.*     = !Cabelas|^HOYLE|Hunting

filter BAR = Wii         = !USA|NTSC 
exempt BAR = The.Daily.Show.+(DTV|DSR).XviD Top.Gear.+DTV.(XviD|x264) Skins.+DTV.x264 Doctor.Who.2005.+DTV.x264 Wipeout.US.*DTV.XviD The.Pacific.*DTV.(XviD|x264)

x264formats  BAR = X264.*       = mkv
tvcountry    BAR = TV.*         = US|CA 
#tvstartyear  BAR = TV.X264.DVD  = 2008

movieminyear  BAR = DVDR.*      = 2008 
movieminyear  BAR = DIVX.*      = 2008 
movieminyear  BAR = X264.*      = 2008 
moviegenre    BAR = DIVX.*      = 

rating        BAR = DIVX.FOREIGN = 6.0 0 0 

consoleregionrank      BAR = XBOX360 = 
consoleallowregiondupe BAR = XBOX360 = 1 


# Changelog:
#
# 090317 - Fixed some things ... TV.*, tvcountry... (shrike)
# 090423 - All tv.dvdrip allowed if UK|CA and Top.Gear. Also exempted UFC and Wipeout (shrike, thx dyna)
# 090423 - consoleallowregiondupe = 1 (shr)
# 090427 - Most XXX genres removed, allowed all from SWE6, DF, PL and NYMPHO (dyna)
# 090718 - Removed XXX section (Dyna)
# 100220 - removed divx.r5 and added 2 shows to exempt 720p top gear and skins and removed bd (solar)
# 100227 - added Funny.or.Die.Presents to banned as conky nukes for sketch (solar) 
# 100307 - added F1 (solar)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
