###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BBL = ADVD AEN ANiVCD AVCD BBX BiA BIZARRE CORRuPT DEiTY Details EMERALD FoV FRAGMENT jDUB KiF KJS MEMETIC NAS OE PARADOX PMM Razor1911 RiVER SUSHi SWAG TRAiLERPUNK
allows BBL = ANIME.Series ANIME.Movies CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR DIVX.SCR.LIM DIVX.TC DIVX.TS DVDR.RET DVDR.LIM GAMES GAMES.Linux HENTAI.Movies HENTAI.Series NORDIC PS2CD PS2DVD PS3 TV.DIVX.DTV TV.X264.DVD WII XBOX360 X264.RET.720 DOX.DLC
banned BBL = -FASiSO -ViTALiTY
filter BBL = NORDIC= SWEDISH|DANISH|NORWEGIAN|FINNISH
filter BBL = TV.DIVX.DTV= !$REALITY-N-CRAP
filter BBL = TV.X264.DVD= !$REALITY-N-CRAP

# Changelog:
#
# 040729 - Site added (wader)
# 040806 - Added allow TV.X264.DVD (wader)
# 040827 - Added NORDIC section (wader)
# 040924 - Added section DIVX.SCR.LIM (wader)
# 041006 - Removed XBOXDVD section (wader)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
