AFFILS = TBS

rule NONE = NONE

# NAME                     PATH
dir TV             = /incoming/groups/pHASE
dir DAILYSHOWS     = /incoming/groups/pHASE

Name = Bad Blood Rising - TBS pre
Location = 10000mbit
Country = se
Size = 20TB + 150TB remote archive
ISP = Bahnhof
Control = iND
Sitebans = DNS
Status = Up
Comments = Cleanup beginning of next year
