AFFILS = AVRATTNING ELOHiM HENRETTELSE iNSPiRiT NEXTGEN RESURRECTION TViLLAGE XCODE MATTER

groupblacklist = STRiFE SharpHD 1891 NEGERLEiF PRiNCE sweHD

rule BOOKWARE = BOOKWARE filter:(AddisonWesley,Apress,CBTNuggets,Cisco,ICOLLEGE,OREILLY,Packt,Pearson,SAMS,StoneRiver,Technics,TotalTraining) std
 
rule GAMES = GAMES group:(ACTiVATED,BAT,CODEX,CPY,HI2U,PLAZA,Razor1911,RazorDOX,RELOADED,SKIDROW,STEAMPUNKS,TiNYiSO) std
rule DOX = DOX group:(ACTiVATED,BAT,CODEX,CPY,HI2U,PLAZA,Razor1911,RazorDOX,RELOADED,SKIDROW,STEAMPUNKS,TiNYiSO) std

rule MOVIES = MOVIES bluray x264 1080p group:(AMIABLE,BLOW,DEFLATE,DRONES,GECKOS,HD4U,PSYCHD,Replica,SAPHiRE,SiNNERS,SPARKS) limited std stv cls
rule MOVIES = MOVIES bluray x264 1080p year:2018 limited lrating:5 lvotes:500 FR std 
rule MOVIES = MOVIES bluray x264 1080p DK NO SE NORDIC external nodupe 2D cls

rule MOVIES = MOVIES bluray uhdrip 2160p internal group:(IAMABLE) limited stv cls nonfo std 
rule MOVIES = MOVIES bluray uhdrip 2160p FI NO SE NORDIC limited stv cls nonfo std 
rule MOVIES = MOVIES uhd EN FI NO SE external nodupe 2D cls

rule MOVIES.WEBRIP = MOVIES webrip web stv 1080p 2160p rating:5 votes:1000 lrating:5 lvotes:1000 year:2018 language:(English) h264 h265 x264 x265 limited std
rule MOVIES.WEB = MOVIES webrip web stv 1080p 2160p rating:5 votes:1000 lrating:5 lvotes:1000 year:2018 language:(English) h264 h265 x264 x265 limited std

rule PS4 = PS4 pal rf ntsc std dupesjpn

rule TV.BLURAY = TV 720p 1080p 2160p bluray internal language:(English) std
rule TV.UHDRip = TV 720p 1080p 2160p uhdrip internal language:(English) std
rule TV.SE = TV 720p 1080p 2160p bluray web webrip SE
rule TV = TV 720p 1080p 2160p scripted nw_us nw_gb nw_ca web webrip internal language:(English) std h264 h265 x264 x265 dupeshdtv
rule TV = TV 720p 1080p 2160p scripted network:(amazon,netflix,youtube,youtube-premium) web webrip internal language:(English) std h264 h265 x264 x265 dupeshdtv


# NAME                     PATH
dir GAMES          = /incoming/games
dir DOX            = /incoming/games
dir MOVIES         = /incoming/movies
dir MOVIES.UHD     = /incoming/movies
dir MOVIES.WEB     = /incoming/movies
dir MOVIES.webrip  = /incoming/movies
dir PS4            = /incoming/ps4
dir TV.SE          = /incoming/tv.se
dir TV.NO          = /incoming/tv.no
dir TV             = /incoming/tv.web
dir TV.BLURAY      = /incoming/tv.bd
dir TV.UHDRip      = /incoming/tv.bd
dir BOOKWARE       = /incoming/bookware

#TODO
# PS4

Name = Bad Blood Rising
Location = 10000mbit
Country = se
Size = 20TB + 150TB remote archive
ISP = Bahnhof
Control = iND
Sitebans = DNS
Status = Up
Comments = Cleanup beginning of next year
