###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BC = ALLiANCE SPARKS
allows BC = WII XBOX360 DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM X264.LIM.1080 X264.CLS.1080 X264.RET.1080 TV.X264.HDD

movieminyear    BC = DIVX.*        = 2011
movieminyear    BC = X264.CLS.1080 = 1900
rating          BC = X264.* = 0.0 0 0



# Changelog:
#
# 040807 - added some banned series (shrike)
# 040901 - added daily.show to banned series (blade)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed TV from affil (bourbon)
# 041007 - added Q to affils (shrike)
# 041118 - added Buck Rogers.........................! (shrike)
# 041229 - Removed SVCD retail and scr sections and added DIVX (wader)
# 050101 - Removed VCD.SCR and VCD.SCR.LIM from allows (checker)
# 050103 - Removed TV.VCD and TV.SVCD.DVD from allows (checker)
# 050105 - Fixed NORDIC filter (shrike)
# 050413 - Fixed banned list order. $KEYWORDS have to be in the last one. (shrike)
# 050829 - Added TV.DIVX.HR (baker)
# 050902 - Added TV.DIVX.DSR (shrike)
# 050903 - Removed TV.DIVX.HR again (use custom for such special sections) (shrike)
# 050904 - -> BC-REALITY-N-CRAP (to allow big brother) (shrike)
# 050911 - Changed ALF. to ^ALF. ...be more careful! (shrike)
# 120210 - readded all cuz new site in this name old farts (solar)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
