##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BC2 = 2SD AdmitONE AR4B AURORA BB3D BeSt CAMERA CeLLuLoiD CiNCZ eCZ FFNDVD FoV HNR HYdRO iNTENSiTY iRRM JUKEBOX LH MIL PreVail RAGEDVD RENAISSANCE RHE SiNK SLiEZE SubAtom SUNiSO TSZ UVZ VoMiT XanaX XiSO YYePG YYePGiSO UNIVERSAL
allows BC2 = SVCD.TC SVCD.TS VCD.SCR VCD.TC VCD.TS VCD.CAM DIVX.RET DIVX DIVX.LIM DIVX.SCR DIVX.TC DIVX.TS XXX PSP MVIDS GAMES GAMES.DVD GAMES.Linux CLONECD CLONEDVD BOOKWARE DVDR.RET APPS APPS.Linux APPS.DVD TV.DIVX.DSR TV.DIVX.DTV TV.X264.DVD
filter BC2 = XXX= -XCiTE|-DivXfacTory|-Pr0nStarS|-DETOXATiON|-TESORO
filter BC2 = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
banned BC2 = DVD9 .FS.

# Changelog:
#
# 051115 - Site added (acidbr)
# 051119 - added some sections(orb)
# 051218 - modified affils (darkm)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
