############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BD = iMBT ETHOS SWE6RUS DELERIUM AVENGED MARVEL Razor1911
allows BD = CLONEDVD CLONECD DUTCH GAMES DIVX.RET DIVX.LIM DIVX.LIM.SCR XBOX360 X264.RET.720 WII TV.X264.DTV XXX 
banned BD = $INDUSTRIAL BD(5|9) -OUTDATED -RUiNS -FASiSO -ViTALiTY -VoMiT -CPY -FASiSO -TiNYiSO 
filter BD = DUTCH       = DVDR-PATHE 
filter BD = TV.*        = !$REALITY-N-CRAP|$UK-SERIES|PDTV 
filter BD = XXX         = -VBT 
exempt BD = XXX          = -VBT
rating BD = DUTCH       = 6.0 500 1 

movieminyear BD = X264* = 2008 
movieminyear BD = DIVX* = 2008 

tvcountry    BD = TV.*  = US 
tvgenre      BD = TV.*  = Scripted|Cartoon|Animation 

x264formats  BD = X264* = mkv 

# Changelog:
#
# 081002 - Site added (shrike)
# 090127 - DUTCH=DVDR-PATHE (shrike)
# 100625 - no more EMiNENT PROMiNENT NAGGERS DOT iMARS (dyna)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
