##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BDS = FoV SAiNTS RiVER LOKi FFNDVD TVEP NBS Cheetah-TV uDF LRC SCR ViSUALiZE AURA
allows BDS = TV.DIVX.DTV DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DIVX.TS SVCD.TS VCD.SCR VCD.TC VCD.TS TV.X264.DVD TV.DIVX.HR PS2DVD XBOXDVD SVCD.TC
banned BDS = $REALITY-N-CRAP $UK-SERIES MacGyver Mad.About.You.
filter BDS = TV.DIVX.HR= 24|Alias|CSI|Everwood|Gilmore.Girls|Las.Vegas|The.O.C|Joey|Medium|Numbers|One.Tree.Hill|Smallville|Desperate.Housewives|Stargate.Atlantis| West.Wing|Lost|Veronica.Mars|Greys.Anatomy|Supernatural.Invasion|Bones|Prison.Break|Reunion|Threshold|Everybody.Hates.Chris
# Changelog:
#
# 050409 - Site added (blade)
# 050818 - Updated (checker)
# 050902 - Added TV.DIVX.HR + filter /checker
# 051024 - Added console sections /acidbr
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
