############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BDW = 
allows BDW = APPS DVDR.RET DUTCH GAMES PSP NDS TV.DIVX.DTV TV.X264.DTV WII X264.RET.720 X264.LIM.720 X264.CLS.720 XBOX360 DIVX.RET DIVX.SCR DIVX.R5 DIVX.LIM DUTCH TV.X264.DVD
banned BDW = 
exempt BDW = ^Hells.Kitchen|^Top.Gear
tvcountry  BDW = TV.* = US|UK
filter     BDW = APPS = ^Microsoft|^Adobe|^TomTom
rating                 BDW = X264.CLS.720 = 4.0 100 0
movieminyear           BDW = X264.CLS.720 = 1950

# Changelog:
#
# 091202 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
