##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BEST = BooZerS BooZerS.SVCD CORRuPT DETOXATiON DVL MaGE PORNOLATiON STRiKE TDA TVL VideoCD VENGEANCE VNGCLONE ZWTiSO BlueEyes
allows BEST = APPS APPS.DVD DVDR.RET DVDR.LIM DVDR.SCR GAMES GAMES.DVD GAMES.RIP PS2CD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.TS XBOXDVD
#banned BEST = 

# Changelog:
#
# 040729 - Site added (wader)
# 040817 - Removed FuSeD from affils (wader)
# 040830 - Removed VCD.SCR from allows (wader)
# 040901 - Removed PS2CD from allows (blade)
# 040904 - Added -YoungDangerous to affils (shrike)
# 040904 - Added VCD.CAM to allows (blade)
# 040911 - Removed VCD.CAM from allows (wader)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed FFN from affil (bourbon)
# 040928 - added VNG to affil (bourbon)
# 041008 - Removed affil SMuT (wader)
# 041009 - Added Pornolation to affils (psychoffee)
# 041009 - Removed affils DMT and m00tv (wader)
# 041020 - Removed affil W3D (wader)
# 041114 - Added PS2CD .. (shrike)
# 041203 - Added CORRuPT to affils (bourbon)
# 041220 - Added maVen to affils (bourbon)
# 050128 - Added affil TDA (wader)
# 050326 - Removed -HOODLUM from ban (shrike)
# 050416 - Added DETOXATiON to affils (shrike)
# 050529 - Added BlueEyes as affil (orbith)
# 050620 - Removed Young&Dangerous (orbith
# 050629 - Removed DNL (orb)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
