############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BH = Replica CSiSO Caph
allows BH = APPS APPS.DVD DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.RET DIVX.LIM DVDR.RET DVDR.LIM WII XBOX360 TV.X264.DTV X264.RET.720 NORDIC
banned BH = 

filter BH = DIVX.R5= ![._]LINE[._-]
filter BH = APPS=     !$INDUSTRIAL Adobe|Agilent|Alias|Autodesk|Borland|Cakewalk|Canopus|Cisco|Citrix|Corel|Computer.+Associates|Cyberlink|Descreet|Filemaker|Hewlett.+Packard|IPSwitch|JASC|Macromedia|Magix|Mandrake|Maxon|Microsoft|Namo|NETiq|Pinnacle|Propellerheads|REDHAT|Steinberg|SUSE|Symantec|VMWARE
filter BH = APPS.DVD= !$INDUSTRIAL Adobe|Agilent|Alias|Autodesk|Borland|Cakewalk|CanopusCisco|Citrix|Corel|Computer.+Associates|Cyberlink|Descreet|Filemaker|Hewlett.+Packard|IPSwitch|JASC|Macromedia|Magix|Mandrake|Maxon|Microsoft|Namo|NETiq|Pinnacle|Propellerheads|REDHAT|Steinberg|SUSE|Symantec|VMWARE
filter BH = WII=      !PAL[._-]
filter BH = NORDIC=   NORWEGIAN|NORDIC|SWEDISH DVDR

# Changelog:
#
# 071017 - Site added (me)
# 080129 - NORDIC filter .. (shrike)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
