############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BLM = iRONiSO pSyPSP XPA SPYRAL STARLETS WiDE WiiTARD
allows BLM = GAMES APPS BOOKWARE WII PSP NDS XBOX360 DIVX.RET DIVX.R5 DIVX.SCR DIVX.LIM DIVX.SCR.LIM DIVX.R5.LIM DVDR.RET DVDR.LIM X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 TV.DIVX.DTV TV.X264.DVD TV.X264.DTV TV.X264.HDD DOX DOX.DLC
banned BLM = ViTALiTY PROPHET CPY FASiSO 
filter BLM = WWE = wwe.friday.night.smackdown|wwe.monday.night.raw|wwe.ppv
#exempt BLM = TV.DIVX.DTV = wwe.friday.night.smackdown|wwe.monday.night.raw|wwe.ppv|ufc.ppv|boxing.ppv|tna.impact|tna.ppv|^x-factor|^im.a.celebrity.get.me.out.of.here|^strictly.come.dancing|^come.dine.with.me|^dragons.den|^beauty.and.the.geek|^shipwrecked|^the.apprentice|^the.contender|^dog.the.bounty.hunter|^deal.or.no.deal|^fear.factor|^hells.kitchen|^real.housewives|^dancing.on.ice|^the.secret.millionaire|^survivor|^the.weakest.link|^when.women.rule.the.world|^wife.swap|^the.amazing.race|^deadliest.catch|^britains.got.talent|^derren.brown|^louis.theroux|^faking.it|^a.life.of.grime|^house.of.tiny.tearaways 

consoleallowregiondupe BLM = WII=          0 
consoleregions         BLM = WII=          PAL|NTSC 
consoleregionrank      BLM = WII= PAL NTSC 
tvcountry  BLM = TV.DIVX.DTV = US|UK 
tvgenre    BLM = TV.DIVX.DTV =
movieminyear BLM = DIVX.* = 2009 
# Changelog:
#
# 100125 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
