##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BM-PRE = SD-6 SQC TVA WooDY FLAWLESS ASBAK BRiO DFG FiSHBONE TiFF PRIPPS aAF BiA BkW FQM HQTV iNFiNiTE MG MiRAGETV SAiNTS
allows BM-PRE = DIVX.TS DIVX.SCR.LIM SWEDISH DVDR.SCR VCD.SCR TV.DIVX.DTV TV.X264.DVD TV.DIVX.DSR  
banned BM-PRE = BRiO 

# Changelog:
#
# YYMMDD - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
