##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BM = PSPKiNG pSyPSP SPYRAL STARLETS WAVEY WiDE WiiTARD XPA HDMD PLAYME PLAYTHIS
allows BM = GAMES DOX APPS BOOKWARE WII PSP NDS XBOX360 DIVX.RET DIVX.R5 DiVX.SCR DIVX.LIM DIVX.STV DVDR.RET X264.RET.720 X264.RET.1080 TV.X264.DVD TV.DIVX.DTV TV.X264.DTV TV.X264.HDD WWE DOX.DLC
banned BM = $INDUSTRIAL -ViTALiTY -PROPHET -CPY -FASiSO -BiOSHOCK -HaZMaT

tvcountry              BM = TV.DIVX.DTV=UK|US
rating                 BM = DIVX.*       = 0.0 0 0
movieminyear           BM = DIVX.*       = 2007
moviegenre             BM = DIVX.*       =

consoleallowregiondupe BM = WII           = 1
consoleregions         BM = WII           = PAL|NTSC
consoleregionrank      BM = WII           = PAL NTSC
consoleallowregiondupe BM = XBOX360       = 0
consoleregions         BM = XBOX360       = PAL|NTSC
consoleregionrank      BM = XBOX360       = PAL NTSC

# Changelog:
#
# 050831 - Site added (checker)
# 100507 - Updated (blade)
# 110810 - Updated imdb rating DIVX.*       = 0.0 0 1 > DIVX.*       = 0.0 0 0 
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
