##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BM1 = Allstars MAGNiTUDE ETH0 SFM 
allows BM1 = CLONECD CLONEDVD PSP DIVX.RET DIVX.SCR DIVX.LIM DIVX.TS DIVX.TC DVDR.RET GAMES GAMES.DVD PS2DVD TV.DIVX.DTV TV.DIVX.DSR XBOXDVD APPS APPS.DVD
banned BM1 = IBM LOTUS Linux


# Changelog:
#
# 060405 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
