##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BNK = EcHoS SPYRAL
allows BNK = APPS APPS.DVD APPS.Linux APPS.MAC GAMES DVDR.RET DVDR.LIM DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM GAMES X264.CLS.720 X264.RET.720
banned BNK = CAMEL -FASiSO
filter BNK = APPS= !IBM !Lotus
filter BNK = APPS.DVD= !IBM !Lotus
filter BNK = APPS.Linux= !IBM !Lotus

movieminyear           BNK = DIVX.RET=        2005
movieminyear           BNK = DIVX.LIM=        2005
movieminyear           BNK = DIVX.SCR=        2005
movieminyear           BNK = DIVX.SCR.LIM=    2005
movieminyear           BNK = X264.RET.720=        2006
movieminyear           BNK = X264.CLS.720=        1970
movieminyear           BNK = DVDR.RET=        2005

rating                 BNK = DIVX.LIM=        6.0 0 1
rating                 BNK = DIVX.SCR.LIM=    6.0 0 1
rating                 BNK = X264.CLS.720=        6.0 5000 0
rating                 BNK = DVDR.LIM=        6.5 500  1

moviegenre             BNK = X264.RET.720=        !Documentary
moviegenre             BNK = X264.CLS.720=        !Documentary
moviegenre             BNK = DVDR.RET=        !Documentary

# Changelog:
#
# 060804 - Site added (checker)
# 092404 - DDUiSO added to affils
# 120104 - added BiN to affils (blade)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
