############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BO = NoneStop KFC DORiTOS REWIND XPA FSiHD HDEX
allows BO = GAMES DUTCH DVDR.RET DIVX.RET GAMES PSP WII XBOX360 X264.RET.1080 NDS XXX TV.X264.DTV TV.DIVX.DTV DOX X264.CLS.1080 X264.LIM.1080 APPS.MAC APPS DOX.DLC
banned BO = -FASiSO -ViTALiTY 
filter BO = Wii= PAL 
filter BO = X264.RET.1080 = !.LiMITED. 
filter BO = DUTCH = !LIMITED 
#filter BO = XXX = -Pr0nStarS|-DivXfacTory|-FLESHLiGHT|-VBT
#xxxstudio BO = XXX = 3rd.Degree|Acid.Rain|Diabolic.Video|Anabolic.Video|Redlight.District|Private|Platinum.X|Elegant.Angel|Evil.Angel|Zero.Tolerance 
exempt    BO = XXX = -Pr0nStarS|-SWE6RUS|-DivXfacTory 
filter BO = XXX = -Pr0nStarS|-DivXfacTory|-SWE6RUS 
filter BO = TV.*        = !$REALITY-N-CRAP|$UK-SERIES 

exempt BO = TV.* = ^Top.Gear Anthony.Bourdain.No.Reservations 

# only NL subbed tv.dvdr 
#filter BO = TV.DVDR= ^24.S|^Lost.|^Prison.Break.^|^Supernatura|^House.|^The.4400|^Heroes|^Numb3rs|^Seinfeld|^My.Name.is.Earl|^Two.and.a.Half.Men|^Las.Vegas|^NCIS|^CSI

tvgenre BO = TV.DIVX.DTV = Scripted 
tvgenre BO = TV.X264.DTV = Scripted 

rating BO = DVDR.*             = 0.0 0 1 
rating BO = DIVX.*             = 0.0 0 1 
rating BO = X264.* = 5.0 500 1 

# Changelog:
#
# 080121 - Site added (me)
# 090910 - Added DORiTOS to affils (dooh)
# 091218 - changed affils list (solar)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
