############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BOA = DEV0 GECKOS IMMERSE SKG
allows BOA = DOX GAMES PS3 TV.X264.DTV TV.X264.HDD TV.X264.HDD.1080 XBOX360 X264.RET.1080 X264.RET.720 X264.LIM.1080 X264.LIM.720 X264.CLS.720 X264.CLS.1080
banned BOA = IGUANA -ProCiSiON -HERETICS -iGNiTiON -HEiST -DEiMOS -PHOBOS -PFa

filter BOA = DOX   = -Razor1911|-FLT|-RELOADED|-CODEX|-BAT
filter BOA = GAMES = -Razor1911|-FLT|-RELOADED|-CODEX

exempt BOA = ^Survivor ^Hells.Kitchen.*.HR ^Kitchen.Nightmares.*.HR ^The.Amazing.Race ^The.Simpsons ^American.Dad ^Family.Guy

movieminyear BOA = X264.CLS.* = 1970
movieminyear BOA = X264.LIM.* = 2014
movieminyear BOA = X264.RET.* = 2014

rating       BOA = X264.CLS.* = 7.0 20000 1
rating       BOA = X264.LIM.* = 5.0 0 1
rating       BOA = X264.RET.* = 5.0 0 1

tvgenre      BOA = TV.*       = Scripted 


# Changelog:
#
# 130707 - Site added (shrike, taking crap sites like this now...)
# 150418 - Redo/Update (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
