# BOOM

affils = AFFECTION BALLIN CONDITION DiViSiON DKiDS MoA QPEL RCDiVX VERUM

groupblacklist = REGRET WALMART WEBTUBE SKANK DOCERE NORiTE CRAVERS

rule DOX = DOX windows std
rule GAMES = GAMES windows std group:(PLAZA,CODEX,HI2U,SKIDROW,RELOADED,Razor1911,HOODLUM)

rule TV = TV 720p nw_us nw_gb nw_ca nw_au nw_nz hdtv h264 web dupesweb dupeshdtv webrip x264 nonfo Documentary Game-Show reality variety talk-show Scripted language:(English) std
rule TV = TV 720p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip x264 nonfo Documentary Game-Show reality variety talk-show Scripted language:(English) std 
rule TV = TV 1080p nw_us nw_gb nw_ca nw_au nw_nz hdtv h264 web dupesweb dupeshdtv webrip x264 Scripted language:(English) std
rule TV = TV 1080p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip x264 Scripted language:(English) std
rule TV.X264.BLURAY = TV 720p 1080p bluray language:(English) nw_us nw_gb nw_ca scripted x264 std
rule TV.X264.BLURAY = TV 720p 1080p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) scripted x264 std
rule TV.DK = TV 720p hdtv DK nonfo web webrip h264 x264
rule SPORTS = SPORTS 720p dupesweb dupeshdtv hdtv h264 x264 web webrip f1 motogp k1 ufc wwe miscsport std

rule DAILYSHOWS = DAILYSHOWS x264 h264 720p hdtv web webrip dupesweb dupeshdtv nonfo std

rule MOVIES = MOVIES bluray 1080p x264 year:2016 limited rating:6.5 votes:500 lrating:6.5 3D lvotes:500 language:(English) std cls
rule MOVIES.DK.1800p = MOVIES bluray 1080p x264 wide limited 2D 3D DK nfo nonfo external nodupe
rule MOVIES.DK.2160p = MOVIES 2160p x265 bluray wide limited 2D nfo nonfo uhdrip external nodupe
rule MOVIES.2160p = MOVIES 2160p x265 bluray limited rating:6.5 votes:500 lrating:6.5 lvotes:500 year:2016 language:(English) std uhdrip cls

# NAME           PATH
dir DOX                   = /incoming/games
dir GAMES                 = /incoming/games
dir TV                    = /incoming/tv-hd
dir TV.x264.BLURAY        = /incoming/tv-bluray
dir TV.DK                 = /incoming/tv-dk
dir SPORTS                = /incoming/tv-hd
dir MOVIES                = /incoming/x264-hd
dir MOVIES.DK.1080p       = /incoming/x264-hd
dir MOVIES.DK.2160p       = /incoming/x265
dir MOVIES.2160p          = /incoming/x265
dir DAILYSHOWS            = /incoming/tv-hd
dir SPORTS                = /incoming/tv-hd
