############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BOR = 0SEC CCCAM COCAIN PORNOLATiON SNOW TBE TiNYiSO
allows BOR = APPS APPS.DVD APPS.Linux APPS.MAC TV.X264.HDD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC GAMES GAMES.DVD GAMES.MAC PS2DVD XBOXCD XBOXDVD NORDIC WII XBOX360 X264.RET.720 TV.X264.DTV TV.X264.DTV.1080 NORDIC
banned BOR = $DSRDUPES FASiSO -RUiNS -VST King.of.the.Hill. -iMARS -PROPHET -IMMERSE -FLEET -REGRET -BRISK


filter BOR = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter BOR = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter BOR = NORDIC=      DVDR !DVDRIP !LIMITED !DANISH
filter BOR = WII=         [._-]PAL[._-]

tvstartyear BOR = TV.X264.HDD = 2000
tvcountry   BOR = TV.X264.HDD = US

filter BOR = APPS =        -MAGNITUDE|-ZWTISO|-RISE|Adobe|Autodesk|Borland|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|Ulead
filter BOR = APPS.DVD =        -MAGNITUDE|-ZWTISO|-RISE|Adobe|Autodesk|Borland|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|Ulead
filter BOR = APPS.Linux =        -MAGNITUDE|-ZWTISO|-RISE|Adobe|Autodesk|Borland|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|Ulead

movieminyear           BOR = DIVX.*      = 2010
movieminyear           BOR = X264.*      = 2010

# Changelog:
#
# 081009 - Site added (me)
# 081016 - fixed everything
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
