############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BSI = ARM AVS720 BARGE C4TV DiCH DLiST FFNDVD FRAGMENT IGUANA MisFitZ NANO NYMPHO PFa PiNBALL PUZZLE VH-PROD ViLD
allows BSI = DVDR.RET DVDR.R5 DVDR.LIM GAMES GAMES.DVD TV.X264.DVD TV.DIVX.DTV TV.X264.DTV WII X264.RET.720 XBOX360 DIVX.RET DIVX.LIM XXX X264.LIM.720
banned BSI = -AJP -ALLCRiME -AXIAL -aXXo -B-G -BLaZekVCD -CtrlHD -DEViSE -DiSHON -DNR -ELEKTRI4KA -EMiNENCE -EOS -EOSiNT -ESiR -Funner -G0LDz -GHEYLARD -GRiM -HDB -HDC -HDmonSK -HDV -HDxT -iAPULA -iLL -iRO -KingBen -Lynks -M14CH0M794 -McFly -MMI -PrisM -TRiBE -PerfectionHD -PoTuS -STG -TDM -THS -TFE -THORA -tK -TriggeR -XSHD -Stuffies -ETACH 
filter BSI = TV.X264.DVD= -REWARD|-SAiNTS|-TOPAZ|-CLUE 
tvgenre         BSI = TV.* = Scripted 
tvcountry       BSI = TV.* = US|UK 
filter BSI = XXX= -Pr0nStarS|-DivXfacTory|-FLESHLIGHT
moviegenre             BSI = DIVX.RET=
moviegenre             BSI = DIVX.LIM=
movieminyear           BSI = DIVX.*       = 1931

# Changelog:
#
# 091010 - Site added (blade)
# 091121 - +C4TV +PFa
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
