############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils BTM = ATERFALLET CHRONO CLASSiC LzY TELEFUNKEN TiFF TOMTE 
allows BTM = APPS GAMES XVID.RET XXX X264.RET.720 X264.RET.1080 WII TV.DIVX.DTV TV.X264.DVD TV.X264.DTV XBOX360
banned BTM = 

filter                  BTM = XXX               = -SWE6RUS|-Pr0nStarS|-PORNOLATiON
filter 			BTM = APPS 		= ^Adobe|^Ahead|^Autodesk|^Dassault|^Microsoft|^Symantec

movieminyear            BTM = X264.RET.720      = 2007
movieminyear            BTM = X264.RET.1080     = 2007
movieminyear 		BTM = DIVX.* 		= 2008

tvcountry 		BTM = TV.DIVX.DTV = US
tvcountry 		BTM = TV.X264.DVD = US
tvcountry 		BTM = TV.X264.DTV = US

tvgenre 		BTM = TV.DIVX.DTV = Scripted
tvgenre 		BTM = TV.X264.DVD = Scripted
tvgenre 		BTM = TV.X264.DTV = Scripted|Sketch


# Changelog:
#
# 090902 - Site added (dooh)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
