##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BW-PRE = DownLink METEOR W4F XPD SWE6RUS TEG-VCD TEG-DVD POT XPDDVD HLS HLSXXX RIDERz SCOPE
allows BW-PRE = DVDR.SCR DVDR.LIM DVDR.TC PSP VCD.SCR VCD.TS SVCD.RET SVCD.SCR SVCD.TS
banned BW-PRE = 

# Changelog:
#
# YYMMDD - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
