###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils BW = iNSECTS ISO LiViDiTY RiVER SPYRAL
allows BW = GAMES GAMES.DVD KIDDIE DVDR.RET DVDR.LIM DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM TV.DIVX.DTV TV.X264.SD TV.X264.DTV TV.DVDR PS2DVD XBOXDVD XBOX360 PSP NGC APPS WII X264.RET.720 X264.LIM.720 PS3 X264.RET.1080 X264.LIM.1080
banned BW = -Glamoury IBM -TNT -mVs -FASiSO SWEDIVX MENTiON 
filter BW = TV.DVDR=     -FoV|-DTN|-JFKDVD|-ViSA|-EMERALD|-MeGA|-IGUANA|-SAiNTS|-RiFFRAFF|-MiND 
filter BW = XBOX360=     ![._]NTSC[._-] 
#filter BW = XXX=         -PORNOLATiON|-XART
rating BW = DIVX.LIM = 5.0 300 1 
rating BW = DVDR.LIM = 5.0 300 1 
rating BW = X264.LIM.720 = 6.0 100 1
rating BW = X264.RET.720 = 6.0 100 300
rating BW = X264.LIM.1080 = 6.0 100 1
rating BW = X264.RET.1080 = 6.0 100 300
movieminyear BW = DIVX.* = 2008 
movieminyear BW = DVDR.* = 2008 
movieminyear BW = X264.* = 2008 
#tvcountry    BW = TV.DIVX.DTV= UK|US 
#tvcountry    BW = TV.X264.DTV= UK|US 
#tvcountry    BW = TV.X264.SD= UK|US
tvcountry BW = TV.* =  UK|US
filter BW = PS3 = !19[0-9][0-9]|200[0-9]


# Changelog:
# 101021 testing sync#
# 070404 added by gza!
# 040904 - Removed CONViCTiON from affils (checker)
# 191004 - Added BARCODE,HOODLUM,SWE6RUS to affils (checker)
# 041221 - added Meteor to affils (bourbon)
# 050106 - KEG added to affils (checker)
# 050201 - added HLS/HLSXXX to affils (bourbon)
# 050819 - Updated (checker)
# 050901 - added RIDERz to affils (baker)
# 050912 - added SCOPE to affils (gin)
# 060906 - UPDATED! (checker)
# 061003 - added IBM ban(baker)
# 110608 - added imdb rules (nrltd)
# 230608 - added DIVX.SCR.LIM to allowed (nrltd)
# 090109 - added TV.X264.DTV (nrltd)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
