##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils C = ALLiANCE AG ADVD ANI AVCD Allstars DVDR JGTiSO LCDiSO NaQ NAS MAGNiTUDE EDGEISO RELOADED ADDICTION ZWTiSO SHOCKiSO SiLENTGATE CLONECD HELL X264 COMPLEX DUPLEX
allows C = APPS APPS.Linux APPS.MAC APPS.BSD APPS.Solaris APPS.Irix APPS.DVD BOOKWARE DIVX.R5 DIVX.R5.LIM DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DVDR.RET GAMES GAMES.DVD GAMES.MAC GAMES.Linux PS2DVD TV.DIVX.DTV BOOKWARE TV.DIVX.DSR CLONECD CLONEDVD X264.RET.1080 DIVX.FOREIGN UFC TV.X264.DTV TV.X264.SD XBOX360 PS3
banned C = $DSRDUPES -MEDiSO -aSe -aXXx -FASTanime -HS -BURGER [._]JAP[._-] [._]HK[._-] -HOODLUM -BUTTFUCKiSO ^IBM -VITALITY
filter C = BOOKWARE     = !Magnussoft|IBM|Lotus|Lynda.com
filter C = DIVX.RET     = !200[0-7]
filter C = DIVX.LIM     = !200[0-7]
filter C = DVDR.RET     = !200[0-7]
filter C = X264.RET.*   = !200[0-7]
filter C = TV.*         = !$REALITY-N-CRAP|$UK-SERIES
filter C = UFC          = DTV.XVID
filter C = XBOX360      = !ntsc
exempt C = Pride.FC. ^UFC.

movieminyear   C = X264.*    = 2008
movieminyear   C = DIVX.*    = 2008
movieminyear   C = DVDR.*    = 2008
x264formats    C = X264.*    = mkv


# Changelog:
#
# 040806 - Site added (checker)
# 041101 - -iMMERSiON -CSiSO to banned cause dont allows untagged rells (checker)
# 051107 - added ZWTiSO to affils (darkm)
# 051113 - rem. ims and csiso from banned (checker)
# 051116 - Alliance added to affils (ks)
# 051202 - SHOCKiSO added to affils (darkm)
# 051218 - Fixed the banlist (banned too much due bad definitions) and moved $reality etc to filter (same reason) (shr)
# 050110 - Fixed UK-SERIES -> $UK-SERIES (shrike)
# 050110 - Fixed REALITY-N-CRAP -> $REALITY-N-CRAP (drunk?) (shrike)
# 060421 - Added Bookware filter (shr)
# 061209 - Added Divx.R5, removed Divx.TS (shrike)
# 070301 - Added HELL to affils (Checker)
# 071126 - Fixed X264 filter (shrike)
# 080331 - Added X264.RET.720 year filter (shrike)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
