##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils C4 = DNL AOM BURGER CUMSTAiNS FATE POT SiLENTGATE SPARE TBE
allows C4 = APPS APPS.Linux DVDR.RET GAMES GAMES.DVD SVCD.RET SVCD.TS PS2DVD XBOXDVD GERMAN 
#banned C4 = 
filter C4 = APPS= Adobe|Borland|Corel|McAfee|Microsoft|Macromedia|Norton|PowerQuest|Symantec|Steinberg|Cakewalk|Samplitude|Sonic
filter C4 = APPS.Linux= Adobe|Borland|Corel|McAfee|Microsoft|Macromedia|Norton|PowerQuest|Symantec
filter C4 = SVCD.TS= -Centropy|-maVen|-VideoCD

# Changelog:
#
# 050228 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
