############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CA = CiNO CLASSiCW4F DHW DFG CAMERA PWoD DFG DHW MaM OLJEPANNA SnC Hype DiViSiON DTV LionsDen MaM RAP
allows CA = APPS GAMES DIVX.RET TV.DIVX.DSR TV.DIVX.DTV DIVX.SCR DIVX.LIM DIVX.SCR.LIM PS2DVD XBOXDVD NORDIC
filter CA = TV.DIVX.DSR= !$UK-SERIES !$REALITY-N-CRAP
filter CA = TV.DIVX.DTV= !$UK-SERIES !$REALITY-N-CRAP

#banned CA = $REALITY-N-CRAP


# Changelog:
#
# 070428 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
