# CAVE

affils = CiNEFiLE CRAVERS GECKOS GHOULS iNVANDRAREN ROVERS SPOOKS

rule DOX = DOX std
rule GAMES = GAMES std

rule TV.720p = TV 720p x264 hdtv h264 currentseason nw_us nw_gb nw_ca web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason nw_us nw_gb dupesweb scripted language:(English) std
rule TV.SE = TV 720p x264 hdtv h264 SE nonfo
rule TV.X264.BLURAY = TV 720p bluray language:(English) nw_us nw_ca nw_gb x264 scripted std
rule TV.X264.BLURAY = TV 720p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) scripted x264 std
rule TV.X264.BLURAY = TV 1080p bluray language:(English) nw_us x264 scripted std
rule TV.X264.BLURAY = TV 1080p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) x264 scripted std

rule MOVIES = MOVIES 1080p 720p bluray x264 limited stv language:(English) std cls
rule MOVIES.2160p = MOVIES 2160p x265 bluray year:2016 language:(English) std stdmovies uhdrip cls
rule MOVIES.SE = MOVIES bluray x264 1080p SE external nodupe stv nonfo 2D cls

# NAME           PATH

dir DOX              = /incoming/dox
dir GAMES            = /incoming/games
dir TV.720p          = /incoming/tvhd
dir TV.1080p         = /incoming/tvhd
dir TV.SE            = /incoming/tvhd
dir TV.x264.BLURAY   = /incoming/tvbd
dir MOVIES           = /incoming/x264
dir MOVIES.2160p     = /incoming/x265
dir MOVIES.SE        = /incoming/x264

