##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CC = 	 
allows CC = DIVX.R5 DIVX.SCR DIVX.R5.LIM DIVX.LIM DIVX.SCR.LIM DIVX.RET GAMES TV.X264.DTV X264.RET.720 XBOX360 TV.DIVX.DTV
banned CC = 

filter CC = X264.* = ![_.]BD9[_.-]
filter CC = GAMES  =  -RELOADED|-Razor1911|-FLT|-GOW|-SKIDROW
rating CC = DIVX.* = 5.0 800 1
#rating CC = X264.* = 5.0 1500 1
movieminyear CC = X264.* = 2008

# Changelog:
#
# 041024 - Site added (JANNO)
# 080707 - recycled (none)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
