############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CDN = AN0NYM0US DAGGER TUTOR
allows CDN = PS3 APPS APPS.MAC GAMES TV.X264.DTV X264.RET.720 X264.LIM.720 X264.RET.1080 XXX XBOX360 PS3 DOX DOX.DLC GAMES.Linux GAMES.MAC TV.X264.WEB
#banned CDN =
#exempt CDN =

filter       CDN = PS3           = !PSN[._]
filter       CDN = XXX           = -SWE6RUS|-VBT
exempt       CDN = XXX           = -SWE6RUS|-VBT
movieminyear CDN = X264.*        = 2014
rating       CDN = X264.RET.1080 = 6.0 500 1
tvcountry    CDN = TV.*          = US

# Changelog:
#
# 120621 - Site added (me)
# 130523 - Several updates (shrike)
# 140211 - Removed XBOX360 NTSC filter, added PS3 PSN filter, cosmetic (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
