############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CE = GRiP HEAT MAGNiTUDE RELOADED TUTOR WEBSTER
allows CE = APPS APPS.Linux BOOKWARE GAMES GAMES.Linux DOX TV.X264.DTV TV.X264.WEB TV.X264.HDD.1080 X264.CLS.1080 X264.RET.1080 X264.LIM.1080 
filter CE = TV.X264.* = !The.Ellen.Show|Tyler.Perry
#banned CE = -iNLAWS -HOTiSO -WaLMaRT -ACTiVATED -PLAZA -NEWiSO -SKGTV

movieminyear           CE = X264.*       = 1900

rating                 CE = X264.*       = 5.0 500 0

# Documentaries ok:
moviegenre             CE = X264.*       =

tvstartyear            CE = TV.X264.HDD.1080  = 2010

tvcountry              CE = TV.X264.DTV       = US|UK|CA
tvcountry              CE = TV.X264.WEB       = US|UK|CA
tvcountry              CE = TV.X264.HDD.1080  = US|UK

tvgenre                CE = TV.X264.DTV       = Scripted|Animation|Cartoon|Talkshow
tvgenre                CE = TV.X264.WEB       = Scripted|Animation|Cartoon|Talkshow
tvgenre                CE = TV.X264.HDD.1080  = Scripted|Animation|Cartoon

# Changelog:
#
# 131006 - Site added (me)
# 131025 - +$industrial, removed Nordic/Divx.r5.scr.tc, added tvcountry, fixed D0->CE (shrike)
# 150603 - Added TV.X264.WEB (shrike)
# 150619 - Rating 5.0 -> 6.0 (shrike)
# 170331 - Updated (who do you think?)
# 171222 - Updated 1900/CLS (shrike)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
