##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CHUD = BBX BHP DvP KJS iV HELLBOUND KHG NOX PARANOID CORRUPT NFR Wastedtime WastedKungFu WAM
allows CHUD = APPS APPS.DVD APPS.Linux DOX DVDR.RET DVDR.LIM DVDR.SCR DVDR.SCR.LIM GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TS SVCD.CAM SVCD.TC VCD.TS VCD.TC VCD.CAM VCD.SCR VCD.SCR.LIM XBOXDVD DOX.DLC
banned CHUD = $INDUSTRIAL

# Changelog:
#
# 040910 - Site added (bourbon)
# 041107 - Remove Aura from affils and added KJS (bourbon)
# 041130 - Added Wastedtime to affils (bourbon)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
