############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CJ = ALLiANCE BAT DOGE HI2U ISO NEGERSAFARI UPPERCUT
allows CJ = APPS APPS.Linux APPS.MAC GAMES GAMES.Linux GAMES.MAC BOOKWARE DOX TV.X264.DTV TV.X264.WEB X264.RET.1080 X264.LIM.1080 X264.CLS.1080 DIVX.RET XXX XBOX360
banned CJ = ACTiVATED ADDONiA iNLAWS kEISO PLAZA CODEX NEWiSO PORNOLATiON

filter CJ = XXX= DivXfacTory|-Pr0nStarS|-SWE6RUS|-UPPERCUT|-VBT

filter CJ = X264.LIM.* = 5.0 500 1

movieminyear CJ = X264.* = 2000
movieminyear CJ = DIVX.* = 2014

rating       CJ = X264.* = 0.0 1000 0

tvcountry    CJ = TV.*   = US|UK|CA


# Changelog:
#
# 130214 - Site added (shrike)
# 150313 - Updated (shrike)
# 150603 - Added TV.X264.WEB (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
