#!/usr/bin/perl
@matches = ("\.MULTi\.1080p\.BluRay\.x264", "\.1080p\.BDRip\.x264\.", "\.BDRip\.x264\.", "\.BDRip\.XviD\.", "\.DVDRip\.XviD\.", "\.DVD\.SCREENER\.DVDR", "\.DVD\.SCREENER\.XViD", "\.SCREENER\.XViD", "\.DVDSCR\.XviD", 
    "\.(TELESYNC|TS|TC|TELECINE)\.XviD", "\.R5\.{0,1}.*\.XViD", "\.TS\.XviD", "\.TC\.XVID", "\.DVDSCR\.DVDR", "\.DVDR-","\.DVDR\.", 
     "\.720p\.BluRay\.x264\.{0,1}", "\.720p\.HDDVD\.x264\.{0,1}", "\.1080p\.HDDVD\.x264\.{0,1}", "\.1080p\.BluRay\.x264\.{0,1}",
     "\.720p\.BD[59]\.x264\.{0,1}", "\.1080p\.BD[59]\.x264\.{0,1}", "\.BLURAY", "\.COMPLETE\.BLURAY", "\.COMPLETE\.RERIP\.BLURAY");

@movremovals = ("LIMITED", "NL", "FI", "SE", "DUTCH", "GERMAN", "FRENCH", "AC3",
        "PAL", "NTSC", "UNRATED", "COMPLETE", "Directors\.Cut", "Extended\.Version",
        "NORDIC", "DANISH", "NORWEGIAN", "SWEDISH", "CUSTOM", "SWESUB", "REAL", "DC",
        "NFOFIX", "[12][09][0-9][0-9]", "DOCU", "Dir\.Cut",
        "SUBPACK", "STV", "R[123]", "REMASTERED", "EDiTiON", "RETAIL", "EXTENDED",
        "WS", "RERIP", "Extended[\-\_\.]Cut" ,"SAMPLEFiX");

@consoleremovals = ("PAL[\\-\\.\\_]XBOX360", "(USA|NTSC)[\\-\\.\\_]XBOX360",
            "PAL[\\-\\.\\_]XBOX", "(USA|NTSC)[\\-\\.\\_]XBOX",
            "PAL[\\-\\.\\_]Wii", "(USA|NTSC)[\-\\.\\_]Wii",
            "PAL[\\-\\.\\_](PS2|PS2DVD\\d{0,1}|PS2CD)", "(USA|NTSC)[\\-\\.\\_](PS2|PS2DVD\\d{0,1}|PS2CD)",
            "(EUR|PAL)[\\-\\.\\_]PSP", "(USA|NTSC)[\\-\\.\\_]PSP",
            "PAL[\\-\\.\\_]PS3", "(USA|NTSC)[\\-\\.\\_]PS3",
            "PAL[\\-\\.\\_]REPACK", "USA[\\-\\.\\_]REPACK",
            "XBOX360[\\-\\.\\_]PAL", "XBOX360[\\-\\.\\_](USA|NTSC)",
            "XBOX[\\-\\.\\_]PAL", "XBOX[\\-\\.\\_](USA|NTSC)",
            "Wii[\\-\\.\\_]PAL", "Wii[\\-\\.\\_](USA|NTSC)",
            "(PS2|PS2DVD\\d{0,1}|PS2CD)[\\-\\.\\_]PAL", "(PS2|PS2DVD\d{0,1}|PS2CD)[\\-\\.\\_](USA|NTSC)",
            "PSP[\\-\\.\\_](PAL|EUR)", "PSP[\\-\\.\\_](USA|NTSC)",
            "PS3[\\-\\.\\_]PAL", "PS3[\\-\\.\\_](USA|NTSC)",
            "REPACK[\\-\\.\\_]PAL", "REPACK[\\-\\.\\_](USA|NTSC)",
            "PAL", "XBOX360", "WII", "(PS2|PS2DVD\\d{0,1}|PS2CD)", "PS3", "PSP", "MULTI\\d*", "NTSC",
            "(USA|NTSC|PAL|EUR)[\\-\\.\\_]READ[\\-\\.\\_]{0,1}NFO", "REPACK|PROPER|READ[\\-\\_\\.]NFO",
            "EDiTiON", "EUR", "RARFIX", "RETAIL", "EXTENDED", "READNFO");
@tvstrips = ("National.Geographic.", "Discovery.Channel.", "History.Channel.", "Biography.Channel.");

$consolerules = "WII XBOX360 PS3 XBOXONE PS4";
$movierules = "BLURAY.3D BLURAY.LIM BLURAY.RET BLURAY.CLS DIVX.LIM DIVX.SCR DIVX.RET DIVX.SCR.LIM DVDR.LIM DVDR.SCR DVDR.RET DVDR.LIM X264.LIM.720 X264.CLS.720 X264.RET.720 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 X264.DE DIVX.DE.LD DIVX.DE.MD DIVX.DE DVDR.DE";
$limitedrules = "BLURAY.LIM DIVX.LIM DIVX.SCR.LIM DVDR.SCR.LIM DVDR.LIM X264.LIM.720 X264.LIM.1080 DVDR.R5.LIM DIVX.R5.LIM";
$tvrules = "TV.DVDR TV.X264.DTV TV.X264.DTV.1080 TV.X264.SD TV.X264.HDD TV.X264.HDD.1080 TV.X264.DVD TV.X264.WEB TV.X264.WEB.1080 TV.X264.WEB.SD TV.X264.WEB.2160 TV.DIVX.DU.DE TV.DIVX.DVD.DE TV.DIVX.DE TV.X264.DE";

# must be
return 1;

# 170408 - updated rules (shrike)
