##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CLP = BRUTUS CENTROPY PEEPSHOW PROTOCOL
allows CLP = GAMES GAMES.DVD DVDR.RET DVDR.SCR DVDR.LIM SVCD.RET SVCD.SCR SVCD.LIM SVCD.TS SVCD.TC VCD.SCR VCD.TS VCD.TC VCD.WP PS2DVD XBOXDVD VCD.SCR.LIM
banned CLP = 

# Changelog:
#
# 041012 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
