############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CNS = SPENDRUPS SUBBA SweWR WaLMaRT DUH
allows CNS = APPS APPS.Linux BOOKWARE DIVX.RET DIVX.LIM DIVX.CLS DVD.RET DVDR.LIM DOX GAMES TV.DVDR TV.X264.HDD.1080 TV.X264.HDD TV.X264.DTV TV.X264.DTV.1080 TV.X264.SD TV.X264.WEB TV.X264.WEB.SD TV.X264.WEB.1080 TV.X264.WEB.2160 X264.LIM.1080 X264.RET.1080 X264.CLS.1080 X264.LIM.720 X264.RET.720 X264.CLS.720 X265.RET.2160 X265.LIM.2160
banned CNS = ANiURL BRiNK CiELOS FaiLED FCC FEET FERiCE HAiKU HYBRiS MALLARD REGRET ROFL SH0W TUSAHD

filter CNS = DIVX.* = x264

moviegenre     CNS = X264.*     =
moviegenre     CNS = X265.*     =
movieminyear   CNS = X264.*     = 1900
movieminyear   CNS = X265.*     = 1900
rating         CNS = X264.*     = 0.0 0 0
rating         CNS = X265.*     = 0.0 0 0

tvcountry      CNS = TV.*       = US|UK|CA|AU

# Changelog:
#
# 171017 - Site added (shrike)
# 171218 - Updated (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
