##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CO = 
allows CO = APPS DIVX.LIM DIVX.RET DIVX.SCR DVDR.RET TV.DVDR TV.DIVX.DTV TV.DIVX.DSR GAMES GAMES.DVD NDS PS3 PSP XBOX360 WII XXX
banned CO = -RiGOLUS -iND -BonG -BOUMBO -LeClass -SKIDROW -Micronauts -SAR -BAWLS -FULL -KOUALA -0x0008 -HyDe -CiRCUS -JoKeR
filter CO = XXX= -NYMPHO|-DivXfactory|-Pr0nstarS|-PORNOLATiON|-PLEASURE|-SWE6RUS
filter CO = TV.DIVX.*   = !$REALITY-N-CRAP|$UK-SERIES
rating                 CO = DIVX.LIM      = 6.0 0 0
rating                 CO = DVDR.LIM      = 6.0 0 0
#movieminyear           CO = X264.RET.1080  = 2007

#changelog:
#
# 060704 - added by gza!
# 091604 - updated XXX to allow smut (blade)
# 091804 - Removed smut from filter (checker)
# 120104 - added svcd.ts to allows (blade)
# 150906 - Updated (checker)
# 080109 - Updated (blade!)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
