##########################################################################################################################
#  affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CODE = Japhson RiVER SAiNTS SYS TiNYiSO NOSCREENS
allows CODE = DUTCH TV.X264.DTV DIVX.TC DIVX.RET DIVX.LIM DIVX.R5 WII NDS GAMES GAMES.DVD X264.RET.720 X264.LIM.720 PSP XBOX360 DOX TV.DIVX.DTV DUTCH.X264 APPS APPS.DVD TV.X264.HDD 3DS TV.X264.SD DOX.DLC
banned CODE = FASiSO 

filter CODE = APPS=        Adobe|Ahead|Cyberlink|Microsoft|Symantec|Macromedia|Mcafee|TomTom|Pinnaccle|Route66|VDO.Dayton
filter CODE = APPS.DVD=    Adobe|Ahead|Cyberlink|Microsoft|Symantec|Macromedia|Mcafee|TomTom|Pinnaccle|Route66|VDO.Dayton
filter CODE = TV.DIVX.DTV= !PDTV
exempt  CODE = TV.X264.DTV = ^Top.Gear.S|^Fith.Gear.S|^Top.Gear.US.S
exempt  CODE = TV.DIVX.DTV = ^Top.Gear.S|^Fith.Gear.S|^Top.Gear.US.S

filter CODE = DUTCH = !_MDVDR_ !LIMITED 
filter CODE = WII= !USA|NTSC 
filter CODE = NDS = !USA 
filter CODE = PSP = !USA 

movieminyear           CODE  = X264.*      = 2010 
movieminyear           CODE = DIVX.RET     = 2010 
movieminyear           CODE = DIVX.LIM     = 2010 
movieminyear           CODE = DIVX.R5      = 2010 
movieminyear           CODE = DIVX.R5.LIM  = 2010 
movieminyear           CODE = DIVX.TC      = 2010 
movieminyear           CODE = X264.RET.720 = 2010
movieminyear	       CODE = X264.LIM.720 = 2010 

tvstartyear CODE = TV.X264.HDD = 2009

rating                 CODE = DIVX.LIM     = 0.0 0 1 
rating                 CODE = DIVX.R5.LIM  = 0.0 0 1 

tvcountry CODE = TV.X264.DTV = US|UK
tvcountry CODE = TV.DIVX.DTV = US|UK
tvcountry CODE = TV.DIVX.HDD = US


# Changelog:
#
# 051125 - Site added (checker)
# 060201 - Updated allows + filter /checker
# 090710 - some updates, too lazy to do apps (conky)
# 091218 - updated movie rating filters (solar)
# 270611 - added DUTCH.264 and DUTCH.DVDR section (rizza)
# 050711 - added AVCHD (rizza)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
