############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils COH = CSiSO DiAMOND GAMEOVER NoTV PRECISION REVEiLLE TGP XBOX360 LUXOR WII
allows COH = DUTCH APPS APPS.DVD APPS.MAC GAMES GAMES.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DIVX.TS DIVX.R5 DIVX.R5.LIM DIVX.VHS DOX DVDR.RET DVDR.LIM PS2DVD TV.DIVX.DTV TV.DIVX.DSR XBOX360 XBOXDVD WII X264.RET.720 X264.CLS.720 X264.LIM.720 TV.X264.DTV DOX.DLC
banned COH = $DSRDUPES -FASISO -ViTALiTY -FpN -GGS -SKIDROW -VLiSO
filter COH = APPS          = Microsoft|Macromedia|Borland|Kylix|Discreet|Cisco|Norton|^Corel|Alias.Wavefront|Symantec|Autodesk|Adobe|TomTom|Ahead|Cyberlink 
filter COH = APPS.DVD      = Microsoft|Macromedia|Borland|Kylix|Discreet|Cisco|Norton|^Corel|Alias.Wavefront|Symantec|Autodesk|Adobe|TomTom|Ahead|Cyberlink 
filter COH = TV.DIVX.DTV   = !$REALITY-N-CRAP|$UK-SERIES
filter COH = TV.DIVX.DSR   = !$REALITY-N-CRAP|$UK-SERIES
filter COH = DUTCH         = DVDR-
exempt COH = The.Ultimate.Fighter.S\d Top.Gear.S\d Spooks.S\d UFC\. Punkd.S\d Mythbusters.S\d Deadliest.Catch Iron.Chef.America IT.Crowd Colbert.Report Gene.Simmons The.Daily.Show


rating                 COH = DIVX.LIM     = 5.0 0 1
rating                 COH = DIVX.SCR.LIM = 5.0 0 1
rating                 COH = DIVX.R5.LIM  = 5.0 0 1
rating                 COH = DVDR.LIM     = 5.0 0 1
rating                 COH = X264.CLS.720 = 7.0 0 0

movieminyear           COH = DUTCH        = 2007
movieminyear           COH = DIVX.*       = 2007
movieminyear           COH = DVDR.*       = 2007
movieminyear           COH = X264.RET.720 = 2000
movieminyear           COH = X264.LIM.720 = 2000
movieminyear           COH = X264.CLS.720 = 1900

moviegenre             COH = DIVX.*       =

consoleregions         COH = PS2DVD       = NTSC|PAL
consoleregions         COH = WII          = NTSC|PAL
consoleregions         COH = XBOXDVD      = NTSC|PAL

consoleregionrank      COH = PS2DVD       = NTSC PAL
consoleregionrank      COH = WII          = NTSC PAL
consoleregionrank      COH = XBOXDVD      = NTSC PAL

#NTSC never dupes PAL:
consoleregionrank      COH = XBOX360      = 
consoleallowregiondupe COH = XBOX360      = 1


# Changelog:
#
# 070119 - Site added (me)
# 070624 - "Updated" (shrike)
# 080426 - imdb for x264.cls added (conky)
# 080710 - Removed iMARS (dyna)
# 080717 - Updated rules (dyna)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
