##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils COTU = iMBT FATE JAM LEGACY PRODiGY Pr0nStarS Replica SiNNERS STRIKE XOR ZWTiSO ACCiDENT SPARE SPLIT REFiNED CRUCiAL E7
allows COTU = APPS APPS.Linux APPS.DVD DIVX.R5 DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TS DIVX.TC DVDR.RET DVDR.LIM GAMES GAMES.DVD XBOX360 X264.RET.720 DVDR.DE DIVX.DE DIVX.LD
filter COTU = SVCD.TC= -PRODiGY|-CHAKRA|-FUCK|-TheEnd
filter COTU = SVCD.TC.LIM= -PRODiGY|-CHAKRA|-FUCK|-TheEnd
filter COTU = APPS= Autodesk|Adobe|Avid|Borland|CakeWalk|Corel|Cyberlink|McAfee|Macromedia|Magix|Mathworks|Microsoft|Nero|Norton|Panda|Pinnacle|PowerQuest|Roxio|Sophos|Symantec|Ulead|Veritas|Xilinx
filter COTU = APPS.DVD= Autodesk|Adobe|Avid|Borland|CakeWalk|Corel|Cyberlink|McAfee|Macromedia|Magix|Mathworks|Microsoft|Nero|Norton|Panda|Pinnacle|PowerQuest|Roxio|Sophos|Symantec|Ulead|Veritas|Xilinx
filter COTU = APPS.Linux= Autodesk|Adobe|Avid|Borland|CakeWalk|Corel|Cyberlink|McAfee|Macromedia|Magix|Mathworks|Microsoft|Nero|Norton|Panda|Pinnacle|PowerQuest|Roxio|Sophos|Symantec|Ulead|Veritas|Xilinx
filter COTU = X264.RET.720= !200[0-4]
banned COTU = -SKIDROW -GRISO IBM PTC DATECODE -NESSUNO -ENLIGHT -GLAMOURY PROPER..DTV.XVID-LOL DTV.XviD.PROPER-LOL -RPT -FASISO -PreVail -Micronauts -TRADINGSTANDARDS

rating                 COTU = X264.RET.720  = 5.0 0 0
rating                 COTU = DVDR.LIM      = 0.0 0 1

# because we dont know if NTSC was RF or not, we just upload all PAL
consoleregions         COTU = XBOX360       = PAL|NTSC
#consoleallowregiondupe COTU = XBOX360       = 1

# DEFAULT: 2007
movieminyear           COTU = DIVX.RET      = 2006
movieminyear           COTU = DIVX.LIM      = 2006
movieminyear           COTU = DIVX.SCR.LIM  = 2006
movieminyear           COTU = DIVX.SCR      = 2006
movieminyear           COTU = DIVX.TS       = 2006
movieminyear           COTU = DIVX.TC       = 2006
movieminyear           COTU = DIVX.R5       = 2006
movieminyear           COTU = DVDR.RET      = 2006
movieminyear           COTU = DVDR.LIM      = 2006
movieminyear           COTU = X264.LIM.720  = 2005
movieminyear           COTU = X264.RET.720  = 2005


# Changelog:
#
# 040807 - Site added (wader)
# 040809 - Added GERMAN on allows (checker)
# 040810 - Added REPLICA to affils (shrike)
# 040813 - Added ALLiANCE & fixed shrikey's uppercase ownage on Replica (gza) [shrike: like it matters! :)]
# 040816 - Removed allow DVDR.LIM (wader)
# 040819 - Added ANiMOTiON to affils (psychoffee)
# 040820 - Added PS2DVD and XBOXDVD to allows and removed DVDR.SCR.LIM (psychoffee)
# 040827 - Added TDA as affils (wader)
# 040904 - Added -YoungDangerous to affils (shrike)
# 040928 - Added SVCD.TC(.LIM) + filter (shrike)
# 041021 - Added GAMEOVER to affils (shrike)
# 041023 - Added IBM and -GRISO to bans (wader)
# 040126 - YoungDangerous remove, no guest pre!? (checker)
# 041110 - YoungDangerous readded (bourbon)
# 041114 - Added PS2CD .. (shrike)
# 041116 - Added PTC DATECODE to bans (bourbon)
# 041118 - Added GLOBAL to affils (shrike) [GUEST]
# 041209 - Removed Youngdangerous again, NO PRE! (checker)
# 041209 - Added Scrubs to TV filter (shrike)
# 041211 - Removed PS2CD (bourbon)
# 041228 - Removed VCD.TS (wader)
# 050223 - Added affil WAM (wader)
# 050313 - Added guest pre 442 (bourbon)
# 050323 - Removed TDA (wader)
# 050324 - Added affil SCREAM (wader)
# 050527 - Added affils in filter (orbith)
# 050703 - Removed WAM from affils (orbith)
# 050705 - removed ALLiANCE DMT PORNO YD SCREAM GLOBAL etc (orbith)
# 050819 - Updated (checker)
# 050827 - Fixed tv rules (orb)
# 050917 - removed GAMEOVER (orb)
# 050920 - added strike(checker)
# 051021 - added clonecd/clonedvd section (orb)
# 051024 - added TVL to affls (acidbr)
# 051026 - added PRODiGY (orb)
# 051101 - disabled clonecd filter (gin)
# 051103 - added clonecd filter for not allowing SF clones (checker)
# 051116 - Removed TVL From affils (gin)
# 051207 - Removed SVCD.RET SVCD.LIM (orb)
# 060830 - Added XOR to affils (gin)
# 060910 - removed clonecd/clonedvd sections and add GLAMOURY to ban list (darkm)
# 060913 - Fixed some stuff, removed TV.DVD, old filters etc. (shr)
# 061216 - changed xbox->xbox360 (baker)
# 070213 - removed vitality from banned (baker)
# 070423 - removed tv.divx.dtv filter
# 080331 - Added X264.RET.720 year filter (shrike)
# 080418 - Added X264.RET.720 rating (conky)
# 080501 - Added more pci2 filters (greb 2 1 2 2)
# 080801 - Removed GERMAN, added DIVX.DE/DIVX.LD/DVDR.DE instead, 'include german' in your pci.cfg
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
