# CP

groupblacklist = CRiMSON FASiSO

rule DOX = DOX windows std
rule GAMES = GAMES windows std

rule TV = TV 720p x264 hdtv h264 currentseason nw_us web webrip scripted language:(English) std 
rule TV = TV 720p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std 
rule TV = TV 720p x264 hdtv h264 currentseason nw_us web webrip scripted language:(English) tvid:(83,84,112,522) std

rule MOVIES = MOVIES 720p bluray x264 limited year:2018 language:(English) std
rule MOVIES = MOVIES 720p bluray x264 limited year:1990 rating:6.0 lrating:6.5 lvotes:1000 language:(English) std cls

dir DOX           = /incoming/DOX
dir GAMES         = /incoming/GAMES
dir TV            = /incoming/TV
dir MOVIES        = /incoming/X264

