##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils CPT = Allstars CLONECD EDGEISO RAGAiSO RELOADED PROCYON DDUiSO
allows CPT = APPS APPS.Linux BOOKWARE CLONECD CLONEDVD GAMES GAMES.DVD XBOX360
banned CPT = ViTALiTY M.O.C.
filter CPT = BOOKWARE= !ARTBEATS|3DSMAX|MAYA|SOFTIMAGE|CINEMA4D|ADOBE|TOTAL.TRAINING
filter CPT = APPS= Adobe|Agilent|Alias|Autodesk|Borland|Cakewalk|Canopus|Cisco|Citrix|Corel|^CA|Computer.Associates|Cyberlink|Discreet|Filemaker|^HP|IBM.Lotus|IPSwitch|JASC|Macromedia|Magix|Maxon|Microsoft|Namo|NETiq|Pinnacle|Propellerheads|Symantec|Steinberg|TOMTOM|VMWARE
#filter CPT = APPS.Linux= Adobe|Alias|Borland|Cakewalk|Cisco|Cyberlink|Filemaker|IBM.Lotus|Redhat|SUSE|Mandrake|Magix|Microsoft|NetIQ|Pinnacle|Agilent|Autodesk|CA|Canopus|Corel|Discreet|HP|Jasc|Macromedia|Maxon|Namo|Symantec|SUN|Crystal.Reports|IPSwitch|Steinberg|Winternals|SWSOFT
filter CPT = APPS.Linux= Redhat|Suse|Mandracke

# Changelog:
#
# 050315 - Site added (wader)
# 051028 - Updated (wader)
# 081130 - guess (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
