############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils CR = DERANGED DFA FLT iRONiSO QUASAR SLiEZE XCiTE XSTREEM C4TV
allows CR = GAMES APPS APPS.MAC BOOKWARE DIVX.RET XXX TV.DIVX.DTV DOX NDS DOX.DLC
banned CR = 
exempt CR = XXX= -DivXfacTory|-PORNOLATION|-Pr0nStarS|-SWE6RUS|-FLESHLiGHT|-Jiggly|-STARLETS
filter CR = XXX= -DivXfacTory|-PORNOLATION|-Pr0nStarS|-SWE6RUS|-FLESHLiGHT|-Jiggly|-STARLETS

movieminyear           CR = DIVX.*       = 2006
rating       CR = DIVX.*=     5.0 0 0
filter CR = TV.*        = !$REALITY-N-CRAP
tvcountry    CR = TV.*         = US
# Changelog:
#
# 100721 - Site added (sparky)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
