##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#affils CRT =
allows CRT = TV.DIVX.DTV
#filter CRT = SVCD.TS= -maVen|-Centropy|-VideoCD
#filter CRT = DVDR.RET= !200[0-3]
filter CRT = TV.DIVX.DTV= ^Smallville|^Desparate|O.C.|^ER.|^Las.Vegas|^24|^Joey|^Life.As.We|^Malcolm|^King.Of|^Arrested

# Changelog:
#
# 040806 - Site added (checker)
# 041004 - smut affils (blade)
# 041106 - remove TV.VCD section (bourbon)
# 041114 - remove TDS from affils (bourbon)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
