############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

allows CS = APPS APPS.MAC APPS.LINUX TV.X264.DTV TV.X264.DVD TV.X264.HDD TV.X264.HDD.1080 TV.X264.DTV.1080 GAMES GAMES.MAC GAMES.LINUX DOX.DLC XXX XBOX360 PS3 DIVX.RET DIVX.LIM X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 TV.X264.WEB


movieminyear   CS = X264.RET.720 = 2013
movieminyear   CS = X264.RET.1080 = 2013
movieminyear   CS = X264.LIM.720 = 2013
movieminyear   CS = X264.LIM.1080 = 2013
movieminyear   CS = DIVX.* = 2013
movieminyear   CS = X264.CLS.* = 1930


filter         CS = TV.* = !$REALITY-N-CRAP
filter         CS = TV.X264.DTV.1080 = -DIMENSION|-BATV
filter         CS = GAMES = -Razor1911|-FLT|-ACTiVATED|-RELOADED|-FLTDOX|-RazorDOX|-MONEY|-SKIDROW|-CODEX|-CPY
filter         CS = X264.CLS.* = -AMIABLE|-SINNERS

filter         CS = XXX = -PORNOLATiON|-STARLETS|-KuKaS|-Pr0nStarS
exempt         CS = TV.X264.DTV = National.Geographic
exempt         CS = TV.X264.DTV = ^UFC

tvgenre        CS = TV.* = Scripted
tvcountry      CS = TV.* = US|UK|CA

rating         CS = X264.* = 0.0 0 1
rating         CS = DIVX.* = 0.0 0 1


# Changelog:
#
# 080918 - Site added (dyna)
# 080918 - Added affils,allows,filters,ratings (dyna)
# 150607 - new site, new rules (g0ne)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
