# CW

groupblacklist = STRiFE

rule APPS = APPS std

rule DOX = DOX windows mac std
rule GAMES = GAMES windows mac std

rule TV = TV 720p x264 hdtv h264 currentseason nw_us web webrip scripted language:(English) std
rule TV = TV 720p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std 
rule TV.X264.BLURAY = TV 720p bluray language:(English) nw_us nw_gb nw_ca nw_au nw_nz scripted x264 std
rule TV.X264.BLURAY = TV 720p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) scripted x264 std


rule MOVIES = MOVIES bluray 720p 1080p x264 year:2015 limited votes:2000 lvotes:2000 language:(English) std stdmovies cls
rule MOVIES.MBluray = MOVIES MBluRay year:2013 720p 1080p x264 std stv nonfo

rule XXX = XXX dvdrip bdrip x264 std

dir APPS             = /incoming/apps
dir DOX              = /incoming/games
dir GAMES            = /incoming/games
dir TV               = /incoming/tv-720p-eng
dir TV.x264.BLURAY   = /incoming/tv-bluray-eng
dir MOVIES           = /incoming/x264-eng
dir MOVIES.MBluRay   = /incoming/mbluray
dir XXX              = /incoming/xxx
