###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                       ^^ no space!
###########################################################################################################################

affils D = ARROW iMARS LMG METiS NeDiVx PROCYON RELOADED SAiNTS SCREAM VBT ZWTiSO BestHD HUBRIS HAiDEAF SATURN HuNG OEM1080 OEM
allows D = F1 DIVX.FOREIGN DIVX.RET DIVX.LIM DIVX.SCR GAMES GAMES.DVD TV.DIVX.DSR TV.DIVX.DTV XBOXDVD XBOX360 X264.RET.720 DOX DOX.DLC
exempt D = Top.Gear Republic.Of.Doyle.S\d.+HDTV ^underbelly.S ^the.border.s ^spooks.s ^Hustle.+HDTV ^dr.who.2005.s ^Doctor[._]Who[._]2005[._]
banned D = -Wastedtime $REALITY-N-CRAP $UK-SERIES -Vitality Tyler.Perrys.House.of.Payne -GOW -TiNYiSO -FASiSO Archer.S0 Archer.2009.S0 The.Boondocks.S Neighbors.From.Hell.S Delocated.S0
filter D = CLONECD      = ![._]SF.*Clone|[._]SF.*Cure 
filter D = CLONEDVD     = ![._]SF.*Clone|[._]SF.*Cure 
filter D = X264.RET.*   = !200[0-6]|HDDVD|BD(5|9) 
filter D = F1           = [HP]DTV.XVID !QUALIFY|HIGHLIGHT 

# allowing docus:
moviegenre  D = DIVX.*   = 
rating      D = DIVX.LIM = 6.0 0 1 
x264formats D = X264.*   = mkv 


# Changelog:
#
# 040918 - Site added (checker)
# 040918 - Added some Sony products which were formerly published by Sonic Foundry (shrike)
# 040918 - Removed BiN from affils (checker)
# 040926 - Added APPS.Linux filter (shrike)
# 041007 - Removed maVen from affils (shrike)
# 041121 - Updated affils ... (shrike)
# 041130 - added pr0nstars to XXX filter (checker)
# 041506 - Wastedtime from affils to banned (checker)
# 041712 - REmoved XXX from allows and disabled XXX filter (checker) 
# 050105 - Added GAMERZ to affils
# 050409 - Added TDA to affils (shrike)
# 050409 - Removed VCD.SCR, added DIVX.SCR, added TV.DIVX.DTV and adjusted APPS and SVCD.TS filter ... (shrike)
# 050416 - Added $UK-SERIES to TV filter (shrike)
# 050417 - Added DETOXATION to affils (shrike)
# 050430 - Added TV.VCD+filters (shrike)
# 050506 - Added PTC affil (shrike)
# 050508 - Added XBOXDVD/PS2DVD (shrike)
# 050524 - Added CORRUPT to affils (shrike)
# 050817 - Updated affil list
# 050831 - Added TV.DIVX.DSR (shrike)
# 051108 - Added CLONECD to affils (gin)
# 051121 - Rem. SVCD.TS and disabled filter, added DIVX.TC and added filter (checker)
# 051222 - Added CLONEDVD additionally to CLONECD ..whoever added that alone ;) (shrike)
# 070225 - LOL? No changelog update for over a year, funny ... -20th filter'ed and TV removed (shrike)
# 080604 - No more PS2DVD allowed (shrike)
# 080612 - Absolutely nobody is updating this site, damn frustrating! -> Added PROCYON, METIS, X264*, removed APPS/PSP/movieminyear/obsolete filters like DIVX.TS etc. etc. (shrike, who else)
# 080627 - Removed Reno.911 from banned, added -Vitality instead (shrike)
#
#
#
#DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
