##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils D0 = ALLiANCE RELOADED HI2U BAT MAGNITUDE
allows D0 = BOOKWARE APPS APPS.Linux APPS.MAC DIVX.LIM DIVX.RET DIVX.R5 DIVX.TS DIVX.TC DIVX.SCR DIVX.VHS GAMES GAMES.MAC TV.X264.SD TV.DIVX.DTV TV.X264.DTV TV.X264.WEB TV.DIVX.DSR NORDIC WII XBOX360 XXX X264.RET.720 X264.LIM.720 DOX DOX.DLC 3DS
filter D0 = TV.DIVX.DSR=  !$REALITY-N-CRAP|$UK-SERIES
filter D0 = TV.DIVX.DTV=  !$REALITY-N-CRAP|$UK-SERIES
filter D0 = TV.X264.DTV=  !$REALITY-N-CRAP|$UK-SERIES
filter D0 = WII=          !USA|NTSC
filter D0 = NORDIC=       X264 !1080p !LIMITED
banned D0 = -ViTALiTY PROPER.+RECHARGED REAL.PROPER -DaNGeRoUs ^IBM ^LOTUS Love.Thy.Neighbor -HOTiSO -WaLMaRT -ACTiVATED -PLAZA
exempt D0 = The.Daily.Show The.Colbert.Report ^Top.Gear. ^Private.*XXX ^Private.*SWE6RUS

x264formats            D0 = X264.*       = mkv
xxxstudio              D0 = XXX          = Anabolic|Anabolic.Video|Diabolic|Evil.Angel|Jules.Jordan|Private

movieminyear           D0 = DIVX.*       = 2011
movieminyear           D0 = X264.*       = 2011

rating                 D0 = DIVX.*       = 0.0 0 1
rating                 D0 = X264.*       = 0.0 0 1

# Documentaries ok:
moviegenre             D0 = DIVX.*       = 
moviegenre             D0 = X264.*       = 



# Changelog:
# 291206 - Further update of rules (pretorian)
# 271206 - Updated rules (pretorian)
# 040803 - THIS IS XTM (D0) LIKE IT WAS BEFORE FEDZ BUST
# 040901 - Modified alot of stuff (wader)
# 070726 - Huge updated/fix (stealth)
# 070727 - Some more fixes ;) (shrike)
# 070804 - DVDR.R5 & DVDR.SCR added (shrike)
# 070806 - Missing WII and XBOX360 added (shrike)
# 070906 - Added REAMLiGHT to affil (stealth)
# 080415 - Added pci2 filters (shrike)
# 081127 - Added DVDR.R5 (stealth)
# 090507 - Updated affils (stealth)
# 090607 - Removed DVDR, added x264 (dyna)
# 121021 - Updates... (shrike)
# 140605 - updated affils & banned (blade)
# 150603 - Added TV.X264.WEB (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
