############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils D1 = CLONECD PORNOLATION PROTOCOL RELOADED SCREAM TV ZWTiSO TGP NeDiVx
#allows D1 = DIVX.RET DIVX.LIM DIVX.SCR  DIVX.TS DVDR.RET GAMES GAMES.DVD APPS APPS.Linux APPS.DVD TV.DIVX.DSR TV.DIVX.DTV XBOXDVD PS2DVD CLONECD CLONEDVD PSP
banned D1 = -Wastedtime -MAGNiTUDE $REALITY-N-CRAP $UK-SERIES Reno.911

filter D1 = APPS.Linux= Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara
filter D1 = APPS= Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara
filter D1 = APPS.DVD= Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara

filter D1 = CLONECD=     ![._]SF.*Clone|[._]SF.*Cure
filter D1 = CLONEDVD=    ![._]SF.*Clone|[._]SF.*Cure
filter D1 = DIVX.TS=     -MAVEN

# Changelog:
#
# 070124 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
