##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils D3 = BECKS c0nFuSed CDC GWL SiLENTGATE ViSUALiZE
allows D3 = APPS DIVX.RET DVDR.RET GAMES GERMAN PS2DVD TC.SVCD XBOXDVD XXX
banned D3 = 
filter D3 = XXX= -WDE -Pr0nStarS
filter D3 = APPS= Corel|Macromedia|Adobe|Symantec|Borland|Microsoft|Ulead|Autodesk|Sonic|Steinberg

# Changelog:
#
# 050924 - Site added (baker)
# 051128 - Update * (axess)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
