##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DA = DVDR FiCO KiSS PRiNGLES SAPHiRE WtO 
allows DA = DIVX.RET DIVX.SCR DVDR.RET DVDR.SCR GAMES GAMES.DVD PS2DVD XBOXDVD DANISH
banned DA = DVD9 

# Changelog:
#
# 050311 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
