############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DB = MoH Larceny Cartier STUDIO LMAO COCAIN
allows DB = APPS APPS.DVD DIVX.RET DIVX.LIM DIVX.R5 DIVX.R5.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET GAMES PS2DVD XBOX360 XXX TV.DIVX.DTV DUTCH TV.X264.DTV
banned DB = 

filter DB = WII=         !USA|NTSC
filter DB = XXX= -PORNOLATiON
filter DB = APPS= Adobe|Microsoft|Symantec|Norton
filter DB = APPS.DVD= Adobe|Microsoft|Symantec
filter DB = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter DB = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
movieminyear           DB = DIVX.RET     = 2007
movieminyear           DB = DIVX.LIM     = 2007
movieminyear           DB = DIVX.R5      = 2007
movieminyear           DB = DIVX.R5.LIM  = 2007
movieminyear           DB = DIVX.SCR     = 2007
movieminyear           DB = DIVX.SCR.LIM = 2007
movieminyear           DB = DVDR.RET     = 2007
movieminyear           DB = X264.RET.720     = 2007

# limit for dutch limited es  7.5+ rating and 1500+ .. never happens :p
rating DB = DUTCH = 6.0 500 1

#rating DB = DIVX.SCR.LIM = 7.5 1500 1
#rating DB = DIVX.LIM =     7.5 1500 1

tvgenre     DB = TV.DIVX.DTV= Scripted|Cartoon
tvcountry   DB = TV.DIVX.DTV= US

consoleregions DB = Wii= PAL

#rating DB = DVDR.LIM = 7.5 1500 1


# Changelog:
#
# 080510 - Site added (me)
# 080518 - removed bookware/dvdr.lim and fixed rating filters cuz idiots cant decide on rules (conky)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
