############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DBR = DDUiSO JGTiSO MPTDVD OE
allows DBR = APPS APPS.DVD BOOKWARE DIVX.TS DIVX.TC DIVX.SCR.LIM DIVX.LIM DIVX.SCR DIVX.RET DVDR.TC DVDR.SCR.LIM DVDR.LIM DVDR.SCR DVDR.RET GAMES GAMES.DVD SVCD.TS SVCD.TC TV.DIVX.DTV PSP VCD XBOXDVD XBOX360
filter DBR = TV.DIVX.DTV= Top.Gear|Pimp.My.Ride|Rome|The.Wire|Carnivale|Spooks|DeadWood|Lost|^24


# Changelog:
#
# 060225 - Site added (sparky)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
