
##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DEUS = COBRA DivXfacTory EcHoS HafVCD iTWINS ORC PUKKA
allows DEUS = DIVX.LIM DIVX.RET GAMES GAMES.DVD SVCD.SCR SVCD.LIM SVCD.SCR.LIM XXX APPS GERMAN PS2DVD SVCD.RET VCD.CAM SVCD.TC SVCD.TS DVDR.RET DVDR.SCR
banned DEUS = $INDUSTRIAL
filter DEUS = XXX= -PORNOLATION -Pr0nStarS
# Changelog:
#
# 060121 - Site added (acidbr)
# 060219 - GLX->DEUS + updated (spark)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
