############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DEX = BiA BLUEBALLS CiCXXX ITG
allows DEX = APPS.Linux GAMES APPS APPS.DVD TV.DIVX.DTV TV.DIVX.DSR DVDR.RET DIVX.RET DIVX.SCR DIVX.TC DIVX.TS DIVX.R5 XBOX360 WII XXX X264.RET.720
banned DEX = 
filter DEX = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter DEX = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter DEX = XXX= -SWE6RUS|-DivXfacTory

# Changelog:
#
# 070508 - Site added (ego)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
