############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DH = JUSTTEENSITE
allows DH = XXX
#banned DH =
#filter DH = 
#exempt DH = 

#x264formats DH = X264.* = mkv
#movieminyear DH = X264.* = 1900
#movieminyear DH = DVDR.* = 2005
#movieminyear DH = DIVX.* = 2005



# Changelog:
#
# 061106 - Site added (checker)
# 170107 - PORNOLATION allowed (leitz)
# 070205 - Added LoCAL as affil (stealth)
# 070228 - Updated affils (stealth)
# 070308 - Added FCR as affil (stealth)
# 070603 - Added ViTE as affil (stealth)
# 070717 - Removed TEG-DVD, Added SAPHiRE (stealth)
# 070925 - Removed TV.DIVX.HR (leitz)
# 071026 - Added X264.RET.720 section (leitz)
# 080506 - Removed XBOX360 (leitz)
# 110216 - New xxx only site (blade)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
