##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DLR = Allstars CLONECD iTWiNS JGTiSO MAGNiTUDE PaTHe QUARTEX RELOADED xDMNx PROCYON HUBRIS OEM OEM1080 ZWTiSO SUXXORS DUPLEX
allows DLR = APPS APPS.DVD APPS.Linux APPS.MAC BOOKWARE DIVX.RET DIVX.R5 DIVX.R5.LIM DIVX.SCR DIVX.SCR.LIM DIVX.LIM DIVX.TS DVDR.RET GAMES GAMES.DVD PS2DVD PS2CD PSP TV.DIVX.DTV TV.DIVX.DSR XBOX360 NDS WII X264.RET.720 UFC DOX K-1 DOX.DLC
banned DLR = $DSRDUPES IBM LOTUS LINDOW LINSPIRE REDHAT ViTALiTY VLiSO -OUTDATED -PROPHET ^Nav.N.Go 
filter DLR = CLONECD= ![._]SF.*Clone|[._]SF.*Cure 
filter DLR = CLONEDVD= ![._]SF.*Clone|[._]SF.*Cure 
filter DLR = WII=            !USA|NTSC 
filter DLR = BOOKWARE=       !ARTBEATS|3DSMAX|MAYA|SOFTIMAGE|CINEMA4D|ADOBE|PHOTOSHOP|DIGITAL.JUICE|FINAL.CUT|Graphic.Authority|TOTAL.TRAINING|DIGITAL.TUTOR|ANIMATING|CHARACTERS|Gnomon.Master.Classes

filter DLR = X264.RET.720=   !200[0-5] 
filter DLR = TV.*=           !$REALITY-N-CRAP|$UK-SERIES 
#filter DLR = DUTCH=          !LIMITED
exempt DLR = ^Fear.Factor ^Apprentice ^Top.Gear ^Fifth.Gear ^Survivor.S ^Hotel.Babylon.S ^The.Apprentice ^Eleventh.hour ^American.Chopper ^Pimp.My.Ride ^Fear.Factor Ultimate.Fighter Boxing.*xvid ^The.Daily.Show ^The.Colbert.Report ^David.Letterman.+HDTV Jay.Leno.+HDTV ^Real.Time.*Bill.Maher.+HDTV ^Conan.O.+HDTV 
#filter DLR = TV.X264.DTV=    !PROPER.+-CTU

movieminyear           DLR = DIVX.RET     = 2008 
movieminyear           DLR = DIVX.LIM     = 2008 
movieminyear           DLR = DIVX.R5      = 2008 
movieminyear           DLR = DIVX.R5.LIM  = 2008 
movieminyear           DLR = DIVX.SCR     = 2008 
movieminyear           DLR = DIVX.SCR.LIM = 2008 
movieminyear           DLR = DVDR.RET     = 2008 
movieminyear           DLR = X264.RET.720 = 2008 
movieminyear           DLR = X264.CLS.720 = 2008 

rating                 DLR = DIVX.LIM     = 0.0 0 1 
rating                 DLR = DIVX.R5.LIM  = 0.0 0 1 
rating                 DLR = DIVX.SCR.LIM = 0.0 0 1 

# Documentaries ok:
moviegenre             DLR = DIVX.RET     = 
moviegenre             DLR = DIVX.LIM     = 
moviegenre             DLR = DIVX.R5      = 
moviegenre             DLR = DIVX.R5.LIM  = 
moviegenre             DLR = DIVX.SCR     = 
moviegenre             DLR = DIVX.SCR.LIM = 

consoleregions         DLR = PS2DVD       = PAL|NTSC 
consoleregions         DLR = PS2CD        = PAL|NTSC 

# RF/PAL only allowed - so PAL after NTSC ok (because we dont know if NTSC was RF)
consoleregions         DLR = XBOX360      = PAL|NTSC 
consoleregionrank      DLR = XBOX360      = PAL NTSC 

consoleregions         DLR = WII          = PAL 

x264formats            DLR = X264.*       = mkv 

# Changelog:
# 070825 - added X264.RET.720 and septic to affils
# 070619 - sections and affils updated (baker/stealth)
# 060921 - removed DIVX.TS and DIVX.TC
# 060310 - added few things / modified few (pretorian)
# 051103 - added clone filter for not allowing SF clones (checker)
# 050927 - Updated affils (pretorian)
# 040820 - Site added (kingstar)
# 051116 - Added XOR to affils (gin)
# 051123 - Removed XOR from affils (gin)
# 080331 - Added X264.RET.720 year filter (shrike)
# 080419 - Added movieminyear filter (stealth)
# 080529 - Added lots of exempts (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
