##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DM = 
allows DM = GAMES GAMES.DVD DVDR.RET SVCD.SCR SVCD.SCR.LIM VCD.SCR VCD.SCR.LIM DIVX.SCR DIVX.SCR.LIM DIVX.RET DIVX.LIM APPS
banned DM = $INDUSTRIAL

# Changelog:
#
# YYMMDD - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
