##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DNA = aXXx CAXiSO FEZ GLOBAL GP RiSCiSO SHOCKiSO WoD
allows DNA = BOOKWARE GAMES GAMES.DVD XBOXDVD PS2RIP PS2DVD DVDR.RET DVDR.SCR SVCD.TS VCD.SCR VCD.SCR.LIM SVCD.TS.LIM DIVX.RET DIVX.LIM DIVX.SCR APPS TV.VCD
filter DNA = SVCD.TS= -CENTROPY|-maVen
filter DNA = VCD.SCR= -CENTROPY
filter DNA = SVCD.TS.LIM= -CENTROPY 
filter DNA = VCD.SCR.LIM= -CENTROPY
filter DNA = APPS= Adobe|Macromedia|Symantec|Ulead|Microsoft|Winternals|Cyberlink|Quark|Pinnacle|Discreet|Ahead|Newtek|Sony|Avid
filter DNA = BOOKWARE= -W3D
filter DNA = BOOKWARE= [._]DVDRip[._-]
# Changelog:
#
# 040806 - Site added (checker)
# 
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
