affils = ACTiVATED BAKED DivXfacTory PLAZA PORNOLATiON PROTOCOL

groupblacklist = C4TV DARKSiDERS DEADPOOL FCC FERiCE iMARS REGRET SharpHD SQUEAK TCD TUSAHD W4F BigBlueBox

rule APPS = APPS indu linux mac windows std
rule DOX = DOX windows linux std
rule GAMES = GAMES windows linux std
rule PS4 = PS4 pal rf dupesNTSC dupesJPN std
rule TV = TV 720p x264 currentseason scripted hdtv dupesweb nw_us std language:(English)
rule TV = TV 720p x264 currentseason scripted hdtv dupesweb nw_ca std tvid:(1788)
rule SPORTS = SPORTS 720p x264 hdtv web webrip ufc std
rule TV.BLURAY = TV 720p x264 bluray airdate:2012 nw_us scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray airdate:2012 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray airdate:2012 nw_ca scripted std tvid:(1788)
rule TV.BLURAY = TV 720p x264 bluray airdate:2012 scripted internal group:(REWARD)
rule TV.BDRIP = TV bdrip dvdrip premiere:2012 nw_us scripted std language:(English)
rule TV.BDRIP = TV bdrip dvdrip premiere:2012 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)
rule TV.BDRIP = TV bdrip dvdrip premiere:2012 nw_ca scripted std tvid:(1788)
rule TV.BDRIP = TV bdrip dvdrip premiere:2012 scripted internal group:(REWARD)
rule MOVIES = MOVIES 1080p x264 bluray limited lrating:5 lvotes:500 year:2011 std stdmovies cls
rule MOVIES = MOVIES 1080p x264 bluray limited lrating:5 lvotes:500 year:2012 3D wide EN external stdmovies cls

# NAME           PATH
dir APPS          = /incoming/utils
dir BOOKWARE      = /incoming/bookware
dir DOX           = /incoming/games
dir GAMES         = /incoming/games
dir MOVIES        = /incoming/x264
dir MOVIES.BDR    = /incoming/bdr
dir MOVIES.BDRip  = /incoming/xvid
dir MOVIES.DVDRip = /incoming/xvid
dir PS4           = /incoming/ps4
dir SPORTS        = /incoming/tv720
dir TV            = /incoming/tv720
dir TV.BLURAY     = /incoming/tvbluray
dir TV.BDRip      = /incoming/tvdvdrip
dir TV.DVDRip     = /incoming/tvdvdrip
dir XXX           = /incoming/xxx

Name = Do Not Sleep
Location = 2000Mbit 
Country = se
Size = 25TB + 150TB Remote Archives
ISP = Telecom
Control = iND
Sitebans = BBR
Status = Up

