##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DOH = Counterfeit DoNE DOT iMBT Larceny SCREAM T3RR0R1STS TBE TREBLE VIMTO XSTREEM
allows DOH = X264.RET.1080 DIVX.RET DIVX.LIM GAMES GAMES.DVD APPS APPS.DVD APPS.LINUX APPS.MAC PSP PS2 PS2DVD PS2CD XBOX360 PS3 TV.X264.DTV TV.X264.WEB
banned DOH = PSN -REMEDY -iMARS -IMMERSE

filter 	   DOH = xbox360 = !ntsc
filter     DOH = TV.DIVX.DTV = !$REALITY-N-CRAP|$UK-SERIES

tvgenre    DOH = TV.DIVX.DTV = Scripted|Animation|Cartoon
tvcountry  DOH = TV.* = US

movieminyear DOH = X264.RET.1080  = 2012
movieminyear DOH = DIVX.*         = 2014

rating       DOH = DIVX.*         = 0.0 0 1
rating       DOH = X264.*         = 0.0 0 1


# Changelog:
#
# 20041103 - Site added (Janno)
# 20090610 - Everything updated (dyna)
# 201209 - RiOT added to affils (moet)
# 160205 - TREBLE added as affil (ohno)
# 160412 - counterfeit added as affil (ohno)
# 160517 - changed divx rules (ohno)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
