affils = CODEPUNKS CODEX COMPLEX DUPLEX NEXTGEN PORNOLATiON UNLiMiTED

groupblacklist = BigBlueBox BRiNK C4TV CiELOS DARKSiDERS DEADPOOL DIMENSION_X FCC FERiCE FUtV HYBRiS ONTHERUN REGRET SH0W SharpHD STRiFE TCD TiMELiNE TUSAHD W4F


rule APPS = APPS linux mac windows stdapp std
rule GAMES = GAMES std
rule DOX = DOX std
rule PS4 = PS4 pal rf dupesNTSC dupesJPN std
rule NSW = NSW pal rf dupesNTSC dupesJPN std
rule TV.720p = TV 720p x264 h264 hdtv web webrip episodeAge:3 currentseason nw_us dupesweb dupeshdtv scripted language:(English) std 
rule TV.720p = TV 720p x264 h264 hdtv web webrip currentseason network:(amazon,netflix,youtube,youtube-premium) dupesweb dupeshdtv scripted language:(English) std 
rule TV.720p = TV 720p x264 h264 episodeAge:3 currentseason nw_us scripted language:(English) internal dupeshdtv group:(AMRAP) nodupe
rule TV.1080p = TV 1080p x264 h264 h265 hdtv web webrip episodeAge:3 currentseason nw_us scripted dupesweb dupeshdtv language:(English) std
rule TV.1080p = TV 1080p x264 h264 h265 hdtv web webrip currentseason network:(amazon,netflix,youtube,youtube-premium) scripted dupesweb dupeshdtv language:(English) std
rule TV.1080p = TV 1080p x264 h264 episodeAge:3 currentseason nw_us scripted language:(English) internal dupeshdtv group:(AMRAP) nodupe
rule MOVIES = MOVIES 720p 1080p x264 bluray year:2011 language:(English) std stdmovies cls


# NAME              PATH
dir APPS     = /incoming/apps
dir DOX      = /incoming/games
dir GAMES    = /incoming/games
dir MOVIES   = /incoming/x264
dir PS4      = /incoming/ps4
dir NSW      = /incoming/nsw
dir TV.720p  = /incoming/tv-720
dir TV.1080p = /incoming/tv-1080
dir XXX      = /incoming/xxx
