# DOOM

AFFILS = SHADOWS

groupblacklist = CPY DARKSiDERS TiNYiSO I_KnoW ANiURL BAMBOOZLE CAFFEiNE REGRET W4F HAiKU FLHD 

rule BOOWARE = BOOKWARE group:(kEISO,JGTiSO,RiDWARE,TUTOR,XCODE,XQZT,ZH) std 

rule GAMES = GAMES windows mac group:(ACTiVATED,CODEX,DOGE,HI2U,PLAZA,Razor1911,RELOADED,SKIDROW) std

rule TV.720p = TV 720p nw_us nw_gb nw_ca hdtv h264 web dupesweb dupeshdtv webrip internal x264 Scripted language:(English) std
rule TV.720p = TV 720p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip internal x264 Scripted language:(English) std 
rule TV.720p = TV 720p group:(aAF,AVS,ANGELiC,ASCENDANCE,BAJSKORV,BARGE,BATV,BRISK,CREED,DEFLATE,DHD,DIMENSION,FoV,JAWN,KILLERS,KLINGON,LOL,MTB,MiNDTHEGAP,ORGANiC,PLUTONiUM,QPEL,RiVER,SKGTV,SVA,WEBSTER) st
rule TV.1080p = TV 1080p nw_us nw_gb nw_ca hdtv h264 web dupesweb dupeshdtv webrip internal x264 Scripted language:(English) std
rule TV.1080p = TV 1080p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip internal x264 Scripted language:(English) std
rule TV.1080p = TV 1080p hdtv h264 web dupesweb dupeshdtv webrip internal group:(aAF,AVS,ANGELiC,ASCENDANCE,BAJSKORV,BARGE,BATV,BRISK,CREED,DEFLATE,DHD,DIMENSION,FoV,JAWN,KILLERS,KLINGON,LOL,MTB,MiNDTHEGAP,ORGANiC,PLUTONiUM,QPEL,RiVER,SKGTV,SVA,WEBSTER) std
rule TV.XVID = TV xvid hdtv internal x264 scripted language:(English) std
rule TV.WEB = TV web webrip internal x264 scripted language:(English) std
rule TV.X264.BLURAY.720p = TV 720p bluray language:(English) scripted nw_us nw_gb nw_ca x264 std
rule TV.X264.BLURAY.720p = TV 720p bluray language:(English) scripted network:(amazon,netflix,youtube,youtube-premium) x264 std
rule TV.X264.BLURAY.720p = TV 720p bluray group:(DEMAND,DEFLATE,GECKOS,GHOULS,REWARD,PFa,ROVERS,SHORTBREHD,TAXES,YELLOWBiRD)
rule TV.X264.BLURAY.1080p = TV 1080p bluray language:(English) scripted nw_us nw_gb nw_ca x264 std
rule TV.X264.BLURAY.1080p = TV 1080p bluray language:(English) scripted network:(amazon,netflix,youtube,youtube-premium) nw_ca x264 std
rule TV.X264.BLURAY.1080p = TV 1080p bluray group:(DEMAND,DEFLATE,GECKOS,GHOULS,REWARD,PFa,ROVERS,SHORTBREHD,TAXES,YELLOWBiRD) 

rule MOVIES.BDRip = MOVIES x264 bdrip year:2012 limited rating:6.0 lrating:6.9 votes:10000 lvotes:10000 std  cls
rule MOVIES.BDRip = MOVIES x264 bdrip limited group:(ALLiANCE,AMIABLE,ARROW,COCAIN,DAA,DiAMOND,DoNE,DRONES,GECKOS,Larceny,PSYCHD,ROVERS,SNOW,SPARKS) cls
rule MOVIES.720p = MOVIES bluray 720p x264 year:2015 limited rating:7 lrating:7 votes:10000 lvotes:10000 language:(English) std cls
rule MOVIES.720p = MOVIES bluray 720p x264 group:(ALLiANCE,AMIABLE,BLOW,CBGB,DAA,DRONES,GECKOS,PSYCHD,REFiNED,Replica,ROVERS,SECTOR7,SPARKS) std cls           
rule MOVIES.1080p = MOVIES bluray 1080p x264 year:2015 limited rating:7 lrating:7 votes:10000 lvotes:10000 language:(English) std cls
rule MOVIES.1080p = MOVIES bluray 1080p x264 group:(ALLiANCE,AMIABLE,BLOW,CBGB,DAA,DRONES,GECKOS,PSYCHD,REFiNED,Replica,ROVERS,SECTOR7,SPARKS) std cls

rule XXX = XXX bdrip dvdrip x264 std

# NAME                     PATH
dir BOOKWARE                    = /incoming/utils
dir GAMES                       = /incoming/games
dir TV.720p                     = /incoming/tv-hd
dir TV.1080p                    = /incoming/tv-hd-1080
dir TV.SD                       = /incoming/tv-sd
dir TV.x264.BLURAY.720p         = /incoming/tv-boxset-720  
dir TV.x264.BLURAY.1080p        = /incoming/tv-boxset-1080
dir MOVIES.BDRip                = /incoming/x264-sd
dir MOVIES.720p                 = /incoming/x264-720
dir MOVIES.1080p                = /incoming/x264-1080
dir XXX                         = /incoming/xxx
