##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DOTNL = AMSTEL BMF FQM FTS GOOGLE NLDVD SPiRO SyntaX XMAFT XXLDVDr YknoTT
allows DOTNL = APPS APPS.DVD DIVX.RET DIVX.SCR DUTCH DVDR.RET DIVX.TC DVDR.LIM GAMES GAMES.DVD TV.DIVX.DTV SVCD.TS VCD.SCR VCD.SCR.LIM XBOXDVD PSP
banned DOTNL = $INDUSTRIAL IBM DVD9
filter DOTNL = TV.DIVX.DTV= -TV|-TCM
filter DOTNL = XXX= -LDSXXX

# Changelog:
#
# 050220 - Site added (Janno)
# 050828 - Renamed, Updated (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
