############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DR = CASHGAME VBT
allows DR = APPS BLURAY.LIM BLURAY.RET GAMES GAMES.MAC TV.X264.DTV.1080 TV.X264.HDD.1080 TV.X264.WEB.1080 X264.CLS.1080 X264.LIM.1080 X264.MUSIC.1080 X264.RET.1080
banned DR = -BRINK -FEET

filter          DR = BLURAY.* = -BAKED|-CBGB|-LAZERS|-PCH
movieminyear    DR = BLURAY.* = 2015
rating          DR = BLURAY.* = 0.0 0 1

filter          DR = GAMES* = -PLAZA|-SKIDROW|-CODEX|-HI2U|-RELOADED|-Razor1911|-TiNYiSO|-FLT|-CPY|-POSTMORTEM|-ACTiVATED|-MONEY|-DOGE
filter          DR = GAMES* = !GOTY|G.O.T.Y|Game.of.the.Year

movieminyear    DR = X264.MUSIC.1080 = 2010

#tvgenre         DR = TV.X264.DTV.1080 = Animation|Scripted
#tvgenre         DR = TV.X264.WEB.1080 = Animation|Scripted
#tvgenre         DR = TV.X264.DTV.1080 = Scripted
#tvgenre         DR = TV.X264.WEB.1080 = Scripted
#tvgenre         DR = TV.X264.HDD.1080 = Scripted

tvstartyear     DR = TV.X264.HDD.1080 = 2010
tvcountry       DR = TV.X264.* = CA|UK|US
exempt          DR = TV.X264.DTV.1080 = -CROOKS


#RULES BELOW STILL NEED SETUP / I forgot howto :s
#[DR] 1. 1080P BluRay only..................................................x3 
#[DR] 2. Only movies with English audio.....................................x3 
#[DR] 3. First release wins, no dupes allowed (DC/SE/Unrated etc.) except for  
#[DR] Remastered.........................................................x3 
#[DR] 4. 1900-2010 all allowed..............................................x3 
#[DR] 5. 2010+ with at least 1 EURO/USA screen required (No Festival only)..x3 
#[DR] 6. No 3D..............................................................x3 


# Changelog:
#
# 170325 - created + added current affils CASHGAME + VBT (hf stalefish /default)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
