##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DTF = 4KiDS DownLink JGTiSO MEDiEVAL VFUA
allows DTF = APPS APPS.Linux BOOKWARE DIVX.RET DVIX.SCR DVDR.RET GAMES GAMES.DVD KIDDIE PS2DVD XBOXDVD XBOXCD TV.DIVX.DTV CZECH XXX VCD.SCR SVCD.TS
banned DTF = DATACODE IBM
filter DTF = TV.DIVX.DTV= !$REALITY-N-CRAP
filter DTF = XXX= -xDMNx|-PLDiVX
filter DTF = SVCD.TS=  -maVen|-VideoCD|-Centropy
filter DTF = BOOKWARE= ![._]DVDR[._-]

# Changelog:
#
# 040907 - Site added (checker)
# 040924 - Added JGTiSO to affils (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
