##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DUMB = ANARCHY SuPReMe UNIQUE
allows DUMB = DUTCH GAMES VCD.SCR SVCD.TC SVCD.TS SVCD.SCR TV.DIVX.DTV DIVX.LIM DIVX.SCR DIVX.RET
banned DUMB = 
filter DUMB = TV.DIVX.DTV= Smallville|Charmed|^CSI|Enterprise|^Joey

# Changelog:
#
# 051103 - Site added (hMp)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
