############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DV = rG AiRISO P0W4 CONDITION OEM1080 AFFECTION STARLETS WASABi COCAIN BLOW P0W4DVD KOPiE
allows DV = APPS APPS.MAC APPS.Linux DIVX.TS DIVX.TC DIVX.R5 DIVX.SCR DIVX.RET DIVX.LIM X264.LIM.720 X264.RET.720 X264.RET.1080 X264.LIM.1080 GAMES WII XBOX360 TV.X264.DTV DUTCH DOX XXX DOX.DLC
banned DV = -FASiSO -Bamboocha -PROPHET -oNePiEcE -TiNYiSO -GRATiS -iTWINS -ADDICTION -SPLATTERKiNGS -SWEDIVX \.DLC\.
exempt DV = -RELOADED -RAZOR1911 -CRiTiCAL

movieminyear DV = DIVX.*       = 2009
movieminyear DV = DIVX.RET     = 2008

#rating       DV = DIVX.LIM     = 6.5 500 1
#rating       DV = X264.LIM.720 = 6.5 500 1

filter       DV = DUTCH        = 720p.X264-
xxxstudio    DV = XXX          = Digital.Playground|Evil.Angel|Hustler|Private

filter DV = X264.DE.1080 = !19[0-9][0-9]|200[0-8]
filter DV = TV.X264.DE   = -iNSPiRED|-euHD|-ZZGtv
filter DV = APPS = !Map.Update|Nav.N.Go

tvcountry              DV = TV.X264.DTV=
tvcountry    NL = TV.X264.DE =
tvcountry    NL = TV.DIVX.DE =
tvcountry    NL = TV.DIVX.DU.DE =
tvcountry    NL = TV.X264.DVD.DE =
tvgenre      NL = TV.*  = Scripted|Animation|Cartoon

# Changelog:
#
# 100315 - Site added (shrike)
# 100702 - updated sections (g0ne)
# 100713 - All countries allowed in tv.x264
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
