# DVN

AFFILS = AFFECTION AFHD AVRATTNING CONDITION DiAMOND EMERALD EXECUTION EXEKIDS JAWN MTB SERIOUSLY XQZT

groupblacklist = STRiFE 

rule APPS = APPS std

rule DOX = DOX std
rule GAMES = GAMES std

rule PS4 = PS4 pal rf dupesJPN std
rule NSW = NSW pal rf dupesJPN std

rule MOVIES = MOVIES 720p 1080p x264 bluray year:2018 language:(English) rating:4 lrating:6 lvotes:1000 limited std stdmovies
rule MOVIES = MOVIES 720p 1080p x264 bluray group:(AMIABLE) limited std stv cls nonfo
rule MOVIES.WEBRIP = MOVIES webrip web stv 720p 1080p rating:6 votes:1000 lrating:6 lvotes:1000 language:(English) year:2018 h264 x264 limited std
rule MOVIES.WEB = MOVIES webrip web stv 720p 1080p rating:6 votes:1000 lrating:6 lvotes:1000 language:(English) year:2018 h264 x264 limited std
rule MOVIES.MBluray = MOVIES MBluRay 720p 1080p x264 std stv group:(TREBLE) nonfo

rule TV.720p = TV 720p x264 h264 currentseason dupeshdtv nw_us web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 h264 h265 currentseason dupeshdtv network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 h264 h265 currentseason dupeshdtv nw_us web webrip scripted internal group:(AMRAP) language:(English) std                 
rule TV.720p = TV 720p x264 h264 currentseason dupeshdtv nw_us web webrip scripted animation language:(English) tvid:(83,87,107,315,112,216) std   
rule TV.1080p = TV 1080p x264 h264 currentseason dupeshdtv nw_us web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 h264 h265 currentseason dupeshdtv network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 h264 h265 currentseason dupeshdtv nw_us web webrip scripted internal group:(AMRAP) language:(English) std                 
rule TV.1080p = TV 1080p x264 h264 currentseason dupeshdtv nw_us web webrip scripted animation language:(English) tvid:(83,87,107,315,112,216) std

# NAME                     PATH
dir APPS             = /incoming/apps
dir BOOKWARE         = /incoming/bookware 
dir DOX              = /incoming/games
dir GAMES            = /incoming/games
dir PS4              = /incoming/ps4
dir NSW              = /incoming/nsw
dir MOVIES           = /incoming/x264
dir MOVIES.WEB       = /incoming/x264
dir MOVIES.webrip    = /incoming/x264
dir MOVIES.MBluRay   = /incoming/x264
dir TV.720p.SE       = /incoming/tv-x264-swe
dir TV.1080p.SE      = /incoming/tv-x264-swe
dir TV.720p          = /incoming/tv-x264
dir TV.1080p         = /incoming/tv-x264-1080p


