##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DW = ABSOKT BMF CONS DiTS FANTA FCR Pv STN UGN VCDCentral VXr 
allows DW = APPS APPS.Linux VCD.SCR VCD.SCR.LIM SVCD.TS SVCD.TC VCD.TS PS2DVD XBOXDVD DIVX.RET DIVX.LIM DVDR.RET DVDR.SCR DVDR.LIM GAMES SVCD.RET SVCD.LIM TV.DIVX.DTV NORDIC
filter DW = TV.DIVX.DTV= !$REALITY-N-CRAP|!$UK-SERIES
filter M = TV.DIVX.DTV= !$REALITY-N-CRAP
banned DW = IBM $INDUSTRIAL TUN

# Changelog:
#
# 040806 - Site added (checker)
# 040809 - Added 2 new affils (checker)
# 040811 - Added Nordic (checker)
# 040914 - Added MorningWood to affils (checker)
# 040919 - ADded fbC to affils (checker)
# 040927 - Removed FFN/TV from allows and added TVL
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
