##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils DXC = ANIMAL CARTOON DARKFORCE LiGHTFORCE PARADOX QiX TOC
allows DXC = APPS GAMES DIVX.RET XXX PS2DVD XBOXDVD DUTCH DOX.DLC
banned DXC = 
filter DXC = APPS= Adobe|Ahead|Adaptec|Autodesk|Avid|Borland|Cakewalk|Cyberlink|Garmin|Jasc|KPN|Macromedia|Magix|McAfee|Microsoft|Newtek|Norton|Pinnacle|Powerquest|Roxio|Serif|Sonic|Sony|Sophos|Steinberg|Symantec|TomTom|Ulead|Veritas|VMware|Wise
filter DXC = XXX= -Pr0nStarS

# Changelog:
#
# 051103 - Site added (orb)
# 051103 - updated all (hMp)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
