############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DZ = AGENCY Counterfeit CROSSBOW DEPRAVITY iCON IMMERSE LEVERAGE MPTDVD TRUEDEF ZER0 CONTRAST
allows DZ = APPS APPS.Linux APPS.MAC GAMES TV.X264.DTV TV.X264.SD TV.DIVX.DTV TV.X264.DVD XBOX360 Wii X264.RET.720 X264.LIM.720 DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM XXX X264.RET.1080 X264.LIM.1080 DVDR.RET DVDR.LIM DOX DOX.DLC
banned DZ = -VITALITY -FASISO -TINYISO

tvcountry    DZ = TV.*         = US
filter       DZ = Wii         = !USA|NTSC
filter       DZ = TV.DIVX.DTV=  !$REALITY-N-CRAP|$UK-SERIES
filter       DZ = TV.X264.DTV=  !$REALITY-N-CRAP|$UK-SERIES

filter       DZ = APPS.* = !$INDUSTRIAL

movieminyear   DZ  = DIVX.*       = 2008
movieminyear   DZ  = X264.*       = 2008
movieminyear   DZ  = DVDR.*       = 2009
rating         DZ  = DVDR.LIM     = 6.0 500 1
rating         DZ = X264.LIM.720  = 6.0 500 1
rating         DZ = X264.LIM.1080 = 6.0 500 1
x264formats    DZ = X264.*       = mkv

xxxstudio      DZ = XXX           = Private|Anabolic.Video|Diabolic|Diabolic.Video|Evil.Angel|Redlight.District



# Changelog:
#
# 100618 - Site added (solar)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
