############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils DZN = BDA Chakra CRBS EDHD EiDER FAPCAVE FORBiDDEN GAMETiME GUACAMOLE iTHD JustWatch MOROSE MrsPalmer NORiTE OCULAR OVERTAKE PFa QPEL R2U RiVER RRH SKG SKGTV SUMMERX THEOS UAV UPPERCUT VALUE WaLMaRT WiDE WiNNERS XCiTE BlaZe
allows DZN = MOTOGP.1080 MOTOGP.720 MLB NBA NFL NHL UEL UEFA UFC F1.720 F1.1080 WWE GAMES GAMES.MAC GAMES.Linux DOX DOX.DLC X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.RET.720 X264.RET.1080 X264.CLS.720 X264.CLS.1080 DIVX.LIM DIVX.RET DIVX.CLS TV.X264.DTV TV.X264.HDD TV.X264.SD TV.X264.WEB TV.X264.HDD.1080 TV.X264.DTV.1080 TV.X264.WEB.1080 TV.X264.WEB.SD TV.X264.DVD TV.X264.WEB TV.X264.WEB.2160 X265.RET.2160 X265.LIM.2160
banned DZN = -DARKSiDERS -STRIFE -WEBTUBE -LTU -PHOBOS -EXViD -VOMiT -FASiSO -FEET -I_KnoW -iNLAWS -PROPHET -PUSSYFOOT -W4F -YELLOWBiRD -SOAPBOX -PHASE -CRiMSON -OMiCRON -WaLMaRT -FAiLED -OmarMateen .S\dE\d.DVDRip. [._]PDTV[._-] [._]DSR[._-] -MEMENTO -OldSeasons


filter DZN = DOX.* = -BAT|CODEX|RELOADED|RAZOR1911|FLTDOX|SKIDROW|TiNYiSO
filter DZN = TV.X264.DVD = !DVDRIP
exempt DZN = TV.* = -QCF -C4TV EPL UEFA ^Boxing[._] ^Formula1[._]
exempt DZN = X264.* = 3D

moviegenre     DZN = DIVX.*     =
movieminyear   DZN = DIVX.*     = 1900
rating         DZN = DIVX.*     = 0.0 0 0


moviegenre     DZN = X264.*     = 
moviegenre     DZN = X265.*     = 
movieminyear   DZN = X264.*     = 1900
movieminyear   DZN = X265.*     = 1900
rating         DZN = X264.*     = 0.0 0 0
rating         DZN = X265.*     = 0.0 0 0

tvgenre        DZN = TV.*       = Scripted|Animation|Variety|Cartoon|Talkshow|Reality|Documentary|Sport|Gameshow|News|Teens|Sketch|Mini-Series
tvcountry      DZN = TV.*       = US|UK|CA


# Changelog:
#
# 150629 - Site added (shrike)
# 160509 - added TV.X264.WEB.SD (ohno)
# 160524 - added EiDER as affil (ohno)
# 160703 - Updated banned list (shrike)
# 161004 - changed movierules (ohno)
# 171218 - added x265 etc. (shrike)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
