############################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils E = DMT HOTiSO Replica WiiZARD XOR REFiNED
allows E = APPS_MAC GAMES GAMES.DVD DVDR.RET DVDR.LIM DIVX.R5 DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.TS DIVX.TC DIVX.LIM TV.DIVX.DSR TV.DIVX.DTV PSP XBOX360 WII
exempt E = Survivor The.Amazing.Race Iron.Chef.America Jay.Leno Conan.O.Brien The.Daily.Show ^UFC\. Ultimate.Fighter
banned E = $DSRDUPES PROPER.DTV.XVID-LOL DTV.XviD.PROPER-LOL -FpN PROPER.DTV.XVID-NoTV DTV.XviD.PROPER-NoTV PROPER.DTV.XVID-FQM DTV.XviD.PROPER-FQM DTV.PROPER.XviD-SORNY -SKIDROW -ViTALiTY -PreVail
filter E = TV.DIVX.DSR= !$UK-SERIES|$REALITY-N-CRAP
filter E = TV.DIVX.DTV= !$UK-SERIES|$REALITY-N-CRAP
filter E = WII=         !USA|NTSC

rating E = DVDR.LIM = 3.0 100 0

# Changelog:
#
# 051008 - Site added (acid)
# 060821 - Fixed APPS.MAC -> APPS_MAC to avoid triggering 'APPS' 
# 060902 - Fixed TV filter .. it's !$ not $! .. (shr)
# 060915 - Added ZN guest pre i guess (darkm) 
# 061220 - Updated sections/affils (baker)
# 070722 - Updated TV rules (shr)
# 080205 - Removed CLONE* (stealth)
# 080320 - Added REFiNED to affils _stealth_
# 080330 - Removed iMBT (stealth)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
