############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################
affils EAE = 2HD HAGGiS TwistedDesires KuKaS
allows EAE = APPS APPS.DVD APPS.MAC DIVX.RET DIVX.LIM GAMES GAMES.MAC XBOX360 PS3 X264.RET.1080 X264.RET.720 X264.LIM.720 TV.X264.DTV TV.X264.SD DOX XXX TV.X264.HDD TV.DOCU.SD TV.X264.DVD
banned EAE = .PSN.

movieminyear EAE = X264.* = 2011
movieminyear EAE = DIVX.* = 2011
movieminyear EAE = BLURAY.* = 2011

rating EAE = X264.RET.1080 = 1.0 0 1
rating EAE = X264.RET.720  = 1.0 0 1
rating EAE = X264.LIM.720  = 5.0 1000  1


rating EAE = DIVX.RET       = 0.0 0 1
rating EAE = DIVX.LIM       = 6.5 300 1

tvstartyear EAE = TV.X264.HDD = 2012
tvcountry   EAE      = TV.X264.SD  = UK|US
tvcountry   EAE      = TV.X264.DTV = UK|US
tvcountry   EAE      = TV.X264.HDD = US
tvcountry   EAE      = TV.X264.DVD = US|UK

filter EAE = GAMES     = -SKIDROW|-Razor1911|-FLT|-RELOADED|-CODEX
filter EAE = GAMES.MAC = -MONEY -ACTiVATED
filter EAE = DOX       = -SKIDROW|-RazorDOX|-FLTDOX|-RELOADED|-CODEX|-MONEY|-BAT
#filter EAE = XXX       = -Jiggly|-Pr0nStars|-PORNOLATION|.+GERMAN.*-KissMyDick|.+GERMAN.*-CHiKANi|.+GERMAN.*-TattooLovers
exempt EAE = XXX       = -DivXfacTory|-Pr0nStars|-PORNOLATION|-STARLETS|-CHiKANi|-XCiTE|-SWE6RUS|-VBT -SWE6RUS|-UPPERCUT


# Changelog:
#
# 120521 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
