##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils EC = BAT CYGiSO GAC SYS
allows EC = APPS APPS.Linux APPS.MAC DIVX.RET DiVX.R5 DIVX.SCR DIVX.LIM DVDR.LIM DOX DVDR.RET BOOKWARE GAMES PDA PS2DVD PSP TV.DIVX.DSR TV.DIVX.DTV XBOX360 XXX WII DOX.DLC
banned EC = ViTALiTY SWEDISH
filter EC = TV.DIVX.DTV= !$REALITY-N-CRAP
filter EC = TV.DIVX.DSR= !$REALITY-N-CRAP
filter EC = APPS= ^Premier|^SolidWorks|^Sophos|^Pand|^Siemens|^Ahead|^Adobe|^Apple|^Avid|^Borland|^Cakewalk|^Corel|^Macromedia|^Magix|^McAfee|^Microsoft|^Symantec|^Pinnacle|^PowerQuest|^Roxio|^Scansoft|^SPSS|^Steinberg|^Ulead|^Veritas|^VmWare|^Wolfram
filter EC = APPS.Linux= ^Premier|^SolidWorks|^Sophos|^Pand|^Siemens|^Ahead|^Adobe|^Apple|^Avid|^Borland|^Cakewalk|^Corel|^Macromedia|^Magix|^McAfee|^Microsoft|^Symantec|^Pinnacle|^PowerQuest|^Roxio|^Scansoft|^SPSS|^Steinberg|^Ulead|^Veritas|^VmWare|^Wolfra
filter EC = APPS.MAC= ^Premier|^SolidWorks|^Sophos|^Pand|^Siemens|^Ahead|^Adobe|^Apple|^Avid|^Borland|^Cakewalk|^Corel|^Macromedia|^Magix|^McAfee|^Microsoft|^Symantec|^Pinnacle|^PowerQuest|^Roxio|^Scansoft|^SPSS|^Steinberg|^Ulead|^Veritas|^VmWare|^Wolfram
filter EC = XXX= SWE6RUS|PORNOLATiON
filter EC = BOOKWARE= Lynda.com

# Changelog:
#
# 080105 - Site added (none)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
