##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ECD = 442 BooZerS BooZerS.SVCD CONSOLE DcN DzN EFTERLYST ISO Kin MaST3rS SC TCF TVL MRN NFR NOX CORRuPT
allows ECD = ANIME.Movies APPS APPS.Linux BOOKWARE DIVX.RET DVDR.RET GAMES GAMES.DVD GBA HENTAI.Movies PS2CD PS2DVD SVCD.RET SVCD.SCR SVCD.TS TV.DIVX.DTV TV.SVCD.DTV VCD.SCR VCD.TC VCD.TS VCD.WP XBOXDVD
banned ECD = PROPER -NATURAL -RiSCiSO -WiZiSO -WOYiSO
filter ECD = ANIME.Movies= SVCD SUBBED !OAV
filter ECD = HENTAI.Movies= SVCD SUBBED !OAV
filter ECD = BOOKWARE= CBT
#filter ECD = TV.DIVX.DTV= !$UK-SERIES !$REALITY-N-CRAP
#filter ECD = TV.DIVX.DTV= 24.S\d\d|5.Days.To.Midnight|Alias.S|Andromeda|Battlestar.Galactica|Boomtown|Boston.Legal|Carnivale|CSI|Centre.Of.The.Universe|Charmed|Cold.Case|Coupling|Deadwood|Desperate.Housewives|ER.S\d\d|Star.Trek.Enterprise|Everwood|Family.Guy|Ghost.Hunters|Gilmore.Girls|Hack|House|Huff|JAG|Joan.Of.Arcadia|Joey|Jeremiah|Kingdom.Hospital|Las.Vegas|Legend.of.Earth|Lost|Medical.Investigation|NCIS|Nip.Tuck|North.Shore|NYPD.Blue|One.Tree.Hill|Regenesis|The.4400|Scrubs|Simpsons.S\d\d|South.Park|Sopranos|Smallville|Stargate|The.Dead.Zone|The.District|The.Guardian|The.Mountain|The.O.C.|The.Secret.Life.Of.Us|The.Shield|Threat.Matrix|Ultimate.Force|Viva.La.Bam|Whoopi|Wild.Boyz|Without.A.Trace


# Changelog:
#
# YYMMDD - did some change (user)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed TV from affil (bourbon)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
