###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#affils EE = BAHAMUT EiSO EMX TNAN TvD KYR SUSHi XPA EXiMiUS pSyPSP
affils EE = 
allows EE = X264.DE.1080 TV.X264.DE
banned EE = 

filter EE = X264.DE.1080= [_.]DL[._-] !19[0-9][0-9]|200[0-6]
filter EE = DVDR.DE= !19[0-9][0-9]|200[0-7]

filter EE = TV.DIVX.DTV= ^CSI|^House|^Lost|^CALIFORNICATION|^Nip.Tuck|^Heroes
filter EE = TV.X264.DTV= ^CSI|^House|^Lost|^CALIFORNICATION|^Nip.Tuck|^Heroes 
filter EE = TV.DIVX.DE= ^CSI|^House|^Lost|^CALIFORNICATION|^Nip.Tuck|^Heroes|^EUREKA|^Desperdate.Housewifes|^My.Name.is.Earl
filter EE = TV.DIVX.DU.DE= ^CSI|^House|^Lost|^CALIFORNICATION|^Nip.Tuck|^Heroes|^EUREKA|^Desperdate.Housewifes|^My.Name.is.Earl
filter EE = TV.X264.DE= ^CSI|^House|^Lost|^CALIFORNICATION|^Nip.Tuck|^Heroes|^EUREKA|^Desperdate.Housewifes|^My.Name.is.Earl

rating               EE = X264.DE.1080 = 6.5 0 1
rating               EE = DVDR.DE = 6.5 0 1

# Changelog:
#
# 050628 - Site added (baker)
# 050831 - Added SUiCiDE to affils (shrike)
# 050918 - Updated Affils (baker)
# 051009 - Changed PORNOLATION => SWE6RUS (baker)
# 051128 - Updates affils and filter (axess)
# 060123 - added S01E01 to TV.DIVX.DTV filter (echo)
# 080715 - Added SUSHi to affils (dyna)
# 080728 - Removed RaDiuS (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
