affils = 4FR AMB3R BARGE BRiNK CODEPUNKS ISO KTR PUSSYCAT ReVOLVeR SKIDROW STEAMPUNKS Unleashed

groupblacklist = W4F CRiMSON QCF PFa OSiTV DEUTERiUM YesTV iNGOT LMAO SPRiNTER DEiMOS aAF Ryotox COUAC

rule MOVIES.BDR = MOVIES std bdr premiere:2015 group:(BAKED,BDMV,CBGB,LAZERS,MELBA,PCH,PiNKPANERS,TRUEDEF,USELESS,XORBiTANT,ZEST) limited stv

#TODO test filter:()
rule APPS = APPS std windows filter:(Microsoft,Ahead,Adobe,Ahead,Autodesk,Corel,Cyberlink,McAfee,Pinnacle,Symantec,Tomtom,Ulead,VMware)
rule GAMES = GAMES std windows group:(BAT,CODEX,FLT,RELOADED,SKiDROW,TiNYiSO)
rule DOX = DOX std windows group:(BAT,CODEX,FLT,RELOADED,SKiDROW,TiNYiSO)

rule TV.HDTV = TV hdtv x264 currentseason nw_us scripted std sd language:(English)
rule TV.DVDRIP = TV dvdrip nw_us airdate:2010 scripted std language:(English)
rule TV.720p = TV bdrip x264 720p currentseason nw_us airdate:2010 scripted std language:(English)
rule TV.720p = TV hdtv x264 720p currentseason nw_us airdate:2010 scripted std language:(English)

rule SPORTS = SPORTS 720p hdtv bluray web webrip ufc wwe std

rule MOVIES.1080p = MOVIES x264 1080p bluray group:(AMIABLE,DRONES,PSYCHD,Replica,SPARKS,BLOW) year:2015 std stdmovies cls

rule XXX = XXX x264 bdrip dvdrip group:(DivXfacTory,PORNOLATiON,Pr0nStarS,STARLETS,UPPERCUT) std


# NAME                     PATH
dir MOVIES.BDR       = /incoming/us/bluray
dir DOX              = /incoming/us/games
dir GAMES            = /incoming/us/games
dir NSW              = /incoming/us/nsw
dir TV.720p          = /incoming/us/tv-720
dir TV.HDTV          = /incoming/us/tv
dir TV.DVDRIP        = /incoming/us/tv
dir SPORTS           = /incoming/us/wrestling
dir APPS             = /incoming/us/apps
dir MOVIES.1080p     = /incoming/us/x264-1080
dir XXX              = /incoming/us/xxx          

Name = Elfa
Location = 10000Mbit
Country = nl
Size = 
ISP = 
Control = iND
Sitebans = 
Status = Up

