##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#affils ELS =
allows ELS = DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DVDR.RET SVCD.TS SVCD.TC VCD.SCR VCD.LIM VCD.WP GAMES GAMES.DVD APPS APPS.Linux APPS.MAC NORDIC TV.DIVX.DTV TV.DIVX.DSR
banned ELS = EiTiSO EUPHORiA EUPHORiA FTF OMA WOYiSO HS SHOWTiME Substance PHXiSO CRiMSON ADDICTION
filter ELS = NORDIC= SWEDISH SCREENER|DIVX|XVID|DVDR
filter ELS = NORDIC= SCREENER|XViD|DIVX|DVDR- SWEDISH !LIMITED.DVDR
# Changelog:
#
# 050531 - site added (orbith)
# 050927 - NAS added(orb)
# 050929 - Removed River (orb)
# 051120 - Removed mAven(orb)
# 051128 - Removed Bizzare (orb)
# 051124 - Removed NAS (orb)
# 051192 - Added TV.DIVX.DTV TV.DIVX.DSR (orb)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
