############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ELY = CiNEFiLE FLESHLiGHT TiMELORDS
allows ELY = APPS APPS.DVD APPS.Linux APPS.MAC CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.R5 DIVX.R5.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET DVDR.LIM GAMES NORDIC TV.DIVX.DTV TV.DIVX.DSR X264.RET.720 X264.LIM.720 XXX
banned ELY = -ADDONiA
filter ELY = APPS=         !$INDUSTRIAL
filter ELY = APPS.DVD=     !$INDUSTRIAL
filter ELY = APPS.Linux=   !$INDUSTRIAL
filter ELY = APPS.MAC=     !$INDUSTRIAL

filter ELY = X264.RET.720= !BD(5|9)
filter ELY = NORDIC= PAL.DVDR|DVDR.PAL|PAL.NORDIC.DVDR FINNISH|NORDIC
filter ELY = DIVX.R5= !LINE
filter ELY = DIVX.R5.LIM= !LINE
filter ELY = XXX= -FLESHLiGHT|-PORNOLATiON|-SWE6RUS|-XCiTE|-PLEASURE|-NYMPHO|-CiCXXX|-SLiEZE|-DivXfacTory|-DFA|-Pr0nStarS
filter ELY = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter ELY = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
#filter ELY = X264.RET.720= !BD5|!BD9

movieminyear           ELY = DIVX.RET=        2006
movieminyear           ELY = DIVX.LIM=        2006
movieminyear           ELY = DIVX.SCR=        2006
movieminyear           ELY = DIVX.SCR.LIM=    2006
movieminyear           ELY = DVDR.RET=        2006
movieminyear           ELY = DVDR.LIM=        2006
movieminyear           ELY = X264.RET.720=        2006
movieminyear           ELY = X264.LIM.720=    2006

moviegenre             ELY = DVDR.RET=    !Documentary
moviegenre             ELY = DVDR.LIM=    !Documentary

rating                 ELY = DIVX.RET =       5.0 0 0
rating                 ELY = DIVX.LIM=        5.0 0 0
rating                 ELY = DIVX.SCR=        5.0 0 0
rating                 ELY = DIVX.SCR.LIM=    5.0 0 0
rating                 ELY = DVDR.RET=        5.0 0 1
rating                 ELY = DVDR.LIM=        5.0 1000 1
rating                 ELY = NORDIC=          5.0 1000 1
rating                 ELY = X264.RET.720=        5.0 0 500
rating                 ELY = X264.LIM.720=    6.5 0 1

# Changelog:
#
# 070717 - Site added (me)
# 080430 - Modified (wader)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
