############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils EM = 
allows EM = APPS.DE WII XBOX360 PS3 DVDR.DE DVDR.RET GAMES GAMES.DE TV.DIVX.DE TV.X264.DE TV.DIVX.DTV TV.X264.DTV X264.RET.720 X264.RET.1080 X264.DE.720 X264.DE.1080 DIVX.DE DIVX.RET DIVX.TS DIVX.SCR DIVX.R5 XXX DIVX.DE.LD
banned EM = $INDUSTRIAL -TRANSFORMERS -PFD -OMP -HACO -OneUp -DOLLHEAD -PROPHET -SCEPTiCAL -THECLEANERS -CLEANER -ULTiMATEx264 -AiRWAVES -XMF -4TH -RORSCHACH -KDH -ANY1 -Bamboocha -FANiSO -bittrippers -MCG -TRexHD -HDi -TURKMP3 -HOMEMADE -OUZO -Homely -GVD
filter EM = APPS.DE= -RESTORE|-Substance|-CYGiSO|-ZWTiSO|-DVTiSO
exempt EM = APPS.DE= -RESTORE|-CYGiSO|-BIE
filter EM = DVDR.DE= -SoW|-ViDEOWELT|-KiNOWELT|-CRiTiCAL
filter EM = TV.DIVX.DE= -GTVG|-ITG|-SOF|-DELiCiOUS|-RSG|-idTV|-TVP
filter EM = TV.X264.DE= -GTVG|-euHD|-ZZGtv|-DELiCiOUS|-idTV|-TVP
filter EM = XXX= -DivXfacTory|-Pr0nStarS|-CHiKANi|-ESCORT|-CiCXXX|-NYMPHO|-VBT|-WDE|-CHiKANi
exempt EM = XXX= -DivXfacTory|-Pr0nStarS|-CHiKANi|-ESCORT|-CiCXXX|-NYMPHO|-VBT|-WDE|-CHiKANi


# Changelog:
#
# 101010 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
