############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils EN = TOPAZ REWARD
allows EN = WII XBOX360 X264.LIM.720 TV.X264.DTV TV.DIVX.DTV DIVX.RET DIVX.SCR DIVX.R5 DIVX.TC APPS X264.RET.720 TV.DIVX.DSR DIVX.LIM NDS GAMES DOX DOX.DLC
banned EN = ViTALiTY TomTom 
exempt EN = ^Top.Gear.S ^Fifth.Gear.S 

rating EN = X264.RET.720= 5.0 1000 0 
rating EN = X264.LIM.720 = 5.0 1000 1 
rating EN = DIVX.LIM= 6.5 500 1 

filter EN = Wii= !NTSC|USA 


tvcountry  EN = TV.DIVX.DSR       = US 
tvcountry  EN = TV.DIVX.DTV       = US 
tvcountry  EN = TV.X264.DTV       = US 
tvgenre    EN = TV.DIVX.DSR       = Scripted 
tvgenre    EN = TV.DIVX.DTV       = Scripted 
tvgenre    EN = TV.X264.DTV       = Scripted 
filter     EN = TV.*              = !$REALITY-N-CRAP|$UK-SERIES 

x264formats    EN = X264.*       = mkv 

# Changelog:
#
# 080128 - Site added (me)
# 080418 - Updated pci2 filters (who added them anyway!) (stealth)
# 080919 - Removed HD1080 from affils (dyna)
# 091222 - added rules for tvs (solar)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
