##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils EPA = ANiMOTiON BAVARiA GP MoF MPT MPTDVD MRN PreCiSiON RVF SUNiSO 
allows EPA = APPS DVDR.RET DVDR.SCR PS2DVD XBOXDVD SVCD.TS VCD.TS VCD.SCR XXX
banned EPA = 

filter EPA = XXX=-PORNOLATION|-Pr0nStars
filter EPA = APPS=Adobe|Autodesk|Borland|CakeWalk|Corel|Cyberlink|Jasc|Macromedia|Magix|McAfeee|Microsoft|Nero|Panda|Pinnacle|PowerQuest|Roxio|Symantec|Ulead|Veritas|Discreet
# Changelog:
#
# 050318 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
