# EPH

AFFILS = ADRENALiNE BRMP CookieMonster DoNE FiHTV FilmHD HAGGiS HAiDEAF iNGOT KETTLE MOROSE MTB PSYCHD QPEL RedBlade SEVENTWENTY SHORTBREHD TENEIGHTY WEBTUBE WEST WiDE

rule MOVIES = MOVIES bluray x264 720p 1080p internal std cls
rule MOVIES.BDRip = MOVIES bdrip x264 sd internal std cls
rule MOVIES.DVDRip = MOVIES dvdrip x264 sd internal std cls
rule MOVIES.2160p = MOVIES 2160p x264 x265 h264 h265 uhdrip stv web webrip limited internal std 
rule MOVIES.WEBRIP = MOVIES webrip web stv cls 720p 1080p language:(English) h264 h265 x264 x265 limited std
rule MOVIES.WEB = MOVIES webrip web stv cls 720p 1080p language:(English) h264 h265 x264 x265 limited std

rule TV = TV 720p hdtv web webrip h264 h265 x264 internal std dupesweb dupeshdtv language:(English)
rule TV = TV 1080p web webrip h264 h265 x264 internal std dupesweb dupeshdtv language:(English)
rule TV.2160P = TV 2160p web webrip h264 h265 x265 internal std dupesweb dupeshdtv language:(English)
rule TV.SD = TV hdtv h264 x264 web webrip internal sd std language:(English)
rule TV.BLURAY = TV 720p 1080p bluray internal std language:(English)
rule TV.BLURAY.2160p = TV 2160p uhdrip internal std language:(English)       
rule TV.BDRIP = TV bdrip dvdrip internal sd language:(English)
rule TV.DVDRIP = TV dvdrip internal sd language:(English)


# NAME           PATH
dir MOVIES                  = /incoming/movies-hd
dir MOVIES.BDRip            = /incoming/movies-sd
dir MOVIES.DVDRip           = /incoming/movies-sd
dir MOVIES.2160p            = /incoming/movies-uhd
dir MOVIES.WEB              = /incoming/movies-hd
dir MOVIES.webrip           = /incoming/movies-hd
dir TV                      = /incoming/tv-hd
dir TV.2160p                = /incoming/tv-uhd 
dir TV.SD                   = /incoming/tv-sd
dir TV.BLURAY               = /incoming/tv-hd-retail
dir TV.BLURAY.2160p         = /incoming/tv-uhd-retail 
dir TV.BDRip                = /incoming/tv-sd-retail 
dir TV.DVDRip               = /incoming/tv-sd-retail 
