##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ES-PRE = GWL CINEVCD RVL XPD XPDVD PANTHEON COBRA FiCO
allows ES-PRE = APPS.Linux APPS.DVD GERMAN DIVX.SCR DIVX.LIM SVCD.RET TV.DIVX.DTV
banned ES-PRE = $INDUSTRIAL NCRYSO
filter ES-PRE = TV.DIVX.DTV= ^24|^Alias|^Enterprise|Simpsons|^Stargate|^Scrubs
filter ES-PRE = APPS.Linux= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg
filter ES-PRE = APPS.DVD= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg


# Changelog:
#
# YYMMDD - Site added checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
