##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ES = Unleashed PANTHEON XPD XPDVD ITG POSTMORTEM EMPiRE Micronauts TiNYiSO SKIDROW CiCXXX
allows ES = APPS APPS.Linux APPS.DVD GAMES GAMES.DVD DIVX.R5 DIVX.RET DIVX.SCR DIVX.LIM TV.DIVX.DTV TV.DIVX.DE TV.DIVX.DU.DE TV.X264.DVD.DE GAMES.DE DIVX.DE DVDR.DE DIVX.DE.LD
banned ES = $INDUSTRIAL NCRYSO
filter ES = TV.DIVX.DTV= ^24|^Alias|^Enterprise|Simpsons|^Stargate|^Scrubs
filter ES = APPS= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg
filter ES = APPS.Linux= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg
filter ES = APPS.DVD= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg
# Changelog:
#
# 040806 - Site added (checker)
# Notice: German Sections not included yet..
# Added - APPS filter cause site doesnt allows indu, so add indugrps there (checker)
# 040818 - Added KIDDIE (checker)
# 040913 - Added PORNOLATiON to affils (checker)
# 040916 - KIDDIE REMOVED from allows (checker)
# 040918 - Added ADMITONE to affils (blade)
# 050828 - Renamed and updated (checker)
# 050903 - Added PANTHEON,NESSUNO to affils (baker)
# 060409 - Added SVCD.TS/TC to allows (checker)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
