############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ET = DiAMOND hV PROTOCOL REFiNED SCREAM TBE WiiERD XPRESS PROTOCOL RANT SHOCKiSO
allows ET = APPS APPS.DVD APPS.MAC DIVX.RET DIVX.LIM DIVX.R5 DIVX.R%.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD TV.X264.DTV WII X264.RET.1080 XBOX360 NDS
banned ET = -CPY -GOW -ViTALiTY -FASiSO ^Autodesk JTAG 3DS

#moviegenre             ET = DIVX.*           =
x264formats            ET = X264.*           = mkv 
rating                 ET = DVDR.LIM         = 7.5 500 1 
rating                 ET = DIVX.LIM         = 5.5 50 1 

movieminyear          ET = DIVX.RET=      2009 
movieminyear          ET = DIVX.LIM=      2009
movieminyear          ET = X264.*=        2009 

filter ET = APPS = !$INDUSTRIAL

filter       	       ET = GAMES*           = -FLT|-Razor1911|-RELOADED|-SKIDROW !Hoyle|Chess|Reel.Deal|Casino|Manga 
filter		       ET = XBOX360	     = !.JTAG.
# covered by general.cfg / code:
# rating for limited (0.0 0 1) is useless
# XBOX360 regions PAL|NTSC / rank PAL NTSC
# WII regions PAL


# Changelog:
#
# 080903 - Site added (dyna)
# 080903 - Added affils, allows, consoleregions (dyna)
# 080907 - Added divx.lim 1 screen rule, divx.scr, removed x264.ret.1080.lim
# 080909 - Fixed sections, added moviegenre (docu), added APPS.MAC, $INDUSTRIAL, removed covered filters... (shrike)
# 081129 - Added xxx allow (E.T.)
# 081202 - Removed -GOW and DIVX.SCR
# 090315 - XXX, NDS removed. NoTV removed. TV720 added (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
filter ET = APPS* = !CAD[._] 
