##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ETD = VideoCD maVen LDSXXX iV GimpDVD
allows ETD = APPS GAMES GAMES.RIP DOX CLONECD VCD.SCR SVCD.LIM SVCD.TS SVCD.RET DIVX.RET DVDR.RET TV.DIVX.DTV TV.DIVX.A TV.VCD XBOXDVD DOX.DLC
banned ETD = -SoSISO -OUTLAWS -REDEEM -FASiSO =FTF -ASZEON -UMS -MysticVCD -MaTinE
filter ETD = APPS= Adobe|Adaptec|Ahead|Wavefront|Autodesk|Borland|Corel|Cyberlink|Jasc|Macromedia|Microsoft|Norton|Pinnacle|Powerquest|Quark|Quicken|Roxio|Scansoft|Symantec|Ulead|Veritas|Vmware
#filter ETD = XXX= -PORNOLATION
filter ETD = TV.DIVX.DTV= ^24|^Alias|Charmed|Dead.Like|Enterprise|Everwood|^Everybody|Gilmore|^King|^Las.Vegas|Scrubs|Smallville|^Two.And
filter ETD = TV.DIVX.A= South.Park|Shield|Dead.Zone|Atlantis
filter ETD = TV.VCD= Enthusiasm|CSI|Simpsons|^Will.And
filter ETD = DVDR.RET= !PAL
filter ETD = XBOXDVD= !PAL
# Changelog:
#
# 040905 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
