############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils EVO = ANiHLS HOTiSO iNKiSO ISO METiS OPPAi QUASAR ZER0 ZWTiSO GLOBAL LOCAL ZRY
allows EVO = APPS APPS.Linux BOOKWARE GAMES DOX DIVX.RET DIVX.R5 DIVX.SCR DIVX.LIM TV.DIVX.DTV X264.RET.720 X264.LIM.720 X264.CLS.720 APPS.MAC DOX.DLC
banned EVO = -FASiSO|-iLG 

filter EVO = TV.DIVX.DTV= !$REALITY-N-CRAP

#rating      EVO = DIVX.LIM = 6.0 0 1 

tvgenre         EVO = TV.DIVX.DTV = Scripted
tvcountry       EVO = TV.DIVX.DTV = US

#movieminyear EVO = X264.RET.720 = 2008
#movieminyear EVO = X264.LIM.720 = 2008
#rating EVO = X264.LIM.720 = 5.0 500 1
#rating EVO = X264.CLS.720 = 5.0 1000 0
# Changelog:
#
# 100602 - Site added (blade)
# 112706 - added APPS.MAC to allows (rizza)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
