# EXN

affils = ADSR BD4U CADAVER CCT COJONUDO CRIMSON DVTiSO FQM GCMR GERUDO GLiMMER KNiSO LATENCY NORiTE ORENJi OVERTAKE PFa Playable Playdox PRELUDE QPEL SPOOKS TattooLovers TBE VALiS VEXHD WiNNiNG

groupblacklist = ANALYTiCS ANiURL WEBTUBE ANiHLS FEET TUSAHD ROFL ProPL REGRET DARKSiDERS DINOByTES SMACKs SoSISO XCODE DOGE I_KNOW iLLiTERATE ASSOCIATE
blacklist = WEEKLY[._]UPDATE UPDATE.\d+-BiFiSO UPDATE.\d+-JGTISO
groupwhitelist = CAFFEiNE

rule APPS = APPS group:(TBE,MAGNITUDE,ISO,DVTISO,BLZISO,CYGISO) std 

rule DOX = DOX group:(CODEX,CPY,RAZOR1911,RELOADED,PLAZA,TINYiSO,SKIDROW,RAZORDOX,BAT) std
rule GAMES = GAMES group:(CODEX,CPY,RAZOR1911,RELOADED,PLAZA,TINYiSO,SKIDROW) std

rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule TV = TV 720p 1080p nw_us nw_gb nw_ca nw_au nw_nz hdtv h264 web dupesweb dupeshdtv webrip x264 airdate:2019 currentseason animation Documentary variety Game-Show reality talk-show Scripted language:(English) std
rule TV = TV 720p 1080p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip x264 currentseason animation Documentary variety Game-Show reality talk-show Scripted language:(English) std 
rule TV.X264.BLURAY = TV 720p 1080p bluray language:(English) x264 animation Documentary variety Game-Show reality talk-show Scripted airdate:2018 std

rule SPORTS = SPORTS 720p 1080p dupesweb dupeshdtv hdtv h264 x264 web webrip f1 motogp k1 ufc wwe miscsport std

rule MOVIES = MOVIES bluray 720p 1080p x264 language:(English) limited stv cls std year:2010
rule MOVIES.2160p = MOVIES 2160p x265 limited language:(English) uhdrip std cls year:2010
rule MOVIES.BDR = MOVIES BDR limited language:(English) stv cls std year:2010
rule MOVIES.UHD = MOVIES UHD limited language:(English) stv cls std year:2010
rule MOVIES.WEBRIP = MOVIES webrip web 720p 1080p year:2010 language:(English) h264 x264 limited stv cls std 
rule MOVIES.WEB = MOVIES webrip web 720p 1080p year:2010 language:(English) h264 x264 limited stv cls std

rule XXX = XXX dvdrip bdrip x264 std

dir APPS                 = /race/apps
dir BOOKWARE             = /race/bookware
dir DOX                  = /race/games
dir GAMES                = /race/games
dir PS4                  = /race/games-ps4
dir NSW                  = /race/nsw
dir TV                   = /race/tv-hd
dir TV.SD                = /race/tv-sd
dir TV.BDRip             = /race/tv-dvdrip 
dir TV.DVDRip            = /race/tv-dvdrip           
dir TV.x264.BLURAY       = /race/tv-bluray   
dir SPORTS               = /race/sport-hd            
dir MOVIES               = /race/x264-hd
dir MOVIES.BDR           = /race/bluray
dir MOVIES.UHD           = /race/bluray-uhd
dir MOVIES.x264.SD       = /race/x264-sd
dir MOVIES.2160p         = /race/x265
dir MOVIES.webrip        = /race/x264-hd
dir MOVIES.WEB           = /race/x264-hd
dir XXX                  = /race/xxx-hd




