##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils F = HOTiSO SHORTBREHD
allows F = XXX PS3 GAMES DVDR.RET DVDR.LIM APPS APPS.Linux APPS.MAC PSP TV.DIVX.DTV WII X264.RET.1080 X264.RET.720 X264.LIM.1080 X264.LIM.720 XBOX360 DIVX.RET DIVX.LIM TV.X264.DTV
#banned F = 

filter F = XXX =  -NYMPHO$|-DIVXFACTORY|-PORNOLATiON|-Pr0nStarS|-SWE6RUS|-FLESHLIGHT
#exempt F = XXX =  -NYMPHO$|-DIVXFACTORY|-PORNOLATiON|-Pr0nStarS|-SWE6RUS|-FLESHLIGHT
rating F = X264.LIM.1080 = 6.0 500 1
rating F = X264.LIM.720  = 6.0 500 1
rating F = DIVX.LIM      = 6.0 500 1
rating F = DVDR.LIM      = 6.0 500 1

movieminyear   F = X264.* = 2008
movieminyear   F = DVDR.* = 2009
movieminyear   F = DIVX.* = 2009
consoleregions F = WII = PAL|NTSC
tvgenre        F = TV.X264.DTV = Scripted|Cartoon|Reality|Documentary 
tvgenre        F = TV.DIVX.DTV = Scripted|Cartoon|Reality|Documentary

# Changelog:
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
