##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils F1 = FULLBD HUNTEDONES PRONXXX
allows F1 = 3DS XBOX360 PS3 WIIU XXX TV.X264.HDD.1080 TV.X264.DTV.1080 TV.X264.DTV TV.X264.HDD TV.X264.DVD TV.X264.WEB.1080 TV.X264.WEB APPS APPS.MAC APPS.Linux BOOKWARE BLURAY.RET GAMES GAMES.Linux GAMES.MAC DOX DOX.DLC DIVX.RET DIVX.CLS DIVX.LIM X264.RET.720 X264.LIM.720 X264.CLS.720 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 X264.MUSIC.720 X264.MUSIC.1080
filter F1 = APPS= -BLZiSO|-CORE|-CYGiSO|-DVTiSO|-ENiGMA|-ISO|-MAGNiTUDE|-RESTORE|-TBE|-ZWTiSO|-SHooTERS|-TUTOR|-NEWiSO|-EMERGE|-rG|-kEISO|-XQZT
filter F1 = GAMES=  -PROPHET|-0x0007|-CPY|-CODEX|-RELOADED|-RAZOR1911|-FLT|-GENESIS|-SKIDROW|-POSTMORTEM|-TiNYiSO|-ENiGMA|-ACTiVATED|-STEAMPUNKS|-PLAZA|-HI2U  
banned F1 = -CRiMSON -FiHTV -RiO -TASTETV -W4F -WaLMaRT

# Changelog:
#
# 170808 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
