############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FAC = aAF aBD BiRDHOUSE BLIZZARD LAP PFa SEMTEX SEVENTWENTY TENEIGHTY TRUEDEF UNTOUCHABLES NOSCREENS HD4U
allows FAC = APPS APPS.MAC DVDR.RET DVDR.LIM GAMES PS3 WII XBOX360 TV.X264.HDD TV.DIVX.DTV TV.X264.DVD TV.X264.DTV X264.RET.720 X264.RET.1080 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 DIVX.RET DIVX.LIM DOX DOX.DLC

banned FAC = $INDUSTRIAL PSN
rating FAC = DVDR.LIM = 5.0 0 1
tvcountry    FAC = TV.X264.DTV         = US|UK
tvcountry    FAC = TV.DIVX.DTV         = US|UK
movieminyear FAC = DVDR.* = 2009
movieminyear FAC = DIVX.* = 2009
movieminyear FAC = X264.* = 2009
movieminyear           FAC = X264.CLS.720  = 1970
movieminyear           FAC = X264.CLS.1080 = 1970
movieminyear           FAC = X264.RET.720  = 2007
movieminyear           FAC = X264.RET.1080 = 2007
movieminyear           FAC = X264.LIM.720  = 2007
movieminyear           FAC = X264.LIM.1080 = 2007
rating                 FAC = X264.CLS.720  = 5.0 0 0
rating                 FAC = X264.CLS.1080 = 5.0 0 0
rating                 FAC = X264.LIM.1080 = 5.0 0 0
rating                 FAC = X264.LIM.720  = 5.0 0 0
rating                 FAC = DIVX.LIM      = 5.0 0 0
consoleallowregiondupe FAC = WII      = 1
consoleregions         FAC = WII           =          PAL|NTSC
