#############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FARM = BLOW COMPLEX DHD DUPLEX MONEY PORNOLATiON PSYCHD REWARD UNLIMITED VENOM
allows FARM = GAMES TV.X264.DTV DOX X264.RET.1080 XBOX360 PS3 DOX.DLC XBOX360.NTSC 3DS WIIU TV.X264.WEB PS4
banned FARM = -dumpTruck -COGENT -Walmart -iNLAWS -ADDONIA -COLLATERAL
#exempt FARM = ^History.Channel.*X264 ^National.Geographic.*x264 ^American Idol ^Hells.Kitchen.x264 ^Kitchen.Nightmare.*x264 ^Man.vs.Food.*x264 ^Mythbusters.*x264 ^Top.Gear.*x264 ^The.Ultimate.Fighter.*x264 ^UFC.*x264
filter FARM = GAMES = !.Puzzle.|GOTY|Hunting|Casino

movieminyear           FARM = DIVX.R5=      2011
movieminyear           FARM = DIVX.R5.LIM=  2011
movieminyear           FARM = DIVX.SCR=     2011
movieminyear           FARM = DIVX.SCR.LIM= 2011
movieminyear           FARM = X264.RET.1080= 2016

tvcountry              FARM = TV.X264.DTV   = US
#tvgenre                FARM = TV.X264.DTV   = Scripted|Animation|Cartoon

#rating                 FARM = X264.RET.720  = 0 0 500

# Changelog:
#
# 110727 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
