##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FC = ADX BBX CLONECD CVS FLiX GRPTAG JSpec KHG LDSXXX TV MONEY NAS RIZN S6 SMuT sUbZeRo TDA TDS TRAiLERPUNK TWCiSO VENOM STRiKE
allows FC = ANiME APPS DC DIVX.RET DVDR.RET DVDR.LIM GAMES GBA PS1 PS2 PS2DVD SVCD SVCD.SCR TC TRAILERS TV.VCD VCD.LIM VCD.SCR XBOXDVD

# Changelog:
#
# 040820 - Site added (shrike) - NOT DONE YET
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
