##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#affils FE =
allows FE = APPS APPS.DVD APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM TV.DIVX.DTV VCD.SCR VCD.SCR.LIM VCD.TC VCD.TC.LIM VCD.TS VCD.TS.LIM XBOXDVD
filter FE = APPS= -MAGNITUDE|-MaGE|-ISO|-PANTHEON|-QUANTUM|-RiSE|-ZWTiSO|-SHOCKiSO|-TBE|-TDA
filter FE = APPS.DVD= -MAGNITUDE|-MaGE|-ISO|-PANTHEON|-QUANTUM|-RiSE|-ZWTiSO|-SHOCKiSO|-TBE|-TDA
filter FE = APPS.Linux= -MAGNITUDE|-MaGE|-ISO|-PANTHEON|-QUANTUM|-RiSE|-ZWTiSO|-SHOCKiSO|-TBE|-TDA
filter FE = TV.X264.DVD= ^24|Enterprise|^Stargate

# Changelog:
#
# 040806 - Site added (checker)
# 040822 - Updated alot of stuff (wader)
# 040927 - Removed TV from allows (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
