############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FG = STRiKE SCREAM SPARE XPDVD DoNE WiiZARD iMBT
allows FG = APPS APPS.DVD DIVX.RET DIVX.SCR DIVX.TC DIVX.TS DIVX.LIM DIVX.SCR.LIM DIVX.R5 DVDR.RET SVCD.TC XXX GAMES GAMES.DVD PS2DVD XBOXDVD TV.DIVX.DTV TV.DIVX.DSR XBOX360
banned FG = $DSRDUPES $INDUSTRIAL -HiQT

filter FG = APPS=        Adobe|^Ahead|Borland|Cyberlink|^Jasc|Macromedia|^Magix|McAfee|Microsoft|Pinnacle|Roxio|Symantec|Ulead
filter FG = APPS.DVD=    Adobe|^Ahead|Borland|Cyberlink|^Jasc|Macromedia|^Magix|McAfee|Microsoft|Pinnacle|Roxio|Symantec|Ulead

filter FG = XXX=         -Pr0nStarS

filter FG = TV.DIVX.DTV= !$UK-SERIES|$REALITY-N-CRAP
filter FG = TV.DIVX.DSR= Blade|Eureka|The.4400|Psych|Stargate.SG-1

filter FG = CLONECD=     ![._]SF.*Clone|[._]SF.*Cure
filter FG = CLONEDVD=    ![._]SF.*Clone|[._]SF.*Cure

# Changelog:
#
# 060807 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
