############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FI = 
allows FI = XXX
banned FI = TEST -ViLLAiN -FALAFEL
filter FI = XXX= .
exempt FI = XXX= . 

# Changelog:
#
# 070118 - Site added (blade)
# 070121 - Added PSP section (stealth)
# 070124 - updated the hell out of it (baker)
# 070226 - Added affils (EMPiRE) and sections (DE) (stealth)
# 070418 - removed added PreCiSiON (stealth)
# 070512 - PORNOLATiON allowed (stealth)
# 070908 - updated affils (stealth)
# 071214 - xxx sec temp off (sparky)
# 080110 - removed septic (stealth)
# 080126 - added tv.x264 allows (conky)
# 080418 - added x264 year filter + pci2 filters (stealth)
# 100219 - new fi..old ones gone (blade)
# 270311 - added CiCXXX
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
