###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FiVE-PRE = FFNDVD FiCO FiNaLe iMBT PreVail PuRE QiX TVEP WAT XiSO PROMiSE FTP FRAGMENT
#allows FiVE-PRE = 
#banned FiVE-PRE = 

# Changelog:
#
# 051113 - Site added (darkm)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
