##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FL = AMIABLE SWAG SYS VENOM
allows FL = TV.DIVX.DTV DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM XBOX360 DIVX.R5 X264.RET.720 TV.X264.DTV PSP PS3
banned FL = ^Funny.or.Die.Presents.S\d

filter FL = TV.DIVX.DTV= !$REALITY-N-CRAP
filter FL = TV.X264.DTV= !$REALITY-N-CRAP

exempt FL = TV.DIVX.DTV = ^Top.Gear|^Survivor.S 

movieminyear FL = DIVX.* = 2009 
movieminyear FL = X264.* = 2009

#docu's are ok
moviegenre             FL = DIVX.RET=
moviegenre             FL = DIVX.LIM=
moviegenre             FL = DIVX.R5=
moviegenre             FL = DIVX.R5.LIM=
moviegenre             FL = DIVX.SCR=
moviegenre             FL = DIVX.SCR.LIM=
moviegenre             FL = DIVX.TC=

# Changelog:
#
# 050426 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
