##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FNF = RiVER OH Pv VCDCentral
allows FNF = SVCD.RET DIVX.RET TV.DIVX.DTV DIVX.SCR GAMES GAMES.DVD
banned FNF = -FASiSO -MiRAGETV -PHXiSO -HS -DownLink

# Changelog:
#
# 050126 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
