############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FOE = CONDITION DivXfacTory DVTiSO SKIDROW TiNYiSO STARLETS HOTiSO MACHD ARROW iNKiSO MACRO AFFECTION SiNNERS AMIABLE
allows FOE = X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 APPS APPS.MAC GAMES NORDIC XBOX360 WII PSP NDS XXX DVDR.RET DVDR.LIM TV.X264.DTV TV.DIVX.DTV DIVX.RET DIVX.R5 DIVX.SCR DIVX.LIM TV.BDRIP TV.X264.HDD 

filter FOE = WII= !NTSC|USA 
filter FOE = XXX= SWE6RUS|FLESHLiGHT|PORNOLATiON 
exempt FOE = XXX= -PORNOLATiON|-SWE6RUS|-FLESHLiGHT

banned FOE = $INDUSTRIAL AUTODESK 

tvcountry FOE = TV.DIVX.* = US 
tvgenre   FOE = TV.DIVX.* = Scripted 
filter    FOE = TV.DIVX.* = !$REALITY-N-CRAP|$UK-SERIES 

rating  FOE = DIVX.LIM = 5.0 1000 0 
rating  FOE = DVDR.LIM = 5.0 1000 0 
rating  FOE = X264.CLS.720  = 7.0 1000 0 
rating  FOE = X264.CLS.1080 = 7.0 1000 0

movieminyear FOE = X264.RET.720 = 2008 
movieminyear FOE = X264.LIM.720 = 2008
movieminyear FOE = X264.CLS.720 = 1980
movieminyear FOE = X264.RET.1080 = 2008 
movieminyear FOE = X264.LIM.1080 = 2008 
movieminyear FOE = X264.CLS.1080 = 1980


# Changelog:
#
# 080715 - updated affils (dyna)
# 091109 - affils: -HH -MOMENT -MRN -SUBTiTLES +SKIDROW -BestHD -MOTION (dyna)
# 100203 - allows updated (blade)
# 100605 - fixed allows and rating for X264.RET.720 as its not 7.0+ 1000v cuz its for classic so added classic allows for 720p (solar) 
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
