##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FORT-PRE = BOHiCA Carbon CTU DARKZONE ENViOUS FQM GR0GG HLS HuBBaTiX iNCiTE NmG OH PlayTime REMAX SQC STiNKER TNS TWiST VH-PROD W3D  
#allows FORT-PRE = 
#banned FORT-PRE = 

# Changelog:
#
# YYMMDD - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
