############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FR = DoNE STRiKE Pr0nStarS TBE TGP
allows FR = APPS APPS.DVD APPS.MAC APPS.Linux DIVX.LIM DIVX.RET DIVX.SCR DIVX.SCR.LIM GAMES GAMES.DVD DVDR.RET PSP XBOX360 PS2DVD TV.DIVX.DTV TV.DIVX.DSR
banned FR = $DSRDUPES FASiSO GLAMOURY DETONATiON RECHARCHED

filter FR = APPS=        !$INDUSTRIAL Adobe|Ahead|Borland|Cyberlink|Macromedia|Magix|McAfee|Microsoft|Pinnacle|Roxio|Symantec|Ulead|Jasc
filter FR = APPS.DVD=    !$INDUSTRIAL Adobe|Ahead|Borland|Cyberlink|Macromedia|Magix|McAfee|Microsoft|Pinnacle|Roxio|Symantec|Ulead|Jasc
filter FR = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter FR = TV.DIVX.DSR= South.Park|Eureka|The.4400

# Changelog:
#
# 060903 - Site added (me)
# 060928 - Added sections and affils (schulz)
# 070210 - Updated (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
