keyword GAME-GROUPS-FR = BAZOOKA
#keyword TV-GROUPS-FR   = 
keyword UTIL-GROUPS-FR = N0NE ECZ DVTiSO
keyword X264-GROUPS-FR = FHD ForceBlue FFG WHATELSE MAGiCAL NERD NERDHD

rule APPS.FR  = util         = $UTIL-GROUPS-FR \.FRENCH[.-]
rule GAMES.FR = games.fr     = $GAME-GROUPS-FR \.FRENCH[.-]
rule DVDR.FR  = dvdr.fr      = \.FRENCH[.-]|\.DL[.-] \.DVDR[.-] !\.TC\. !TELECINE !19\d\d !200[0-5] !MAGE !\.OVA\. !\.EP\d\d !\.EPS\. !HDTV !PDTV ![._]Vol[\d._] ![._]DISC\d[._] !S[0-2]\d!\d !S\d.D\d !TUTORIAL !XXX !TRAINING 
rule DIVX.FR  = divx.fr      = \.FRENCH[.-]|\.DL[.-] \.DVD|\.BDRiP \.DIVX|\.XVID ![_.]MD[._-]|[_.]Mic[._-] ![_.]LD[._-]|[_.]Line[._-] !19\d\d !200[0-5] ![._]TV[._] !$TVEP ![._]Vol[\d._] !HDTV !PDTV !S[0-2]\d!\d !XXX 
rule X264.FR  = x264.fr      = \.FRENCH[.-]|\.DL[.-] \.X264[.-] \.720p[.-]|\.1080p[.-] !$TVEP !XXX
rule DIVX.FR.LD = divx.fr.ld = [_.]LD[._-]|[_.]Line[._-] \.FRENCH[.-]|\.DL[.-] \.DIVX|\.XVID !19\d\d !200[0-5] ![._]TV[._] !\.OVA\. !$TVEP !HDTV !PDTV !S[0-2]\d!\d !XXX
rule DIVX.Fr.MD = divx.fr.ld = [_.]MD[._-]|[_.]Mic[._-] \.FRENCH[.-]|\.DL[.-] \.DIVX|\.XVID !19\d\d !200[0-5] ![._]TV[._] !\.OVA\. !$TVEP !HDTV !PDTV !S[0-2]\d!\d !XXX
rule TV.DIVX.DU.FR = tv.fr      = $TVEP \.DL[.-]|\.FRENCH[.-] \.DUBBED\. 
rule TV.X264.DVD.FR = tv.dvd.fr = $TVEP \.DL[.-]|\.FRENCH[.-] DVDRip.XviD 
rule TV.DIVX.FR = tv.fr         = $TVEP \.SATRip[.-] \.FRENCH[.-]
rule TV.X264.FR = tv.x264.fr         = $TVEP \.FRENCH[.-] 
rule XXX.FR   = xxx.fr       = XXX \.FRENCH[.-]

