##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils FT = BAKED BLOW COCAIN CODEX EVOLVE FAKE MAGNiTUDE PCH Replica SNOW STRiKE SUSHi TBE
allows FT = APPS APPS.Linux APPS.MAC APPS.DVD GAMES GAMES.MAC GAMES.LINUX XBOX360 WIIU DIVX.RET DIVX.LIM X264.RET.720 X264.MUSIC.720 X264.LIM.720 TV.X264.DTV TV.X264.WEB DOX PS3 DOX.DLC X264.RET.1080 X264.LIM.1080 TV.X264.DTV.1080
banned FT = -W4F -SKIDROW -BIE -BIOSHOCK -EXViD -RUINS -VoMIT -ViTALiTY -JAGUAR -FLEET -DOGE -TiNYiSO -PROPHET


filter          FT = TV.X264.DTV.1080 = !.vs.
filter          FT = GAMES        = -Razor1911|-HI2U||-RELOADED|-FLT|-SKIDROW|-MONEY|-ACTiVATED|-PLAZA
filter          FT = DOX          = -PLAZA|-RELOADED|-FLTDOX|-RazorDOX|-HI2U|-BAT

movieminyear    FT = DIVX.*       = 2014
movieminyear    FT = X264.*       = 2014

rating          FT = DIVX.*     = 0.0 0 1
rating          FT = X264.RET.* = 0.0 0 1
rating          FT = X264.LIM.* = 5.0 500 1

tvgenre         FT = TV.*          = Scripted
tvcountry       FT = TV.*          = US|CA


# Changelog:
#
# 140430 - Site added (ohno)
# 140502 - added COCAIn/BLOW (ohno)
# 160131 - updated affils and added skip filter on sports (.vs.) for tv 1080p (default)
# 160518 - added PLAZA as allowed (ohno)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
