############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FTF = BAND1D0S BRAVERY CHiKANi CiNEFiLE KuKaS RESPAWN RUSTED SHORTBREHD
allows FTF = TV.X264.DTV TV.X264.DTV.1080 XBOX360 PS3 WII X264.RET.720 X264.LIM.720 DIVX.RET DIVX.LIM GAMES GAMES.MAC XXX
banned FTF = 

tvcountry           FTF = TV.X264.DTV = US|CA|UK
movieminyear        FTF = X264.*       = 2011
movieminyear        FTF = DIVX.*       = 2011 

rating FTF = X264.*.720 = 0.0 0 1
rating FTF = DIVX.*     = 0.0 0 1

filter FTF = XXX        = -Pr0nStarS|-VBT|-TEASER

filter FTF = TV.X264.DTV.1080 = -DIMENSION|-BATV|-BRISK|-SERIOUSLY

# Changelog:
#
# 140416 - Site added (me)
# 140421 - removed VETO (ohno)
# 150603 - Updated * (dyna)
# 160201 - added BRAVERY as affil (ohno)
# 160210 - added YELLOWBiRD (ohno)
# 160414 - removed sadpanda (ohno)
# 160429 - added RUSTED (ohno)
# 160504 - added rules movies (ohno)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
