############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FTT = MAGNiTUDE EVOLVE CBGB SUSHi LAZERS STRiKE CODEX
allows FTT = APPS APPS.Linux APPS.MAC APPS.DVD GAMES GAMES.MAC XBOX360 WII DIVX.RET DIVX.LIM X264.RET.720 X264.LIM.720 TV.X264.DTV DOX PS3 DOX.DLC X264.RET.1080 X264.LIM.1080
banned FTT = -SKIDROW -BIE -BIOSHOCK -EXViD -RUINS -VoMIT -ViTALiTY -JAGUAR


filter          FTT = GAMES        = -Razor1911|-RELOADED|-FLT|-SKIDROW|-MONEY

movieminyear    FTT = DIVX.*       = 2010
movieminyear    FTT = X264.*       = 2010

rating          FTT = X264.LIM.* = 5.0 500 0

tvgenre         FTT = TV.X264.DTV  = Scripted|Animation
tvcountry       FTT = TV.*          = US|CA


# Changelog:
#
# 120118 - Site added (solar)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
