############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils FV = 2HD SEMTEX COMPLEX DUPLEX PSYCHD EVOLVE
allows FV = GAMES PSP TV.X264.DTV TV.DIVX.DTV TV.X264.DVD WII X264.RET.720 X264.LIM.720 PS3 XBOX360 DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR TV.X264.HDD
banned FV = ViTALiTY PROPHET CPY FASiSO .PSN.

rating FV = X264.LIM.720    = 5.0 0 1

x264formats             FV = X264.*       = mkv
filter FV = PS3 = !USA
filter FV = DIVX.LIM    = !Festival
tvcountry FV = TV.* = US
tvgenre     FV = TV.DIVX.DTV   = Scripted|Reality
tvgenre     FV = TV.X264.DTV   = Scripted
movieminyear    FV = X264.RET.720 = 2009
movieminyear    FV = X264.CLS.720 = 1990
movieminyear    FV = X264.LIM.720 = 2009
rating          FV = X264.CLS.720 = 7.0 1000 0
rating          FV = X264.LIM.720 = 5.0 500 1
rating          FV = DIVX.LIM     = 0.0 0 0

# Changelog:
#
# 100731 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
