############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils G1 = 
allows G1 = DIVX.RET DIVX.LIM.RET TV.X264.DTV X264.RET.720 X264.LIM.720 XBOX360 DIVX.SCR DIVX.R5
banned G1 = -viTALiTY -WaLMaRT -FASiSO -VoMiT -SACRED
movieminyear         G1 = X264.*       = 2008
movieminyear         G1 = DIVX.*       = 2008
rating               G1 = X264.LIM.720 = 5.0 600 0
rating               G1 = DIVX.LIM = 5.0 600 0 
tvcountry            G1 = TV.*         = US
tvgenre              G1 = TV.*         = Scripted

# Changelog:
#
# 091222 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
