groupblacklist = STRiFE

rule TV = TV 720p 1080p 2160p x264 h264 h265 x265 web webrip scripted nw_us currentseason language:(English) std
rule TV = TV 720p 1080p 2160p x264 h264 h265 x265 web webrip scripted network:(amazon,netflix,youtube,youtube-premium) currentseason language:(English) std
rule TV.BLURAY = TV 1080p 2160p x264 x265 bluray std
rule TV.UHDRip = TV 1080p 2160p x264 x265 uhdrip std
rule MOVIES.X264 = MOVIES 1080p x264 bluray year:2010 rating:5 votes:1000 limited lrating:5 lvotes:1000 language:(English) std stdmovies cls
rule MOVIES.X265 = MOVIES UHDRip 2160p x265 year:1900 language:(English) std limited stv stdmovies cls
rule MOVIES.UHD = MOVIES UHD year:2017 rating:5 votes:5000 language:(English) std stdmovies
rule GAMES = GAMES windows mac std
rule DOX = DOX windows mac std
rule PS4 = PS4 pal rf dupesNTSC dupesJPN std

 # NAME                    PATH
dir DOX            = /incoming/dox
dir GAMES          = /incoming/games
dir MOVIES.UHD     = /incoming/x265-complete
dir MOVIES.x264    = /incoming/x264
dir MOVIES.x265    = /incoming/x265
dir PS4            = /incoming/ps4
dir TV             = /incoming/tv-hd
dir TV.BLURAY      = /incoming/tv-bd
dir TV.UHDRip      = /incoming/tv-bd
