############################################################################################################################
# GERMAN rules #
#
# Heroes.S03E05.Engel.und.Monster.GERMAN.DUBBED.720p.BLURAY.x264-ZZGtv
# .HDTVRip.XviD-GTVG
keyword GAME-GROUPS-DE 		= -0x0007 -Bamboocha -FASiSO -POSTMORTEM -GENESIS -1C
keyword UTIL-GROUPS-DE 		= -RESTORE -CYGiSO -BLZiSO -DVTISO
keyword CINE-GROUPS-DE 		= -PsO -RELiABLE -DiRTYDUB -ENTiCEMENT -PiXELHD
keyword BOOKWARE-GROUPS-DE	= -PANTHEON -EMERGE
keyword TVEP-DE			= S{2,3}E{2,3}|E\d{1,3}

rule DE.X264			=	DE.X264		=	GERMAN 720p.BluRay.x264 ![-.]DOKU[-.] !$TVEP ![-.]XXX[-.] ![-.]COMPLETE[-.] ![._](LD|MD|Mic|Line|AC3[._]Dubbed|TELESYNC|TS|TC|TELECINE|CAM|DUBBED)[._] ![-.]AVC-
rule DE.X264.1080P		=	DE.X264.1080P	=	GERMAN 1080p.BluRay.x264 ![-.]DOKU[-.] !$TVEP ![-.]XXX[-.] ![-.]COMPLETE[-.] ![-.]AVC-
rule DE.X264.SD			=	DE.X264.SD	=	GERMAN x264 ![-.]DOKU[-.] !$TVEP ![-.]XXX[-.] ![-.]COMPLETE[-.] ![-.]720p[-.] ![-.]1080p[-.] ![-.]2160p[-.] ![-.]AVC-
rule DE.CINE.SD			= 	DE.CINE.SD	=	[-.]GERMAN[-.] [._](LD|MD|Mic|Line|AC3[._]Dubbed|TELESYNC|TS|TC|TELECINE|CAM|DUBBED)[._] $CINE-GROUPS-DE !720p !1080p !$TVEP
rule DE.CINE.HD			=	DE.CINE.HD	=	[-.]GERMAN[-.] [._](LD|MD|Mic|Line|AC3[._]Dubbed|TELESYNC|TS|TC|TELECINE|CAM|DUBBED)[._].*(720p|1080p) $CINE-GROUPS-DE !$TVEP
rule DE.DVDR			=	DE.DVDR		=	[-.]GERMAN[-.] [-.]PAL[-.] ![-.]720p[-.] ![-.]1080p[-.] ![-.]x264[-.] ![-.]DOKU[-.] !$TVEP ![-.]XXX[-.]
rule DE.DOKU.SD			=	DE.DOKU.SD	=	[-.]GERMAN[-.] [-.]DOKU[-.] ![-.]COMPLETE[-.] ![-.]720p[-.] ![-.]1080p[-.] ![-.]XXX[-.]
rule DE.DOKU.HD			=	DE.DOKU.HD	=	[-.]GERMAN[-.] [-.]DOKU[-.] (720p|1080p) ![-.]COMPLETE[-.] ![-.]XXX[-.]
rule DE.TV.SD			=	DE.TV.SD	=	$TVEP-DE [-.]GERMAN[-.] ![-.]COMPLETE[-.] ![-.]720p[-.] ![-.]1080p[-.] ![-.]2160p[-.] ![-.]XXX[-.] ![-.]DOKU[-.] !-BaCKToRG
rule DE.TV			=	DE.TV		= 	$TVEP-DE [-.]GERMAN[-.] [-.]720p[-.] ![-.]COMPLETE[-.] ![-.]1080p[-.] ![-.]XXX[-.] ![-.]DOKU[-.] !-BaCKToRG
rule DE.TV.1080P		=	DE.TV.1080P	= 	$TVEP-DE [-.]GERMAN[-.] [-.]1080p[-.] ![-.]COMPLETE[-.] ![-.]720p[-.] ![-.]XXX[-.] ![-.]DOKU[-.] !-BaCKToRG
rule DE.UTIL			=	DE.UTIL		=	GERMAN $UTIL-GROUPS-DE !PSD.Tutorials.*-BLZISO !Pavel.Kaplun.*-BLZISO
rule DE.BOOKWARE		=	DE.BOOKWARE	=	GERMAN $BOOKWARE-GROUPS-DE !PSD.Tutorials.*-BLZISO !Pavel.Kaplun.*-BLZISO
rule DE.SUBBED			=	DE.SUBBED	=	-BaCKToRG
rule DE.ANIME.SD		=	DE.ANIME.SD	=	[-.]GERMAN[-.] [-.]ANIME[-.] ![-.]COMPLETE[-.] ![-.]720p[-.] ![-.]1080p[-.] ![-.]XXX[-.] ![-.]DOKU[-.]
rule DE.ANIME.HD		=	DE.ANIME.HD	=	[-.]GERMAN[-.] [-.]ANIME[-.] [-.]720p[-.] [-.]1080p[-.]
rule DE.AVC			=	DE.AVC		=	[-.]GERMAN[-.] [-.](720p|1080p)[-.] [-.]AVC-


