############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils GH2 = BestDVD BiA c0nFuSed CFE FLESHLiGHT NEPTUNE SWAG SYH TBE VATOS ZRY QUASAR
allows GH2 = APPS APPS.DVD APPS.LINUX DIVX.RET DIVX.LIM DIVX.SCR DIVX.TS DIVX.TC DIVX.SCR.LIM DIVX.TS.LIM DIVX.TC.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD WII DIVX.R5 GAMES.DE DIVX.DE DVDR.DE DIVX.DE.LD TV.DIVX.DTV TV.X264.DTV DIVX.R5.LIM X264.LIM.720 X264.RET.720
filter GH2 = TV.X264.DTV= Prison.Break.S\d|^Heroes.S\d|^Breaking.Bad.S\d|^Psych.S\d|^Weeds.S\d
filter GH2 = TV.DIVX.DTV= Prison.Break.S\d|^Heroes.S\d|^Breaking.Bad.S\d|^Psych.S\d|^Weeds.S\d
banned GH2 = $INDUSTRIAL -SKIDROW -ViTALiTY -RHI
filter GH2 = APPS= -TBE|-ZWTiSO|-ISO|Adobe|Borland|Corel|Cubase|McAfee|Macromedia|Microsoft|Norton|Roxio|Steinberg|Symantec|TomTom|Ulead|Vmware|Discreet|Pinnacle|Klicktel|DInfo
filter GH2 = APPS.DVD= -TBE|-ZWTiSO|-ISO|Adobe|Borland|Corel|Cubase|McAfee|Macromedia|Microsoft|Norton|Roxio|Steinberg|Symantec|TomTom|Ulead|Vmware|Discreet|Pinnacle|Klicktel|DInfo
filter GH2 = APPS.LINUX= -TBE|-ZWTiSO|-ISO|Adobe|Borland|Corel|Cubase|McAfee|Macromedia|Microsoft|Norton|Roxio|Steinberg|Symantec|TomTom|Ulead|Vmware|Discreet|Pinnacle|Klicktel|DInfo
#filter GH2 = XXX= -Pr0nStarS
filter GH2 = WII= !USA|NTSC
rating GH2 = DVDR.LIM= 6.0 0 1
movieminyear GH2 = X264.* = 2006
movieminyear GH2 = DVDR.RET= 2006
movieminyear GH2 = DVDR.LIM= 2006
x264formats GH2 = X264.* = mkv
# Changelog:
#
# 070209 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
