############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils GJ = 2HD CRiMSON SNM SoSISO TVFF UNiVERSAL LRC APATHY
allows GJ = CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR DIVX.TC DIVX.TS GAMES PS2DVD TV.DIVX.HR TV.DIVX.DTV XBOX360 XBOXDVD XXX DVDR.RET
filter GJ = XXX= -Pr0nStarS
#filter GJ = TV.DIVX.DTV = !$REALITY-N-CRAP
#filter GJ = TV.DIVX.HR = !$REALITY-N-CRAP
filter GJ = CLONECD= -PROCYON
filter GJ = CLONEDVD= -PROCYON
banned GJ = $REALITY-N-CRAP
exempt GJ = ^Cops ^American.Idol ^Punkd Daily.Show Colbert.Report Comedy.Central
# Changelog:
#
# 070510 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
