############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils GOH = ACCiDENT BLOW xDIMENSION xLOL MTB PCH PLAZA PSYCHD Replica REWARD STRANGE WiiERD
allows GOH = BOOKWARE BLURAY.RET BLURAY.LIM BLURAY.CLS GAMES GAMES.MAC DOX DIVX.RET DIVX.LIM X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 TV.X264.DTV XBOX360 WII SE.X264.720 SE.X264.1080
banned GOH = -DIMENSION -LOL -BRISK -AVS720 -C4TV -COMPRISED -DASH -FASiSO -FEET -FLEET -iMARS -JWARE -Lz0 -NORiTE -OEM1080 -REGRET -SOAPBOX -SQUEAK -TUSAHD -VoMiT -W4F

filter GOH = Wii= !USA|NTSC 

filter GOH = BLURAY.* = -LAZERS|-TRUEDEF|-BAKED|-CBGB

filter GOH = GAMES.MAC=  -ACTiVATED|-MONEY
#filter GOH = BOOKWARE=       !ARTBEATS|3DSMAX|MAYA|SOFTIMAGE|CINEMA4D|ADOBE|PHOTOSHOP|DIGITAL.JUICE|FINAL.CUT|Graphic.Authority|TOTAL.TRAINING|DIGITAL.TUTOR|ANIMATING|CHARACTERS

tvcountry GOH = TV.X264.DTV = US|UK 

consoleregions         GOH = XBOX360      = PAL|NTSC 
consoleregionrank      GOH = XBOX360      = PAL NTSC 

movieminyear           GOH = DIVX.*     = 2010
movieminyear           GOH = X264.*     = 2010

#imdb top 250
rating GOH = X264.RET.* = 0.0 0 1
rating GOH = X264.LIM.* = 0.0 0 1
rating GOH = DIVX.*     = 0.0 0 1


# Changelog:
#
# 080618 - Site added (me)
# 080618 - Added wii filter (stealth)
# 151206 - updated affils (default)
# 151211 - added rule for wide x264.1080 (default)
# 160112 - added grp filter for bluray (default)
# 160306 - deleted CPY from banned grps (default)
# 160323 - removed cls from allowedlist (ohno)
# 160503 - changed movie rules (ohno)
# 160514 - added BRISK in banned (default)
# 169517 - added divx rules (ohno)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
