# GP

AFFILS = ACTiVATED CBGB CODEPUNKS CODEX COMPLEX CPY DiAMOND EDHD EMERALD GRiP kEISO MORiTZ OMFUG PACT PORNOLATiON PROTOCOL Quasar RiDWARE SAPHiRE TOPAZ TRSI VETO

groupblacklist = BRiNK C4TV CBFM CCT CiELOS COMPRISED DARKFLiX DARKSiDERS DEADPOOL FCC FERiCE HYBRiS iNTENSO REGRET SECRETO SECRETOS SH0W SQUEAK STRiFE TiMELiNE TUSAHD BigBlueBox iLLiTERATE
blacklist = WEEKLY[._]UPDATE UPDATE.\d+-BiFiSO

rule APPS = APPS std
rule BOOKWARE = BOOKWARE std

rule GAMES = GAMES std
rule DOX = DOX std

rule TV.720p = TV 720p x264 hdtv h264 currentseason episodeAge:3 dupesweb nw_us web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 hdtv h264 currentseason dupesweb network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 hdtv h264 currentseason episodeAge:3 dupesweb animation tvid:(83,87,107,315,112,216) web webrip language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason episodeAge:3 dupesweb nw_us web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason dupesweb network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason episodeAge:3 dupesweb animation tvid:(83,87,107,315,112,216) web webrip language:(English) std
rule TV.X264.BLURAY = TV 720p bluray language:(English) nw_us scripted x264 airdate:2012 std
rule TV.X264.BLURAY = TV 720p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) scripted x264 airdate:2012 std

rule SPORTS.720p = SPORTS 720p motogp hdtv h264 x264 web webrip dupesweb dupeshdtv std
rule SPORTS.1080p = SPORTS 1080p motogp ufc hdtv h264 x264 web webrip dupesweb dupeshdtv std

rule MOVIES = MOVIES bluray 720p 1080p x264 year:2012 limited lrating:5 lvotes:500 language:(English) std stdmovies cls
rule MOVIES.BDRip = MOVIES bdrip x264 year:2012 limited language:(English) std stdmovies cls

rule XXX = XXX dvdrip bdrip group:(PORNOLATiON,DivXfacTory,Jiggly,SWE6RUS,VBT,UPPERCUT,XCiTE,STARLETS,Pr0nStarS) x264 std

# NAME                     PATH
dir APPS             = /incoming/apps
dir BOOKWARE         = /incoming/bookware
dir GAMES            = /incoming/games
dir DOX              = /incoming/games
dir TV.720p          = /incoming/tv720
dir TV.SD            = /incoming/sd264
dir TV.1080p         = /incoming/tv1080  
dir TV.x264.BLURAY   = /incoming/tvbluray
dir TV.x264.BDRip    = /incoming/tvdvdrip
dir SPORTS.720p      = /incoming/tv720
dir SPORTS.1080p     = /incoming/tv1080
dir MOVIES           = /incoming/x264
dir MOVIES.2160p     = /incoming/x265
dir MOVIES.BDR       = /incoming/bdr
dir MOVIES.UHD       = /incoming/bd-uhd
dir MOVIES.BDRip     = /incoming/xvid
dir XXX              = /incoming/xxx

Name = Grand Prix
Location = 10000mbit
Country = NL
Size = 10TB + 140TB Remote Archives
ISP = Global Layer
Control = pHASE
Sitebans =
Status = Up
Comments = 

# infos.. rule TV.720p line 2 is adult animation shows
