#########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
#########################################################################################################################

affils GQ = Allstars UNLiMiTED DMT MAGNiTUDE PORNOLATiON ZWTiSO XOR RANT SCREAM NeDiVx
allows GQ = GAMES GAMES.DVD APPS APPS.DVD APPS.Linux APPS.MAC DIVX.RET DIVX.LIM DVDR.RET DVDR.SCR DVDR.LIM DVDR.SCR.LIM PS2DVD PS2CD WII XBOX360 PSP
banned GQ = IBM -maVenssupplieR -ViTALiTY

rating GQ = DIVX.LIM =     7.5 100 1
rating GQ = DVDR.SCR =     6.0 300 1
rating GQ = DVDR.LIM =     6.0 300 1
rating GQ = DVDR.SCR.LIM = 6.0 300 1

filter                 GQ = WII = !-LoCAL
consoleregions         GQ = WII = PAL|NTSC
consoleregions         GQ = PSP = PAL|NTSC

movieminyear GQ = DVDR.LIM = 2006


# Changelog:
#
# 051101 - Site added (checker)
# 060522 - Affil maVen add (sillix)
# 062522 - allows PSP (sillix)
# 060608 - -CLONECD (sillix)
# 060806 - removed clonedvd section, added aNBc to affils (psy)
# 112706 - Added XOR to affils (darkm)
# 070122 - Removed XBOXDVD, Added WII and PS3 (stealth)
# 070122 - Added RANT to affils (stealth)
# 070522 - VCD/SVCD removed (stealth)
# 071026 - Added SCREAM, removed aNBc from affils, ViTALiTY to banned (stealth)
# 080415 - Added pci2 filters (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
