##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils GS = DiFFERENT HDEX NSN OMER 
allows GS = X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 TV.X264.DTV TV.X264.HDD X264.MUSIC.1080
banned GS = 

tvgenre      GS = TV.X264.DTV = Scripted
tvcountry    GS = TV.X264.DTV = US

tvgenre      GS = TV.X264.HDD = Scripted
tvcountry    GS = TV.X264.HDD = US|UK

movieminyear   GS = X264.*    = 2000
rating         GS = X264.* = 5.0 1000 1

# Changelog:
#
# 050928 - Site added (baker)
# 160921 - New site with same name as old (default)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
