###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils GTH = DiAMOND GAMEOVER GeT LEViCE PLD PUKKA ReVOLVeR SCREAM STiNKER TVRIDERS
allows GTH = APPS APPS.DVD APPS.Linux APPS.MAC CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.TC DIVX.TS DVDR.RET GAMES GAMES.DVD GAMES.MAC PS2DVD XBOXDVD PSP TV.DIVX.DTV TV.DVDR XXX TV.DIVX.DSR

#filter GTH = CLONECD=     ![._]SF.*Clone|[._]SF.*Cure
#filter GTH = CLONEDVD=    ![._]SF.*Clone|[._]SF.*Cure
filter GTH = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter GTH = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter GTH = TV.DVDR=     NTSC ^Stargate|^LOST.S|^Veronica.Mars|^Smallville|^24.S|^Rome.S|^Surface.S|^Prison.Break|^Greys.Anatomy|^Battlestar.Galactica.S|^The.Shield|The.4400|^Entourage|Curb.your.Enthousiasm
filter GTH = XXX=         -LDSXXX
filter GTH = APPS=	  -ZWTiSO|-ISO|-SHOCKiSO|Acronis|Adobe|Adaptec|Borland|CakeWalk|ComputerAssociates|Davilex|Discreet|Microsoft|Macromedia|Magix|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas
filter GTH = APPS.DVD=	  -ZWTiSO|-ISO|-SHOCKiSO|Acronis|Adobe|Adaptec|Borland|CakeWalk|ComputerAssociates|Davilex|Discreet|Microsoft|Macromedia|Magix|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas
filter GTH = APPS.MAC=	  -ZWTiSO|-ISO|-SHOCKiSO|Acronis|Adobe|Adaptec|Borland|CakeWalk|ComputerAssociates|Davilex|Discreet|Microsoft|Macromedia|Magix|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas
filter GTH = APPS.Linux=  -ZWTiSO|-ISO|-SHOCKiSO|Acronis|Adobe|Adaptec|Borland|CakeWalk|ComputerAssociates|Davilex|Discreet|Microsoft|Macromedia|Magix|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas
filter GTH = PSP=         !UMDRIP
banned GTH = -PreVail -FASiSO
exempt GTH = Cops.S\d UFC. The.Ultimate.Fighter.S\d  Pride.FC.

#banned GTH = LEASEWEB

# Changelog:
#
# 051121 - Site added (checker)
# 051207 - Added TV.DVDR section+filter (shr)
# 051207 - Added DIVX.TS to sections (shr)
# 051209 - Updated affils (shr)
# 051212 - Added STiNKER to affils (shr)
# 051213 - Added apps section and filters (psychoffee)
# 060123 - VCD.CAM removed from allows (checker)
# 060124 - Added Cops and UFC to exempt (shrike)
# 060217 - Updated affils (darkm)
# 060401 - Added SCREAM to affils (darkm)
# 060405 - Added GAMES.MAC to allows (will be wrong section for -OSX) (shr)
# 060510 - Fixed APPS.LINUX->Linux (shr)
# 060601 - Updated TV.DVDR (shr)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
