#############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils GZ = PUKKA CTU GAMEOVER SWE6RUS WiiERD ThP
allows GZ = APPS APPS.DVD DIVX.RET DIVX.TC DIVX.TS DVDR.RET GAMES GAMES.DVD TV.DIVX.DSR TV.DIVX.DTV TV.X264.DTV XBOX360 WII
banned GZ = -ETH0 -FASiSO -ViTALiTY -XISO
filter GZ = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter GZ = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter GZ = APPS=        Microsoft|Norton|Autodesk|Symantec|Corel|Adobe|Pinnacle|Roxio|Intervideo|Ulead
filter GZ = APPS.DVD=    Microsoft|Norton|Autodesk|Symantec|Corel|Adobe|Pinnacle|Roxio|Intervideo|Ulead
filter GZ = WII=         !USA|NTSC

# Changelog:
#
# 060610 - Site added (shr)
# 061008 - Allows + banned updated. (axess) 
# 061102 - Added Apps filter (baker)
# 061108 - Added guestpre groups (moet)
# 061108 - Fixed XXX filters (moet)
# 061110 - added CTU (baker)
# 070213 - added PUKKA (baker)
# 091107 - added guests
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
