############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils H2 = QoM XF iMPERiUM VATOS DF ENCOUNTERS 0PTiMUS NGX RSG SHiTONLYGERMAN R0CKED
allows H2 = APPS APPS.DE XBOX360 WII WII.DE PS2DVD NDS PSP GAMES GAMES.DE XXX TV.DIVX.DE TV.X264.DE TV.DIVX.DU.DE TV.DIVX.DTV TV.X264.DTV DIVX.RET X264.RET.720 DIVX.DE DIVX.DE.LD X264.DE.1080 BOOKWARE DOX DOX.DLC
banned H2 = -AiRWAVES -JPS -RCX -TRG -ILOM -WiiD -CENSORED -XMF -JPS -ADDONIA -SW33T -FASiSO -YWC -GXC -Micronauts -oNePiEcE -RHI -TiNYiSO -AC3HD -SKA -McCain -PROPHET -SAVANT -2WiRE -TRANSFORMERS -SCEPTiCAL -SUNSHiNE -Bamboocha ^The.Pacific.*.HDTV XCOPY ^The.Pillars.of.the.Earth.*.*DTV -1C
filter H2 = APPS= Graphics|Steinberg|Native Instruments|Ableton|Lynda.com|VTC|Autodesk|Navigation|Microsoft|Video2brain|Galileo|CBT.Nuggets 
filter H2 = XXX= -Pr0nStarS|-DivXfacTory 
exempt H2 = XXX= -Pr0nStarS|-DivXfacTory
filter H2 = TV.DIVX.DE= -ITG|-iNSPIRED|-SOF|-GTVG 
filter H2 = TV.DIVX.DU.DE= -ITG|-iNSPIRED|-SOF|-GTVG 
filter H2 = TV.X264.DE= -ITG|-iNSPIRED|-SOF|-euHD|-ZZGtv|-GTVG DUBBED
filter H2 = BOOKWARE = ^Lynda.com|^VTC|^Video2brain|^Galileo|^CBT.Nuggets 
filter H2 = PSP = !USA 
filter H2 = PS2DVD = PAL 
filter H2 = DIVX.DE= !19[0-9][0-9]|200[0-8]
filter H2 = DIVX.DE.LD= !19[0-9][0-9]|200[0-8]
filter H2 = X264.DE.1080= !19[0-9][0-9]|200[0-7] 
tvcountry    H2 = TV.X264.DE = 
tvcountry    H2 = TV.DIVX.DE = 
tvcountry    H2 = TV.DIVX.DU.DE = 
tvcountry    H2 =  TV.X264.DVD.DE = 


# Changelog:
#
# 100127 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
