############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################


affils HA = CiNEFiLE DoNE DVTiSO HAiDEAF VETO WEST
allows HA = SE.X264.1080 GAMES APPS APPS.MAC APPS.Linux PS2DVD XBOX360 X264.RET.1080 DIVX.RET DIVX.LIM DIVX.TC DIVX.SCR DIVX.SCR.LIM TV.X264.DTV DOX DOX.DLC
banned HA = FASiSO JAGDOX DAA iNLAWS iMARS FLEET REGRET IMMERSE
filter HA = APPS.MAC = .
filter HA = APPS= ^Adobe|^Borland|^CakeWalk|^Corel|^Curious.Labs|^Cyberlink|^Discreet|^Graphisoft|^Jasc|^Macromedia|^Magix|^Maplesoft|^Mathematica|^McAfee|^Microsoft|^NewTek|^Pinnacle|^PowerQuest|^Roxio|^Scansoft|^Sony|Sonic.Foundry|^Steinberg|^Symantec|^Ulead|-MAGNiTUDE|-ZWTiSO|-RiSE 
filter HA = APPS.Linux= ^Adobe|^Borland|^CakeWalk|^Corel|^Curious.Labs|^Cyberlink|^Discreet|^Graphisoft|^Jasc|^Macromedia|^Magix|^Maplesoft|^Mathematica|^McAfee|^Microsoft|^NewTek|^Pinnacle|^PowerQuest|^Roxio|^Scansoft|^Sony|Sonic.Foundry|^Steinberg|^Symantec|^Ulead|-MAGNiTUDE|-ZWTiSO|-RiSE 
filter HA = APPS.MAC = .


filter HA = NORDIC= ![._]LIMITED[._-] 
filter HA = TV.X264.DTV= ^CSI|^CSI.Cyber|^Criminal.Minds|^Teen.Wolf|^Supernatural|^The.Big.Bang.Theory|^NCIS|^NCIS.New.Orleans|^Game.Of.Thrones|^Grimm|^Vikings|^House.of.Cards|^The.Walking.Dead|^Homeland|^Under.the.Dome|^Banshee
exempt HA = APPS = -MAGNITUDE|-ZWTiSO|-RiSE|-HOTiSO

#hopefully imdb top 250
#movieminyear HA = X264.CLS.720 = 1900
movieminyear HA = X264.RET.1080 = 2010
movieminyear HA = SE.X264.1080 = 2009
movieminyear HA = DIVX.* = 2010
#rating       HA = X264.CLS.720 = 7.9 50000 0
rating	     HA = SE.X264.1080 = 0.0 0 0

# Changelog:
#
# 080202 - Site added (none)
# 100217 - added APPS.DVD (solar)
# 100318 - removed autodesk, and APPS.DVD as isnt needed anymore (solar)
# 120201 - added AMIABLE affil
# 151206 - updated affils (default)
# 160325 - deleted/added tv filter shows (ohno)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
