###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HBR = DAGGER DoNE Larceny MEDiEVAL REFiNED Replica SWE6RUS
allows HBR = DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD NORDIC TV.DIVX.DTV TV.X264.DVD X264.RET.720
banned HBR = -AoH -ANiPUNK -EMPORiO -GRiSO -YiF -FpN -SaGa
filter HBR = NORDIC= FINNISH|NORDIC
filter HBR = TV.X264.DVD= ^Stargate.Atlantis|^The.4400|^Battlestar.Galactica|^The.Dead.Zone|^The.Shield|^The.Amazing.Race|^Tru.Calling|^CSI|^24|^Alias|^Star.Trek.Voyager|^The.O.C|^Stargate.SG-1|^Harsh.Realm|^Lost
filter HBR = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES

movieminyear           HBR = DIVX.RET=     2006
movieminyear           HBR = DIVX.LIM=     2006
movieminyear           HBR = DIVX.SCR=     2006
movieminyear           HBR = DIVX.SCR.LIM= 2006
movieminyear           HBR = DVDR.RET=     2006
movieminyear           HBR = DVDR.LIM=     2006
movieminyear           HBR = X264.RET.720=     2007

moviegenre             HBR = DIVX.RET=        !Documentary
moviegenre             HBR = DIVX.LIM=        !Documentary
moviegenre             HBR = DIVX.SCR=        !Documentary
moviegenre             HBR = DIVX.SCR.LIM=    !Documentary
moviegenre             HBR = DIVX.RET=        !Documentary
moviegenre             HBR = DIVX.LIM=        !Documentary
moviegenre             HBR = X264.RET.720=        !Documentary

rating                 HBR = X264.RET.720=    5.0 0 500
rating                 HBR = DVDR.LIM=    5.0 500 1
rating                 HBR = DIVX.LIM=    0.0 0 1

consoleallowregiondupe HBR = PS2CD=        0
consoleregions         HBR = PS2CD=        PAL|NTSC
consoleallowregiondupe HBR = PS2DVD=       0
consoleregions         HBR = PS2DVD=       PAL|NTSC 

# Changelog:
#
# 041125 - Site added (wader)
# 050131 - Added some affils, TDA and PS to affils (checker)
# 050203 - Added WAM (wader)
# 050204 - Added CORRuPT (wader)
# 050216 - Removed KEG (wader)
# 050308 - Added section NORDIC (wader)
# 050310 - Added MPTDVD to bans (wader)
# 050428 - Fixed some shit likes series, nordic, ps2cd, blabla (shrike)
# 050705 - Removed corrupt gamerz tda fluffers (orb)
# 050817 - Updated, pls help on the TV.X264.DVD filter, dunno what archived series (checker)
# 051016 - Added clear (orb)
# 051101 - Removed CLEAR (orb)
# 051110 - Removed CSI.Miami from tv filter(orb)
# 051115 - Removed TCM and added XOR to affils (gin)
# 051124 - added Allstars(orb)
# 060223 - Added XXX to allows and -Pr0nStarS to filter, removed from affil list as well
# 060322 - Removed WAM (baker)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
