##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HDS = ADMITONE DiTS FCR HLS iNNSYN LDSXXX PORNOLATiON PWZiSO RiSE TBS VENGEANCE VNGCLONE
allows HDS = APPS APPS.Linux CLONECD CLONEDVD DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD NORDIC PS2DVD TV.VCD TV.DIVX.DTV VCD.SCR VCD.SCR.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TC SVCD.TC.LIM SVCD.TS SVCD.TS.LIM XBOXDVD 
banned HDS = $REALITY-N-CRAP
filter HDS = NORDIC= NORDIC|SWEDISH
filter HDS = PS2DVD= !DVD9
filter HDS = XBOXDVD= !DVD9

# Changelog:
#
# 040811 - Site added (checker)
# 040817 - Added NORDIC filter (wader)
# 040817 - Added GAMES.DVD and DIVX.SCR.LIM to allows (wader)
# 040817 - Fixed filter HDS= to filter HDS = ... (shrike)
# 040821 - Added Cyclone as affils (wader)
# 040831 - Added iNNSYN as affil (blade)
# 040902 - Added PS2.*DVD9 and XBOX.*DVD9 to bans (wader)
# 040902 - removed *dvd9 was causing error in config (blade)
# 040904 - Added DVD9 to filters (wader)
# 040906 - Added CLONEDVD to allows (checker)
# 040906 - Added affil DiTS (wader)
# 040907 - Added affil FCR (wader)
# 040911 - Added affil LDSXXX (wader)
# 041016 - Added affil HLS (bourbon)
# 041110 - Added affil ADMiTONE (bourbon)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
