############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils HFD = ACCiDENT AG ARROW CFE CiNEFiLE DDUiSO FLESHLiGHT GOW HLS REFiNED REV0 RiFT STRANGE WiiERD
allows HFD = GAMES GAMES.DVD XBOX360 WII PS2 PS2DVD PSP DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TS DIVX.TC DVDR.RET DVDR.LIM X264.RET.720 X264.LIM.720 TV.X264.DTV TV.DIVX.DTV TV.DIVX.DSR
banned HFD = 
exempt HFD = -ZWTiSO

rating		HFD = DIVX.LIM     = 7.0 1000 1
rating          HFD = DIVX.SCR.LIM = 7.0 1000 1
rating          HFD = X264.LIM.720 = 7.0 1000 1

tvgenre		HFD = TV.* = Scripted
tvcountry	HFD = TV.* = US

x264formats     HFD = X264.*       = mkv

consoleregions         HFD = XBOX360=   PAL|NTS
consoleregionrank      HFD = XBOX360=   NTSC PAL
consoleregions         HFD = WII=       PAL|NTSC
consoleregionrank      HFD = WII=       NTSC PAL

# Changelog:
#
# 090817 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
