affils = iNSPiRiT SAAB SHEPHERDS SKANK

groupblacklist = DARKSIDERS TUSAHD PROPL STRIFE FLAME REGRET W4F SFM DARKFLIX CAFFEINE CRIMSON NORULES BADFPS DKiDS

rule DOX = DOX windows linux mac std
rule GAMES = GAMES windows linux mac std
rule TV = TV 1080p currentseason animation scripted hdtv nw_us nw_ca nw_gb web webrip std language:(English)
rule TV = TV 1080p currentseason animation scripted hdtv network:(amazon,netflix,youtube,youtube-premium) web webrip std language:(English)
rule TV.DK = TV DK 720p hdtv h264 web webrip external nodupe nonfo x264
rule MOVIES = MOVIES 1080p x264 bluray limited lrating:5 lvotes:0 rating:5 votes:0 year:2016 language:(English) std stdmovies cls
rule MOVIES.2160p = MOVIES 2160p x265 bluray limited lrating:5 lvotes:0 rating:5 votes:0 year:2016 language:(English) std stdmovies uhdrip cls

# NAME           PATH

dir BOOKWARE      = /apps
dir DOX           = /games
dir GAMES         = /games
dir TV            = /tv
dir TV.DK         = /tv-dk
dir TV.SE         = /tv-se
dir MOVIES        = /x264
dir MOVIES.2160p  = /x265

