##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HIX = 
allows HIX = CLONECD CLONEDVD GAMES GAMES.DVD APPS APPS.DVD APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DIVX.TC DVDR.RET DUTCH TV.DIVX.DTV PS2DVD XBOXDVD
banned HIX = $INDUSTRIAL 
filter HIX = CLONECD=     ![._]SF.*Clone|[._]SF.*Cure
filter HIX = CLONEDVD=    ![._]SF.*Clone|[._]SF.*Cure
filter HIX = APPS=        ^Adobe|Macromedia|^Microsoft|McAfee|^Nero|^Norton|^Pinnacle|Powerquest|RedHat|Steinberg|SuSe|Symantec|Tomtom
filter HIX = APPS.DVD=    ^Adobe|Macromedia|^Microsoft|McAfee|^Nero|^Norton|^Pinnacle|Powerquest|RedHat|Steinberg|SuSe|Symantec|Tomtom
filter HIX = APPS.Linux=  ^Adobe|Macromedia|^Microsoft|McAfee|^Nero|^Norton|^Pinnacle|Powerquest|RedHat|Steinberg|SuSe|Symantec|Tomtom
filter HIX = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter HIX = TV.DIVX.DTV= ^24|^Battlestar.Galactica|^Heist|^Lost|^Numb3rs|^Prison.Break|^Rome
# Changelog:
#
# 060113 - Site added (checker)
# 060210 - added PS2DVD and XBOXDVD sections (hMp)
# 060411 - added another TV.DIVX.DTV filter (checker)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
