# HLN

affils = CREED DEADPOOL PRiNCE TALiON WaLMaRT

groupblacklist = DARKSiDERS BAMBOOZLE

rule DOX = DOX std
rule GAMES = GAMES std

rule TV = TV 720p 1080p 2160p x264 h264 h265 hdtv web webrip currentseason nw_gb internal nw_us dupesweb dupeshdtv scripted language:(English) std
rule TV = TV 720p 1080p 2160p x264 h264 h265 hdtv web webrip currentseason internal network:(amazon,netflix,youtube,youtube-premium) dupesweb dupeshdtv scripted language:(English) std
rule TV.SE = TV 720p 1080p hdtv x264 h264 bluray web webrip SE
rule TV.BLURAY = TV 1080p bluray nw_gb nw_us nw_ca internal scripted language:(English) std
rule TV.BLURAY = TV 1080p bluray network:(amazon,netflix,youtube,youtube-premium) internal scripted language:(English) std


rule MOVIES = MOVIES 1080p 720p bluray x264 limited year:2010 language:(English) 3D std stv stdmovies cls
rule MOVIES = MOVIES bluray x264 1080p SE external nodupe 2D cls      
rule MOVIES.CLS = MOVIES 1080p 720p bluray x264 rating:6.5 votes:500 lrating:6.5 lvotes:500 limited language:(English) 3D std cls
rule MOVIES.2160p = MOVIES 2160p x265 limited language:(English) year:2015 uhdrip internal std cls
rule MOVIES.WEBRIP.720p = MOVIES webrip web stv 720p language:(English) external nodupe 2d nfo stdmovies rating:6 year:2010 cls
rule MOVIES.WEB.720p = MOVIES webrip web stv 720p language:(English) external nodupe 2d nfo stdmovies rating:6 year:2010 cls
rule MOVIES.WEBRIP.1080p = MOVIES webrip web stv 1080p language:(English) external nodupe 2d nfo stdmovies rating:6 year:2010 cls
rule MOVIES.WEB.1080p = MOVIES webrip web stv 1080p language:(English) external nodupe 2d nfo stdmovies rating:6 year:2010 cls
rule MOVIES.BDRip = MOVIES x264 bdrip limited internal std cls


# NAME                     PATH

dir DOX                        = /INCOMING/GAMES
dir GAMES                      = /INCOMING/GAMES
dir TV                         = /INCOMING/TV-HD
dir TV.SE                      = /INCOMING/TV-HD-SE
dir TV.BLURAY                  = /INCOMING/TV-RETAIL-HD
dir MOVIES                     = /INCOMING/X264-HD
dir MOVIES.2160P               = /INCOMING/X265-HD  
dir MOVIES.webrip.720p         = /INCOMING/X264-HD         
dir MOVIES.webrip.1080p        = /INCOMING/X264-HD
dir MOVIES.WEB.720p            = /INCOMING/X264-HD
dir MOVIES.WEB.1080p           = /INCOMING/X264-HD
dir MOVIES.BDRip               = /INCOMING/X264-SD         
dir MOVIES.BDR                 = /INCOMING/BLURAY










