############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils HOME = ALKi D4U MTC UMT UTOPiA
allows HOME = APPS APPS.DE PS2DVD XBOX360 WII GAMES GAMES.DE DIVX.DE DVDR.DE TV.DIVX.DE TV.X264.DE X264.DE.720 X264.DE.1080 DVDR.RET X264.RET.720 XXX
banned HOME = -XMF|-FASiSO|-NMY|-Bamboocha|-ONEPIECE|-0x0008|-Unleashed|-TiNYiSO|-TRANSFORMERS|-PROPHET|-BiTRiPPERs|-MostWanted|-HACO|-aWake|-GAC|-OneUp|-FYK|-RCX|-SW33T|-4TH|-2Brothers|-XMF|-KDH|-BiFOS|-DEViSE|-GAYGAY|-D3Si|-FOAD|-HLS|-XSTREEM|-DoR2|-ThaiAsister|-CoWRY|-LAP|-YCDV|-GiNJi|-BoNkErS|-LPD|-EliA|-aaF|-SSF|-HVK|-D3MONZ|BDRIP|-WDE|-JustDifferent|-EINFACHNORMAL|-HOMOSEXUAL|-EINFACHALT|-SEXMATIXS|-PORNOLATION|-Pr0nstarS|-YUMYUM
filter HOME = APPS= -TBE|-RHI|-RESTORE|-CYGiSO|-BIE|-SHOOTERS|-Substance
filter HOME = TV.DIVX.DE= -ITG|-iNSPiRED|-EXPIRED|-UTOPIA|-ZZGtv
filter HOME = TV.X264.DE= -GTVG|-iNSPiRED|-euHD|-ZZGtv|-EXPiRED
filter HOME = TV.DIVX.DTV= ^30.Rock|^Numb3rs|^American.Dad|Cold.Case|Californication|^Bones|^CSI|^Collision|^Fringe|^The.Big.Bang.Theory|^Ugly.Betty|^Its.Always.Sunny.In.Philadelphia|^The.IT.Crowd|^Curb.Your.Enthusiasm|^Private.Practice|^Friday.Night.Lights|^Trinity|^CSI.Miami|^Sherri|^Nip.Tuck|^CSI.NY|^The.Sarah.Jane.Adventure|^Dexter|^Desperate.Housewives|^The.Office|^Greys.Anatomy|^Heroes|^House|^How.I.Met.Your.Mother|^Spooks|^Law.and.Order|^Lost|^Medium|^Monk|^NCIS|^My.Name.Is.Earl|^Prison.Break|^Scrubs|^Smallville|^The.Tudors|^The.League|^Stargate.Atlantis|^Supernatural|^Southpark|^The.Dating.Guy|^V.2009|^Terminator.The.Sara.Connor.Chronicles|^The.Simpsons
filter HOME = TV.X264.DTV= ^30.Rock|^Numb3rs|^American.Dad|Cold.Case|Californication|^Bones|^CSI|^Collision|^Fringe|^The.Big.Bang.Theory|^Ugly.Betty|^Its.Always.Sunny.In.Philadelphia|^The.IT.Crowd|^Curb.Your.Enthusiasm|^Private.Practice|^Friday.Night.Lights|^Trinity|^CSI.Miami|^Sherri|^Nip.Tuck|^CSI.NY|^The.Sarah.Jane.Adventure|^Dexter|^Desperate.Housewives|^The.Office|^Greys.Anatomy|^Heroes|^House|How.I.Met.Your.Mother|^Spooks|^Law.and.Order|^Lost|^Medium|^Monk|^NCIS|^My.Name.Is.Earl|^Prison.Break|^Scrubs|^Smallville|^The.Tudors|^The.League|^Stargate.Atlantis|^Supernatural|^Southpark|^The.Dating.Guy|^V.2009|^Terminator.The.Sara.Connor.Chronicles|^The.Simpsons

# Changelog:
#
# 100330 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
