############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils HOP = SPARKS DEMAND iMARS RELOADED
allows HOP = GAMES XBOX360 PS3 XXX DOX TV.X264.HDD TV.X264.DTV X264.RET.720
banned HOP = -ACTIVATED -PLAZA PROPER+KILLERS
exempt HOP = Daily.Show ^Colbert.Report ^South.Park ^Simpsons

filter HOP = TV.* = !$REALITY-N-CRAP
filter HOP = PS3  = !PSN[._]
filter HOP = XXX  = -Pr0nStarS|-VBT|-UPPERCUT

#xxxstudio              HOP = XXX           = 


# Changelog:
#
# 121109 - Site added (me)
# 140211 - Added PS3 PSN filter, cosmetic (shrike)
# 140424 - deleted 1080 (ohno)
# 170210 - Banned PROPER+KILLERS ("xcess")
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
