##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HOV2 = ALLiANCE ADX aXXx CVS DNL SNN SPACE
allows HOV2 = ANIME.Series ANIME.Movies APPS DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET GAMES GAMES.DVD KIDDIE NORDIC PS2 PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TC SVCD.TC.LIM VCD.SCR VCD.SCR.LIM VCD.TC VCD.TC.LIM XBOXDVD
banned HOV2 = -ATA -FASTANIME -UMP DASSAULT IBM LOTUS PTC
filter HOV2 = NORDIC= SWEDISH|NORDIC
filter HOV2 = PS2DVD= !DVD9
filter HOV2 = XBOXDVD= !DVD9
filter HOV2 = APPS= Adobe|Macromedia|McAfee|Microsoft|Nero|PowerQuest|Roxio|Symantec|Ulead

# Changelog:
#
# 040729 - Site added (wader)
# 040818 - Added section KIDDIE (wader)
# 040821 - Added TUN as affils (wader)
# 040822 - Added DASSAULT LOTUS PTC to bans (wader)
# 040826 - Removed TUN from affils (wader)
# 040827 - Removed DANISH from NORDIC FILTER (wader)
# 040828 - Added TUN as affils agains (wader)
# 040902 - Added PS2.*DVD9 and XBOX.*DVD9 to bans (wader)
# 040904 - Removed DVD9 from banned and added to filters (wader)
# 040911 - Added affil CVS (wader)
# 040914 - Added affil ADX (wader)
# 040915 - Added APPS filter (wader)
# 040924 - Added sections DIVX.LIM and DIVX.SCR.LIM (wader)
# 040930 - Removed affils BHP and XPD (wader)
# 041019 - Added affil Replica (wader)
# 041112 - Added affil VideoCD (wader)
# 041120 - Removed affils TUN (wader)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
