############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils HP = TBE Counterfeit ZWTiSO Chakra 
allows HP = CLONECD CLONEDVD APPS APPS.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.R5.LIM DIVX.R5 DIVX.SCR.LIM GAMES GAMES.DVD TV.X264.DTV XBOX360 WII PSP NDS DVDR.RET DVDR.LIM 
banned HP = -SKIDROW -ViTALiTY -CPY 
filter HP = TV.*      = !REALITY-N-CRAP|$UK-SERIES 
filter HP = WII       = !USA|NTSC 
filter HP = DIVX.R5.* = ![._]LINE[._-] 
filter HP = DVDR.R5.* = ![._]LINE[._-] 

rating                 HP = DVDR.SCR.LIM = 5.0 0 1 
rating                 HP = DVDR.R5.LIM  = 5.0 0 1 
rating                 HP = DVDR.LIM     = 5.0 0 1 

consoleregions         HP = XBOX360      = PAL|NTSC 
consoleregionrank      HP = XBOX360      = PAL NTSC 

consoleregions         HP = WII          = PAL 

movieminyear           HP = DIVX.SCR.LIM = 2009 
movieminyear           HP = DIVX.LIM     = 2009 
movieminyear           HP = DIVX.SCR     = 2009 
movieminyear           HP = DIVX.RET     = 2009 
movieminyear           HP = DVDR.SCR     = 2009 
movieminyear           HP = DVDR.SCR.LIM = 2009 
movieminyear           HP = DVDR.RET     = 2009 

# Changelog:
#
# 080313 - Site added (me)
# 080403 - Added zwtiso (stealth)
# 080701 - Ratings filters added, it only took 4 months :) (conky)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
# rating HP = X264.LIM.720 = 5
