affils = 2HD BEDLAM BiFiSO CAFFEiNE CiNEMATiC DHD GHOULS iNTENSO JGTiSO LAZERS ORENJi OUIJA PANDEMONiUM ROVERS RtFM SADPANDA TURBO USURY watchHD YANG

groupblacklist = NEWiSO C4TV spamTV LowGear OmarMateen ROFL

rule GAMES = GAMES windows mac group:(CODEX,CPY,FLT,MONEY,RAZOR1911,RELOADED,HOODLUM,PLAZA) std

rule TV = TV 720p x264 h264 currentseason scripted hdtv web webrip nw_us nw_gb std language:(English)
rule TV = TV 720p x264 h264 currentseason scripted hdtv web webrip network:(amazon,netflix,youtube,youtube-premium) std language:(English)
rule TV = TV 720p x264 h264 web webrip tvid:(17078) std language:(English)
rule TV = TV 720p x264 h264 currentseason scripted web webrip dupeshdtv dupesweb internal group:(BAMBOOZLE,STRiFE,CONVOY,DEFLATE) nw_us nw_gb std language:(English)
rule TV = TV 720p x264 h264 currentseason scripted web webrip dupeshdtv dupesweb internal group:(BAMBOOZLE,STRiFE,CONVOY,DEFLATE) network:(amazon,netflix,youtube,youtube-premium) std language:(English)
rule TV.BLURAY = TV 720p x264 bluray airdate:2018 nw_us nw_gb scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray airdate:2018 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)


rule MOVIES = MOVIES 720p 1080p x264 bluray limited lrating:5 lvotes:5000 year:2017 std stdmovies


# NAME           PATH
dir BOOKWARE     = /incoming/bookware
dir DOX          = /incoming/dox
dir GAMES        = /incoming/games
dir TV           = /incoming/tv-hd
dir TV.SD        = /incoming/tv-sd
dir TV.BLURAY    = /incoming/tv-bd
dir MOVIES       = /incoming/x264
dir MOVIES.BDR   = /incoming/bluray    

