##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HS2 = bC DEViANCE GCUBE MeLA NESSUNO ORGASM STiNKYCUBE TBE
allows HS2 = APPS APPS.Linux CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.TC DVDR.RET DVDR.LIM GAMES GAMES.DVD XBOXDVD XXX GERMAN
banned HS2 = CENTURY GCE 
filter HS2 = XXX= -LDSXXX
filter HS2 = APPS= Adobe|Ahead|Corel|Macromedia|Magix|Microsoft|Norton|Steinberg|Symantec

# Changelog:
#
# 050705 - Site added (me)
# 050819 - Updated (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
