###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HS3-PRE = BBV BVi DDS DYNAMiCS eMF FFNDVD H3X JUST kiNky KiSS MSRP mV4U MVS PmV R2R R3D REMAX RiDERz RKS RUSTLERS SWiFT TDMLiVE UST WAR3X WWP XiSO XTC DR MOOBS
#allows HS3-PRE = 
#banned HS3-PRE = 

# Changelog:
#
# 051113 - Site added (darkm)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
