affils = ARiES ARiESTV BTRA CCT CRiMSON CUSA dotTV GERUDO LiBRA NORPiLT PFa PRELUDE REGRET RUSTED sweHD SweWR WaLMaRT WiSDOM

groupblacklist = DARKFLiX DARKSiDERS ROFL FEET NORULES N0RULES STEAMER TUSAHD WEBTUBE

rule DOX = DOX windows std
rule GAMES = GAMES windows std

rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule TV = TV 720p 1080p 2160p x264 hdtv h264 h265 dupesweb dupeshdtv internal nw_us web webrip scripted documentary language:(English) std
rule TV = TV 720p 1080p 2160p x264 hdtv h264 h265 dupesweb dupeshdtv internal network:(amazon,netflix,youtube,youtube-premium) web webrip scripted documentary language:(English) std
rule TV.BDRIP = TV bdrip dvdrip nw_us nw_gb nw_ca nw_au nw_nz std language:(English)
rule TV.BDRIP = TV bdrip dvdrip network:(amazon,netflix,youtube,youtube-premium) std language:(English)
rule TV.BLURAY.720p = TV 720p bluray internal language:(English) std
rule TV.BLURAY.1080p = TV 1080p bluray internal language:(English) std
rule TV.BLURAY.2160p = TV 2160p uhdrip internal language:(English) std
rule TV.SE = TV 720p 1080p 2160p bluray web webrip SE

rule SPORTS = SPORTS 720p 1080p 2160p dupesweb dupeshdtv internal hdtv h264 x264 web webrip f1 motogp k1 ufc wwe miscsport std

rule MOVIES.BDRip = MOVIES x264 bdrip dvdrip limited language:(English) internal stv std  cls
rule MOVIES.BDRip = MOVIES x264 bdrip dvdrip limited EN FI NO SE DK external internal nonfo stv nodupe 2D cls
rule MOVIES.1080p = MOVIES bluray 1080p x264 limited language:(English) stv std cls
rule MOVIES.1080p = MOVIES bluray 1080p x264 limited EN FI NO SE DK external internal nonfo stv nodupe 2D cls                                
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited language:(English) stv std cls
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited EN FI NO SE DK external internal nonfo stv nodupe 2D cls

# NAME                     PATH
dir DOX                = /GAMES
dir GAMES              = /GAMES
dir NSW                = /NSW
dir PS4                = /PS4
dir TV                 = /TV-X264
dir TV.BDRip           = /TV-DVDRIP
dir TV.DVDRip          = /TV-DVDRIP
dir TV.BLURAY.720p     = /TV-BLURAY-720p
dir TV.BLURAY.1080p    = /TV-BLURAY-1080p
dir TV.BLURAY.2160p    = /TV-BLURAY-2160p
dir TV.SE              = /TV-SWE
dir TV.NO              = /TV-NO              
dir SPORTS             = /TV-X264
dir MOVIES.BDRip       = /X264-SD
dir MOVIES.720p        = /X264-720p       
dir MOVIES.1080p       = /X264-1080p   
dir MOVIES.2160p       = /X265-2160p
dir XXX                = /XXX          






