############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils HT = BLOW COCAIN AMIRITE FAIRPLAY FARGETV FLT PORNOLATiON SNOW STRiKE
allows HT = NORDIC.DVDR NO.X264.720 DK.X264.720 TV.X264.HDD APPS.MAC APPS BOOKWARE GAMES GAMES.MAC TV.X264.DTV TV.DIVX.DTV WII X264.RET.720 X264.LIM.720 DVDR.RET DVDR.LIM DIVX.TS DIVX.SCR.LIM DIVX.SCR DIVX.TC DIVX.LIM DIVX.R5.LIM DIVX.R5 DIVX.RET XBOX360 WII
banned HT = 

filter HT = APPS = !^AUTODESK|PTC.PRO.ENGINEER
filter HT = WII= !USA|NTSC

x264formats            HT = X264.*       = mkv

movieminyear           HT = X264.RET.720  = 2009
movieminyear           HT = X264.LIM.720  = 2009
movieminyear           HT = DIVX.RET=     2008
movieminyear           HT = DIVX.R5=      2008
movieminyear           HT = DIVX.R5.LIM=  2008
movieminyear           HT = DIVX.LIM=     2008
movieminyear           HT = DIVX.TC=      2008
movieminyear           HT = DIVX.SCR=     2008
movieminyear           HT = DIVX.SCR.LIM= 2008
movieminyear           HT = DIVX.TS=      2008
movieminyear           HT = DVDR.RET=     2009
movieminyear           HT = DVDR.LIM=     2009
movieminyear           HT = NORDIC.DVDR=  2009
movieminyear           HT = NO.X264.720 = 2009
movieminyear           HT = DK.X264.720 = 2009

tvcountry              HT = TV.DIVX.DTV   = US
tvcountry              HT = TV.X264.DTV   = US
tvcountry	       HT = TV.X264.HDD   = US

tvgenre                HT = TV.DIVX.DTV   = Scripted|Animation
tvgenre                HT = TV.X264.DTV   = Scripted|Animation
tvgenre	 	       HT = TV.X264.HDD   = Scripted

rating                 HT = X264.RET.720  = 0.0 0 0
rating                 HT = X264.LIM.720  = 0.0 0 0
rating                 HT = DIVX.LIM=     5.0 100 1
rating                 HT = DIVX.R5.LIM=  5.0 0 1
rating                 HT = DIVX.SCR.LIM= 5.0 0 1
rating                 HT = DVDR.RET=     1.0 0 1
rating                 HT = DVDR.LIM=     6.0 1000 1

consoleregions         HT = WII=          PAL
consoleregions         HT = XBOX360=      PAL|NTSC

# Changelog:
#
# 110324 - Site added (rizza)
# 140422 - added bookware (ohno)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
