##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HTV-PRE = 2HD aAF ANiHLS ANiMOTiON aXXx BiA BiQ DGAS DHD DIMENSION EMERALD FFNDVD FTP GOTHiC HAGGiS HOLDEM Hype iNFiNiTE iNGOT KYR m00tv NODLABS SAiNTS SFM SYS THOR TVi
#allows SITE = 
#banned SITE = 

# Changelog:
#
# 051028 - Site added (darkm)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
