##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HTV = 2HD aAF ANiHLS ANiMOTiON aXXx BiA BiQ DGAS DHD FFNDVD GNARLY GOTHiC HAGGiS HOLDEM Hype iNFiNiTE iNGOT KYR LMAO m00tv MOMENTUM NODLABS SAiNTS SFM THOR TVi
allows HTV = TV.X264.DVD TV.DIVX.DTV TV.DIVX.DSR

# All tv allowed:
tvcountry  HTV  = TV.X264.DVD =
tvgenre    HTV  = TV.X264.DVD =
tvcountry  HTV  = TV.DIVX.DTV =
tvgenre    HTV  = TV.DIVX.DTV =
tvcountry  HTV  = TV.DIVX.DSR =
tvgenre    HTV  = TV.DIVX.DSR =

#banned HTV = 

# Changelog:
#
# 051016 - Site added (gin)
# 071126 - Fixed rules (leitz)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
