##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils HWK = ADMITONE BooZerS TVL MaGE NAS RES VENGEANCE ELEGANCE GAMERZ TEG-VCD VNGCLONE
#allows HWK = APPS APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET DVDR.SCR EXTREME GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.SCR SVCD.TS TV.VCD VCD.SCR.LIM XBOXDVD XXX
banned HWK = -CSXXX -FRONTiERS -Legion -Mirage XBOX*PROPER -SPIDER -TAZXXX -WiZiSO -WOYISO -YKNOTT -NATURAL -FTSISO -DROPZONE -FASISO
filter HWK = TV.VCD= ^24|^Alias|Enterprise|^Friends|Simpsons|^Smallville|^Stargate
filter HWK = XXX= Private.Casting
filter HWK = DIVX.LIM= -DIAMOND|-DMT|-VITE
filter HWK = EXTREME= .DIVX|.XVID

# Changelog:
#
# 040810 - Update started [not done yet] (shrike)
# 040810 - Added DIVX.LIM filter (shrike)
# 040814 - updated affils (gza)
# 040905 - Added EXTREME filter (shrike)
# 040907 - Added GAMES.DVD/RIP to allows (shrike)
# 040912 - Removed GAMES.RIP again due new rules (shrike)
# 040914 - Added SVCD.RET to allows (shrike)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed FFN from affil (bourbon)
# 040929 - remove Rise from affil (bourbon)
# 041201 - Added ELEGANCE to affil (bourbon)
# 041216 - Added GAMERZ to affils (shrike)
# 050213 - Added TEG-VCD to affils (bourbon)
# 050301 - Added VNGCLONE to affil (bourbon)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
