############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils I = xDMNx JGTiSO NeDiVX PORNOLATION ALLiANCE Allstars
allows I = APPS APPS.Linux APPS.DVD DVDR.RET DVDR.LIM DIVX.RET DIVX.SCR DIVX.LIM GAMES GAMES.DVD PSP TV.DIVX.DTV TV.DIVX.DSR XXX BOOKWARE XBOX360 XBOXDVD
#banned I = 
filter I = DVDR.LIM=    -REiGN|-Replica|-aNBc|-ALLiANCE
filter I = XXX=         -xDMNx
filter I = APPS=        Autodesk|Adobe|Adaptec|Borland|Discreet|Microsoft|Macromedia|Mcafee|PowerQuest|Pinnacle|Route66|Roxio|Symantec|Ulead|Veritas
filter I = APPS.DVD=    Autodesk|Adobe|Adaptec|Borland|Discreet|Microsoft|Macromedia|Mcafee|PowerQuest|Pinnacle|Route66|Roxio|Symantec|Ulead|Veritas
filter I = APPS.Linux=  Autodesk|Adobe|Adaptec|Borland|Discreet|Microsoft|Macromedia|Mcafee|PowerQuest|Pinnacle|Route66|Roxio|Symantec|Ulead|Veritas
filter I = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter I = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES

# Changelog:
#
# 060409 - Site added (shr)
# 060414 - Removed DIVX.TC and added xDMNx to affils (shr)
# 061014 - Updated APPS companies, removed DIVX.TS (shr)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
