##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ICE = AFFiNiTY BDFLiX NoTV Replica FLAiTE ACE PORNOLATiON COMPULSiON
allows ICE = DIVX.RET DIVX.LIM DIVX.SCR DIVX.R5 DIVX.SCR.LIM DIVX.TS DIVX.TC DVDR.RET DVDR.TC DVDR.R5 DVDR.R5.LIM DVDR.SCR DVDR.SCR.LIM DVDR.LIM GAMES GAMES.DVD NORDIC TV.DIVX.DSR TV.DIVX.DTV TV.X264.DTV XBOX360 WII X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 
filter ICE = APPS.DVD= Autodesk|Adobe|Symantec|Microsoft|Ulead|Delorme 
filter ICE = APPS= Autodesk|Adobe|Symantec|Microsoft|Ulead|Delorme 
filter ICE = APPS.Linux= Autodesk|Adobe|Symantec|Microsoft|Ulead|Delorme 
filter ICE = APPS.MAC= Autodesk|Adobe|Symantec|Microsoft|Ulead|Delorme 

exempt ICE = Survivor.S\d Iron.Chef.America.S\d Gene.Simmons.Family.Jewels.S\d The.Daily.Show The.Colbert.Report Newport.Harbor.S\d The.Hills.S\d Dr.Who.S\d Torchwood.S\d Mythbusters.S\d.*XviD Spooks.S\d The.IT.Crowd.S\d 

#banned ICE =
consoleallowregiondupe ICE = WII= 1 
consoleregions         ICE = WII= PAL|NTSC 

moviegenre             	ICE = DIVX.*           = 
moviegenre             	ICE = DVDR.*           = 
#filter 	 	ICE = APPS= Microsoft|Adobe|Symantec
#filter 		ICE = APPS.DVD= Microsoft|Adobe|Symantec
filter                 	ICE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES 
filter                 	ICE = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES 

rating                 	ICE = DIVX.LIM = 5.0 100 1 
rating                 	ICE = DVDR.LIM = 5.0 100 1 
rating			ICE = DVDR.SCR.LIM = 5.0 100 0 
rating                 	ICE = X264.LIM.* = 5.0 100 1 

#BD after BluRay is OK, No BluRay after BD:
#x264formatrank         	ICE = X264.*       = BD mkv
#NEW:
# 720p only BD, 1080p only mkv
filter ICE = X264.RET.720 = BD(5|9) 
filter ICE = X264.LIM.720 = BD(5|9) 
filter ICE = X264.RET.1080 = !BD(5|9) 
filter ICE = X264.LIM.1080 = !BD(5|9) 

# Changelog:
#
# 040729 - Site added (wader)
# 040711 - Added and removed some series (wader)
# 040918 - Added APPS and APPS.DVD sections and filters (wader)
# 041005 - Added -PHXiSO to bans (wader)
# 080416 - Rating filters added (conky)
# 080417 - Fixed apps fiters (conky)
# 080924 - Added X264 (dyna) 
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
