############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ICS = ISO MHD STARLETS THUGLiNE XPRESS
allows ICS = APPS APPS.Linux XBOX360 WII GAMES DOX X264.RET.1080 X264.RET.720 X264.LIM.720 X264.CLS.720 TV.X264.DTV XXX TV.X264.DOCU DOX.DLC
banned ICS = -HI2U VoMIT HamZaT AVS720 OEM OEM1080 BiOSH0CK EXViD .3D. .PSN. .JTAG. -DEFACED -DASH -TWiZTED
filter ICS = GAMES = -FLT|-Razor1911|-RELOADED|-SKIDROW
filter ICS = DOX = -FLT|-Razor1911|-RELOADED|-SKIDROW
#filter ICS = XXX = -DivXfacTory|-Jiggly|-PORNOLATiON|-PrOnStarS|-SWE6RUS|-VBT
#filter ICS = -DivXfacTory|-Jiggly|-PORNOLATiON|-PrOnStarS|-SWE6RUS|-VBT
#exempt ICS = XXX =  -DivXfacTory|-Jiggly|-PORNOLATiON|-PrOnStarS|-SWE6RUS|-VBT
exempt ICS = XXX = -Jiggly|-Pr0nStars|-PORNOLATION|-SWE6RUS|-VBT|-DivXfacTory
movieminyear ICS = X264.RET.1080 = 2009
movieminyear ICS = X264.RET.720  = 2009
movieminyear ICS = X264.LIM.720  = 2009
movieminyear ICS = X264.CLS.720  = 1900
movieminyear ICS = DIVX.*        = 2009

rating       ICS = X264.* = 1.0 0 1
rating       ICS = DIVX.* = 1.0 0 1

tvcountry    ICS = TV.X264.*   = US
tvgenre      ICS = TV.X264.*   = Scripted|Animation

# Changelog:
#
# 111103 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
