############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils INS = AMIRITE FoV iNVANDRAREN
allows INS = TV.X264.DTV GAMES.MAC DVDR.RET TV.X264.SD TV.DIVX.HDD X264.RET.1080 X264.LIM.1080 X264.CLS.1080 GAMES NORDIC.DVDR TV.X264.HDD TV.X264.DOCU
filter INS = TV.X264.DOCU = -NGCHD|-TERRA|-DiVERGE|-DHD|-EDUCATiON


tvstartyear INS = TV.X264.DVD = 2000
tvstartyear INS = TV.X264.HDD = 2000
tvcountry   INS = TV.* = US|UK|CA
tvgenre     INS = TV.DIVX.HDD   = Scripted|Documentary
tvgenre     INS = TV.X264.DTV   = Scripted|Animation|Cartoon|Documentary
tvgenre     INS = TV.X264.SD   = Scripted|Animation|Cartoon|Documentary



#tvcountry INS = TV.DIVX.DTV = UK|US|CA
#tvcountry INS = TV.X264.DTV = UK|US|CA
#tvcountry INS = TV.X264.HDD = UK|US|CA
#tvcountry INS = TV.X264.SD = UK|US|CA

#tvgenre     INS = TV.DIVX.HDD   = Scripted|Animation|Cartoon|Documentary
#tvgenre     INS = TV.X264.DTV   = Scripted|Animation|Cartoon|Documentary
#tvgenre     INS = TV.X264.SD   = Scripted|Animation|Cartoon|Documentary
#tvgenre     INS = TV.X264.HDD   = Scripted|Animation|Cartoon


filter INS = X264.LIM.1080= !720p
filter INS = X264.RET.1080= !720p
filter INS = X264.CLS.1080= !720p


movieminyear INS = X264.* = 1900
movieminyear INS = DVDR.* = 1900

rating INS = X264.* = 0.0 0 0
rating INS = DVDR.* = 4.0 200 0
filter INS = NORDIC= DANISH|NORDIC

filter INS = PS3= !USA|NTSC




# Changelog:
#
# 070411 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
