############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils INS1 = AMIRITE iNVANDRAREN FoV NoSence
allows INS1 = GAMES XBOX360 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 TV.X264.DTV TV.X264.DOCU TV.X264.HDD TV.X264.SD
banned INS1 = 
filter INS1 = TV.X264.DOCU = -NGCHD|-TERRA|-DiVERGE|-DHD|-EDUCATiON

movieminyear           INS1 = X264.CLS.1080 = 1900
movieminyear           INS1 = X264.RET.1080 = 1900
movieminyear           INS1 = X264.LIM.1080 = 1900

rating                 INS1 = X264.CLS.1080 = 1.0 0 0
rating                 INS1 = X264.RET.1080 = 1.0 0 0
rating                 INS1 = X264.LIM.1080 = 1.0 0 0

#consoleregions         INS1 = PS3=          PAL|RF

tvgenre     INS1 = TV.DIVX.HDD   = Scripted|Documentary
tvgenre     INS1 = TV.X264.DTV   = Scripted|Animation|Cartoon|Documentary
tvgenre     INS1 = TV.X264.SD   = Scripted|Animation|Cartoon|Documentary
tvstartyear INS1 = TV.X264.DVD = 2000
tvstartyear INS1 = TV.X264.HDD = 2000
tvcountry   INS1 = TV.* = US|UK|CA



# Changelog:
#
# 111025 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
