##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################


affils IP = ANTiDOTE BRiGHT DEFECT DiSTRiCT DivXfacTory frieNDS PPG RiVER SEVENTWENTY StarWars TENEIGHTY aAF CYGiSO EHLE
allows IP = DOX GAMES NDS PSP PS3 TV.X264.DE TV.X264.DTV TV.DIVX.DTV WII X264.DE.1080 X264.RET.720 XBOX360 DIVX.RET DIVX.DE DOX.DLC
banned IP = 

filter IP = GAMES = -0x0007|-Razor1911|-GENESIS|-SKIDROW|-POSTMORTEM|-FLT|-RELOADED
#filter IP = APPS = -RESTORE|-CYGiSO|-ISO|-rG|-BLZISO|-DVTiSO|-ZWTiSO
filter IP = PS3 = -DUPLEX
filter IP = TV.X264.DE = -AMBiTiOUS|-euHD|-ZZGtv|-TVP
filter IP = X264.DE.1080 = -DETAiLS|-SoW

exempt IP = TV.*.DTV = ^Family.Guy|^Simpons|^Southpark|^Clone.Wars
exempt IP = X264.DE.1080 = -DETAiLS|-SoW

filter                 IP = PSP = !USA|NTSC
filter                 IP = WII = !USA|NTSC

movieminyear           IP = X264.RET.720  = 2010
movieminyear           IP = DIVX.RET      = 2009
filter 			IP = X264.DE.1080 = !19[0-9][0-9]|200[0-9]
tvcountry              IP = TV.DIVX.DTV   = US
tvgenre                IP = TV.DIVX.DTV   = Scripted
tvcountry              IP = TV.X264.DTV   = US
tvgenre                IP = TV.X264.DTV   = Scripted


# Changelog:
#
# 041109 - Site added (bourbon)
# 041209 - Removed AURA from affils and added VDVA (bourbon)
# 041210 - Added CORRuPT to affils (bourbon)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
