############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils IP1 = ANTiDOTE DivXfacTory WiiZARD iNFAMOUS SCREAM SPARE STRiKE
allows IP1 = GAMES TV.X264.DTV TV.DIVX.DTV WII X264.RET.720 X264.LIM.720 XBOX360 DIVX.RET DIVX.LIM PS3
banned IP1 = -DEFACED -MOViESTARS -TWiZTED

filter IP1 = GAMES = -Razor1911|-SKIDROW|-FLT|-RELOADED

exempt IP1 = TV.*.DTV = ^Family.Guy|^Simpons|^Southpark|^Clone.Wars

filter                 IP1 = WII = !USA|NTSC

movieminyear           IP1 = X264.RET.720  = 2012
movieminyear           IP1 = DIVX.RET      = 2012

tvcountry              IP1 = TV.DIVX.DTV   = US
tvgenre                IP1 = TV.DIVX.DTV   = Scripted
tvcountry              IP1 = TV.X264.DTV   = US
tvgenre                IP1 = TV.X264.DTV   = Scripted




# Changelog:
#
# 111004 - Site added (rizza)
# 120102 - readded site as it bak online as new one new name udb affils so edited all (solar)
# 121023 - added section PS3 and fixed movie year
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
