##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ISZ = ALLiANCE BudD CIMS DETOXATiON DoNE FUCK HLS IMMERSION MPT MPTDVD PROTOCOL TBE USA ZWTiSO
allows ISZ = APPS APPS.DVD DIVX.RET DIVX.SCR DIVX.LIM DIVX.TS DIVX.TC DIVX.TS.LIM DIVX.TC.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD PS2DVD XBOXDVD PS2DVD.JAP
banned ISZ = $INDUSTRIAL -FBI

# Changelog:
#
# 041221 - Site added (bourbon)
# 050201 - Added PS2DVD.JAP to sections and RaCiST to affils (psychoffee)
# 050911 - Updated Affils (baker)
# 051116 - Removed TVL and added XOR to affils (gin)
# 051122 - Changed svcd.ts/tc => divx.ts/tc (baker)
# 051212 - Update
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
