############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################
affils IV = AMIABLE FoV REVEiLLE DDUiSO HDEX BAJSKORV HUGO 
allows IV = TV.DIVX.DSR TV.DIVX.DTV TV.X264.DTV XBOX360 X264.RET.720 X264.LIM.720 DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM GAMES GAMES.DVD WII APPS APPS.DVD 
banned IV = -ViTALiTY Ableton.Suite. AUTODESK. -ARRanCAR -FASiSO -CPY Funny.or.Die.Presents. 

filter IV = TV.*          = !$REALITY-N-CRAP|$UK-SERIES 
filter IV = APPS.*        = !$INDUSTRIAL 
exempt IV = TV.DIVX.DTV = ^Survivor.S\d ^The.Amazing.Race.S ^Top.Chef.S ^The.Apprentice.S 
exempt IV = TV.DIVX.DSR = ^Survivor.S\d ^The.Amazing.Race.S ^Top.Chef.S ^The.Apprentice.S 
exempt IV = TV.X264.DTV = ^American.Idol.S ^David.Letterman 
x264formats            IV = X264.*       = mkv 

moviegenre             IV = DIVX.RET     = 
moviegenre             IV = DIVX.LIM     = 
moviegenre             IV = DIVX.SCR     = 
moviegenre             IV = DIVX.SCR.LIM = 

#tvgenre                IV = TV.DIVX.DTV  = Scripted|Cartoon|Animation 
#tvcountry              IV = TV.DIVX.DTV  = US 
#tvgenre                IV = TV.DIVX.DSR  = Scripted|Cartoon|Animation 
#tvcountry              IV = TV.DIVX.DSR  = US 

#NTSC never dupes PAL:
#consoleregionrank      IV = XBOX360      =
#consoleallowregiondupe IV = XBOX360      = 1

movieminyear           IV = DIVX.RET     = 2009 
movieminyear           IV = DIVX.LIM     = 2009 
movieminyear           IV = DIVX.SCR     = 2009 
movieminyear           IV = DIVX.SCR.LIM = 2009 
movieminyear           IV = X264.RET.720 = 2009 
movieminyear           IV = X264.LIM.720 = 2009 
#movieminyear           IV = DVDR.RET = 2009 
#movieminyear           IV = DVDR.LIM = 2009 

rating                 IV = X264.LIM.720 = 6.0 200 1 
rating                 IV = DVDR.LIM = 6.0 200 1 


# Changelog:
#
# 080906 - Site added (conky)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
