###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils IX = ALLiANCE CLiiCHE FEVER SAiNTS SUBMERGE TOPAZ P0W4 PSPKiNG
allows IX = GAMES GAMES.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DIVX.TC.LIM DIVX.R5 DIVX.R5.LIM DIVX.TS DVDR.RET DVDR.SCR TV.DIVX.DSR TV.DIVX.DTV TV.X264.DVD 
banned IX = -mVs -FpN PROPER.DTV.XVID-NoTV DTV.XviD.PROPER-NoTV PROPER.DTV.XVID-LOL DTV.XviD.PROPER-LOL PROPER.DTV.XVID-FQM DTV.XviD.PROPER-FQM 
filter IX = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES|.DVDSCR.|\.PREAIR\. 
filter IX = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES|.DVDSCR.|\.PREAIR\. 
filter IX = TV.X264.DVD= !$REALITY-N-CRAP|$UK-SERIES|.DVDSCR.|\.PREAIR\. 
filter IX = DIVX.R5=     !LINE[.-] 
exempt IX = Doctor.Who.!Confidential Torchwood Red.Dwarf 

tvstartyear  IX = TV.X264.DVD= 1990 
tvgenre      IX = TV.X264.DVD= Scripted|Cartoon 
#tvcountry    IX = TV.X264.DVD= US
tvgenre      IX = TV.DIVX.DSR= Scripted|Cartoon 
#tvcountry    IX = TV.DIVX.DSR= US
tvgenre      IX = TV.DIVX.DTV= Scripted|Cartoon 
#tvcountry    IX = TV.DIVX.DTV= US

rating       IX = DIVX.LIM= 5.0 100 1 

# Changelog:
#
# 060108 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
