AFFILS = CBFM CRAVERS EDHD QUASAR SADPANDA SUXXORS

#blacklist = 

rule APPS = APPS linux mac windows std
rule DOX = DOX linux windows std
rule GAMES = GAMES linux windows std
rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule TV = TV 720p currentseason scripted web webrip std x264 language:(English) network:(amazon,netflix,youtube,youtube-premium)
rule TV = TV 720p currentseason scripted hdtv nw_us std x264 language:(English)
rule MOVIES = MOVIES 1080p x264 bluray limited lrating:4 lvotes:400 rating:4 votes:400 year:2018 language:(English) std stdmovies
rule MOVIES.2160p = MOVIES 2160p x265 bluray limited lrating:4 lvotes:400 rating:4 votes:400 year:2018 language:(English) std stdmovies uhdrip
rule MOVIES.BDRip = MOVIES bdrip limited lrating:4 lvotes:400 rating:4 votes:400 year:2018 language:(English) std stdmovies
rule TV.BLURAY = TV 720p x264 bluray airdate:2018 nw_us scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray airdate:2018 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)


# NAME           PATH

dir APPS          = /incoming/utils
dir DOX           = /incoming/dox
dir GAMES         = /incoming/games
dir PS4           = /incoming/ps4
dir NSW           = /incoming/nsw
dir TV            = /incoming/tv
dir TV.BLURAY     = /incoming/tv-bluray
dir MOVIES        = /incoming/x264
dir MOVIES.2160p  = /incoming/x265
