affils = ANALYTiCS DigitalSin DivXfacTory FRAGMENT HORNDOGS LPD MenInTights PRODEV SHEPHERDS TiNYiSO

groupblacklist = ADSR C4TV CRiMSON DYNAMiCS EDHD iLLiTERATE KOMPOST OXBRiDGE spamTV FiHTV ViTALITY W4F ZH

rule APPS = APPS windows mac std
rule BOOKWARE = BOOKWARE std

rule DOX = DOX group:(CODEX,RELOADED,Razor1911,RazorDox,SKIDROW,HOODLUM,CPY,BAT) std
rule GAMES = GAMES group:(CODEX,RELOADED,Razor1911,RazorDox,SKIDROW,HOODLUM,CPY,BAT) std

rule DAILYSHOWS = DAILYSHOWS x264 h264 720p hdtv web webrip std
rule TV = TV 720p x264 hdtv h264 currentseason nw_us nw_gb nw_ca web webrip animation internal scripted language:(English) std
rule TV = TV 720p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip animation internal scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason nw_us web webrip animation scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason network:(amazon,netflix,youtube,youtube-premium) web webrip animation scripted language:(English) std
rule TV.BLURAY = TV 720p bluray language:(English) nw_us nw_gb x264 airdate:2018 scripted std
rule TV.BLURAY = TV 720p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) x264 airdate:2018 scripted std
rule TV.BDRIP = TV bdrip airdate:2018 nw_gb nw_us scripted sd std language:(English)
rule TV.BDRIP = TV bdrip airdate:2018 network:(amazon,netflix,youtube,youtube-premium) scripted sd std language:(English)
rule TV.DVDRIP = TV dvdrip airdate:2018 nw_gb nw_us scripted sd std language:(English)
rule TV.DVDRIP = TV dvdrip airdate:2018 network:(amazon,netflix,youtube,youtube-premium) scripted sd std language:(English)


rule SPORTS = SPORTS 720p hdtv h264 x264 web webrip dupesweb dupeshdtv f1 ufc std
rule SPORTS = SPORTS 720p hdtv h264 x264 web webrip dupesweb dupeshdtv motogp filter:(MotoGP) std


rule MOVIES = MOVIES 1080p x264 bluray limited lrating:6 rating:6 year:2018 std stdmovies
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited lrating:6 rating:6 year:2018 std stdmovies
rule MOVIES.BDRip = MOVIES x264 bdrip year:2018 limited rating:6 lrating:6 std stdmovies 

rule XXX = XXX bdrip dvdrip x264 group:(Pr0nStarS,PORNOLATiON,STARLETS,WOP) std


# NAME                     PATH
dir APPS                        = /incoming/utils
dir BOOKWARE                    = /incoming/bookware
dir DAILYSHOWS                  = /incoming/tv_720
dir DOX                         = /incoming/dox
dir GAMES                       = /incoming/games
dir SPORTS.720p                 = /incoming/tv_720
dir SPORTS.1080p                = /incoming/tv_1080
dir TV                          = /incoming/tv_720
dir TV.1080p                    = /incoming/tv_1080
dir TV.BLURAY                   = /incoming/tv_br
dir TV.BDRip                    = /incoming/tv_rips
dir TV.DVDRip                   = /incoming/tv_sd
dir MOVIES                      = /incoming/movies_hd  
dir MOVIES.2160p                = /incoming/movies_hd
dir MOVIES.BDRip                = /incoming/movies_sd        
dir XXX                         = /incoming/xxx




