	############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils JNY = ALLiANCE ARROW COALiTiON 2HD MOTU STARLETS RTV SUXXORS
allows JNY = APPS.MAC GAMES.MAC GAMES GAMES.DVD TV.X264.DTV TV.X264.DVD XXX DIVX.RET DIVX.LIM DIVX.R5 DIVX.R5.LIM DIVX.SCR TV.DIVX.DTV PSP NDS
banned JNY = SKiDROW ViTALiTY FASiSO mVs
exempt JNY = -PORNOLATiON -SWE6RUS
filter JNY = XXX= -PORNOLATiON|-SWE6RUS


filter JNY = DIVX.R5.LIM=  ![._]LINE[._-]
filter JNY = DIVX.R5=      ![._]LINE[._-]

filter JNY = TV.DIVX.DTV=  !$REALITY-N-CRAP|$UK-SERIES
filter JNY = TV.DIVX.DSR=  !$REALITY-N-CRAP|$UK-SERIES
filter JNY = TV.X264.DVD=  !$REALITY-N-CRAP|$UK-SERIES

movieminyear    JNY = DIVX.* = 2008
rating    	JNY = DIVX.LIM = 0.0 0 10
rating		JNY = DIVX.R5.LIM = 0.0 0 10


# Changelog:
#
# 090407 - Site added (me)
# 090414 - NeDiVx, 2HD, FoV and sections (dyna)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
