############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils JP = SKIDROW BLOW COCAIN iNSOMNi ZWTiSO
allows JP = GAMES TV.X264.SD TV.X264.DTV WII X264.RET.720 X264.RET.1080 XBOX360 DIVX.RET DOX DOX.DLC TV.X264.HDD
banned JP = -JAGUAR -0x0007 -JAGDOX Entourage.S04 Entourage.S05 Entourage.S06 Entourage.S07
exempt JP = -DEMAND

filter JP = xbox360 = !ntsc

movieminyear           JP = X264.*        = 2010
movieminyear           JP = DIVX.RET      = 2010

tvcountry              JP = TV.X264.DTV = US
tvcountry              JP = TV.X264.SD = US
tvcountry              JP = TV.X264.HDD = US

#tvgenre                JP = TV.X264.SD    = Scripted|Animation
#tvgenre                JP = TV.X264.DTV   = Scripted|Animation
tvstartyear            JP = TV.X264.HDD = 2000

# Changelog:
#
# 120217 - Site added (me)
# 120315 - added TV.X264.HDD section (moet)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
