###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils JSC = FiCO FRAGMENT iMBT LRC MEDiAMANiACS QiX SAPHiRE TWiST VALiOMEDiA VH-PROD DivXfacTory XCiTE ISO QUASAR CFE
allows JSC = XXX VCD.CAM SVCD.TS DIVX.TS DIVX.SCR VCD.SCR DIVX.LIM DIVX.RET BOOKWARE CLONECD CLONEDVD GAMES GAMES.DVD DIVX.TC
#banned JSC = 
filter JSC = XXX= -Pr0nstarS|-SWE6RUS

# Changelog:
#
# 050629 - Site added (baker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
