##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils KIQ = 4KiDS ADMiTONE BooZerS DVDR GAMERZ MPAA PORNOLATiON TDA VagrantDVD VENGEANCE TheFly
allows KIQ = GAMES GAMES.DVD DVDR.RET DVDR.LIM KIDDIE APPS.Linux SVCD.RET SVCD.TS VCD.TC TV.DIVX.DTV VCD.SCR XBOXDVD
banned KIQ = CaMeL FS FTF IBM $INDUSTRIAL
filter KIQ = TV.DIVX.DTV=^24|^Alias|^Desperate.Housewives|^Star.Trek.Enterprise|^FATHER.OF.THE.PRIDE|^GILMORE.GIRLS|^LOST|^SMALLVILLE|^The.Apprentice|^THE.O.C 
filter KIQ = XBOXDVD= !PAL
filter KIQ = DVDR.RET= !PAL
# Changelog:
#
# 041012 - Site added (bourbon) 
# 041110 - Added affil GAMERZ and ADMiTONE (bourbon)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
