##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils KMA-PRE = ADMiRALS APM ATV CAFE CLONECD DiME dVe DVT FFNDVD LOL m00tv MEDiEVAL OtB QaM RiVER RIVERDVD TBS DIMENSION
#allows SITE = 
#banned SITE = 

# Changelog:
#
# YYMMDD - Site added (darkm)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
