##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils KMA = RiVER TBS FFNDVD TOPAZ LOL WAT REWARD XOXO FAIRPLAY DIMENSION
allows KMA = DIVX.RET DIVX.LIM DOX GAMES TV.DIVX.DTV TV.X264.DVD DIVX.R5 DIVX.SCR DOX.DLC
banned KMA = PROPER.HDTV.XviD-XOR PROPER.PDTV.XviD-XOR -FASiSO Intel.* TGS.* PGI.*
filter KMA = TV.*        = !$REALITY-N-CRAP
tvstartyear            KMA = TV.X264.DVD   = 1995
tvgenre                KMA = TV.X264.DVD   = Scripted|Cartoon|Animation
tvcountry              KMA = TV.X264.DVD   = US
tvstartyear            KMA = TV.X264.HDD   = 1995
tvgenre                KMA = TV.X264.HDD   = Scripted|Cartoon|Animation
tvcountry              KMA = TV.X264.HDD   = US
tvcountry              KMA = TV.DIVX.DTV   = US
movieminyear           KMA = DIVX.*        = 2009
rating                 KMA = DIVX.LIM      = 6.0 250 1

# Changelog:
#
# 20040820 - Site added (ks) 
# 041001 - CLONECD added to affils (bourbon)
# 090308 - Removed APM ATV DiME dVe TV m00tv OtB QaM REDEMPTION CLONECD ADMiRALS AERiAL LOKi STFU NoTvCaphCrimsonDotSys ROGER (dyna)
# 100818 - Updated (blade)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
