# KOH

AFFILS = BEDLAM BRMP CookieMonster GUACAMOLE KETTLE H0WT0 HR JustWatch kEISO MAGNiTUDE OCULAR PRELUDE SERIOUSLY TiNYiSO WiNNiNG

groupblacklist = OUTDATED VOMiT FASiSO EXViD PROPHET COGENT iNLAWS MOVIEPLAZA I_KnoW DARKSiDERS SharpHD TCD

rule APPS = APPS std
rule BOOKWARE = BOOKWARE std

rule DOX = DOX std
rule GAMES = GAMES std

rule TV = TV 720p 1080p 2160p nw_us nw_gb nw_ca nw_au nw_nz hdtv h264 h265 web dupesweb dupeshdtv webrip x264 episodeAge:3 currentseason Documentary Game-Show reality talk-show Scripted language:(English) std
rule TV = TV 720p 1080p 2160p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 h265 web dupesweb dupeshdtv webrip x264 currentseason Documentary Game-Show reality talk-show Scripted language:(English) std 
rule TV.BLURAY = TV 720p 1080p nw_us nw_gb nw_ca nw_au nw_nz bluray language:(English) scripted Documentary x264 std
rule TV.BLURAY = TV 720p 1080p network:(amazon,netflix,youtube,youtube-premium) bluray language:(English) scripted Documentary x264 std
rule DAILYSHOWS = DAILYSHOWS x264 h264 720p 1080p 2160p hdtv web webrip std

rule SPORTS = SPORTS 720p 1080p 2160p hdtv h264 x264 web webrip f1 motogp k1 ufc wwe miscsport dupesweb dupeshdtv std

rule MOVIES = MOVIES bluray 720p 1080p x264 year:2000 limited language:(English) stv std  cls
rule MOVIES.MBluRay = MOVIES MBluRay year:2012 720p 1080p x264 std stv nonfo
rule MOVIES.BDR = MOVIES BDR group:(LAZERS,BAKED,o0o,CBGB,PCH,COASTER,TERMiNAL,WhiteRhino,OCULAR) limited language:(English) stv nonfo std cls
rule MOVIES.UHD = MOVIES UHD group:(LAZERS,BAKED,o0o,CBGB,PCH,COASTER,TERMiNAL,WhiteRhino,OCULAR) limited language:(English) stv nonfo std cls
rule MOVIES.2160p = MOVIES 2160p x265 group:(IAMABLE,EMERALD,WhiteRhino,DEPTH,TERMiNAL) limited language:(English) stv uhdrip nonfo std cls

MOVIES.x264.UHDRip.STV.1080p.DE.NONE.NEW.2D.bluray.EXTERNAL

rule PS4 = PS4 pal rf dupesNTSC dupesJPN std

rule XXX = XXX dvdrip bdrip std 

dir APPS             = /incoming/apps
dir BOOKWARE         = /incoming/apps
dir DOX              = /incoming/games
dir DAILYSHOWS       = /incoming/tv.hd
dir GAMES            = /incoming/games
dir TV               = /incoming/tv.hd
dir TV.BDRip         = /incoming/tv.bdrip
dir TV.BLURAY        = /incoming/tv.bluray
dir SPORTS           = /incoming/tv.hd
dir MOVIES           = /incoming/x264.hd
dir MOVIES.MBluRay   = /incoming/mbluray
dir MOVIES.BDR       = /incoming/bluray
dir MOVIES.UHD       = /incoming/bluray
dir MOVIES.2160p     = /incoming/x265.hd
dir MOVIES.x264.SD   = /incoming/x264.sd
dir NSW              = /incoming/console
dir PS4              = /incoming/console
dir XXX              = /incoming/xxx

Name = Kingdom of Heaven
Location = 10000mbit
Country = UK
Size = 100TB
ISP = Real Hosts Limited
Control = pHASE LGD
Sitebans =
