##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils KP = CONS EcHoS KEG MoF NBP SWE6RUS LRC ViTALiTY
allows KP = APPS DIVX.RET DIVX.SCR DIVX.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD SVCD.TS SVCD.TC
#banned KP = 
filter KP = APPS= ^Adobe|Ahead|^Corel|^Cyberlink|Microsoft|McAfee|^Roxio|^Sony|^Sonic|^Sophos|^Steinberg|^Symantec|^Macromedia|^Panda|^Pinnacle|^Ulead

# Changelog:
#
# 050501 - Site added (checker)
# 050628 -Removed HOODLUM
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
