############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils KPAX = BADBOYS BIZARRE FiCO FiCODVDR FFNDVD FJERNSYN FLT FTP SUNSPOT iNCiTE MEMETiC MiNT MONKEYBIZ NORDiCA NWA RUSH SAiNTS SD-6 TBS DROiDS MoA
allows KPAX = TV.X264.DVD TV.X264.DTV TV.DIVX.DTV TV.DIVX.HR DVDR.RET DVDR.LIM GAMES X264.RET.1080 X264.CLS.720 X264.LIM.1080 X264.CLS.1080 X264.RET.720 X264.LIM.720 TV.X264.HDD
#banned KPAX = 
tvstartyear KPAX = TV.X264.DVD = 2002
filter KPAX = TV.X264.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter KPAX = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter KPAX = TV.DIVX.HR= !$REALITY-N-CRAP|$UK-SERIES
banned KPAX = -ViTALiTY
movieminyear KPAX = X264.LIM  = 1900
rating KPAX = X264.CLS = 6.0 200 0
x264formats KPAX = X264.*  = mkv

# Changelog:
#
# 060307 - Site added (me)
# 090109 - Added MoA affil
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
