##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils KTV = BFF iNFiNiTE MOMENTUM SAiNTS TOPAZ WAT
allows KTV = TV.DIVX.DSR TV.DIVX.DTV TV.X264.DTV TV.X264.DVD TV.DIVX.DVD:1990+ 
banned KTV = P0W4
exempt KTV = TV.X264.DTV= ^Craig.Ferguson

tvcountry              KTV = TV.DIVX.DTV=US|AU
# Changelog:
# removed xor till they pre again
# 060120 - Site added (me)
# 060823 - Affils updated (axess)
# 060824 - Affils updated (axess)
# 070315 - bye bye xor (sparky)
# 090114 - Bye bye 2HD 2SD REWARD RiVER, welcome GNARLY and SAiNTS (dyna)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
