##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LFB = 442 EcHoS EDGEISO GOD HafVCD HOTiSO mVa mVi mVz SPiRO
allows LFB = APPS GAMES GAMES.DVD DIVX.RET DVDR.RET TV.VCD TV.DIVX.DTV VCD.SCR DIVX.TS DIVX.TC DIVX.LIM
banned LFB = -FASiSO -WiZiSO -EiTiSO -MEDiSO -S8 -SAFEDiSK -MaTinE -HHE Datacode IBM
#filter LFB = TV.VCD= ^24|^Andromeda|Enterprise|Stargate|Punkd|Farscape|Oz|Atlantis|Lost|Alias|Prison
filter LFB = TV.DIVX.DTV= ^24|Simple.Life|Pimp.My.Ride|^Lost|^Alias
#filter LFB = SVCD.TS= Centropy|-TCF|VideoCD|maVen
filter LFB = GAMES= !Casino !Hunting !Hunter !Puzzle !Cards
filter LFB = APPS=        !$INDUSTRIAL

# Changelog:
#
# YYMMDD - Site added (blade)
# 040916 - TRUEWORKS ADDED AS AFFIL ( Janno )
# 040925 - updated affils (blade) 
# 050107 - updated generally (blade)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
