##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LINE = BHP COCiO DAGGER DMT FLiX iV
allows LINE = APPS DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DVDR.RET GAMES GAMES.DVD TV.DIVX.DTV XBOXDVD
banned LINE = GENiUS PCDVD SHOWTiME 
filter LINE = APPS=Adobe|Borland|Microsoft|Macromedia|McAfee|PowerQuest|Pinnacle|Roxio|Steinberg|Symantec
filter LINE = TV.DIVX.DTV=^24|^7th.Heaven|^CSI|^Enterprise|^Everwood|^Father.Of.The.Pride|^Gilmore.Girls|^Joey|^Lost|^Rescue.Me|^Summerland|^The.OC|^The.Simpsons|^What.I.Like.About.You

# Changelog:
#
# 041012 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
