##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LK = ANGELiC DREAMLiGHT FLT HALCYON REVEiLLE FoV iNNSYN Felony CLUE
allows LK = CLONECD CLONEDVD DIVX.RET DIVX.LIM DVDR.RET DVDR.LIM DVDR.SCR DVDR.R5 DVDR.PAL GAMES GAMES.DVD NORDIC TV.DIVX.DTV TV.DIVX.DSR TV.X264.DTV X264.RET.1080 X264.RET.720 X264.LIM.720 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 TV.X264.HDD
banned LK = $PDTVDUPES
filter LK = TV.DIVX.DTV= !$REALITY-N-CRAP
filter LK = TV.DIVX.DSR= !$REALITY-N-CRAP
#filter LK = TV.X264.DTV= !$REALITY-N-CRAP

movieminyear           LK = X264.RET.720 =    2005
movieminyear           LK = X264.LIM.720 =    2005
movieminyear           LK = X264.CLS.720 =    1970
movieminyear           LK = X264.RET.1080 =    2005
movieminyear           LK = X264.LIM.1080 =    2005
movieminyear           LK = X264.CLS.1080 =    1970

movieminyear           LK = DIVX.RET=    2005
movieminyear           LK = DIVX.LIM=    2005
movieminyear           LK = DVDR.RET=    2005
movieminyear           LK = DVDR.SCR=    2005
movieminyear           LK = DVDR.R5=     2005
movieminyear           LK = DVDR.LIM=    2005

rating                 LK = X264.RET.720=    5.0 500 0
rating                 LK = X264.LIM.720=    5.0 500 0
rating                 LK = X264.CLS.720=    7.5 1000 0
rating                 LK = X264.RET.1080=    5.0 500 0
rating                 LK = X264.LIM.1080=    5.0 500 0
rating                 LK = X264.CLS.1080=    7.5 1000 0
rating                 LK = DIVX.RET=    5.0 0 1
rating                 LK = DIVX.LIM=    5.0 500 1
rating                 LK = DVDR.RET=    5.0 0 1
rating                 LK = DVDR.SCR=    5.0 0 1
rating                 LK = DVDR.LIM=    5.0 500 1
rating                 LK = NORDIC=      5.0 500 1
rating                 LK = DVDR.R5=     5.0 0 1

tvcountry              LK = TV.DIVX.DTV=  US|UK|CA
tvgenre                LK = TV.DIVX.DTV= Scripted|Cartoon

tvcountry              LK = TV.X264.*=  US|UK|CA
tvgenre                LK = TV.X264.*= Scripted|Cartoon

#x264formats            LK = X264.* = mkv|bd

# Changelog:
#
# 041124 - Site added (bourbon)
# 070115 - Fixed stuff, different site than before (wader)
# 090204 - -PROCYON,THERMOPYLAE, +FoV,iNNSYN (dyna)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
