##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LK2 = FoV
allows LK2 = PS2DVD XBOXDVD PS2CD TV.DIVX.DTV XXX
banned LK2 = $REALITY-N-CRAP
filter LK2 = XXX=-xDMNX|-Pr0nStars
# Changelog:
#
# 041221 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
