############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils LOL = DIAMOND DComics FFNDVD
#allows LOL = XBOX360 WII PSP TV.X264.SD TV.X264.DTV TV.DIVX.DTV TV.DIVX.DSR X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 DVDR.RET DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM DIVX.TS DIVX.TC APPS APPS.DVD BOOKWARE GAMES GAMES.DVD 
allows LOL = APPS GAMES TV.X264.DVD TV.DIVX.HDD TV.X264.DTV TV.X264.SD X264.RET.720 XBOX360 WII PS3 NDS TV.X264.HDD DOX.DLC X264.LIM.720 X264.RET.1080 X264.LIM.1080 DVDR.RET DIVX.RET DIVX.LIM PSP BOOKWARE

tvgenre         LOL = TV.* = Scripted
tvcountry       LOL = TV.* = US

x264formats     LOL = X264.*   = mkv

consoleregions         LOL = XBOX360=   PAL|NTSC
consoleregionrank      LOL = XBOX360=   NTSC PAL
consoleregions         LOL = WII=       PAL|NTSC
consoleregionrank      LOL = WII=       NTSC PAL

rating                 LOL = X264.RET.1080 = 0.0 0 0
rating                 LOL = X264.LIM.1080 = 6.0 1000 0
rating                 LOL = X264.RET.720  = 0.0 0 0
rating                 LOL = X264.LIM.720  = 6.0 1000 0


moviegenre             LOL = DIVX.*       =

movieminyear           LOL = X264.RET.1080 = 2010
movieminyear           LOL = X264.RET.720  = 2010
movieminyear           LOL = DVDR.*        = 2010






# Changelog:
#
# 121026 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
