############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils LOOP = LOL STRiKE TOPAZ Razor1911 WiiZARD NLiSO iNFAMOUS JUMANJi PRO Replica
allows LOOP = DUTCH GAMES GAMES.DVD APPS APPS.DVD APPS.MAC PS2DVD XBOXDVD XBOX360 DVDR.RET DIVX.R5 DIVX.R5.LIM DIVX.TC DIVX.TS DIVX.SCR DIVX.RET DIVX.LIM DIVX.SCR.LIM DIVX.VHS TV.DIVX.DSR TV.DIVX.DTV Wii X264.RET.720 CLONECD CLONEDVD NDS DIVX.FOREIGN UFC APPS.MAC K-1
banned LOOP = $DSRDUPES $INDUSTRIAL -n00x -PreVail -ViTALiTY -RPT -OUTDATED Puzzle
exempt LOOP = Robot.Chicken.S K-1.+DTV Ultimate.Fighter.S Pride.FC. The.Apprentice The.Colbert.Report ^The.Daily.Show ^David.Letterman Top.Gear ^Survivor.S
filter LOOP = TV.DIVX.DTV  = !$REALITY-N-CRAP|$UK-SERIES 
filter LOOP = TV.DIVX.DSR  = !$REALITY-N-CRAP|$UK-SERIES
filter LOOP = Wii          = !USA|NTSC
filter LOOP = DUTCH        = DVDR- !LIMITED
filter LOOP = X264.RET.720 = !200[0-6]
#filter LOOP = UFC          = DTV.XVID  
filter LOOP = GAMES.*      = !Cabelas

tvgenre              LOOP = TV.DIVX.DTV  = Scripted|Cartoon|Animation
tvcountry            LOOP = TV.DIVX.DTV  = US
tvgenre              LOOP = TV.DIVX.DSR  = Scripted|Cartoon|Animation
tvcountry            LOOP = TV.DIVX.DSR  = US

rating         LOOP = DIVX.SCR.LIM = 0.0 0 2
rating         LOOP = DIVX.LIM     = 0.0 0 2
rating         LOOP = DUTCH        = 0.0 0 500

movieminyear   LOOP = DUTCH        = 2007

x264formats    LOOP = X264.*       = mkv


# Changelog:
#
# 060903 - Site added 
# 060918 - Fixed some stuff, exempts, affils, $indu, ... (shr)
# 060927 - Added APPS..? (shr)
# 061019 - Added DIVX.SCR ... (shr)
# 
# Added filter for TV sections, allowed shows, and PROPER of affil :)
#
# 071020 - Added n00x and PreVail to banned (stealth)
# 071101 - Added ViTALiTY to banned (stealth)
# 071114 - Added razor/wiizard (stealth)
# 071118 - Added clone&x264 section (stealth)
# 080331 - Added X264.RET.720 year filter (shrike)
# 080407 - Added NLiSO to affils (stealth)
# 080419 - Updted x264 year filter (stealth)
# 080419 - Added movieminyear filter (stealth)
# 080519 - Removed BAVARiA, added iNFAMOUS (stealth, who else?)
# 080909 - Added UFC shit and disabled rating for .ret movies due more intelligent pci code (guess)
# 080922 - Removed SVENNE (not shrike)
# 081119 - Added APPS.MAC (again not shrike)
# 090417 - Rename PUKKA to JUMANJi (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
