##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LR 		= AiRISO BLZiSO CORE CYGiSO DVTiSO ENiGMA POSTMORTEM rG TBE
allows LR 		= X264.LIM.1080 X264.RET.1080 X264.CLS.1080 XBOX360 DIVX.LIM DIVX.RET TV.X264.DTV GAMES GAMES.DLC DOX XBOX360 DE.UTIL DE.BOOKWARE DE.CINE.SD DE.TV.SD DE.X264.SD DE.X264.1080P
banned LR 		= -0x0815 -COGENT -FASiSO -HEiST -JAGUAR -PROPHET -RAiN
exempt LR		= ^Top.Gear ^Fifth.Gear

# filters
filter LR		= DE.BOOKWARE	= ^(Video2brain|Galileo)[_.-]
filter LR		= DE.CINE.SD	= ![-.]Mic[-.]Dubbed[-.] ![-.]MD[-.]


# tv eng
tvgenre LR		= TV.X264.DTV	= Scripted|Talkshow|Documentary
tvcountry LR		= TV.X264.DTV	= US|UK


# xvid-de
movieminyear LR		= DE.X264.SD	= 2003
rating LR		= DE.X264.SD	= 5.5 250 0

# xvid-en
movieminyear LR		= DIVX.RET	= 2003
movieminyear LR		= DIVX.LIM	= 2003

# x264-en
movieminyear LR		= X264.*	= 1990
rating LR		= X264.*	= 0.0 0 1

# x264-de
movieminyear LR		= X264.DE.1080	= 2007
rating LR		= X264.DE.1080	= 6.0 500 0



# Changelog:
#
# 040803 - NOT UP-TO-DATE ...do it! (this is port royale, not panorama)
# 051111 - Removed TV allows due special dirs (shrike)
# 300816 - Completly rewrote the rules (k)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
