###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LSD = HDEX ISO Pr0nStarS PROTOCOL E7 METiS REWARD PaTHe iCON XBOX360 WII PreCiSiON DASH HETERO TAGLESS 
allows LSD = GAMES GAMES.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DIVX.R5 DIVX.R5.LIM TV.DIVX.DSR TV.DIVX.DTV WWE XBOX360 WII UFC TV.X264.DTV X264.RET.720 DOX DOX.DLC
banned LSD = -FASiSO -TiNYiSO -CPY 

filter LSD = TV.DIVX.DTV= ^David.Letterman|^The.Daily.Show|^The.Colbert.Report|^Top.Gear|^The.Apprentice|^Jimmy.Kimmel|^Conan.O.Brien|^Jay.Leno|^David.Letterman|^Jerry.Springer|^Survivor.S|^Saturday.Night.Live 
filter LSD = TV.DIVX.DSR= ^David.Letterman|^The.Daily.Show|^The.Colbert.Report|^Top.Gear|^The.Apprentice|^Jimmy.Kimmel|^Conan.O.Brien|^Jay.Leno|^David.Letterman|^Jerry.Springer|^Survivor.S|^Saturday.Night.Live 
filter LSD = TV.X264.DTV= !$REALITY-N-CRAP|$UK-SERIES 

filter LSD = WWE= RAW|SMACKDOWN|PPV !x264 
exempt LSD = WWE.*PPV.*XViD 

tvcountry		LSD = TV.DIVX.DTV= US|UK|AU 
tvgenre			LSD = TV.DIVX.DTV= Reality|Scripted|Sport|Talkshow|Variety|Documentary 
tvcountry               LSD = TV.DIVX.DSR= US|UK|AU 
tvgenre                 LSD = TV.DIVX.DSR= Reality|Scripted|Sport|Talkshow|Variety|Documentary 

# no pal/ntsc dupes - whatever comes first (consoleallowregiondupe = 0 is default setting)
consoleregions         LSD = PS2DVD=       PAL|NTSC 
consoleregions         LSD = WII=          PAL|NTSC 

# because we dont know if NTSC was RF or not, we just upload all PAL - and NTSC after PAL is allowed -> dupe=1
#consoleregions         LSD = XBOX360=      PAL|NTSC
#consoleallowregiondupe LSD = XBOX360=      1

rating                 LSD = DIVX.LIM=     0.0 0 1 
rating                 LSD = DIVX.SCR.LIM= 0.0 0 1 
rating                 LSD = DIVX.R5.LIM=  0.0 0 1 
rating                 LSD = DVDR.LIM=     7.0 0 1 

# DEFAULT: 2007
movieminyear           LSD = DIVX.RET=     2008 
movieminyear           LSD = DIVX.LIM=     2008 
movieminyear           LSD = DIVX.SCR.LIM= 2008 
movieminyear           LSD = DIVX.SCR=     2008 
movieminyear           LSD = DIVX.R5=      2009 
movieminyear           LSD = DIVX.TC=      2009 
movieminyear           LSD = DVDR.RET=     2008 
movieminyear           LSD = X264.RET.720= 2009 

#note  LSD = allows DVD5 after DVD9 but doesnt allow PS2.DVD9

# Changelog:
#
# 050415 - Site added (bourbon)
# 050415 - Added banned and DSR (need to find a solution how to exclude the 3 allowed rels ..from exclusion ;) (shrike)
# 050415 - Fixed TV filter (|!$UK-SERIES -> |$UK-SERIES) [first ! in front affects all following $keywords] (shrike)
# 050416 - Sorry, no solution found to fix DSR exceptions ...yet (shrike, thx moet for help)
# 050519 - Added DoNE (shrike)
# 050527 - Added ISO (shrike)
# 050618 - Added HOTISO+PEEPSHOW to affils ...and removed XXX (shrike)
# 050831 - Added TV.DIVX.DSR +filter (shrike)
# 050924 - Added GAMES/.DVD (!#@%+!?) (shrike)
# 050928 - Added LOKi to affils (gin)
# 051026 - Added WWE section and filter (shrike)
# 051030 - Updates some shit, including affils and sections , like CLONE* (psychoffee)
# 051103 - added clone filter for not allowing SF clones (checker)
# 051109 - Removed SVCD.TS.LIM and SVCD.TC.LIM from sections (darkm)
# 060221 - added DVDR.SCR and DVDR.TC to sections and removed SVCD.TS from sections (darkm)
# 060322 - added colbert.report and daily.show to series allows
# 060510 - added CTU to affils (psychoffe)
# 060605 - exempt M = Top.Gear.S\d (shr)
# 060713 - Added XBOX360 section (psy)
# 080122 - Updated all (stealth)
# 080124 - Fixed and updated stealth's updates ... (shrike)
# 080331 - Added X264.RET.720/LIM year filter (shrike)
# 080415 - Added pci2 filters (shrike)
# 080419 - Added consoleregionrank (stealth)
# 091005 - Added DIVX.R5.LIM
# 091105 - Added PreCiSiON, guest only (dyna)
# 081127 - TV rules changed!! - PSP added - -0x0008 added to banlist (dyna)
# 081209 - Removed DVDR.* votes (notshrikebutstealth)
# 100401 - All rules changes, removed dvdr.r5 dvdr.scr, ps2 psp etc (dyna)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
