##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LT = CRNTV mVz XXLiSO PlayTime TDAVCD PreCiSiON BBX LOKi BBXviD
allows LT = DVDR DVDR.LIM DVDR.SCR DVDR.TC MV PS2DVD PSP XBOXDVD ANIME.Series ANIME.Movies
filter LT = ANIME.Series= XVID
filter LT = ANIME.Movies= XVID
banned LT = 

# Changelog:
#
# 050621 - Site added (Orbith)
# 28th Sep - Added all tv divx
# 051108 - added anime and filter (orb)
# 051126 - added BBXviD (orb)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
