##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LTC = CiMS iMMERSiON GAMERZ ZWTiSO STRiKE TDA
allows LTC = DIVX.RET DIVX.SCR DVDR.RET GAMES GAMES.DVD TV.DIVX.DTV VCD.SCR XBOXDVD  
banned LTC = CORRuPT
filter LTC = TV.DIVX.DTV= ^Alias|Simpsons|^24.S|^Joey|Enterprise|Sopranos|Tripping.The.Rift|Smallville|^CSI|^Lost|^Medical

# Changelog:
#
# 041021 - Site added (checker)
# 041026 - Updated affils (shrike)
# 041104 - Removed CIMS (shrike)
# 041104 - Adjusted series ...like: Lost -> ^Lost (shrike)
# 041112 - Added affil STRiKE (wader)
# 041114 - Added PS2CD .. (shrike) 
# 050223 - Removed PS2 and SVCD (wader)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
