##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils LUST = HiGHTiMES JustDifferent LDSXXX SWE6RUS VBT
allows LUST = X264.CLS.1080 X264.RET.1080 XXX
filter LUST = XXX= ![._]DVDR[._-]

rating                 LUST = X264.CLS.1080=  7.0 1 0
x264formats            LUST = X264.*=         mkv
movieminyear           LUST = X264.RET.1080 = 2008

# Changelog:
#
# 040729 - Site added (wader)
# 160107 - Fixed case for divxfactory (leitz)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
