############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils MA = MPTDVD MARVEL SAPHiRE SWE6RUS E7 CONDITION HD1080 CiNEFiLE FSiHD FLESHLiGHT FoV DiAMOND
allows MA = DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.TC DVDR.RET DVDR.SCR DVDR.LIM DVDR.R5 DVDR.SCR.LIM DVDR.R5.LIM NORDIC TV.DIVX.DSR TV.DIVX.DTV TV.X264.DTV X264.RET.720 X264.LIM.720 X264.RET.1080 X264.CLS.720 XBOX360 WII X264.1080P X264.RET.1080 X264.LIM.1080 X264.CLS.1080
filter MA = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter MA = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter MA = X264.* =  !BD(5|9)
banned MA = BDRIP.XviD
exempt MA = X264.* = SWEDISH
x264formats    MA = X264.*       = mkv

rating                 MA = X264.CLS*=   0.0 0 0

movieminyear           MA = X264.*=      1900
movieminyear           MA = DIVX.RET=    2006
movieminyear           MA = DIVX.LIM=    2006
movieminyear           MA = DVDR.RET=    2006
movieminyear           MA = DVDR.LIM=    2006
movieminyear           MA = DVDR.SCR.LIM=    2006
movieminyear           MA = DVDR.R5.LIM=     2006

moviegenre             MA = DIVX.RET=        !Documentary
moviegenre             MA = DIVX.LIM=        !Documentary
moviegenre             MA = DIVX.SCR=        !Documentary
moviegenre             MA = DIVX.SCR.LIM=    !Documentary
moviegenre             MA = DVDR.RET=        !Documentary
moviegenre             MA = DVDR.LIM=        !Documentary
moviegenre             MA = DVDR.SCR.LIM=        !Documentary
moviegenre             MA = DVDR.R5.LIM=         !Documentary
moviegenre             MA = X264.RET.720=    !Documentary
moviegenre             MA = X264.LIM.720=    !Documentary

consoleregions         MA = WII=          PAL
consoleregions         MA = XBOX360=      PAL|NTSC
consoleallowregiondupe MA = XBOX360=      0

# Changelog:
#
# 080517 - Site added (me)
# 090412 - Bye CiNEFiLE, HD1080 (dyna)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
