##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MC1 = c0nFuSed CFE CHALLENGE DEViANCE EMPiRE HaFVCD MPT MPTDVD MRN Orgasm RiOT SFM TBE
allows MC1 = GAMES GAMES.DVD APPS APPS.DVD VCD.SCR DIVX.TS GERMAN DVDR.RET XBOXDVD PS2DVD 
banned MC1 = EPH FASiSO FTFiSO JAGiSO PHXiSO FANiSO HS MAX BULLsFROG ViRTUS MATinE XiSO GRiSO SHooTERS ENLIGHT COBRA INDUCT
filter MC1 = APPS= Adobe|Autodesk|Cakewalk|Corel|Lexware|Macromedia|Magix|Mcafee|Microsoft|Norton|Powerquest|Roxio|Symantec|Pinnacle

# Changelog:
#
# 041001 - Site added (checker)
# 041211 - Removed Substance from affils (bourbon)
# 060110 - added deviance (baker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
