############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils MD = ALTEREGO BRAVERY Japhson PLUTONiUM TREBLE TRiPS UAV VALUE WEST OXBRiDGE
allows MD = APPS APPS.MAC APPS.Linux BOOKWARE GAMES DOX DOX.DLC TV.X264.DTV TV.X264.DTV.1080 TV.X264.WEB TV.X264.WEB.1080 X264.LIM.1080 X264.LIM.720 X264.CLS.1080 X264.CLS.720 X264.RET.1080 X264.RET.720 X264.MUSIC.720 MOTOGP.1080 MOTOGP.720
banned MD = -REGRET -FASiSO -PROPHET -I_KnoW


movieminyear MD = X264.* = 1900
moviegenre   MD = X264.* = 
rating       MD = X264.* = 0.0 0 0

tvcountry    MD = TV.*   = US|UK|CA
tvgenre      MD = TV.*   = Scripted|Animation|Cartoon|Talkshow|Reality|Documentary|Sport|Mini-Series

exempt       MD = TV.*   = [._]internal[._]




# Changelog:
#
# 151108 - Site added (shrike)
# 151209 - updated affils (default)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
