###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MDN = ADX BRUTUS CENTROPY GAMERZ STRiKE SWE6RUS WASTEDTIME TDA PEEPSHOW CVS ZWTISO
allows MDN = ANIME.Series APPS DIVX.RET GAMES GAMES.DVD PS2DVD XBOXDVD VCD.SCR DIVX.SCR DVDR.RET TV.DIVX.DTV VCD.CAM SVCD.RET SVCD.TS SVCD.TC
banned MDN = $INDUSTRIAL -COBRA DVD9 The.Apprentice -BRiCK ^IBM[._]
filter MDN = TV.DIVX.DTV= .S0\dE\d\d|.\dx\d
filter MDN = TV.DIVX.DTV= !$REALITY-N-CRAP
filter MDN = ANIME.Series= -AVCD|-NAS|-ADX

# Changelog:
#
# 050124 - Site added (checker)
# 050131 - Added TDA to affils (bourbon)
# 050206 - Removed SVCD.TS SVCD.TC as sections and added vcd.cam (bourbon)
# 050207 - Added filter to skip TV seasons 10+ (shrike)
# 050208 - Added COBRA to bans (bourbon)
# 050415 - Fixed TV/REALITY-N-CRAP (new line) (shrike)
# 050522 - added svcd.ts svcd.tc in allow (orbith)
# 050601 - added ANIME.Series and filter (checker)
# 050611 - CVS to affils
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
