############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ME = ABORTIONSAREFORBABIES AG ARNiSO BBF CAUiSO CFE CLASSiCW4F DOMiNO DVD-R EPiC JFKXVID LiCK MiND MiNT NEPTUNE NSiD PiZZADOX QUASAR SaG SAPHiRE TWiST VH-PROD ViH YYePGiSO
allows ME = APPS APPS.DVD BOOKWARE DIVX.RET DIVX.RET.LIM DIVX.SCR DIVX.R5 DIVX.SCR.LIM DVDR.RET DVDR.LIM XBOX360 XBOXDVD PS2DVD GAMES GAMES.DVD CLONECD CLONEDVD XXX WII TV.DIVX.DTV TV.DIVX.DSR NORDIC DOX.DLC
banned ME = SKIDROW
filter ME = XXX= -Pr0nStarS
filter ME = WII= PAL

filter ME = APPS= Adobe|Windows
filter ME = APPS.DVD= Adobe|Windows
rating ME = DVDR.* = 3.5 1 0
rating ME = NORDIC = 3.5 1 0


# Changelog:
#
# 060917 - Site added (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
