# MF

AFFILS = ACTiVATED AiR AiRISO ARCADE BACKLASH BLiZZARD BiFiSO BLZiSO COMPRISED CORE CYGiSO DELiGHT DINOByTES DVT ENiGMA F4CG FANiSO FLT GENESiS ISO JGTISO PANTHEON PARADOX PRODEV Razor1911 RazorDOX XFORCE ZWT

#blacklist = 

rule APPS = APPS std
rule BOOKWARE = BOOKWARE std

rule DOX = DOX std
rule GAMES = GAMES std

# NAME                     PATH
dir APPS             = /iso-apps-year_current
dir BOOKWARE         = /iso-bookware-year_current
dir GAMES            = /iso-games-year_current
dir DOX              = /iso-dox-year_current

Name = Magnetic Fields
Location = 10000mbit
Country = DE
Size = 38TB local, 3456TB remote
ISP = interwerk.de
Control = iND
Sitebans =
Status = Up
Comments =
