##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MGD = ANiMOTiON CiNEVCD GWL MSE MTS PLDiVX SiLENTGATE TBE VFUA MRN LDSXXX UNLiMiTED MEDiEVAL
allows MGD = GAMES GAMES.DVD APPS APPS.Linux PS2DVD XBOXDVD DIVX.RET SVCD.RET DVDR.RET SVCD.TS SVCD.TC SVCD.SCR VCD.SCR TV.DIVX.DTV GERMAN
filter MGD = APPS= Corel|Jasc|Macromedia|Borland|Adobe|Steinberg|McAfee|Microsoft|Roxio|Pinnacle|Symantec|Ulead|Veritas
filter MGD = APPS.Linux= Corel|Jasc|Macromedia|Borland|Adobe|Steinberg|McAfee|Microsoft|Roxio|Pinnacle|Symantec|Ulead|Veritas
filter MGD = TV.DIVX.DTV= ^24|Alias|^Malcolm|Simpsons|^Smallville|Stargate|Wonderfalls

# Changelog:
#
# YYMMDD - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
