##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MHC-PRE = Cyclone DoNE MEDISO NNY
allows MHC-PRE = XXX TV.DIVX.DTV TV.DIVX.A 
#banned MHC-PRE = 
filter MHC-PRE = XXX= -DETOXATION
filter MHC-PRE = TV.DIVX.DTV= ^24|^CSI|^Deadwood|Dead.Like|Enterprise|Everwood|^JAG|^Law|^Mutant|^North.S|^Six|Smallville|Stargate|Simpsons|Shield|Jury|^That|Casino|Sopranos
filter MHC-PRE = TV.DIVX.A= ^South

# Changelog:
#
# 050606 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
