###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MHC = WAT WATDVD PaTHe LRC PLAY NoPE m00tv
allows MHC = BOOKWARE DIVX.RET TV.DIVX.DSR DVDR.RET DVDR.LIM GAMES GAMES.DVD XXX TV.DIVX.DTV XBOXDVD APPS CLONECD CLONEDVD DIVX.LIM DUTCH
banned MHC = -ViTALiTY
filter MHC = XXX= -PORNOLATiON
filter MHC = TV.DIVX.DTV= ^24|^Boston.Legal|^CSI|^The.Unit|^House|^Deadwood|Dead.Like|Enterprise|Everwood|^JAG|^Law|^Mutant|^North.S|^Six|Smallville|Stargate|Simpsons|Shield|Jury|^That|Casino|Sopranos|Top.Gear|^Heroes|^Entourage|^Criminal.Minds|^The.4400
filter MHC = TV.DIVX.DSR= ^South.Park
filter MHC = APPS= Adobe|Jasc|Microsoft|Mcafee|Magix|Norton|Pinnacle|Symantec|Tomtom|Uled|Macromedia

rating MHC = DVDR.* = 5.0 0 1

 
# Changelog:
#
# 040831 - Site added (blade)
# 050626 - edited affil list (orbith)
# 050829 -  Added iMBT (orb)
# 050829 - Fixed apps filter (orb)
# 051023 - No dirs for DIVX/XXX/TV/SVCD/APPS on site - updated till they fix it or not (pretorian)
# 051107 - all sections are up , changed to old alow list (acid)
# 051110 - added DESUX as affil (orb)
# 051113 - svcd/vcd is affil only (orb)
# 051116 - removed TVL (acid)
# 051116 - added ban dvd9 (orb)
# 051204 - added xDMNx to xxx filter (acid)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
