############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils MP5 = COMPULSiON iCON BAKED SWE6RUS
allows MP5 = GAMES.MAC APPS APPS.DVD APPS.MAC DIVX.RET DIVX.LIM GAMES WII PS3 XBOX360 X264.RET.1080 X264.RET.720 X264.LIM.720 TV.X264.DTV BOOKWARE DOX DOX.DLC BLURAY.RET XXX DOX.DLC
banned MP5 = .PSN.

exempt MP5 = XXX= -PORNOLATiON|-STARLETS|-Pr0nStarS|-Jiggly|-VBT

movieminyear MP5 = X264.* = 2011
movieminyear MP5 = DIVX.* = 2012
movieminyear MP5 = BLURAY.* = 2011

rating MP5 = X264.RET.1080 = 0.0 0 1
rating MP5 = X264.RET.720 = 0.0 0 1
rating MP5 = X264.LIM.720 = 5.0 300 1

rating MP5 = DIVX.RET       = 0.0 0 1
rating MP5 = DIVX.LIM       = 5.0 300 1

tvcountry MP5 = TV.X264.HDD  = US
tvgenre MP5 = TV.X264.HDD = Scripted

filter MP5 = GAMES = -SKIDROW|-Razor1911|-FLT|-RELOADED
filter MP5 = DOX = -SKIDROW|-RazorDOX|-FLTDOX|-RELOADED
filter MP5 = XXX = -VBT|-STARLETS|-PORNOLATION|-JiGGLY|-Pr0nStarS
filter MP5 = GAMES.MAC = -MONEY


# Changelog:
#
# 120727 - Site added (weedman)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
