##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MS = DoNE HafVCD HLS MPT MPTDVD LRC SMR DMz iSP
allows MS = APPS DIVX.RET DIVX.LIM DIVX.SCR DVDR.RET DVDR.LIM DVDR.SCR GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TC SVCD.TS TV.VCD VCD.CAM VCD.TC VCD.TS XBOXDVD 
banned MS = $INDUSTRIAL 
filter MS = TV.VCD= -TVL|-CRiMSON

# Changelog:
#
# 050121 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
