##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils MTS = MEDiEVAL FUCK ROYAL TBE ABSOKT ISO BASTARDS XOR ADDICTION DoNE
allows MTS = TV.DIVX.DTV TV.DIVX.DSR TV.X264.DVD DIVX.RET DIVX.SCR DIVX.LIM DIVX.TC SVCD.TC SVCD.TC.LIM SVCD.TS SVCD.TS.LIM APPS.DVD APPS APPS.Linux APPS.MAC GAMES GAMES.DVD DVDR.RET DVDR.SCR XBOXDVD XBOXCD XXX NORDIC
banned MTS = DATECODE -RiSCiSO $UNTAGGED
filter MTS = XXX=         -Pr0nStarS
filter MTS = NORDIC=      SCREENER|XViD|DIVX|DVDR- [._]SWE[._]|SWEDISH|NORDIC !LIMITED.DVDR
filter MTS = APPS=        -ZWTiSO|-FTFiSO|-RiSE|-MAGNiTUDE|-SHOCKiSO|-TDA|-JUSTiSO|-VIKING|-MACISO|-HOTISO
filter MTS = APPS.DVD=    -ZWTiSO|-FTFiSO|-RiSE|-MAGNiTUDE|-SHOCKiSO|-TDA|-JUSTiSO|-VIKING|-MACISO|-HOTISO
filter MTS = APPS.Linux=  -ZWTiSO|-FTFiSO|-RiSE|-MAGNiTUDE|-SHOCKiSO|-TDA|-JUSTiSO|-VIKING|-MACISO|-HOTISO
filter MTS = APPS.MAC=    -ZWTiSO|-FTFiSO|-RiSE|-MAGNiTUDE|-SHOCKiSO|-TDA|-JUSTiSO|-VIKING|-MACISO|-HOTISO
filter MTS = TV.DIVX.DSR= !$REALITY-N-CRAP-MTS|$UK-SERIES-MTS
filter MTS = TV.DIVX.DTV= !$REALITY-N-CRAP-MTS|$UK-SERIES-MTS
filter MTS = TV.X264.DVD= !$REALITY-N-CRAP-MTS|$UK-SERIES-MTS|Home.Improvement.S\d|Miami.Vice.S\d|The.Adventures.Of.Pete.And.Pete.S\d
#note  MTS = Allows Bonus Disk for Games

# Changelog:
#
# 050306 - Site added (bourbon)
# 050524 - Added TVEP as guestaffil (orbith)
# 050526 - Added ISO as guestaffil (orbith)
# 050526 - Added BlueEyes as guestaffil (orbith)
# 050609 - Removed ISO (orbith)
# 050820 - edited the affilslist, added CRiMSON to allow (orb)
# 050820 - Added ROYAL,TBE (orb)
# 050828 - Added APPS filter and -TV to allowed grps (baker)
# 050905 - Changed Allowed apps grp quantum -> justiso (baker)
# 050907 - added DVD filter for allowed shows (orb)
# 050910 - added -LATERAL to allowed DTV grps (baker)
# 080911 - added absokt (orb)
# 050924 - added untagged to banned(orb)
# 050925 - removed LOKi (orb)
# 050925 - addet Thunderbirds to tv filter (baker)
# 051007 - Updated tv rules (orb)
# 051030 - ASOKT->VIKING, $REALITY-N-CRAP to ban (shrike)
# 051112 - added BASTARDS (baker)
# 051113 - banned filter updated (acid)
# 051116 - Removed TCM and added XOR to affils (gin)
# 051117 - added XOR to affils (orb)
# 051118 - added ADDICTION to affils (acid)
# 051127 - Updated TV rules/filter, added special -MTS rule in general (shrike)
# 051127 - Removed VCD.*, Added SVCD.TS/TC.LIM, Added APPS.MAC+filter (shrike)
# 051127 - Updated APPS filters, removed -ISO, added -MACISO and -HOTISO (shrike)
# 051204 - added DoNE to affil list (acid)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
