############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils MWHDP = LOL DIMENSION SWAG GEHENNA ACCLAiM SPiRO AMIABLE REWARD DORiTOS REWIND HDEX RiOT SUSHi PSYCHD FoV ACTiVATED BATV
allows MWHDP = XBOX360 NDS PSP WII PS3 X264.RET.720 X264.LIM.720 X264.CLS.720 TV.DIVX.DTV TV.X264.DTV DVDR.RET DVDR.LIM DUTCH.DVDR DUTCH.X264 TV.X264.SD GAMES GAMES.MAC
banned MWHDP = FASiSO FAC DASH AVS720 OEM1080 CLANDESTiNE .3DS FLEET

filter          MWHDP = GAMES        = -Razor1911|-RELOADED|-FLT|-SKIDROW|-MONEY|-CODEX|-HI2U|-ACTiVATED|-MONEY|-POSTMORTEM

x264formats            MWHDP = X264.*       = mkv

movieminyear           MWHDP = X264.RET.720  = 2005
movieminyear           MWHDP = X264.LIM.720  = 2005
movieminyear           MWHDP = DVDR.RET=     2009
movieminyear           MWHDP = DVDR.LIM=     2009

filter                 MWHDP = TV.DIVX.DTV= !$REALITY-N-CRAP

tvcountry              MWHDP = TV.DIVX.DTV   = US
tvcountry              MWHDP = TV.X264.DTV   = US

tvgenre                MWHDP = TV.DIVX.DTV   = Scripted
tvgenre                MWHDP = TV.X264.DTV   = Scripted

rating                 MWHDP = X264.RET.720  = 5.0 0 1
rating                 MWHDP = X264.LIM.720  = 5.0 0 1
rating                 MWHDP = X264.CLS.720  = 7.0 0 1
rating                 MWHDP = DVDR.RET=     4.0 0 1
rating                 MWHDP = DVDR.LIM=     4.0 0 0

consoleregions         MWHDP = WII=          PAL
consoleregions         MWHDP = XBOX360=      PAL|NTSC


# Changelog:
#
# 110324 - Site added (rizza)
# 110326 - updated rules (rizza)
# 270611 - added DUTCH.264 and DUTCH.DVDR section (rizza)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
