affils = DINOByTES FKKHD Razor1911 RazorDOX TBE

rule APPS = APPS std

rule DOX = DOX std
rule GAMES = GAMES std

rule MOVIES = MOVIES bluray 1080p x264 year:2018 limited lrating:5 rating:5 language:(English) std stdmovies

rule TV.720p = TV 720p x264 hdtv h264 currentseason dupesweb nw_us scripted language:(English) std

# NAME                     PATH
dir APPS             = /incoming/apps
dir BOOKWARE         = /incoming/bookware
dir GAMES            = /incoming/games
dir DOX              = /incoming/dox
dir TV.720p          = /incoming/series-x264 
dir MOVIES           = /incoming/x264
dir MOVIES.MBluRay   = /incoming/mbluray  

