##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils N.DE = GWL GP STARCUBE MOONCUBE TBE W3D NBS MTS CAP CUMSTAiNS xDMNx SPiCE WAM BAM CHRONiC Xtasy LRC DDUiSO wAnk0rZ
allows N.DE = TV.DVDR TV.DIVX.DTV DVDR.RET VCD.SCR GAMES GAMES.DVD APPS
banned N.DE = FANiSO DOWNLiNK
filter N.DE = TV.DVDR=24|LOST|Desperate|Scrubs|Alias
filter N.DE = APPS=Adobe|Borland|Corel|Cubase|Map|McAfee|Macromedia|Microsoft|Norton|PowerQuest|Propellerheads|Roxio|Steinberg|Symantec|TomTom|Ulead|Veritas|VMWare|Wiso

# Changelog:
#
# 050827 - Site added (baker)
# 060119 - updated stuff (blade)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
