##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NA = matine CLAWFiNGER LiBiSO
allows NA = DVDR.RET DVDR.LIM SVCD.TS SVCD.TS.LIM SVCD.TC SVCD.TC.LIM TV.DIVX.DTV TV.DIVX.HR VCD.SCR GAMES GAMES.DVD NORDIC DIVX.RET DIVX.SCR DIVX.LIM DIVX.TC DIVX.TS PS2DVD XBOXDVD TV.DIVX.DSR XXX PSP
banned NA = 
filter NA = XXX= Pr0nStarS|SWE6RUS
filter NA = NORDIC= XViD|DIVX|DVDR- SWEDISH|NORDIC

# Changelog:
#
# 050218 - Site added (bourbon)
# 050601 - Added section ? (orbith)
# 050609 - Added section divx (orbith)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
