##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NB = WEBSTER
allows NB = APPS APPS.MAC GAMES GAMES.MAC DOX TV.X264.DTV TV.X264.WEB X264.RET.720 X264.LIM.720
banned NB = -FCC -FERiCE -REGRET

filter NB = APPS       = !INDUSTRIAL
filter NB = APPS.MAC   = !INDUSTRIAL
filter NB = GAMES      = -CODEX -CPY -FLT -RELOADED -RAZOR1911 -SKiDROW -BAT -ACTiVATED -HI2U -PLAZA
filter NB = GAMES.MAC  = -CODEX -CPY -FLT -RELOADED -RAZOR1911 -SKiDROW -BAT -ACTiVATED -HI2U -PLAZA
filter NB = DOX        = -CODEX -CPY -FLT -RELOADED -RAZOR1911 -SKiDROW -BAT -ACTiVATED -HI2U -PLAZA

exempt NB = Gold.Rush|HBO.*

movieminyear NB = X264.*     = 2016
rating       NB = X264.LIM.* = 5.0 5000 1


#nostalgic backup:
#affils NB = DzN ECHELON FLT ISO MRN ProjectX ViTE
#allows NB = APPS APPS.DVD APPS.Linux DIVX.RET DVDR.RET GAMES GAMES.DVD GAMES.Linux MP3 NORDIC PS2CD PS2RIP XBOXDVD DOX.DLC
#banned NB = EJAY DASSAULT -FTF -InR -NATURAL -OMA ^IBM -RiSCiSO -Substance -UNDERNET -WIZISO -WOYiSO
#filter NB = NORDIC= NORDIC|NORWEGIAN|DANISH|SWEDISH !SVCD !DANISH.+DVDR-
#warning NB = DVDR= (*)DVDR:imdb6+.only

# Changelog:
#
# 040729 - Updated Affils (wader)
# 040806 - Removed SVCD.TC (wader)
# 040822 - Added ^IBM to banned
# 040903 - Added FLT as affils (checker)
# 040924 - Fixed NORDIC filter a bit (wader)
# 040925 - Tweaked NORDIC filter a bit again (wader)
# 041111 - Added ECHELON and ProjectX as affils (wader)
# 050428 - Added EJAY to banned (shrike)
# 171218 - ...ehm, updated? (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
