#############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NC = AN0NYM0US BooKWoRM COJONUDO HDEX iNKiSO JODER JustWatch LiQUiD MAYHEM NEWiSO OVERTiME PRiNCE QCF TREBLE TURMOiL VERUM XQZT
allows NC = DOX GAMES GAMES.MAC GAMES.LINUX APPS APPS.Linux BOOKWARE APPS.MAC TV.X264.DTV X264.RET.720 X264.RET.1080 X264.LIM.1080 X264.LIM.720 PS3 XBOX360 TV.X264.HDD TV.X264.WEB BLURAY.RET BLURAY.LIM TV.X264.DTV.1080 X264.MUSIC.720 X264.MUSIC.1080
banned NC = -iND -BIE -CPY -PROPHET -JAGUAR -0x0007 -VITALITY -FASiSO -HEiST -iGNiTiON -EXViD -RUINS -VoMIT -REMEDY Barbary.Coast -C4TV -BARGE -REGRET -W4F peak.practice ^Andromeda -COMPRISED

rating NC = BLURAY.RET = 0.0 0 1
rating NC = BLURAY.LIM = 5.0 500 1
rating NC = X264.RET.* = 0.0 0 1
rating NC = X264.LIM.* = 5.0 500 1

movieminyear NC = BLURAY.* = 2016
movieminyear NC = X264.* = 2016

tvcountry    NC = TV.X264.HDD = US|UK|CA
tvcountry    NC = TV.X264.DTV = US|UK|CA
tvcountry    NC = TV.X264.WEB = US|UK|CA
tvstartyear  NC = TV.X264.HDD = 2010

#exempt       NC = TV.X264.DTV = ^UFC

filter       NC = X264.MUSIC.* = ![._]200[0-9][._-] ![._]201[0-5][._-] ![._]19\d\d[._-]
#filter       NC = APPS = -ISO|-TBE|-CORE|-DVTiSO|-ZWTiSO|-MAGNiTUDE|-ECZ
#filter       NC = GAMES = -SKIDROW|-TiNYiSO|-CODEX|-ACTiVATED|-RELOADED|-Razor1911|-FLT|-CPY|-iNLAWS|-MONEY|-SMACKs|-RAZORDOX|-FLTDOX|-BAT|-POSTMORTEM|-HI2U|-ENiGMA
#filter       NC = DOX* = -SKIDROW|-TiNYiSO|-CODEX|-ACTiVATED|-RELOADED|-Razor1911|-FLT|-CPY|-iNLAWS|-MONEY|-SMACKs|-RAZORDOX|-FLTDOX|-BAT|-POSTMORTEM|-HI2U|-ENiGMA
#filter       NC = BOOKWARE = kEISO|-PRODEV|-TUTOR|-iNKiSO|-ELOHiM|-THEOS|-SoSISO|-QUASAR|-BooKWoRM|-JGTiSO|-NiSO
#filter       NC = TV.X264.DTV.1080 = -DIMENSION|-BATV

# Changelog:
#
# 130917 - Site added (me)
# 140421 - affils added (ohno)
# 150407 - fixed few issues (limited x264 etc..)  (g0ne)
# 151020 - updated rules (g0ne)
# 160203 - readded PRiNCE as affil since they only pre EN releases (NHL) (default)
# 160209 - TURBO added as affil (ohno)
# 160501 - removed TURBO again (ohno)
# 160508 - added QCF as affil (ohno)
# 160902 - added VERUM as affil (ohno)
# 160903 - added TURMOiL as affil (ohno)
# 160927 - added DOX section (default)
# 170104 - added LiQUiD as affil (ohno)
# 170115 - deleted tv-dvdrip from allow sections due to it being affil only now (shrikewantsdefault2updatehissitesforhim/default)
# 170511 - Updates lots of shit (shrike)
# 170516 - updated affils list entirely since there was alot of changes, new affils + lots not on anymore (default)
# 170522 - +XQZT as affil (cause default is a kind guy)
# 170529 - removed tv1080 WEB (g0ne)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
