############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NCOM = CiCXXX CTY DiSTRiCT GUEST KissMyDick StarWars iMPERiUM DiSTRiCT
allows NCOM = PS3 X264.RET.1080 X264.RET.720 TV.X264.HDD.DE DIVX.R5 DIVX.RET DIVX.DE DIVX.DE.LIM DIVX.DE.LD DIVX.DE.MD.LIM DIVX.DE.MD DVDR.DE DVDR.RET GAMES APPS APPS.DE XXX TV.DIVX.DE TV.X264.DVD.DE TV.DIVX.DU.DE X264.DE.720 X264.DE.1080 TV.DIVX.DTV TV.X264.DTV XBOX360 TV.X264.DE PS3 WII
banned NCOM = -Jiggly|-TRANSFORMERS|-PFD|-OMP|-HACO|-OneUp|-DOLLHEAD|-PROPHET|-SCEPTiCAL|-THECLEANERS|-CLEANER|-ULTiMATEx264|-AiRWAVES|-XMF|-4TH|-RORSCHACH|-KDH|-ANY1|-Bamboocha|-FANiSO|-bittrippers|-MCG|-TRexHD|-HDi|-TURKMP3|-HOMEMADE|-OUZO|-Homely|-GVD

exempt NCOM = APPS      = -RESTORE|-Substance|-CYGiSO|-ZWTiSO|-DVTiSO|-BIE
filter NCOM = APPS      = -RESTORE|-Substance|-CYGiSO|-ZWTiSO|-DVTiSO|-BIE
filter NCOM = TV.DIVX.DTV= !$REALITY-N-CRAP
filter NCOM = TV.X264.DTV= !$REALITY-N-CRAP
filter NCOM = PS3 = !USA !ASIA
exempt NCOM = XXX= -DivXfacTory|-Pr0nStarS|-CHiKANi|-ESCORT|-CiCXXX|-NYMPHO|-VBT
exempt NCOM = TV.X264.DVD.DE = DE|GERMANY
rating                 NCOM = DIVX.DE       = 0.0 0 0
rating                 NCOM = DIVX.DE.*     = 0.0 0 0
rating                 NCOM = DVDR.DE       = 0.0 0 0
movieminyear           NCOM = DVDR.DE       = 2008


tvcountry    NCOM = TV.DIVX.DTV         = US
tvcountry    NCOM = TV.X264.DTV         = US

# Changelog:
#
# 101009 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
