############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NED = GOW Cartier RiPTAiL YSPDVD
allows NED = GAMES APPS APPS.DVD XBOX360 WII DIVX.TC DIVX.RET DIVX.TS DIVX.R5 DIVX.SCR DVDR.RET DVDR.LIM TV.X264.DTV X264.RET.720 XXX DVDR.RET X264.LIM.720 GAMES.DE DIVX.DE DVDR.DE DIVX.DE.LD DIVX.DE.MD TV.DIVX.DE TV.DIVX.DU.DE
banned NED = -SKiDROW -ViTALiTY -FASiSO -TiNYiSO

filter NED = TV.DIVX.DU.DE= -ITG|-SOF|-iNSPiRED 
filter NED = TV.DIVX.DE= -ITG|-SOF|-iNSPiRED !DVDRip aaaaaaaa

filter NED = XXX = -PORNOLATiON|-QualitX
filter NED = WII = [_.]PAL[_.-]
# Changelog:
#
# 080713 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
