##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NF = DiAMOND
#allows NF = APPS DIVX.RET DIVX.LIM DIVX.SCR DVDR.RET DVDR.LIM DVDR.SCR GAMES GBA PDA PS2DVD SVCD.RET SVCD.SCR SVCD.TC SVCD.TS TV.VCD TV.DIVX.DTV VCD.SCR VCD.TC VCD.TS XBOXDVD
#banned NF = 
#filter NF = TV.VCD= ^24|Big.Brother|^CSI|^CSI.Miami|Curb.Your.Enthusiam|Enterprise|^Friends|^He-Man|Justice.League|Mind.of.the.Married.Man|^Monk|^Peacemakers|Sex.and.the.City|South.Park|^Survivor|^The.OC|The.O.C.|Simpsons|Sopranos
#filter NF = SVCD.TS= -Centropy

# Changelog:
#
# 040730 - Added SVCD.TS to sections and to filter (wader)
# 040804 - Removed XXX from allows (it's affil only!) (shrike) 
# 040927 - added TVL to affil (bourbon)
# 040927 - removed TV from affil (bourbon)
# 041201 - removed TV.VCD filter as all vcd tv allowed
# 050301 - Removed Confusion (wader)
# 
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
