#xx#########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NFK = ASTEROiDS CUMSTAiNS iMBT MeLA PARASiTE PiZZADOX PROMiSE PWZiSO SiGNMAKER TWiST  
allows NFK = APPS DIVX.LIM DIVX.RET GAMES SVCD.TS SVCD.TC SVCD.RET XBOXDVD DOX.DLC
banned NFK = 

# Changelog:
#
# 050628 - Site added (baker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
