############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NG = aAF BiA DiCH DivXfacTory ESPiSE FFNDVD IGUANA MELiTE NANO RiVER SPYRAL 
allows NG = APPS APPS.MAC DVDR.RET DVDR.LIM GAMES TV.X264.DVD TV.DIVX.DTV TV.DIVX.DSR X264.RET.720 x264.LIM.720 X264.RET.1080 X264.LIM.1080 DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM DIVX.TS DIVX.TC XBOX360 TV.X264.DTV WII X264.CLS.1080 X264.CLS.720 TV.X264.HDD 
banned NG = $INDUSTRIAL 

#exempt        NG = XXX= -DivXfacTory|-STARLETS|-NYMPHO|-Pr0nStarS 
x264formats   NG = X264.* = mkv 

tvstartyear  NG = TV.X264.DVD  = 2005 
tvstartyear  NG = TV.X264.HDD  = 2008 

movieminyear  NG = X264.CLS.720 = 2008 
movieminyear  NG = X264.CLS.1080= 2008 

rating 		NG = DVDR.LIM     = 5.0 300 1 
rating 		NG = x264.LIM.*   = 5.0 500 1 
rating		NG = DIVX.LIM     = 5.0 500 1 
rating		NG = DIVX.SCR.LIM = 5.0 500 1 
rating		NG = DIVX.R5.LIM  = 5.0 500 1 

moviegenre 	NG = DIVX.* = 

tvgenre 	NG = TV.X264.DTV = Scripted|Animation|Cartoon 
tvgenre         NG = TV.DIVX.DTV = Scripted|Animation|Cartoon|Talkshow|Reality|Variety|Documentary 
tvcountry 	NG = TV.* = US|UK 

consoleregions         NG = WII = PAL|NTSC 
consoleallowregiondupe NG = WII = 1 


# Changelog:
#
# 081204 - Site added (me)
# 092708 - Rename FYM to NG, update affils (dyna)
#        - Old FYM affils list (aAF BiA CLUE DivXfacTory GOW HOTiSO JUMANJi SYS)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
