affils = ACADEMY ACCiDENT AiRISO BATV DiAMOND EDGEISO ISO LMG MARVEL NoTV PLAYME REFiNED Replica SAiNTS SHOCKiSO SiNNERS STRANGE VENOM ZWTiSO

groupblacklist = STRiFE

rule APPS = APPS windows linux std

rule DOX = DOX windows linux std
rule GAMES = GAMES windows linux std

rule TV = TV 720p x264 hdtv h264 currentseason web webrip dupesweb dupeshdtv nw_us scripted language:(English) std
rule TV = TV 720p x264 hdtv h264 currentseason web webrip dupesweb dupeshdtv network:(amazon,netflix,youtube,youtube-premium) scripted language:(English) std

rule MOVIES = MOVIES bluray 720p x264 year:2012 limited lrating:6 lvotes:500 language:(English) std stdmovies
rule MOVIES.CLS = MOVIES bluray 720p x264 cls year:1990 limited lrating:7 lvotes:1000 language:(English) std stdmovies      
rule MOVIES.BDRip = MOVIES bdrip x264 year:2018 sd limited language:(English) std stdmovies

# NAME                     PATH
dir APPS             = /incoming/apps
dir GAMES            = /incoming/games
dir DOX              = /incoming/dox
dir TV               = /incoming/tv-x264
dir MOVIES           = /incoming/x264
dir MOVIES.CLS       = /incoming/x264
dir MOVIES.BDRip     = /incoming/xvid
dir TV.x264.DVDRip   = /incoming/tv
dir TV.x264.BDRip    = /incoming/tv
dir NSW              = /incoming/nsw    





