##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NMD-PRE = BALTHAZAR PirateK SPiCE FiCO EnDoR kRc PaL NOMIS STARCUBE HQTV iMBT PGS DPiMP
allows NMD-PRE = PSP GC APPS.MAC PS2CD XXX
banned NMD-PRE = $INDUSTRIAL PTC IBM DATECODE $REALITY-N-CRAP $UK-SERIES
filter NMD-PRE = XXX= -Pr0nStarS|-XCiTE 

# Changelog:
#
# 050415 - Site added (bourbon)
# 050415 - Fixed TV filter (|!UK-SERIES -> |$UK-SERIES) [! in front affects all following $keywords] (shrike)
# 050819 - Updated (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
