##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NMX = GOTHiC KEG WAT ViTE LRC GENESIDE
allows NMX = DVDR.RET DVDR.SCR DVDR.TC NORDIC DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 TV.DIVX.DTV TV.DIVX.DSR GAMES
filter NMX = TV.DIVX.DSR= -TCM|-TV|-LOL
filter NMX = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter NMX = NORDIC= XViD|DIVX|DVDR- SWEDISH|NORDIC|DANISH|[._]SWE[._] 
filter NMX = DVDR.TC= !-ROYAL
filter NMX = GAMES= -RELOADED|-HATRED|-RAZOR1911|-FLT|-PROCYON

# Changelog:
#
# 050630 - Site added (orb)
# 050820 -  edited affils (orb)
# 050919 -  Removed SCR (orb)
# 051111 - added PL (orb)
# 051123 - removed filters for tv, all new shows are allowed. but everything allowed from specific groups. (ks)
# 051212 - removed pix (orb)
# 051217 - Updated affils in general.
# 060225 - added PUKKA as affil (orb)
# 060507- added LRC as affil (orb)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
