##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NOC = DownLink EcHoS TBS PyRo CME FLAiR MPT POT Wastedtime iMPERiAL MPTDVD MorningWood ProjectX CTV T4L iNCiTE NovaVCD
allows NOC = XBOXDVD PS2DVD DVDR.RET DVDR.LIM DVDR.SCR SVCD.RET SVCD.SCR VCD.LIM VCD.SCR SVCD.TS DIVX.RET DIVX.SCR TV.VCD GAMES APPS TV.DIVX.DTV
banned NOC = -MPi -FLUiD -MAGNITUDE -RiSCiSO -HS -FASiSO -FANiSO -TUN -WESTSIDE -DvP -RAPED -STFU -iNSTANT
filter NOC = XXX= Pr0nStarS

# Changelog:
#
# 040901 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
