############################################################################################################################
# NORDIC rules #
#
# 
# 
keyword NORDIC-DVDR-GROUPS = -WILDER -iNVANDRAREN -WEDIDIT -iNCOGNiTO -AMIRITE -PRiNGLES -TV2LAX9
keyword NORDIC-X264-GROUPS = -iNVANDRAREN -BLUEYES -iMSORNY -GNiSTOR -CONDITION -NAPTiME -GRUNDiG -RESURRECTION -NORDiCHD -FARGIRENIS -RCDiVX -GERUDO
keyword TV.SE-GROUPS = -CCCAM -EXECUTION -xD2V -EDUCATE -PRiNCE -KAFFEREP -sweHD
keyword TV.DK-GROUPS = -RCDiVX -DiViSiON -DKiDS -iMCARE -TVBYEN
keyword TV.NO-GROUPS = -ALTiTV -CRNTV -TvNORGE
keyword NORDIC-SWEDISH     = [._]SWE[._]|SWESUB|SWEDiSH
keyword NORDIC-NORWEGIAN   = [._]NO[._]|NORWEGiAN
keyword NORDIC-FINNISH     = [._]FI[._]|FINNiSH
keyword NORDIC-DANISH      = [._]DK[._]|DANiSH

rule NORDIC.DVDR  = nordic      = $NORDIC-DVDR-GROUPS $NORDIC-SWEDISH|$NORDIC-NORWEGIAN|$NORDIC-FINNISH|$NORDIC-DANISH|[._]NORDIC[._] \.DVDR[.-] !\.EP\d\d !\.EPS\. !HDTV !PDTV ![._]Vol[\d._] ![._]DISC\d[._] !S[0-2]\d!\d !S\d.D\d !TUTORIAL !XXX !TRAINING
rule SE.X264.720  = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-SWEDISH !$NORDIC-NORWEGIAN|$NORDIC-FINNISH|$NORDIC-DANISH \.720p[.-] !$TVEP
rule SE.X264.1080 = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-SWEDISH !$NORDIC-NORWEGIAN|$NORDIC-FINNISH|$NORDIC-DANISH \.1080p[.-] !$TVEP 
rule NO.X264.720  = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-NORWEGIAN !$NORDIC-SWEDISH|$NORDIC-FINNISH|$NORDIC-DANISH \.720p[.-] !$TVEP
rule NO.X264.1080 = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-NORWEGIAN !$NORDIC-SWEDISH|$NORDIC-FINNISH|$NORDIC-DANISH \.1080p[.-] !$TVEP
rule FI.X264.720  = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-FINNISH !$NORDIC-SWEDISH|$NORDIC-NORWEGIAN|$NORDIC-DANISH \.720p[.-] !$TVEP
rule FI.X264.1080 = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-FINNISH !$NORDIC-SWEDISH|$NORDIC-NORWEGIAN|$NORDIC-DANISH \.1080p[.-] !$TVEP
rule DK.X264.720  = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-DANISH !$NORDIC-SWEDISH|$NORDIC-NORWEGIAN|$NORDIC-FINNISH \.720p[.-] !$TVEP
rule DK.X264.1080 = nordic.x264 = $NORDIC-X264-GROUPS $NORDIC-DANISH !$NORDIC-SWEDISH|$NORDIC-NORWEGIAN|$NORDIC-FINNISH \.1080p[.-] !$TVEP


rule SE.TV.DVDR             = se.tv.dvdr              = SWEDISH \.D\d+\.|.S\d.*D\d|.Season.+Disc|Disk\d DVDR-
rule SE.TV.X264.DTV         = se.tv.x264              = SWEDISH $TVEP [HP]DTV [hx]264 720p $TV.SE-GROUPS
rule SE.TV.X264.DTV.1080    = se.tv.x264.1080         = SWEDISH $TVEP [HP]DTV [hx]264 1080p $TV.SE-GROUPS
rule SE.TV.X264.SD          = se.tv.sd                = SWEDISH $TVEP [HP]DTV [hx]264 $TV.SE-GROUPS
rule SE.TV.X264.HDD         = se.tv.bdrip             = SWEDISH $TVEP BluRay|BDRip|HDDVD [._][hx]264 720p
rule SE.TV.X264.HDD.1080    = se.tv.bdrip.1080        = SWEDISH $TVEP BluRay|BDRip|HDDVD [._][hx]264 1080p
rule SE.TV.X264.DVD         = se.tv.dvd               = SWEDISH $TVEP (DVDRIP|BDRip) XVID|X264
rule SE.TV.X264.WEB         = se.tv.x264.web          = SWEDISH $TVEP WEBRip [hx]264 720p
rule SE.TV.X264.WEB.1080    = se.tv.x264.web.1080     = SWEDISH $TVEP WEBRip [hx]264 1080p
rule SE.TV.X264.WEB.SD      = se.tv.sd                = SWEDISH $TVEP WEBRip [hx]264
                            
rule NO.TV.DVDR             = no.tv.dvdr              = NORWEGIAN \.D\d+\.|.S\d.*D\d|.Season.+Disc|Disk\d DVDR-
rule NO.TV.X264.DTV         = no.tv.x264              = NORWEGIAN $TVEP [HP]DTV [hx]264 720p $TV.NO-GROUPS                   
rule NO.TV.X264.DTV.1080    = no.tv.x264.1080         = NORWEGIAN $TVEP [HP]DTV [hx]264 1080p $TV.NO-GROUPS     
rule NO.TV.X264.SD          = no.tv.sd                = NORWEGIAN $TVEP [HP]DTV [hx]264 $TV.NO-GROUPS    
rule NO.TV.X264.HDD         = no.tv.bdrip             = NORWEGIAN $TVEP BluRay|BDRip|HDDVD [._][hx]264 720p    
rule NO.TV.X264.HDD.1080    = no.tv.bdrip.1080        = NORWEGIAN $TVEP BluRay|BDRip|HDDVD [._][hx]264 1080p   
rule NO.TV.X264.DVD         = no.tv.dvd               = NORWEGIAN $TVEP (DVDRIP|BDRip) XVID|X264               
rule NO.TV.X264.WEB         = no.tv.x264.web          = NORWEGIAN $TVEP WEBRip [hx]264 720p                    
rule NO.TV.X264.WEB.1080    = no.tv.x264.web.1080     = NORWEGIAN $TVEP WEBRip [hx]264 1080p                   
rule NO.TV.X264.WEB.SD      = no.tv.sd                = NORWEGIAN $TVEP WEBRip [hx]264                         
                            
rule DK.TV.DVDR             = dk.tv.dvdr              = DANISH \.D\d+\.|.S\d.*D\d|.Season.+Disc|Disk\d DVDR-
rule DK.TV.X264.DTV         = dk.tv.x264              = DANISH $TVEP [HP]DTV [hx]264 720p $TV.DK-GROUPS                   
rule DK.TV.X264.DTV.1080    = dk.tv.x264.1080         = DANISH $TVEP [HP]DTV [hx]264 1080p $TV.DK-GROUPS                  
rule DK.TV.X264.SD          = dk.tv.sd                = DANISH $TVEP [HP]DTV [hx]264 $TV.DK-GROUPS    
rule DK.TV.X264.HDD         = dk.tv.bdrip             = DANISH $TVEP BluRay|BDRip|HDDVD [._][hx]264 720p    
rule DK.TV.X264.HDD.1080    = dk.tv.bdrip.1080        = DANISH $TVEP BluRay|BDRip|HDDVD [._][hx]264 1080p   
rule DK.TV.X264.DVD         = dk.tv.dvd               = DANISH $TVEP (DVDRIP|BDRip) XVID|X264               
rule DK.TV.X264.WEB         = dk.tv.x264.web          = DANISH $TVEP WEBRip [hx]264 720p                    
rule DK.TV.X264.WEB.1080    = dk.tv.x264.web.1080     = DANISH $TVEP WEBRip [hx]264 1080p                   
rule DK.TV.X264.WEB.SD      = dk.tv.sd                = DANISH $TVEP WEBRip [hx]264                         


# Changelog:
#
# 120622 - rules added (rizza)
# 150609 - added TV.SE rules (removed in general) (shrike)
# 160630 - added rule for se/no/dk tv (default)
# 160630 - deleted NOR. before section on X264 (default)
# 160630 - shrike added a bunch of new sections + updated the rule names for better future purposes (defat)
