#########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NP = FFNDVD JUSTiSO HLS iMMERSiON SWE6RUS CIMS WiiERD iSOX
allows NP = CLONECD CLONEDVD DIVX.RET DIVX.R5 DIVX.SCR DIVX.TS DIVX.TC DIVX.LIM DVDR.RET GAMES GAMES.DVD TV.DIVX.DTV TV.DIVX.DSR WII TV.X264.DTV
banned NP = $DSRDUPES $INDUSTRIAL -ViTALiTY -HDQ -HS -SKIDROW
filter NP = TV.X264.DTV = ^Heroes|^Prison.Break|^The.Unit|^Lost|^Stargate.Atlantis
filter NP = WII         = !USA|NTSC
filter NP = GAMES.*     = !Cabelas
filter NP = TV.DIVX.*   = !$REALITY-N-CRAP|$UK-SERIES
rating NP = DIVX.LIM    = 6.0 0 1
exempt NP = Dr.Steve-O.S\d


# Changelog:
#
# 040824 - Site added (check)
# 040827 - DIVX -> DIVX.RET, DVDR -> DVDR.RET (wader)
# 040827 - BURGER added (checker)
# 040828 - Added QUANTUM as affils (wader)
# 040830 - Fixed TV.DIVX.DTV filter and added TV.X264.DVD (wader)
# 040902 - Added PS2.*DVD9 and XBOX.*DVD9 to bans (wader)
# 040903 - Added FoV (wader)
# 040904 - Removed DVD9 from banned and added to filters (wader)
# 040920 - Add DvP to affils (Temp) (bourbon)
# 040925 - Added FFNDVD and POT to affils (blade)
# 040928 - Added DvP AURA to affils, guest pres (checker)
# 040929 - added SWE6RUS to affils (blade)
# 041005 - Added affil iSO (wader)
# 041012 - Added affil DDUiSO (bourbon)
# 041130 - Removed affil SWE6RUS (wader)
# 050817 - Rem. some affils and QUANTUM -> JUSTiSO (checker)
# 050912 - Added SCOPE to affils (gin)
# 060620 - +CLONECD CLONEDVD (wader)
# 070207 - removed apps (sparky)
# 070325 - added (PAL)WII section+WiiERD as affil (stealth) 
# 070731 - removed ps2 section (spark)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
