##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NRG = ALC ALFiSO BFHiSO C4F CUMSTAiNS DELiRiUM ETHNO FEZ FKKDVDR FLAiR FQM FiNaLe HiV MEDiAMANiACS PMM PWZiSO PyRo RETRO SAPHiRE SFM SSB SiCK TBH TDF TML UKTV W4F WDE XSTREEM XTN
allows NRG = APPS DIVX.RET DIVX.LIM DIVX.SCR GAMES SVCD.SCR SVCD.SCR.LIM SVCD.TS SVCD.TS.LIM TV.DIVX.A VCD.SCR VCD.SCR.LIM
filter NRG = TV.DIVX.A= ^24|^Six.Feet.Under|Kingdom.Hospital|^Method.Man|^Monk|^Smallville

# Changelog:
#
# 040826 - Site added (wader)
# 040901 - Removed DVDR.RET from allows (wader)
# 040907 - Removed affil MEDiEVAL (wader)
# 040911 - Removed affil VFUA (wader)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
