##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NRT = APB DiMENSION DNA DPiMP F1nd HuBBaTiX iNFAMOUS MaM mAu PYTHON RELiC SiNK SWeNuKe TROPiCAL WooDY NaNDa aTerFalleT
allows NRT = APPS APPS.LINUX DIVX.RET DIVX.TC DIVX.TC.LIM DIVX.RET.LIM DVDR.RET DVDR.RET.LIM DVDR.SCR DVDR.TC NORDIC GAMES GAMES.DVD PS2DVD TV.DIVX.DTV TV.DIVX.DSR TV.X264.DVD
filter NRT = NORDIC= SCREENER|XViD|DIVX|DVDR- SWEDISH|NORDIC|SWESUB
banned NRT = 

# Changelog:
#
# 051031 - Site added (Orb)
# 051101 - NaNDa added (orb)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
