##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NRV = CLONECD GimpDVD MaST3rS MONEY BooZeRS BooZeRS.SVCD
allows NRV = APPS DIVX.RET DIVX.SCR DIVX.LIM DVDR.RET GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.SCR SVCD.TS TV.DIVX.DTV VCD.SCR XBOXDVD XXX
banned NRV = $INDUSTRIAL FTF FASiSO WiZiSO EiTiSO MEDiSO
filter NRV = TV.DIVX.DTV=^24.S\d\d|^Ali.G.Show|^Boiling.Points|^Crank.Yankers|^Joey|^Punkd|Simpsons.S\d\d|^Sopranos|^SouthPark|^Stargate|^The.4400|^The.Daily.Show|The.OC
filter NRV = XXX= -LDSXXX|-PORNOLATION|-PEEPSHOW
filter NRV = DVDR.RET= !PAL
# Changelog:
#
# 041012 - Site added (BOURBON)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
