############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NS = AVS720 BAHAMUT BeStDivX BLZiSO DiCH euHD kHzViD LZ0 MVHiTS mVL NVA pSyPSP SoW XPA SOF
allows NS = GAMES.DE WII X264.DE.720 XXX TV.X264.DE TV.DIVX.DTV TV.DIVX.DE DIVX.DE TV.DIVX.DU.DE XBOX360 X264.RET.720 X264.LIM.720 X264.CLS.720 DIVX.RET DIVX.TS DIVX.TC DIVX.LIM DIVX.SCR.LIM DIVX.SCR DIVX.R5 DIVX.R5.LIM DIVX.DE.LD TV.X264.DVD.DE DIVX.DE.MD TV.X264.HDD
filter NS = XXX= -DivXfacTory|-NYMPHO|-Pr0nStarS
banned NS = Micronauts oNePiEcE CLASSiO ADDONIA FASiSO TiNYiSO MOREHD OneUp
exempt NS = DVDR-CRiTiCAL
filter NS = TV.X264.DE= -iNSPiRED|-ZZGtv|-ITG 
filter NS = TV.DIVX.DE= -ITG|-iNSPiRED|-SOF|-cOnFuSed|-RSG|-AMBiTiOUS|-ZZGtv|-SiGHT|-FFKTV|-Prim3time|-CiD|-ETM
filter NS = TV.DIVX.DU.DE= -ITG|-iNSPiRED|-SOF|-cOnFuSed|-RSG|-AMBiTiOUS|-ZZGtv|-SiGHT|-FFKTV|-Prim3time|-CiD|-ETM
filter NS = X264.LIM.720 = -CiNEFiLE|-iNFAMOUS|-REFiNED|-SiNNERS|-BestHD|-HUBRIS
filter NS = X264.RET.720 = -CiNEFiLE|-iNFAMOUS|-REFiNED|-SiNNERS|-BestHD|-HUBRIS
filter NS = X264.CLS.720 = -CiNEFiLE|-iNFAMOUS|-REFiNED|-SiNNERS|-BestHD|-HUBRIS

tvcountry    NS = TV.X264.DE =
tvcountry    NS = TV.DIVX.DE =
tvcountry    NS = TV.DIVX.DU.DE =
movieminyear NS = X264.* = 1900



# Changelog:
#
# 090508 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
