###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils NWD = BURGER DoNE DVL Pr0nStarS SCREAM SPARE STRiKE XPD
allows NWD = VCD.SCR SVCD.TS SVCD.TC DIVX.SCR DIVX.RET DIVX.LIM DVDR.RET DVDR.SCR TV.DIVX.DTV XBOXDVD GAMES GAMES.DVD PS2DVD CLONECD CLONEDVD 
banned NWD = IBM -GRISO -FTF -CaMeL -SHOWTiME -EPH -WOYiSO -NATURAL -LEGiON -MEDiSO -FASiSO -EViLiSO -FANiSO -NLiSO -SCANDiC -MiRAGE -MaTiNe -LAiSO -Shaver1912
filter NWD = APPS= Adobe|Autodesk|Borland|CakeWalk|Corel|Cyberlink|Discreet|Jasc|Macromedia|Magix|McAffee|Microsoft|Nero|Panda|Pinnacle|PowerQuest|Roxio|Sonic.*Foundry|Sophos|Symantec|Ulead|Veritas
filter NWD = TV.DIVX.DTV=^24|^Alias|^Andromeda|^Battlestar.Gallactica|^CSI|^Charmed|^Dead.Like.Me|^Everybody.Loves.Raymond|^Law.And.Order|^Lost|^NCIS|^North.Shore|^Smallville|^Stargate|^Star.Trek.Enterprise|^That.70s.Show|^The.O.C

# Changelog:
#
# 040804 - Site added (shrike) - NOT DONE YET
# 040815 - Updated - Done yet;) (checker)
# 040815 - Thanx checker, but i guess they're called McAffee, not McAfeee :) ...also fixed serious bug in filter -
#          |Sonic Foundry| -> |Sonic.*Foundry| [space = AND !] ... (shrike)
# 040821 - Clonecd section added (checker) 
# 040906 - Added CLONEDVD to allows (checker) 
# 040919 - Added ADMITONE to affils (temp) (bourbon) 
# 040920 - Added PHXISO to bans (bourbon)
# 040920 - Added GRISO to bans (checker)
# 040924 - Changed allowed series (bourbon)
# 040930 - Added BHP to affils (bourbon)
# 041012 - Added DoNE to affils (bourbon)
# 041220 - Added ^Superbabies.Baby to banned cause its not wanted (checker)
# 041228 - Added MRN to affils (checker)
# 050103 - Added Battlestar.Galactica to allowed series (bourbon)
# 060105 - ADded S6 to affisl (checker)
# 050905 - Edit affil list (orb)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
