############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils NXM = DAGGER pSyPSP Pr0nStarS LPD SYNDICATE CuriousJotos SEPTIC AVENGED Caph iMBT Larceny
allows NXM = APPS APPS.Linux APPS.DVD DIVX.RET DIVX.LIM DIVX.SCR DVDR.RET XBOX360 GAMES GAMES.DVD PSP
filter NXM = APPS= !$INDUSTRIAL Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara
filter NXM = APPS.Linux= !$INDUSTRIAL Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara
filter NXM = APPS.DVD= !$INDUSTRIAL Abbyy|Adobe|Alias|WaveFront|Autodesk|Borland|Britanica|CakeWalk|Corel|Curious.Labs|Cyberlink|Discreet|Graphisoft|Jasc|Macromedia|Magix|Mapplesoft|Mathematica|McAfee|Microsoft|Pinnacle|PowerQuest|Roxio|Scansoft|Sonic.*Foundry|Sony.*Acid|Sony.*Forge|Sony.*Vegas|Sony.*Architect|Steinberg|Symantec|TomTom|Ulead|Xara
banned NXM = -SKIDROW

rating NXM = DIVX.LIM = 6.0 0 0

movieminyear NXM = DIVX.RET= 2007
movieminyear NXM = DIVX.LIM= 2007
movieminyear NXM = DVDR.RET= 2007

# Changelog:
#
# 061220 - Site added (axess)
# 070808 - IF YOU READ THIS YOU'RE DUMB! :) (axess)
# 070901 - CuriousJotos added to affils (stealth)
# 070923 - added SKIDROW to banned (stealth)
# 080331 - added iMBT (anyone updating this every? stealth)
# 080402 - added Larceny (stealth)
# 080421 - Added movieminyear (stealth)
# 080530 - updated mmyear and rating divx lim (stealth)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
