############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils OC = HI2U LuLZiSO
allows OC = DOX DOX.DLC GAMES APPS XBOX360 DIVX.RET X264.RET.720p X264.LIM.720p DIVX.LIM TV.X264.DTV
banned OC = SKIDROW TiNYiSO JAGUAR HEiST PROPHET FASiSO ViTALiTY
rating OC = X264.LIM.720p = 5.0 1 1
rating OC = DIVX.LIM = 5.0 1 1
filter OC = TV.X264.DTV = ^2.Broke.Girls|^Breaking.Bad|^Burn.Notice|^Californication|^Entourage|^Episodes|^Family.Guy|^Futurama|^Girls|^How.To.Make.It.In.America|^Mike.and.Molly|^Mythbusters|^New.Girl|^Sinbad|^Suits|^The.Big.Bang.Theory|^The.Cleveland.Show|^The.Simpsons|^Top.Gear|^Two.and.a.Half.Men|^Weeds|^Whitney

movieminyear   36C = DIVX.* = 2011
movieminyear   36C = X264.* = 2011
consoleregions 36C = XBOX360 = PAL|NTSC


# Changelog:
#
# 121018 - Site added (moet)
# 121025 - added LuLZiSO (moet)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
