##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OH = 
allows OH = APPS APPS.DVD APPS.Linux APPS.MAC DVDR.MUSIC DIVX.SCR DIVX.SCR.LIM XBOX360 TV.X264.DTV Wii X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080
banned OH = $INDUSTRIAL ^AUTODESK
filter OH = NORDIC= SWEDISH|NORDIC|\.SE\.|MULTi !SCREENER|SVCD
#filter OH = BOOKWARE= ADOBE|MACROMEDIA
filter OH = WII=         !USA|NTSC
filter OH = X264.RET.720= !19\d\d|200[0-6]
tvcountry OH = TV.X264.DTV = US|UK
moviegenre OH = X264.* =
exempt OH = TV.X264.DTV = ^American.Dad|^Familyguy|^The.Simpsons|^Futurama|^South.Park|^Mythbusters
# Changelog:
#
# YYMMDD - Site added (me)
# 070531 - removed TV.DVIX.DSR (ego)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
