###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OM = P0W4 DAMNATION ATONEMENT BLOW BiQ MOMENTUM
allows OM = APPS APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM DOX GAMES TV.DIVX.DTV X264.RET.1080 X264.LIM.1080 X264.RET.720 X264.LIM.720 XBOX360 XXX X264.CLS.1080 X264.CLS.720 WII TV.X264.DVD TV.X264.DTV PS3 PSP TV.X264.HDD DVDR.RET DVDR.LIM DVDR.SCR APPS.MAC TV.X264.HDD.1080 TV.X264.HD.720
banned OM = $INDUSTRIAL

filter OM = XXX= -PORNOLATiON|-STARLETS|-DivXfacTory|-Jiggly
exempt OM = XXX= -PORNOLATiON|-STARLETS|-DivXfacTory|-Jiggly

rating OM = DVDR.LIM     = 5.0 1000 1
rating OM = DIVX.LIM     = 5.0 1000 1
rating OM = DIVX.SCR.LIM = 5.0 1000 1
rating OM = DIVX.R5.LIM  = 5.0 1000 1

rating OM = X264.CLS.1080 = 6.0 1000 1
rating OM = X264.CLS.720  = 6.0 1000 1

rating OM = X264.RET.1080 = 1.0 0 0
rating OM = X264.RET.720  = 1.0 0 0
rating OM = X264.LIM.1080 = 1.0 0 0
rating OM = X264.LIM.720  = 1.0 0 0

movieminyear           OM = X264.RET.720  = 2008
movieminyear           OM = X264.RET.1080 = 2008
movieminyear           OM = X264.LIM.720  = 2008
movieminyear           OM = X264.LIM.1080 = 2008
movieminyear           OM = X264.CLS.720  = 1900
movieminyear           OM = X264.CLS.1080 = 1900

consoleallowregiondupe OM = WII=          0
consoleregions         OM = WII=          PAL NTSC
consoleregions         OM = PS3=          PAL NTSC
tvcountry              OM = TV.*  = US|UK
tvgenre                OM = TV.DIVX.DTV = Scripted|Reality|Cartoon

# Changelog:
#
# 050128 - Site added (checker)
# 050206 - Added Crimson to affils (bourbon)
# 050215 - Removed POT and COBRA from affils (checker)
# 050215 - Added HOODLUM (wader)
# 050525 - Removed SWE6RUS and RiSCiSO from affils and added peepshow as allowed (orbith)
# 110112 - recycled the file (none)
# 110330 - added BiQ to affils (rizza)
# 110402 - changed rating for x264 (rizza)
# 110622 - added movieminyear x264.cls.* (rizza)
# 110623 - added PSP section (rizza)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
