############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ONAR = AEN ANiHLS ARTHOUSE AVCDVD BeStDivX BiQ DiVERSE ELiA ESPiSE FaNSuB FRAGMENT GFW GNARLY HNR Hype iKA KiDDoS MoH OPPAi OTV UBiK 
allows ONAR = DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DIVX.R5.LIM DIVX.R5 DIVX.RET.LIM DIVX.TC DIVX.TC.LIM TV.DIVX.DTV TV.720p PSP XXX
banned ONAR = 
filter ONAR = TV.*  = !$REALITY-N-CRAP
filter ONAR = XXX= -SWE6RUS|-VBT

tvcountry    ONAR = TV.*         = US|UK
movieminyear ONAR = DIVX.* = 2006

# Changelog:

# 100810 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
