##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ONE = GAMEOVER PRODiGY REPLICA SAOSIN LEGACY CHAKRA FCNiSO
allows ONE = APPS APPS.MAC DIVX DIVX.SCR DIVX.RET DIVX.TC DIVX.TS DVDR DVDR.RET DVDR.SCR DVDR.TC GAMES GC PS2DVD SVCD.TC SVCD.TS VCD VCD.SCR XBOXDVD 
banned ONE = NONE

# Changelog:
#
# 051028 - Site added (darkm)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
