##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OP = ABORTIONSAREFORBABIES DIMENSION iTWiNS MiRROR MRN PWZiSO REMAX RiVER RiVERDVD NeDiVx BiS LiBiSO Unleashed OCEAN
allows OP = APPS APPS.DVD CLONECD CLONEDVD DiVX.LIM DIVX.RET DIVX.SCR DVDR.RET DVDR.SCR GAMES GAMES.DVD PS2DVD TV.DIVX.DTV XBOXDVD XXX
banned OP = 
filter OP = XXX= -Pr0nStarS|-SWE6RUS

# Changelog:
#
# 051229 - Site added (me)
# 060110 - NeDiVx added (ks) 
# 060127 - TvD added (sparky)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
