affils = AMIABLE AMRAP ANGELiC BATV DEFLATE DIMENSION FoV FTP HAGGiS IAMABLE KILLERS LOL MORiTZ MTB ORGANiC QPEL REWARD SCOTLUHD SHORTBREHD SNOW SUXXORS ThereIsNoSpoon VENOM

groupblacklist = STRiFE

rule DOX = DOX windows std
rule GAMES = GAMES windows std
rule NSW = NSW pal ntsc rf dupesJPN std

rule MOVIES = MOVIES 720p 1080p x264 bluray limited lrating:6 lvotes:1000 year:2015 language:(English) std stdmovies cls

rule TV = TV 720p x264 currentseason scripted hdtv web webrip nw_us nw_gb nw_ca std language:(English)
rule TV = TV 720p x264 currentseason scripted hdtv web webrip network:(amazon,netflix,youtube,youtube-premium) nw_ca std language:(English)
rule TV = TV 720p 1080p 2160p x264 currentseason scripted documentary reality hdtv web webrip nw_us nw_gb nw_ca std tvid:(17078,768) language:(English)
rule TV = TV 720p 1080p 2160p x264 currentseason scripted documentary reality hdtv web webrip network:(amazon,netflix,youtube,youtube-premium) std tvid:(17078,768) language:(English)
rule TV.BDRIP = TV bdrip dvdrip premiere:2000 nw_us nw_gb nw_ca scripted std language:(English)
rule TV.BDRIP = TV bdrip dvdrip premiere:2000 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray premiere:2000 nw_us nw_gb nw_ca scripted std language:(English)
rule TV.BLURAY = TV 720p x264 bluray premiere:2000 network:(amazon,netflix,youtube,youtube-premium) scripted std language:(English)

# NAME           PATH
dir DOX                = /incoming/games
dir GAMES              = /incoming/games
dir NSW                = /incoming/console
dir MOVIES             = /incoming/movies-hd
dir MOVIES.BDRip       = /incoming/movies-sd
dir MOVIES.WEB         = /incoming/movies-hd
dir MOVIES.webrip      = /incoming/movies-hd
dir TV                 = /incoming/tv-rip-hd
dir TV.BDRip           = /incoming/tv-retail-sd
dir TV.DVDRip          = /incoming/tv-retail-sd
dir TV.BLURAY          = /incoming/tv-retail-hd
dir TV.UHDRip          = /incoming/tv-retail-hd





