##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ORC = ALLiANCE EPTiSO ESOTERiC FLiX TWCISO XPD
allows ORC = DIVX.RET DIVX.LIM GAMES SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM TV.VCD VCD.SCR
banned ORC = -FTF -HBOVCD -HYDROGEN -MIRAGETV -TEG-TV
filter ORC = TV.VCD= ^24|^Angel|^Charmed|^CSI|^Dead.Like.Me|^Dead.Zone|^Enterprise|^Farscape|^Friends|^Jeremiah|Simpsons|^South.Park|^Stargate.SG-1|^Ultimate.Force

# Changelog:
#
# 040729 - Site added (wader)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !