##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OS2 = HS
allows OS2 = GAMES APPS XBOXDVD SVCD.TS SVCD.TC VCD.SCR DIVX.SCR DIVX.RET DVDR.RET TV.DIVX.DTV
banned OS2 = $REALITY-N-CRAP
filter OS2 = APPS= ^Adobe|Ahead|Corel|Ejay|Jasc|Macromedia|Magix|Microsoft|McAfee|Pinnacle|Propellerhead|Route66|StarOffice|Symantec

# Changelog:
#
# 041025 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
