##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OSB-PRE = KooSH HUMANiSM CuNT DVDR SChiZO DivXfacTory XCiTE REDLiGHT ESEXXX PaL NotMulti PGS
allows OSB-PRE = GERMAN XXX CLONEDVD CLONECD
#banned OSB-PRE = 
filter OSB-PRE = XXX= -Pr0nStarS|-DETOXATiON|-PORNOLATiON

# Changelog:
#
# 050606 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
