##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OSB = KooSH HUMANiSM CuNT DVDR REFLECT BamHD NBS SChiZO SAPHiRE DivXfacTory XCiTE REDLiGHT ESEXXX WDE PaL PGS XD
allows OSB = APPS APPS.Linux CLONECD CLONEDVD DIVX.RET DVDR.RET GAMES GAMES.DVD XBOXDVD XXX GERMAN
#banned OSB = 
filter OSB = APPS= ![._]DVDR[._-]
filter OSB = XXX= -Pr0nStarS|-DETOXATiON|-PORNOLATiON

# Changelog:
#
# 050705 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
