############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils OUT = AVENGED DAGGER DMT IMSORNY JGTISO LEVERAGE RAZOR1911 RazorDOX STARLETS
allows OUT = GAMES GAMES.DVD GAMES.Linux GAMES.MAC PS2DVD PS2CD DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM TV.X264.DTV WII X264.RET.720 X264.LIM.720 XBOX360 PS3 DOX DOX.DLC NDS 3DS TV.X264.WEB WIIU TV.X264.DOCU
banned OUT = PSN Tyler.Perrys. -ACTIVATED -BATV PROPER+KILLERS -ENIGMA
filter OUT = GAMES*       = !CABELAS|HUNTING|FISHING
filter OUT = X264.RET.720 = !200[0-6]
filter OUT = WII          = !-LoCAL
filter OUT = TV.X264.DTV  = !$REALITY-N-CRAP|$UK-SERIES
filter OUT = TV.X264.WEB  = !$REALITY-N-CRAP|$UK-SERIES

exempt OUT = TV.X264.DTV = ^The.Colbert.Report Top.Gear.+DTV.x264 The.Colbert.Report.+DTV.x264 The.Daily.Show.+DTV.x264 MythBusters.+DTV.x264 Saturday.Night.Live.+DTV.x264 Unchained.Reaction.+DTV.x264

consoleregions OUT = WII     = PAL
x264formats    OUT = X264.*  = mkv
moviegenre     OUT = DIVX.*  =
movieminyear   OUT = X264.* = 2012
movieminyear   OUT = DIVX.* = 2012

rating         OUT = X264.* = 0.0 0 1
rating         OUT = DIVX.* = 0.0 0 1



# Changelog:
#
# 121024 - Site added (me)
# 130722 - TV filter/exempt updated/fixed (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !

