##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils OXY = CLEAR GOOGLE iTWINS JEDi JUSTiSO MiRROR PreCiSiON REDLiGHT TESORO
allows OXY = DIVX.RET DIVX.SCR SVCD.TS VCD.SCR SVCD.TC CLONECD CLONEDVD GAMES GAMES.DVD XXX APPS XBOXDVD PS2DVD TV.DIVX.DTV
banned OXY = 
filter OXY = TV.DIVX.DTV= ^CSI|Stargate|The.O.C|Lost|Prison.Break
filter OXY = XXX= -PORNOLATION|-Pr0nStarS

# Changelog:
#
#
# 051106 - Site added (hMp)
# 051120 - Site rules UPDATED (pretorian)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
