############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils P = Counterfeit HAiDEAF WiiZARD Replica YUM REFiNED SPARE FEVER DoNE STRANGE WEST
allows P = DIVX.RET GAMES TV.X264.DTV WII WIIU X264.RET.720 XBOX360
banned P = -FASiSO -ViTALiTY -PreVail -Hi2U ^Sonny.With.A.Chance.S\d ^Good.Luck.Charlie.S ^Shake.It.Up.S ^X-Plane -DAA
filter P = Wii         = !USA|NTSC 
tvcountry    P = TV.*         = US 
movieminyear  P = DIVX.*      = 2008 
movieminyear  P = X264.*      = 2008 



# Changelog:
#
# 060127 - Site added (orb)
# 060516 - updated new rules(baker)
# 070807 - removed apps and divx.t[sc] from allows (sparky)
# 071022 - added oxo to affils (stealth)
# 071023 - added osx to affils, thx to the one who didnt update it! (stealth)
# 071108 - Updated affils (stealth, who else)
# 091213 - Updated affils and new rules etc... (solar)
# 040913 - Removed PROTOCOL :(dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
