##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PC = DDUiSO HLS MPT MPTDVD LMG 
allows PC = APPS APPS.DVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TS DIVX.TC DVDR.RET DVDR.LIM GAMES GAMES.DVD PS2DVD XBOX360 XBOXDVD 
filter PC = APPS= Adobe|Autodesk|Borland|CakeWalk|Corel|Cyberlink|Macromedia|Magix|McAfee|Microsoft|Nero|Panda|Sophos|Roxio|Symantec|Pinnacle|PowerQuest|Ulead|Veritas 

# Changelog:
# 060309 - Site updated (except TVSERIES) hopefull no mistakes (pretorian)
# 060309 - Site renamed from HV to PC (pretorian)
# 050420 - Site added (moet)
# 061114 - Fixed affils and sections (wader)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
