############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PCP = INKISO REV0 FSiHD VBT CROSSBOW WiiERD XII NeDiVx
allows PCP = APPS TV.X264.DTV TV.DIVX.DTV BOOKWARE DOX GAMES DIVX.RET DIVX.RET.LIM DIVX.SCR DIVX.R5 X264.RET.720 XBOX360 PSP WII NDS CLONECD CLONEDVD DOX.DLC
banned PCP = $INDUSTRIAL AUTODESK.AUTOCAD
filter PCP = BOOKWARE = CBT.NUGGETS.*|Microsoft.Press.and.E.Learning.*|Lynda.com.*|Cisco.*|VTC.*
filter PCP = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter PCP = APPS        = Adobe|McAfee|Microsoft|Roxio|Symantec|Corel|Cakewalk|VMWare
filter PCP = APPS.DVD    = Adobe|McAfee|Microsoft|Roxio|Symantec|Corel|Cakewalk|VMWare

exempt PCP = Dirty.Jobs|Bear.Grylls|Deadliest.Catch|How.Stuffs.Made|Really.Big.Things|Street.Customs|Mega.Missions|Mega.Builders|Ray.Mears|RSPCA|Biker.Build.Off|Extreme.Fishing.With.Robson.Green|Worlds.Toughest.Tribes|American.Chopper.*XviD|Chop.Shop.London.Garage.*XviD|Overhaulin.*XviD|Survivorman.*|Ultimate.Survival.*XviD|Man.vs.Wild.*XviD|The.Daily.Show|David.Letterman.*XviD|The.Colbert.Report|Conan.O.Bri[ae]n.*XviD|Jay.Leno.*XviD|Jimmy.Kimmel.*XviD|Saturday.Night.Live.*XviD|^Survivor.*HDTV.x264|^The.Bachelor.*XviD

x264formats    PCP = X264.*       = mkv
movieminyear = 2007
consoleregions         PCP = WII  = NTSC|PAL
consoleallowregiondupe PCP = WII  = 1
#consoleregionrank      PCP = WII  = NTSC PAL

# Changelog:
#
# 090211 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
