############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PDC = 2HD 2SD
allows PDC = APPS APPS.DVD DIVX.RET DIVX.R5 DIVX.SCR DIVX.SCR.LIM DIVX.LIM DVDR.RET GAMES GAMES.DVD PSP TV.DIVX.DTV TV.DIVX.DSR XBOX360 WII X264.RET.720
banned PDC = 
filter PDC = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter PDC = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter PDC = WII=         !USA|NTSC
filter PDC = X264.RET.720=    !200[0-5]

# Changelog:
#
# 080403 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
