########################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PE = ADDICTION BAHAMUT BLUERAY HLS MPTDVD ORGASM PARADOX PI RiOT SHOCKiSO WAM ZN 
allows PE = APPS APPS.DVD APPS.Linux CLONEDVD CLONECD DIVX.RET DIVX.TC DIVX.TS DIVX.SCR DIVX.SCR.LIM DIVX.LIM DIVX.R5 DVDR.RET GAMES.DVD GAMES PS2DVD PSP SVCD.TC TV.DIVX.DTV VCD.SCR XBOXDVD XXX XBOX360 Wii DOX.DLC
filter PE = XXX= -Pr0nStarS|-PORNOLATiON|-SWE6RUS
filter PE = TV.DIVX.DTV= !$REALITY-N-CRAP
#filter PE = TV.DIVX.DTV= !$UK-SERIES
filter PE = APPS.DVD= Adobe|Microsoft|Norton|Symantec|Macromedia|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas
filter PE = APPS= Adobe|Microsoft|Norton|Symantec|Macromedia|McAfee|Powerquest|Pinnacle|RedHat|Route66|Roxio|Steinberg|Symantec|Suse|Sony|Ulead|Veritas

# Changelog:
# 060225 - Site added (sparky)
# 060306 - Filter for apps added (no industrial allowed so had to do something)
# 060603 - added psp (sparky)
# 060607 - added clone (sparky)
# 060824 - XBOX360 to allows (checker)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
