##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PEAK = BamHD BLUEBALLS TFTISO CuMMiNGs
allows PEAK = APPS APPS.DVD APPS.Linux DVDR.RET DVDR.TC DVDR.SCR CLONECD CLONEDVD GAMES GAMES.DVD TV.DIVX.DTV TV.X264.DVD SVCD.TS SVCD.TS VCD.SCR DIVX.TC DIVX.TS XXX DIVX.RET DIVX.SCR PS2DVD XBOXDVD
banned PEAK = $REALITY-N-CRAP|$UK-SERIES
filter PEAK = XXX= -SWE6RUS|-Pr0nStarS
# Changelog:
#
# 060112 - Site added (checker)
# 060301 - Updated affils/banned (sparky)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
