############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PEV = IGUANA iNVANDRAREN PFa SAiMORNY
allows PEV = DOX DIVX.RET DIVX.LIM GAMES.MAC GAMES.LINUX GAMES TV.X264.DTV TV.X264.DTV.1080 X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 X264.CLS.720 XBOX360 PS3 XXX

banned PEV = -CPY .PSN. .JTAG. -MOOVEE -W4F -iMARS -FLEET -REGRET 

filter PEV = TV.X264.DTV.1080 = -DIMENSION|-BATV
filter PEV = XXX = -PORNOLATiON|-STARLETS|-Pr0nStarS|-TwistedDesires

tvcountry PEV = TV.X264.* = US
tvgenre PEV = TV.X264.* = Scripted

movieminyear           PEV = X264.RET.720=    2011
movieminyear           PEV = X264.RET.1080=   2011 
movieminyear           PEV = X264.LIM.720=    2011
movieminyear           PEV = X264.LIM.1080=   2011 
movieminyear           PEV = X264.CLS.720=    1975
movieminyear           PEV = DIVX.RET=        2011
movieminyear           PEV = DIVX.LIM=        2011 

rating                 PEV = X264.CLS.720=    6.5 10000 0 

# Changelog:
#
# 061117 - Site added (wader)
# 070403 - added $REALITY-N-CRAP $UK-SERIES to banned (ego)
# 070416 - changed DVDR to DVDR.RET (ego)
# 081017 - Site back, fixed stuff (wader)
# 090918 - Site back, fixed sections (wader)
# 161002 - updated a bunch of stuff for now, gonna update some more once I know what the correct rules are (default)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
