###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PG = 2HD APATHY iJUGGAINC SKiDROW SUXXORS VENOM
allows PG = NORDIC.DVDR SE.X264.720 SE.X264.1080 GAMES GAMES.LINUX GAMES.DVD WII TV.X264.DTV DOX DOX.DLC TV.X264.DOCU XBOX360 PS3 X264.RET.720 X264.LIM.720 X264.LIM.1080 X264.RET.1080 GAMES.MAC DOX.DLC TV.X264.WEB

banned PG = -Zn -Rustlers -Hustlers -BLUERAY -TEDOX

exempt PG = TV.X264.* = ^National.Geographic|^Discovery.Channel
filter PG = XBOX360   = !NTSC

movieminyear           PG = X264.*.720   = 2013
movieminyear           PG = X264.*.1080  = 2013
movieminyear           PG = SE.X264.720  = 2012
movieminyear           PG = SE.X264.1080 = 2012
moviegenre             PG = X264.*       =

#rating                 PG = X264.CLS.720  = 5.0 0 1
#rating                 PG = X264.CLS.1080 = 5.0 0 1
rating                 PG = X264.RET.720  = 5.0 0 1
rating                 PG = X264.LIM.1080 = 5.0 0 1
rating                 PG = X264.LIM.720  = 5.0 0 1
rating                 PG = X264.RET.1080 = 5.0 0 1

consoleregions         PG = WII=          PAL|NTSC 

tvcountry              PG = TV.X264.DTV   = UK|US|CA 


# Changelog:
#
# 051123 - Site added (moet)
# 051123 - added TV filter (moet)
# 051128 - added DiTS (baker)
# 051209 - added BABiES(baker)
# 060315 - added WAM (baker)
# 060518 - added games to allows (baker)
# 060727 - updated affils (baker)
# 090709 - added SUXXORS and FLT (dyna)
# 110621 - added TWiZTED (rizza)
# 160301 - added GAMES.LINUX section (default)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
