##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PHX = AG ALCHEMY CFE Chakra FoV RiSCiSO JGTiSO MIRACLE RiOT xDMNx RiSCiSO
allows PHX = BOOKWARE GAMES GAMES.DVD APPS APPS.Linux DIVX.RET DIVX.SCR DIVX.LIM DVDR.RET DVDR.TC DVDR.SCR VCD.SCR SVCD.TS PS2DVD XBOXDVD
#banned PHX = 
filter PHX = DVDR.TC= -Replica
filter PHX = BOOKWARE= -W3D

# Changelog:
#
# 050403 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
