############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PL = xD2V RedBlade C4TV D0NK FiHTV FQM JHD LMAO MoTv NORiTE RiVER STAFF TViLLAGE SADPANDA TvNORGE
allows PL =  SE.X264.720 SE.X264.1080 X264.RET.720 X264.CLS.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 SE.TV.X264.DTV TV.X264.DTV TV.X264.HDD TV.X264.DOCU
#banned PL = 

tvcountry PL = TV.* = US|UK|SE|CA
tvgenre   PL = TV.* = Scripted|Animation|Cartoon|Documentary|Reality|Variety

movieminyear PL = X264.LIM.* = 1930
movieminyear PL = X264.RET.* = 1921
movieminyear PL = X264.CLS.* = 1920
rating PL = X264.CLS.* = 1.0 1 1
rating PL = X264.RET.* = 0.0 0 0
rating PL = X264.LIM.* = 0.0 0 0


# Changelog:
#
# 060215 - Site added (darkm)
# 160630 - updated TV.X264.SE rule according to updated nordic.cfg (default)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
