############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

#affils PLD = piepHD WARG GLoBAL LoCAL POSTMORTEM RoME VOA JustDifferent SoW AVCHD
allows PLD = GAMES GAMES.DE WII X264.DE.720 XXX XX.DE TV.X264.DE TV.DIVX.DE DIVX.DE TV.DIVX.DU.DE XBOX360 DIVX.RET DIVX.TS DIVX.TC DIVX.LIM DIVX.SCR.LIM DIVX.SCR DIVX.R5 DIVX.R5.LIM DIVX.DE.LD DIVX.DE.MD
exempt PLD = XXX= -DivXfacTory|-WDE
filter PLD = XX.DE= -WDE
banned PLD = -TBT|-RBS|-TYPO|-DDU|-SKiDROW|-ViTALiTY|-CAMERA|-KAMERA|-TRADINGSTANDARD|-KiOSKO
filter PLD = TV.X264.DE=  -SOF|-ITG|-iNSPiRED|-euHD|-NVA
filter PLD = TV.DIVX.DE= -SOF|-ITG|-iNSPiRED
filter PLD = TV.DIVX.DU.DE= -SOF|-ITG|-iNSPiRED
filter PLD = X264.DE.720= !19[0-9][0-9]|200[0-7]
filter PLD = TV.DIVX.DTV= ^24|American.Dad|^Heroes|^House|Kyle.XY|^Lost|^Smallville|Terminator.The.Sarah.Connor.Chronicles|The.Simpsons 

tvcountry    PLD = TV.X264.DE =
tvcountry    PLD = TV.DIVX.DE =
tvcountry    PLD = TV.DIVX.DU.DE =



# Changelog:
#
# 090510 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
