############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PM = ASCENDANCE BEDLAM FKKHD SKIDROW SKGTV KuKaS PANDEMONiUM TiNYiSO VERUM
allows PM = APPS APPS.MAC APPS.LINUX GAMES DIVX.RET DIVX.LIM DOX PS3 XBOX360 TV.X264.DTV TV.X264.HDD TV.X264.HDD.1080 X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 X264.MUSIC.1080 X264.MUSIC.720 TV.X264.WEB
banned PM = -W4F -C4TV -YesTV -RDVAS Holby.City -HEAT -BARGE ^Andromeda


tvcountry PM = TV.X264.*    = US|UK|CA
tvgenre   PM = TV.X264.*    = Scripted

rating    PM = DIVX.RET     = 0.0 0 1
rating    PM = DIVX.LIM     = 5.0 500 1
rating    PM = X264.RET.*   = 0.0 0 1
rating    PM = X264.LIM.*   = 5.0 500 1


movieminyear PM = X264.*  = 2015
movieminyear PM = DIVX.*  = 2015


# Changelog:
#
# 141105 - Site added (me)
# 160502 - changed CLS rules (ohno)
# 160513 - added movierules (ohno)
# 160515 - deleted TwistedDesires (ohno)
# 160604 - changed movierules (ohno)
# 160701 - added apps, and fixed few things, yep its possible you suck!
# 161106 - rules changed after restart site (ohno)
# 170301 - SKR added to affils (ohno)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
