############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PMD = CFE FUCKOFF iHATE LiBiSO rG SiGNMAKER
allows PMD = APPS APPS.DVD APPS.Linux APPS.MAC GAMES GAMES.DVD DIVX.RET DIVX.LIM DVDR.RET TV.DIVX.DTV DIVX.TS DIVX.TC DIVX.SCR SVCD.TS SVCD.TC SVCD.SCR PS2CD PS2DVD XBOXDVD 
banned PMD = ^IBM ^LOTUS
filter PMD = TV.DIVX.DTV= ^24|^Alias|Enterprise|Simpsons|Stargate|Scrubs|^Invasion|The.O.C.|The.OC|Gilmore.Girls|^Lost|^CSI|^Navi.CIS|^Third.Watch|Greys.Anatomy|The.Shield|Everwood|Emergency.Room|Deadwood|The.Closer|Entourage|Sopranos|Commander.in.Chief|Medical.Investigation


# Changelog:
#
# 060813 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
