affils = BD4U CDP CONFiDENCiAL CREEPSHOW dotTV FLAME GMB GUACAMOLE HDMUSiC iMPERiUM iNSiDiOUS KETTLE PROPHET PUSSYCAT RegeLRechT SMACKs STARS WiSDOM LucidTV

groupblacklist = MASCHiNE DYNAMiCS SONiTUS TUTOR aAF W4F DHD USURY IcHoR LOST TUSAHD REGRET BiPOLAR

rule APPS = APPS std

rule DOX = DOX std
rule GAMES = GAMES std

rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule MOVIES = MOVIES bluray 720p 1080p x264 limited stv webrip web language:(English) std cls
rule MOVIES.MBluray = MOVIES MBluRay 720p 1080p x264 std stv nonfo
rule MOVIES.XVID = MOVIES bdrip x264 year:2010 limited language:(English) sd std stv stdmovies cls

rule TV = TV 720p nw_us nw_gb nw_ca nw_au nw_nz hdtv h264 web dupesweb dupeshdtv webrip x264 Scripted group:(2HD,BiA,CTU,DIMENSION,IMMERSE,KILLERS,MOMENTUM,REWARD,DEMAND,DEiMOS,0SEC,FLEET,SHORTBREHD,AVS,TBS,SKGTV,STRiFE,CRAVERS,DEFLATE,SVA,ORGANiC,MTB,CONVOY,WEBSTER,METCON) bluray language:(English) std
rule TV = TV 720p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web dupesweb dupeshdtv webrip x264 Scripted group:(2HD,BiA,CTU,DIMENSION,IMMERSE,KILLERS,MOMENTUM,REWARD,DEMAND,DEiMOS,0SEC,FLEET,SHORTBREHD,AVS,TBS,SKGTV,STRiFE,CRAVERS,DEFLATE,SVA,ORGANiC,MTB,CONVOY,WEBSTER,METCON) bluray language:(English) std 

rule XXX = XXX dvdrip bdrip x264 std

# NAME                     PATH
dir APPS               = /APPS
dir DOX                = /GAMES-PC
dir GAMES              = /GAMES-PC
dir PS4                = /GAMES-PS4
dir NSW                = /GAMES-NSW
dir MOVIES             = /X264-ENG
dir MOVIES.MBluRay     = /MBLURAY
dir MOVIES.XVID        = /X264-SD-ENG
dir MOVIES.2160p       = /X265          
dir TV                 = /TV-X264-ENG
dir XXX                = /XXX


