############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils PP = LPD MOOVEE DivXfacTory CiNEFiLE LAZERS BAKED ANDROiD NOSCREENS KNiFESHARP TRiPS
allows PP = DOX GAMES BOOKWARE XBOX360 DIVX.RET DIVX.LIM TV.X264.HDD TV.X264.DTV X264.RET.720 X264.LIM.720 XBOX630 WII X264.RET.1080 X264.LIM.1080 DOX.DLC DOX.DLC
banned PP = .PSN.

filter PP = xbox360 = !ntsc

rating PP = DIVX.LIM = 1.0 0 0
rating PP = DIVX.RET = 1.0 0 0
rating PP = X264.RET.* = 1.0 0 1
rating PP = X264.LIM.* = 1.0 0 1

movieminyear	       PP = DIVX.* = 2011
movieminyear           PP = X264.LIM.*  = 2011
movieminyear           PP = X264.RET.*  = 2011

tvgenre PP = TV.X264.DVD = Scripted|Cartoon|Animated
tvstartyear PP = TV.X264.DVD = 2009
tvstartyear PP = TV.X264.HDD = 2009

tvcountry PP = TV.* = US|UK|CA


# Changelog:
#
# 060928 - Site added (checker)
# 110707 - Updated (blade)
# 110709 - Updated (rizza)
# 110829 - Updated (rizza)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
