##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PR = FFNDVD OSiTV LMAO CHGRP iNGOT HAGGiS NODLABS
allows PR = TV.X264.DTV TV.DIVX.DTV TV.X264.DVD DIVX.R5 DIVX.SCR X264.RET.720 X264.LIM.720 X264.CLS.720
#banned PR = 
filter PR = TV.DIVX.DTV= ^Top.Gear

# Changelog:
#
# 040804 - Site added (J)
#
#  IN PROGRESS
#
# 100411 - Updated (blade)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
