##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PRI = CRBS DiSTRiCT EcHoS FLESHLiGHT HLS iRONiSO LMS StarWars SPYRAL HOTiSO
allows PRI = APPS APPS.DE GAMES GAMES.DE TV.X264.DE TV.X264.DTV XXX XX.DE X264.DE.1080 X264.RET.720 APPS.MAC X264.LIM.720
banned PRI = 
filter PRI = APPS= -RESTORE|-SHooTERS|-ISO|-CYGiSO|-ZWTiSO|-TBE|-DVTiSO|-HOTiSO|-Lz0|-CORE|-PANTHEON|-BLZiSO
filter PRI = APPS.DE= -RESTORE|-SHooTERS|-ISO|-CYGiSO|-ZWTiSO|-TBE|-DVTiSO|-HOTiSO|-Lz0|-CORE|-PANTHEON|-BLZiSO
filter PRI = APPS.MAC= -RESTORE|-SHooTERS|-ISO|-CYGiSO|-ZWTiSO|-TBE|-DVTiSO|-HOTiSO|-Lz0|-CORE|-PANTHEON|-BLZiSO
filter PRI = GAMES.DE= -POSTMORTEM|-0x0007|-GENESIS|-FASiSO
filter PRI = GAMES= -Razor1911|-RELOADED|-FLT|-SKIDROW|-POSTMORTEM|-ViTALiTY|-FASiSO|-AVENGED|-GOW|-POSTMORTEM|-0x0007|-GENESIS|-FASiSO
filter PRI = TV.X264.DE= -euHD|-ZZGtv|-GTVG
filter PRI = XX.DE= -CHiKANi|-PPG
exempt PRI = XX.DE= -CHiKANi|-PPG
filter PRI = XXX= -CiCXXX -CHiKANi -PPG -VBT -SWE6RUS
exempt PRI = XXX= -CiCXXX -CHiKANi -PPG -VBT -SWE6RUS
filter PRI = X264.DE.1080= -DETAiLS|-SoW|-DEFUSED|-ENCOUNTER|-EXQUiSiTE|-EmpireHD|-DECENT|-RSG|-HDViSiON
filter PRI = X264.*= -METiS|-REFiNED|-PELLUCiD|-HUBRIS|-HAIDEAF|-SiNNERS|-ALLiANCE|-CBGB|-iNFAMOUS|-CROSSBOW|-AMiABLE|-REFiNED|-TWiZTED|-ARROW

# Changelog:
#
# 041012 - Site added (bourbon)
# 050605 - added mela affil (moet)
# 101009 - new priv site (blade)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
