##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PS-PRE = AEROHOLiCS TDF XTCDVD MeLA XiSO CTi REDLiGHT
allows PS-PRE = DIVX.TC GC TV.X264.DVD VCD.SCR VCD.TS VCD.TC SVCD.TC SVCD.TS VCD.SCR.LIM
filter PS-PRE = TV.X264.DVD= 24|Alias|Baddiel.And.Skinner|Battlestar.Galactica|Desperate.Housewives|Enterprise|Las.Vegas|LOST|Stargate|The.O.C|The.Shield|Without.A.Trace

# Changelog:
#
# YYMMDD - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
