###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PS = AG AiRISO BLUEBALLS BSOUNDZ CTi MeLA SiNK SPiRiT XiSO XTCDVD maVenssupplieR ISO
allows PS = DIVX.RET DIVX.SCR DIVX.TS DIVX.TC DVDR.RET DVDR.SCR GAMES GAMES.DVD APPS.DVD APPS XBOX360 XBOXDVD DIVX.R5 WII PSP
banned PS = ^All.of.Us.S\d ^Rush.Hour.S\d ^The.Game.S\d My.Name.Is.Earl.S\d The.War.at.Home.S\d Notes.From.the.Underbelly.S\d The.New.Adventures.of.Old.Christine.S\d According.to.Jim.S\d
filter PS = TV.DIVX.DTV= !$REALITY-N-CRAP
filter PS = TV.DIVX.DSR= !$REALITY-N-CRAP
filter PS = TV.X264.DVD= 24|Alias|Baddiel.And.Skinner|Battlestar.Galactica|Desperate.Housewives|Enterprise|Las.Vegas|Lost|Stargate|The.O.C|The.Shield|Without.A.Trace
filter PS = TV.DIVX.HR= ^24.|^Alias|^Battlestar.Galactica|^Heroes|^Jericho|^Lost|^Prison.Break|^Stargate|^The.OC|^The.Unit|^Ugly.Betty
filter PS = XXX= -DivXfacTory
# Changelog:
# 070520 - added TV.DIVX.HR + filters
# 070207 - added divx.r5 (ego)
# YYMMDD - Site added (me)
# 070729 - tv allow removed cos rules suck 
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
