############################################################################################################################
# affils SITE = RELOADED STRiKE XOR << List of affiliated groups, duh!  # allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX 
# << Allowed sections (check 'general' for a complete list) # banned SITE = -HOODLUM ^IBM << Banlist - Dont add $reality here and use 
# enough chars!  # filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES << - No space between the SECTION and = (!)  # filter SITE = 
# APPS.DVD= Adobe|Microsoft|Norton|Symantec << - To restrict a section by adding $keywords, tags, ...  # filter SITE = PS2DVD= !DVD9 << 
# - regexp.: !=NOT |=OR <space>=AND # filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID << - example: BL and TI allowed in XXX, as 
# divx/xvid only # exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d << To exempt keywords from previously banned $keywords #
############################################################################################################################

affils PSH = CiNEMATiC DEV0 ENiGMA iMARS MELiTE STRATOS SWE6RUS VBT
allows PSH = APPS APPS.MAC APPS.LINUX TV.X264.DTV DIVX.RET DIVX.LIM GAMES X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 XBOX360 DOX DOX.DLC PS3 GAMES.MAC TV.X264.WEB
banned PSH = -(OUTDATED|RUiNS|TiNYiSO|VOMiT|FASiSO|EXViD|PROPHET|FANiSO|COGENT|iNLAWS)$ Sub100 GOTY Game.of.the.Year


rating        PSH = DIVX.*  = 0.0 2000 1
rating        PSH = X264.*  = 0.0 2000 1 

filter        PSH  = PS3        = -DUPLEX|-PROTON


movieminyear  PSH = DIVX.*      = 2015
movieminyear  PSH = X264.*      = 2015
tvcountry     PSH = TV.X264.DTV = US
tvcountry     PSH = TV.X264.WEB = CA|US|UK


# 160210 - changed rules movies (ohno)
# 160401 - ENiGMA added in affillist (ohno)
# 160513 - LAZERS delled from affillist (ohno)
#
#
#
