##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils PX = AFTERMATH APOCALYPSE CLEAR DFG DivXfacTory ISO iTWINS LRC MPT NBS RUSH W4F XFORCE TE
allows PX = GAMES GAMES.DVD XBOXDVD DIVX.RET TV.DIVX.DTV DVDR.RET DVDR.SCR APPS APPS.DVD

# Changelog:
#
# 050827 - Site added (baker)
# 051101 - added iTWiNS (baker)
# 051109 - added STiNKER,CLEAR (baker)
# 051220 - updated stuff (blade)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
