##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils QI = euHD MONOBiLD MRN GREENPEACE rG CHiKANi ZZGtv HD-GER AMBiTiOUS DELiCiOUS DETAiLS
allows QI = APPS APPS.Linux APPS.DVD GAMES GAMES.DVD DOX XBOX360 DIVX.R5 DIVX.RET DIVX.SCR DIVX.LIM X264.RET.720 TV.X264.DTV TV.DIVX.DE TV.DIVX.DU.DE TV.X264.DVD.DE GAMES.DE DIVX.DE DVDR.DE DIVX.DE.LD
banned QI = $INDUSTRIAL -HS -FASiSO -PillePalle -Bamboocha -TNT -TRVE -GTVG -SKIDROW -TINYiSO
#filter QI = TV.DIVX.DTV= ^24|^Alias|^Enterprise|Simpsons|^Stargate|^Scrubs
filter QI = APPS= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg|Acronis|GData
filter QI = APPS.Linux= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg|Acronis|GData
filter QI = APPS.DVD= Adobe|Haufe|Macromedia|Microsoft|Lexware|Norton|Symantec|Ulead|Cisco|Corel|Magix|Steinberg|Acronis|GData


movieminyear    QI = DIVX.RET = 2010
movieminyear    QI = DIVX.LIM = 2010
movieminyear    QI = DIVX.R5 = 2011
movieminyear    QI = DIVX.SCR = 2011
movieminyear    QI = X264.* = 2010


# Changelog:
#
# 040806 - Site added (checker)
# Notice: German Sections not included yet..
# Added - APPS filter cause site doesnt allows indu, so add indugrps there (checker)
# 040818 - Added KIDDIE (checker)
# 040913 - Added PORNOLATiON to affils (checker)
# 040916 - KIDDIE REMOVED from allows (checker)
# 040918 - Added ADMITONE to affils (blade)
# 050828 - Renamed and updated (checker)
# 050903 - Added PANTHEON,NESSUNO to affils (baker)
# 060409 - Added SVCD.TS/TC to allows (checker)
# 240311 - removed CiCXXX, added CHiKANi (rizza)
# 300311 - added section PS3 (rizza)
# 240611 - updated affillist (rizza)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
