###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils QOS = AG MAGNiTUDE UNLiMiTED Allstars ENGiNE SUSHi SHOCKiSO
allows QOS = APPS GAMES GAMES.DVD PS2DVD XBOXDVD DIVX.RET DIVX.LIM DIVX.SCR TV.DIVX.DTV TV.X264.DVD DVDR.RET
banned QOS = $INDUSTRIAL
filter QOS = TV.X264.DVD= ^Lost|^Prison.Break|^Nip.Tuck|^The.4400|^Numb3rs 
filter QOS = TV.DIVX.DTV= -LOL|-XOR !$REALITY-N-CRAP

#avoid QOS = ROAD

# Changelog:
#
# 051029 - Sections Updated (-DVDR.RET)
# 050829 - Site added (checker) 
# 051101 - Affils updated
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
