affils = aAF BARGE FiHTV QCF REQ WNN

groupblacklist = PROPHET TiNYiSO HI2U DEFA DARKSiDERS

rule DOX = DOX windows std
rule GAMES = GAMES windows std

rule TV = TV 720p 1080p 2160p currentseason scripted hdtv web webrip dupesweb dupeshdtv internal nw_us nw_gb std x264 language:(English)
rule TV = TV 720p 1080p 2160p currentseason scripted hdtv web webrip dupesweb dupeshdtv internal network:(amazon,netflix,youtube,youtube-premium) std x264 language:(English)
rule TV.SE = TV 720p 1080p hdtv web webrip internal external SE
rule TV.BLURAY = TV 1080p x264 bluray nw_us scripted internal std language:(English)
rule TV.BLURAY = TV 1080p x264 bluray network:(amazon,netflix,youtube,youtube-premium) scripted internal std language:(English)

rule MOVIES = MOVIES 1080p x264 bluray limited internal year:2002 language:(English) std stdmovies cls
rule MOVIES = MOVIES bluray x264 1080p SE external nodupe 2D cls
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited lrating:4 lvotes:1000 rating:4 votes:1000 year:2018 language:(English) std stdmovies
rule MOVIES.WEBRIP = MOVIES webrip web stv cls 720p 1080p language:(English) year:2002 h264 x264 limited std
rule MOVIES.WEB = MOVIES webrip web stv cls 720p 1080p language:(English) year:2002 h264 x264 limited std


# NAME                     PATH
dir DOX            = /games
dir GAMES          = /games
dir TV             = /tv-x264
dir TV.SE          = /tv-x264-se
dir TV.BLURAY      = /tv-bluray
dir MOVIES         = /x264
dir MOVIES.2160p   = /x265-uhd
dir MOVIES.webrip  = /x264
dir MOVIES.WEB     = /x264




