############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils QW = BDiSC DELERiUM GUEST HELL Micronauts Nocturnal QUASAR SKUNK BDFLiX
allows QW = DVDR.RET DVDR.LIM GAMES PSP X264.RET.1080 X264.LIM.1080 X264.CLS.1080 DVDR.SCR DVDR.SCR.LIM APPS APPS.DVD BOOKWARE DUTCH XBOX360 WII PSP BOOKWARE DIVX.LIM DIVX.RET X264.LIM.1080

banned QW = ^IBM. ^Digital.Juice. ^Autodesk.

rating QW = DVDR.RET = 5.5 600 0
rating QW = DVDR.LIM = 5.5 600 1
rating QW = DVDR.SCR.LIM = 5.5 600 1
rating QW = DVDR.SCR = 5.5 600 0
rating QW = X264.* = 4.0 1000 1
movieminyear QW = DVDR.* = 2005
movieminyear QW = DIVX.* = 2005
movieminyear QW = X264.* = 1800
tvstartyear            QW = TV.X264.DVD= 1980
tvgenre                QW = TV.X264.DVD= Scripted|Cartoon|Animation
tvgenre                QW = TV.DIVX.DTV= Scripted|Cartoon|Animation
tvgenre                QW = TV.X264.DTV= Scripted|Cartoon|Animation
tvcountry              QW = TV.X264.DVD= US|UK
tvcountry              QW = TV.DIVX.DTV= US|UK
tvcountry              QW = TV.X264.DTV= US|UK
filter         QW = X264.*       = BD5|BD9
x264formats    QW = X264.*       = BD
x264allowformatdupe QW = X264.*  = 0


# Changelog:
#
# 071213 - Site added (me)
# 080325 - +HD1080,Nocturnal to affils, +PSP,X264.LIM.720,BOOKWARE to allows (vibr)
# 
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
