############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils R = FLT iCON PORNOLATION RANT REFiNED
allows R = DIVX.RET DIVX.R5 DIVX.SCR DIVX.LIM DVDR.RET DVDR.LIM GAMES TV.X264.DTV APPS APPS.DVD APPS.Linux X264.LIM.720 X264.RET.720 DOX DOX.DLC
banned R = -FASiSO -TiNYiSO -ViTALiTY -OUTDATED -VOMiT -RUiNS -DASH -AVS720 -OEM1080 ^Autodesk

exempt R = Top.Gear.S Mythbusters.S

rating R = DIVX.LIM = 5.0 0 0
rating R = DVDR.LIM = 5.0 0 0
rating R = X264.LIM.720 = 7.0 0 0
movieminyear R = DIVX.RET = 2009
movieminyear R = DIVX.LIM = 2009
movieminyear R = DIVX.R5  = 2009
movieminyear R = DIVX.SCR = 2009
movieminyear R = x264.* = 2009

filter R = APPS = !$INDUSTRIAL

# Changelog:
#
# 061020 - Site added (checker)
# 110228 - recycled by none
# 110802 - added PORNOLATiON RANT to affils (rizza)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
