##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils R0 = EMPiRE MiRROR REVENGE RiSE XOR
allows R0 = GERMAN DIVX.RET DVDR.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DVDR.LIM SVCD.TS SVCD.TC VCD.TS VCD.TC GAMES GAMES.DVD CLONECD CLONEDVD APPS APPS.DVD APPS.Linux PS2DVD PS2CD XBOXDVD XBOXCD TV.DIVX.DTV TV.DIVX.DSR
banned R0 = DATACODE DATECODE

filter R0 = TV.DIVX.DSR= Smallville|The.O.C.|^Lost|Prison.Break|^Joey|Family.Guy|^CSI|^24
filter R0 = TV.DIVX.DTV= Smallville|The.O.C.|^Lost|Prison.Break|^Joey|Family.Guy|^CSI|^24

# Changelog:
#
# 051023 - Site added (gin)
# 051025 - Added GERMAN to allow (acidbr)
# 051026 - Added TV.DIVX.DSR+filter, APPS.LINUX->APPS.Linux, DATACODE to ban (shrike)
# 051101 - -PROTOCOL (acid)
# 051116 - Removed TVL and added XOR to affils (gin)
# 051221 - Added screener divx (psychoffee)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
