##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RA = XorCist Start2 WRG Unleashed PI GUEST HOTiSO DNL pSyPSP HAZARD Xtasy RADIAN CHRONiC WjR GANT WAM
allows RA = APPS PS2DVD PS2CD XBOXDVD XBOXCD PS2DVD.JAP XBOXDVD.JAP XBOX360 GAMES GAMES.DVD CLONECD CLONEDVD PSP DIVX.RET DIVX.LIM DVDR.RET DVDR.LIM XXX
#banned RA = 
filter RA = APPS= ^Adobe|^Microsoft|^Nero|^Macromedia|^Pinnacle|^Norton|^Symantec|^VMWare
filter RA = XXX=  -Pr0nStarS
# Changelog:
#
# 050705 - Site added (john doe)
# 060329 - dvdr sect added (sparky)
# 060527 - added pSyPSP to affils (pretorian)
# 060908 - UPDATED (checker)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
