############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RAR = PRiNCE
allows RAR = NORDIC GAMES.MAC DIVX.RET DOX DVDR.LIM DVDR.RET GAMES NORDIC.DVDR SE.X264.720 SE.X264.1080 TV.X264SE.DTV TV.SE.DTV TV.X264.DTV DIVX.SCR DIVX.R5 XBOXDVD XBOX360 WII X264.RET.1080 X264.LIM.1080 X264.CLS.1080 X264.RET.720 X264.LIM.720 X264.CLS.720 DOX.DLC
banned RAR = -Genius -PHXISO Datecode Datacode ^IBM DASSAULT .3DS
filter RAR = NORDIC = SWEDISH|NORDIC

filter RAR = TV.X264.SD= !$REALITY-N-CRAP|$UK-SERIES
filter RAR = Wii= !USA|NTSC
filter RAR = PS3= !USA|NTSC
filter RAR = APPS= !$INDUSTRIAL
filter RAR = BOOKWARE= Adobe


rating                 RAR = X264.RET.1080 = 0.0 0 0
rating                 RAR = X264.LIM.1080 = 0.0 0 0
rating                 RAR = X264.CLS.1080 = 8.0 0 0
rating                 RAR = X264.RET.720  = 0.0 0 0
rating                 RAR = X264.LIM.720  = 0.0 0 0
rating                 RAR = X264.CLS.720  = 6.0 0 0
rating                 RAR = DVDR.*        = 0.0 0 0

moviegenre             RAR = DIVX.*       =

movieminyear           RAR = X264.RET.1080 = 2010
movieminyear           RAR = X264.RET.720  = 2010
movieminyear           RAR = X264.LIM.1080 = 2010
movieminyear           RAR = X264.LIM.720 = 2010
movieminyear           RAR = X264.CLS.1080 = 1980
movieminyear           RAR = X264.CLS.720 = 1980
movieminyear           RAR = SE.X264.720 = 2010
movieminyear           RAR = SE.X264.1080 = 2010

movieminyear	       RAR = NORDIC.DVDR   = 2010
movieminyear           RAR = DVDR.*        = 2010

consoleregions         RAR = XBOX360       = PAL|NTSC

tvcountry              RAR = TV.X264.SD   = US
tvgenre                RAR = TV.X264.SD   = Scripted

tvcountry              RAR = TV.X264.DTV   = US
tvgenre                RAR = TV.X264.DTV   = Scripted

tvcountry              RAR = TV.SE.DTV  = SE
tvcountry              RAR = TV.X264SE.DTV  = SE
tvgenre RAR = TV.SE.DTV = Scripted|Sketch|Animation|Cartoon|Documentary
tvgenre RAR = TV.X264SE.DTV = Scripted|Sketch|Animation|Cartoon|Documentary

# Changelog:
#
# 120508 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
