affils = BAT Chakra DINOByTES Hi2U LoveGuru Razor1911 RazorDOX Replica

groupblacklist = XCODE BiFiSO ANALATiCS 

rule APPS = APPS std
rule BOOKWARE = BOOKWARE bwit std
rule BOOKWARE = BOOKWARE bwit bw3d bwmisc group:(RIDWARE) std 

rule DOX = DOX std
rule GAMES = GAMES std

rule MOVIES = MOVIES 1080p x264 bluray limited lrating:6 lvotes:100 year:2018 language:(English) std stdmovies


# NAME           PATH

dir APPS               = /incoming/utils
dir BOOKWARE           = /incoming/bookware
dir DOX                = /incoming/dox
dir GAMES              = /incoming/games
dir MOVIES             = /incoming/hd


