##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RC = KEG PaL UNiVERSAL CuMMiNGs RoME CRIME
allows RC = DIVX.RET DIVX.SCR DIVX.TC DIVX.TS DIVX.LIM DVDR.RET GAMES GAMES.DVD XBOXDVD XBOX360 TV.DIVX.DTV XXX
banned RC = 
filter RC = TV.DIVX.DTV= ^Charmed|^24|^Lost|^Stargate|^Smallville|^Prison.Break|^Threshold|^Invasion|^Surface|^Las.Vegas|^Life.On.Mars|^Wildboyz|^Ghost.Hunter
filter RC = XXX=Pr0nStarS

# Changelog:
#
# YYMMDD - Site added (me)
# 051024 - Site added (acidbr)
# 060408 - Site updated (sparky)
# 060614 - + xxx and pornolation filter (spark)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
