
replacetvmaze Lemony.Snickets.A.Series.Of.Unfortunate.Events = A.Series.Of.Unfortunate.Events
              Lemony.Snickets.A.Series.Of.Unfortunate.Events

#python3 pci.py -t Lemony.Snickets.A.Series.of.Unfortunate.Events.S03E06.REPACK.1080p.WEBRip.X264-DEFLATE
                   Lemony.Snickets.A.Series.Of.Unfortunate.Events

replaceimdb back.to.the.future.iii = back.to.the.future.3
