##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RFL = BIZARRE CUMSTAiNS DNA DTV GP REMAX ROYAL FCR COBRA
allows RFL = DVDR.RET DVDR.LIM DVDR.SCR DANISH XXX
filter RFL = XXX= -SWE6RUS
#banned SITE = 

# Changelog:
#
# 050516 - Site added (Orbith)
# 050518 - REMAX added
# 050526 - FCR added (orbith)
# 050526 - added SWE6RUS in filter (orbith)
# 050527 - Removed RiVER from affil (orbith)
# 050629 - Added COBRA, ROYAL to affil (baker)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
