##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RIP = AMENiC NBP c0nFuSed ROYAL ASTEROiDS CHALLENGE NiGHTMARE PPG TESORO ALiEN DNC EcHoS JUSTiSO SHooTERS
allows RIP = GERMAN DVDR DVDR.LIM SVCD.RET GAMES GAMES.DVD XBOXDVD PS2DVD APPS APPS.Linux
banned RIP = DRabbits cHiMeRa DRT GCE GmbH MNZ PAiN
filter RIP = APPS=       Microsoft|Adobe|Corel|Symantec|Kaspersky|Roxio|SuSe|McAfee|Macromedia
filter RIP = APPS.Linux= Microsoft|Adobe|Corel|Symantec|Kaspersky|Roxio|SuSe|McAfee|Macromedia

# Changelog:
#
# 050407 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
