############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RIZ-H1 = AFFECTION ARROW BLOW COCAIN CONDITION CROSSBOW FAIRPLAY WASABi ATONEMENT DAMNATION 
allows RIZ-H1 = APPS.linux APPS APPS.DVD GAMES TV.X264.HDD WII X264.RET.720 X264.LIM.720 DVDR.RET DVDR.LIM DIVX.TS DIVX.SCR.LIM DIVX.SCR DIVX.TC DIVX.LIM DIVX.R5.LIM DIVX.R5 DIVX.RET
banned RIZ-H1 = 

filter RIZ-H1 = WII= !USA|NTSC

x264formats            RIZ-H1 = X264.*       = mkv

movieminyear           RIZ-H1 = X264.RET.720  = 2009
movieminyear           RIZ-H1 = X264.LIM.720  = 2009
movieminyear           RIZ-H1 = DIVX.RET=     2008
movieminyear           RIZ-H1 = DIVX.R5=      2008
movieminyear           RIZ-H1 = DIVX.R5.LIM=  2008
movieminyear           RIZ-H1 = DIVX.LIM=     2008
movieminyear           RIZ-H1 = DIVX.TC=      2008
movieminyear           RIZ-H1 = DIVX.SCR=     2008
movieminyear           RIZ-H1 = DIVX.SCR.LIM= 2008
movieminyear           RIZ-H1 = DIVX.TS=      2008
movieminyear           RIZ-H1 = DVDR.RET=     2009
movieminyear           RIZ-H1 = DVDR.LIM=     2009

tvcountry              RIZ-H1 = TV.DIVX.DTV   = US
tvcountry              RIZ-H1 = TV.X264.DTV   = US

tvgenre                RIZ-H1 = TV.DIVX.DTV   = Scripted|Animation
tvgenre                RIZ-H1 = TV.X264.DTV   = Scripted|Animation

rating                 RIZ-H1 = X264.RET.720  = 0.0 0 0
rating                 RIZ-H1 = X264.LIM.720  = 5.0 0 0
rating                 RIZ-H1 = DIVX.LIM=     5.0 0 1
rating                 RIZ-H1 = DIVX.R5.LIM=  5.0 0 1
rating                 RIZ-H1 = DIVX.SCR.LIM= 5.0 0 1
rating                 RIZ-H1 = DVDR.RET=     5.0 0 1
rating                 RIZ-H1 = DVDR.RET=     6.0 0 1

consoleregions         RIZ-H1 = WII=          PAL
consoleregions         RIZ-H1 = XBOX360=      PAL|NTSC

# Changelog:
#
# 110324 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
