############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RM = Counterfeit DiAMOND iNFAMOUS kEISO MORiTZ PRODEV SECTOR7 SKIDROW
allows RM = GAMES GAMES.MAC GAMES.LINUX DOX DOX.DLC XBOX360 PS3 TV.X264.DTV X264.RET.720 X264.RET.1080 X264.LIM.1080 X264.LIM.720 TV.X264.HDD DIVX.RET DIVX.LIM DK.TV.X264.DTV SE.TV.X264.DTV SE.X264.720 SE.X264.1080 DK.X264.720 DK.X264.1080
banned RM = -S4X0 -W4F GOTY

movieminyear RM = X264.* = 2014
movieminyear RM = DIVX.* = 2014
filter       RM = NOR.X264.* = ![._]200[0-9][._-] ![._]201[0-3][._-] ![._]19\d\d[._-]
rating       RM = X264.* = 1.0 0 1
rating       RM = DIVX.* = 1.0 0 1

tvcountry    RM = TV.*        = US|UK|CA
tvstartyear  RM = TV.X264.HDD = 2000

#tvgenre     RM = TV.* = Scripted (disabled since it allows 'adult cartoon' - shrike 160223)

#filter       RM = GAMES.* = -FLT|-RELOADED|-HI2U|-ACTiVATED|-CODEX|-MONEY|-TiNYiSO|-CPY
#filter       RM = DOX     = -BAT|-RELOADED|-HI2U|-CODEX|-CPY
#filter       RM = DOX.DLC = -FLT|-RELOADED|-HI2U|-ACTiVATED|-CODEX|-MONEY|-TiNYiSO|-CPY

#exempt      RM = TV.* = ^The.Simpsons.S|^Family.Guy.S|^South.Park.S|^American.Dad.S|^Bobs.Burgers.S
exempt       RM = SE.TV.X264.DTV = S??E??.SWEDiSH.720p.HDTV

# Changelog:
#
# 151231 - Site added (g0ne)
# 160225 - added section for swedish x264 and updated affils (default)
# 160412 - added counterfeit as affil (ohno)
# 160426 - added section for danish x264 (default)
# 160504 - removed Counterfeit (ohno)
# 160630 - updated TV.X264.SE/DK rule according to updated nordic.cfg (default)
# 170625 - Disabled Games/DOX filter + GOTY to banned (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
