##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RNX = EATiSO HafVCD MaTinE TESORO MFD CUMSTAiNS SMX vulcano ADR EoH 
allows RNX = DIVX.RET DIVX.LIM DIVX.SCR XXX VCD.SCR VCD.SCR.LIM SVCD.TS SVCD.TC GAMES GAMES.DVD TV.DIVX.DTV 
banned RNX = FANiSO SCP
filter RNX = XXX= Pr0nStarS|xDMNx
filter RNX = TV.DIVX.DTV= ^24|^Friends|^Frasier|^Family.Guy|Simpsons|^Alias|Enterprise|^Smallville|S01.*E0[01]

# Changelog:
#
# 040806 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
