############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ROAD = PRODEV SKIDROW PROTOCOL PROTON SPARE
allows ROAD = DOX GAMES X264.RET.720 TV.X264.DTV APPS APPS.DVD APPS.MAC XBOX360 BOOKWARE TV.X264.WEB

filter ROAD = BOOKWARE = ^CBT.Nuggets|^LinuxCBT|^lynda|^Pluralsight|^TrainSignal|^Treehouse|^Tuts
banned ROAD = REAL.PROPER FINAL.PROPER -ISO

filter ROAD = GAMES = -FLT|-Razor1911|-RELOADED|-CODEX
filter ROAD = DOX* = -FLT|-Razor1911|-RELOADED|-CODEX|-SKIDROW

tvcountry ROAD = TV.* = US
moviegenre ROAD = X264.* =
exempt ROAD = TV.* = UFC|^The.IT|^Dragons.Den.UK.S|^Shark.Tank.S|^Siblings.S|^Top.Gear.S|^Sherlock


# Changelog:
#
# 061110 - Site added (darkn00b)
# 061113 - removed pr0nstars from allow and set them as guest grp (moet)
# 061114 - put pr0nstars back on allow, no more guest pre atm
# 061114 - removed pr0nstars from affils list coz no guestpre (moet)
# 061114 - added additional banned lamer groups (RPT UKT OMiCRON XannaX BeStDiVx RPT UMD)
# 061130 - added Pr0nStarS affil officially
#
# 130403 - Site updated, new site new name (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
