##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ROD = BooZerS CARAVAN CARTEL DDUiSO DEiTY LOL MPT Pr0nStarS RELOADED TWCiSO WHATEVER YD YoungDangerous TDA GANT
allows ROD = APPS APPS.DVD DIVX.FOREIGN DIVX.RET DIVX.SCR DOX DUTCH DVDR.RET GAMES GAMES.DVD PS2CD PS2DVD SVCD.TS TRAILERS TV.VCD XBOXDVD PS2DVD.JAP DOX.DLC
banned ROD = -HOODLUM PROPER.HDTV.XviD-XOR PROPER.PDTV.XviD-XOR
filter ROD = TV.VCD= American.Idol|^Chapelle.Show|^Deadwood|^Ghost.Hunters|^Nip.Tuck|^Pimp.My.Ride|^Punkd|^Queer.as.Folk|^Sopranos|^South.Park|^The.Shield|^The.L.Word|^Viva.La.Bam|^Wildboyz
# Changelog:
#
# 050201 - Site added (bourbon)
# 050201 = Added PS2DVD.JAP to allows (psychoffee)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
