##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ROM = RiDERZ NBP NICKJR W4F HiV WAYSTED HAFVCD REQDVD GANT KiSS PR0NADDICTS
allows ROM = PS2DVD XBOXDVD DIVX.RET DVDR.RET DVDR.LIM DVDR.SCR GAMES GAMES.DVD KIDDIE CLONECD SVCD.RET SVCD.SCR SVCD.LIM VCD.CAM VCD.TS SVCD.TS SVCD.TC VCD.SCR XXX
banned ROM = SUB100
filter ROM = TV.DIVX.DTV= ALIAS|CSI|CSI.Miami|CSI.NY|Charmed|ENTERPRISE|Smallville|StarGate|Atlantis|The.Soprano|The_apprentice|That.70s.Show|^24|The.O.C|shameless|will.and.grace|joey
filter ROM = TV.VCD= -TVL
filter ROM = XXX= -SWE6RUS

# Changelog:
#
# 050304 - Site added (checker)
# Disabled Tv stuff cause cant list tv dir
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
