###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils ROX = AURA CORRUPT DvP DAGGER KJS NFR RELOADED REVOLVER Pr0nStarS WAM TDA CRiMSON
allows ROX = DVDR.LIM DVDR.RET APPS APPS.Linux GAMES GAMES.DVD DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM PS2CD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TS SVCD.TS.LIM SVCD.TC SVCD.TC.LIM VCD.SCR VCD.SCR.LIM VCD.TC VCD.TC.LIM XBOXDVD
banned ROX = IBM CAD $INDUSTRIAL -HOODLUM -MAGNITUDE
#note   ROX = Limited 6+

# Changelog:
#
# 040817 - Site added (checker)
# 040823 - Added $INDU to banned (shrike)
# 040904 - Removed OwNeD from affils (checker)
# 040915 - Added CRiMSON to affils (checker)
# 040917 - Added DAGGER to affils (checker)
# 041110 - Added PS2CD to allows (shrike)
# 041110 - Added KJS to affils (bourbon)
# 041111 - Added NFR and CORRUPT to affils (shrike)
# 041121 - Added sections: DVDR.LIM DIVX.SCR DIVX.SCR.LIM SVCD.SCR.LIM SVCD.TC.LIM SVCD.TC.LIM VCD.TC VCD.TC.LIM VCD.SCR.LIM [..!!] (shrike)
# 041213 - Added -MAGNITUDE to ignore due to indu releases, i always get nuked...:p (checker)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
