##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RPM = AMBiO CME CN DARKFORCE FTi GANT GC HHE HiV iNERTiA JSpec LhBoX LiGHTFORCE POT QCovER REDLiGHT ReVAMP rXn ShinBet SUTDVD sWs THC TRiAD XWaR
allows RPM = APPS PS2DVD XBOXDVD DIVX.RET DVDR.RET GAMES GAMES.DVD TV.VCD SVCD.RET SVCD.LIM SVCD.TS VCD.SCR XXX
banned RPM = -RiSCiSO -FASiSO -FANiSO -ROTFL -WESTSIDE -DvP -iNSTANT -HS
filter RPM = XXX= PORNOLATiON

# Changelog:
#
# 041029 - Site added (blade)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
