##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RR = ANBC BRUTUS Centropy DEiTY LOL mVz UNFORGiVEN
allows RR = APPS APPS.Linux DIVX.RET DIVX.LIM DIVX.LIM.SCR DIVX.SCR DVDR.RET DVDR.LIM DVDR.SCR DVDR.SCR.LIM GAMES GAMES.DVD PS2DVD SVCD.RET SVCD.LIM SVCD.SCR SVCD.SCR.LIM SVCD.TS SVCD.TS.LIM SVCD.TC SVCD.TC.LIM TV.DIVX.DTV TV.VCD VCD.SCR VCD.SCR.LIM VCD.TS VCD.TS.LIM VCD.TC VCD.TC.LIM XBOXDVD

filter RR = TV.VCD=      !$REALITY-N-CRAP
filter RR = TV.DIVX.DTV= !$REALITY-N-CRAP
filter RR = APPS.Linux=  ^IBM $INDUSTRIAL
filter RR = APPS=        ^IBM $INDUSTRIAL
filter RR = SVCD.TC.LIM= -CHAKRA
filter RR = SVCD.TC=     -CHAKRA
filter RR = VCD.TC.LIM=  -CHAKRA
filter RR = VCD.TC=      -CHAKRA

banned RR = -GRISO


# Changelog:
#
# 050519 - Site added (shrike)
# 050613 - Added TV.DIVX.DTV and updated TV.VCD filter
# 050621 - Added LOL, DEiTY, ANBC and mVz to affils (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
