############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RV = AEROHOLiCS HELL QUASAR TREBLE REWIND
allows RV = APPS DIVX.RET DIVX.R5 DIVX.R5.LIM DIVX.SCR DIVX.LIM DIVX.SCR.LIM GAMES X264.RET.720 X264.LIM.720 UFC TV.X264.DTV XBOX360 WII UFC DOX DOX.DLC
banned RV = -FASiSO 

filter RV = Wii         = !USA|NTSC 
filter RV = TV.*        = !$REALITY-N-CRAP|$UK-SERIES 

movieminyear  RV = DIVX.*      = 2008 
movieminyear  RV = X264.*      = 2008 
rating        RV = X264.LIM.720     = 5.0 0 1 
tvgenre       RV = TV.X264.DTV = Scripted
exempt        RV = TV.X264.DTV = Discovery.Channel|National.Geographic
x264formats   RV = X264.*      = mkv 

exempt RV = Top.Gear.+DTV.x264 Discovery.Channel.+DTV.x264 National.Geographic.+DTV.x264 Family.Guy.+DTV.x264 


# Changelog:
#
# 100320 - Site added (solar)
# 100531 - added X264.LIM.720 (solar)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
