############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RW = AVCHD DiVERGE iNKiSO QUASAR STARLETS ZRY
allows RW = TV.X264.DVD TV.X264.DTV TV.X264.DVD TV.DIVX.DTV DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR DIVX.R5.LIM DIVX.TC DIVX.SCR.LIM DIVX.TS NDS PSP X264.RET.720 X264.LIM.720 X264.CLS.720 X264.LIM.1080 X264.RET.1080 X264.CLS.1080 BOOKWARE GAMES APPS APPS.DVD WII XBOX360 DOX TV.X264.HDD DOX.DLC
banned RW = -FASTHD -HELL .PSN.

filter RW = APPS = Adobe|Ahead|Microsoft|McAfee|Pinnacle|Symantec|TomTom|VMware
filter RW = APPS.DVD = Adobe|Ahead|Microsoft|McAfee|Pinnacle|Symantec|TomTom|VMware

movieminyear           RW = X264.CLS.720  = 1900
movieminyear           RW = X264.CLS.1080 = 1900
movieminyear           RW = X264.LIM.720  = 1900
movieminyear           RW = X264.LIM.1080 = 1900
movieminyear           RW = X264.RET.720  = 1900
movieminyear           RW = X264.RET.1080 = 1900
movieminyear           RW = DIVX.RET      = 2010
movieminyear           RW = DIVX.R5       = 2010
movieminyear           RW = DIVX.LIM      = 2010
movieminyear           RW = DIVX.SCR      = 2010
movieminyear           RW = DIVX.R5.LIM   = 2010
movieminyear           RW = DIVX.TC       = 2010
movieminyear           RW = DIVX.SCR.LIM  = 2010
movieminyear           RW = DIVX.TS       = 2010

rating                 RW = DIVX.*        = 3.0 350 1

consoleregions         RW = WII=          PAL|NTSC

tvcountry              RW = TV.DIVX.DTV   = UK|US|CA
tvgenre                RW = TV.DIVX.DTV   = Scripted|Animation|Cartoon
tvcountry              RW = TV.X264.DTV   = UK|US|CA
tvgenre                RW = TV.X264.DTV   = Scripted|Animation|Cartoon
tvcountry              RW = TV.X264.DVD   = UK|US|CA
tvgenre                RW = TV.X264.DVD   = Scripted|Animation|Cartoon
tvcountry              RW = TV.X264.DVD   = UK|US|CA
tvgenre                RW = TV.X264.DVD   = Scripted|Animation|Cartoon


# Changelog:
#
# 110703 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
