############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils RWS = DFG HIPPOS iNNSYN RaDiuS TWS VoMiT
allows RWS = APPS APPS.DVD APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DVDR.RET DVDR.LIM NORDIC TV.DIVX.DTV XBOX360 XBOXDVD
banned RWS = RiVER
filter RWS = NORDIC= SWEDISH|NORWEGIAN|NORDIC
#filter RWS = TV.DIVX.DTV= ^24|^Criminal.Minds|^Desperate.Housewives|^E-Ring|Heist|^Jake.in.Progress|^Joey|^Las.Vegas|^Lost|^My.Name.Is.Earl|^NCIS|^Numb3rs|^Prison.Break|^ReGenesis|^Smallville|^Stargate.Atlantis|^Supernatural|^The.4400|^The.O.C|^Veronica.Mars

# Changelog:
#
# 061009 - Site added (wader)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
