##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils RYG = 
allows RYG = GAMES GAMES.DVD APPS APPS.Linux APPS.DVD DIVX.LIM DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.TC TV.DIVX.DTV TV.DIVX.DSR DVDR.RET XBOX360 DIVX.R5 PSP WII TV.X264
banned RYG = AAOCG DAGGER MAGNiTUDE RELOADED $REALITY-N-CRAP $UK-SERIES

# Changelog:
#
# 041029 - Site added (edited that dead site for some test acid)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
