############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils S54 = TLA
allows S54 = APPS APPS.Linux PS3 XBOX360 WII DIVX.RET DIVX.R5 DIVX.LIM GAMES X264.RET.720  X264.LIM.720 X264.RET.1080 TV.DIVX.DTV TV.X264.DTV DOX TV.X264.HDD DOX.DLC
banned S54 = -VoMIT -HamZaT -BIOSHOCK


movieminyear           S54 = DIVX.* = 2010
movieminyear           S54 = X264.* = 2010

filter S54 = GAMES       = -Razor1911|-RELOADED|-FLT|-SKIDROW
filter S54 = TV.DIVX.DTV = !$REALITY-N-CRAP|$UK-SERIES
filter S54 = TV.X264.DTV = !$REALITY-N-CRAP|$UK-SERIES
filter S54 = Wii         = !USA|NTSC

# Changelog:
#
# 111218 - Site added (solar)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
