############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils S8 = 
allows S8 = WII XBOX360 GAMES APPS APPS.MAC DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR X264.RET.720 X264.LIM.720 TV.DIVX.DTV TV.X264.DTV
banned S8 = 
filter s8 = GAMES= -SKIDROW|-RELOADED|-FLT|-Razor1911
exempt S8 = APPS= -TBE|-ZWTISO|-HOTiSO|-ISO
rating S8 = DIVX.LIM= 5.0 1000 1
rating S8 = X264.LIM= 5.0 1000 1
exempt S8 = TV.DIVX.DTV= ^Top.Gear|^Hotel.Babylon|^Ross.Kemp|^Dragons.Den|^The.Colbert.Report|^The.Daily.Show|^Jay.Leno|^Bill.Maher|^Shark.Tank

# Changelog:
#
# 100509 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
