############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SB = DEADPOOL NOSCREENS BARGE
allows SB = APPS APPS.Linux APPS.MAC GAMES GAMES.MAC GAMES.Linux XBOX360 WII X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 TV.X264.HDD TV.X264.DVD TV.X264.DTV PS3 XXX
exempt SB = XXX = -CHiKANi|-DivXfacTory|-PORNOLATiON|-Pr0nStarS|-SWE6RUS|-UPPERCUT|-XCiTE

filter 		SB = xbox360 = !ntsc
rating          SB = X264.LIM.* = 5.0 0 1 
rating          SB = DIVX.LIM = 5.0 0 1
movieminyear    SB = X264.* = 2012
movieminyear    SB = DIVX.* = 2012 
tvcountry       SB = TV.*   = US|UK

# Changelog:
#
# 081031 - Site added (me)
# 090105 - -HOTiSO,+PROCYON (dyna)
# 090109 - -iNKiSO,-pSyPSP (dyna)
# 100312 - added xxx filter (solar)
# 110823 - removed DVDR.LIM DVDR.RET (rizza)
# 130918 - now SB .uk
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
