###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SC = AAOCG DAGGER MAGNiTUDE RELOADED MPTDVD JUMANJi CLUE HUBRIS ETHOS
allows SC = BOOKWARE GAMES GAMES.DVD GAMES.MAC APPS APPS.MAC APPS.Linux APPS.Irix APPS.Solaris APPS.DVD DIVX.LIM DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.TC TV.DIVX.DTV TV.DIVX.DSR DVDR.RET XBOX360 XXX DIVX.R5 DIVX.R5.LIM PSP WII TV.X264.DTV X264.RET.720 X264.CLS.720 X264.RET.1080 X264.CLS.1080 DOX DOX.DLC
banned SC = CDDA -GLAMOURY -W3D -SaG -ViTALiTY -PROPHET
filter SC = TV.*         = !$REALITY-N-CRAP|$UK-SERIES
filter SC = BOOKWARE     = !ARTBEATS|3DSMAX|MAYA|SOFTIMAGE|CINEMA4D|ADOBE|TOTAL.TRAINING|Gnomon.Master.Classes
filter SC = WII          = !USA|NTSC
filter SC = X264.CLS.*   = 199[0-9]|200[0-7]
exempt SC = TV.X264.DTV  = ^Regenesis|^Forbidden.Science
exempt SC = XXX          = -SWE6RUS
exempt SC = TV.DIVX.DTV  = ^Merlin.+DTV.XviD

#BD allowed again (first wins)
#x264formats          SC = X264.*       = mkv
rating                SC = X264.CLS.*   = 6.5 0 300

# DEFAULT: 2008
movieminyear          SC = DIVX.*       = 2006
movieminyear          SC = DVDR.RET     = 2006
movieminyear          SC = X264.RET.*   = 2008
movieminyear          SC = X264.CLS.*   = 1990

xxxstudio             SC = XXX          = 3rd.Degree|Digital.Playground|Platinum.X|Zero.Tolerance|Third.Degree


# Changelog:
# 050207 - Site added (checker)
# 050415 - Fixed TV filter (" !$UK-SERIES" -> "|$UK-SERIES") [first ! in front affects all following $keywords, and <space> = AND!] (shrike)
# 050907 - Added TV.DIVX.DSR to allowed (orb)
# 051007 - Added CLONE (wader)
# 051027 - Added DVDR.RET (acidbr)
# 051116 - Removed TCM and added XOR to affils (gin)
# 051218 - Banned->filter ($reality etc) (shrike)
# 051231 - Added BOOKWARE section (computer stuff only)
# 060208 - Added AAOCG and MAGNiTUDE, removed QUAD (pretorian)
# 060328 - added ps2cd to allows (baker)
# 060804 - Removed CLONECD CLONEDVD from allows (axess)
# 070115 - Removed DIVX.TS, XBOXDVD, XBOX, PS2, PS2DVD removed.
# 070115 - Added XBOX.360
# 071101 - Added MPTDVD to affils (stealth)
# 080331 - Added X264.RET.720/CLS year filter+section (shrike)
# 080418 - Added pci2 filters
# 080426 - imdb for x264.cls added (conky)
# 080501 - Added movieminyear consoleregions etc (shrike sux)
# 080730 - Filter swe6rus & allow companies by xxxstudio doesnt work, duh! (filter>xxxstudio) -> exempt swe6rus (shrike)
# 090417 - PUKKA&DREAMLiGHT renamed to JUMANJi&CLUE (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !

