############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SCE = 
allows SCE = XXX GAMES GAMES.DVD APPS APPS.DVD APPS.MAC PS2DVD XBOXDVD XBOX360 NORDIC DVDR.RET DIVX.RET DIVX.LIM DIVX.R5 DIVX.R5.LIM DIVX.TC DIVX.TS DIVX.SCR TV.DIVX.DTV Wii X264.RET.720 X264.CLS.1080 TV.X264.HDD TV.X264.DTV X264.LIM.720 X264.RET.1080 X264.LIM.1080 
banned SCE = 
filter SCE = WII 	= !USA|NTSC
filter SCE = XXX	= -Pr0nStarS|-SWE6RUS|-PORNOLATiON
exempt SCE = -Pr0nStarS -SWE6RUS -PORNOLATiON

x264formats	SCE = X264.*		= mkv

movieminyear	SCE = X264.CLS.720	= 1900
movieminyear	SCE = X264.CLS.1080	= 1900
movieminyear	SCE = X264.RET.720	= 1900
movieminyear	SCE = X264.RET.1080 	= 1900
movieminyear	SCE = X264.LIM.720  	= 1900
movieminyear	SCE = X264.LIM.1080 	= 1900
movieminyear	SCE = DIVX.*	   	= 2007
movieminyear	SCE = DVDR.*		= 2007
movieminyear	SCE = NORDIC		= 2007

tvcountry	SCE = TV.DIVX.DTV   	= UK|US|SE
tvgenre		SCE = TV.DIVX.DTV   	= Scripted
tvcountry	SCE = TV.X264.DTV   	= UK|US|SE
tvgenre		SCE = TV.X264.DTV   	= Scripted
tvcountry 	SCE = TV.X264.DVD 	= UK|US|SE
tvgenre 	SCE = TV.X264.DVD 	= Scripted


# Changelog:
#
# 090920 - Site added (dooh)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
