############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SCR = 
allows SCR = TV.X264.DVD GAMES XVID PS3 TV.DTV.SD TV.DTV.X264 APPS WII XBOX360 XXX DOX DOX.DLC X264.RET.720 X264.RET.1080
banned SCR = 

#filter SCR = XVID = -0x0007|-Razor1911|-GENESIS|-SKIDROW|-POSTMORTEM|-FLT|-RELOADED

tvcountry              SCR = TV.DIVX.DTV   = US
tvgenre                SCR = TV.DIVX.DTV   = Scripted
tvcountry              SCR = TV.X264.DTV   = US
tvgenre                SCR = TV.X264.DTV   = Scripted


# Changelog:
#
# 130405 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
