##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SDC = DoNE Pr0nStarS SCREAM STRiKE xDMNx ADMiRALS MPT MPTDVD HYdRO SUiCiDE MiRRoR
allows SDC = DIVX.RET DIVX.SCR DIVX.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD PS2DVD TV.DIVX.DTV APPS XBOXDVD CLONECD PSP CLONEDVD VCD.CAM SVCD.TS DIVX.TC
banned SDC = FTF FASiSO TUN REALITY-N-CRAP David.Letterman.2005
filter SDC = APPS= Adobe|Ahead|Borland|Corel|Discreet|Macromedia|Magix|Microsoft|Norton

# Changelog:
#
# 041020 - Site added (checker)
# 050216 - Confusion removed from affils by STRIKE (bourbon)
# 050516 - ESOTERiC added as affil (Orbith)
# 050817 - Added and Removed some affils (checker)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
