###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SDE = AoS iSO LEGACY STiNKER AURA XPDVD TGP
allows SDE = GERMAN SVCD.TS SVCD.TC VCD.SCR VCD.TS VCD.TC DIVX.RET DVDR.RET XXX GAMES GAMES.DVD PS2DVD XBOXDVD
banned SDE = DVD9 TRCD 
filter SDE = XXX= -PORNOLATION|-SWE6RUS

# Changelog:
#
# 050817 - Site added (checker)
# 051024 - affils updated (acidbr)
# 051026 - SVCD.RET added
# 051109 - added STiNKER (baker)
# 051204 - affils updated (acid)
# 060111 - AURA added (orb)
# 060119 - added xpdvd (orb)
# 060122 - added TGP (orb)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
