############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SE = 
allows SE = TV.DIVX.DTV TV.X264.DTV X264.RET.720 X264.LIM.720 WII DIVX.RET DIVX.R5 DIVX.SCR DIVX.LIM DIVX.R5.LIM DIVX.SCR.LIM GAMES APPS APPS.Linux APPS.MAC
banned SE = 

rating SE = X264.LIM.720 = 6.5 2000 1
rating SE = DIVX.RET = 6.5 2000 1
rating SE = DIVX.R5  = 6.5 2000 1
rating SE = DIVX.SCR = 6.5 2000 1
rating SE = DIVX.LIM = 6.0 500 1
rating SE = DIVX.SCR.LIM = 6.0 500 1
rating SE = DIVX.R5.LIM  = 6.0 500 1

filter SE = GAMES = -Razor1911|-RELOADED|-SKIDROW|-ViTALiTY|-FLT
exempt SE = TV.X264.DTV  = Top.Gear|^Hotel.Babylon|^Ross.Kemp|^Dragons.Den|^The.Colbert.Report|^The.Daily.Show|^Real.Time.with.Bill.Maher|^Conan.O.Brien|^Shark.Tank|^The.Jay.Leno.Show
exempt SE = TV.DIVX.DTV  = Top.Gear|^Hotel.Babylon|^Ross.Kemp|^Dragons.Den|^The.Colbert.Report|^The.Daily.Show|^Real.Time.with.Bill.Maher|^Conan.O.Brien|^Shark.Tank|^The.Jay.Leno.Show
tvcountry SE = TV.* = US|CA
# Changelog:
#
# 090830 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
