##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SEX = RAZOR1911 PND TDA W3D
allows SEX = APPS APPS.Linux BOOKWARE CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.TC DIVX.TS DIVX.SCR DVDR.RET DVDR.SCR GAMES GAMES.DVD GAMES.Linux SVCD.TC SVCD.TS TRAILERS TV.DIVX.DTV VCD.SCR VCD.SCR.LIM
banned SEX = -FTF IBM Lindows -MAGE -NATURAL -OMA -RiSCiSO -Substance -TmN UnderPl WOYiSO 
filter SEX = TV.DIVX.DTV= ^24|^CSI|Dead.Like.Me|Enterprise|^Joey|^Lost.S|Medical.Invest|Sex.and.the.City|South.Park|^Stargate|Simpsons|Sopranos|Will.and.Grace

# Changelog:
#
# 040818 - Removed SVCD.RET/LIM/SCR from allows (shrike)
# 040830 - Added DIVX.TS/TC to allows (shrike)
# 040905 - Added CloneDVD to allows (shrike)
# 041011 - Changed TV.VCD to TV.DIVX.DTV and updated series (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
