##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SF-PRE = Divxfactory GANT MEDUSA SCOPE TGP UMD EcHoS Xtasy CHRONiC DERAILED
allows SF-PRE = VCD.SCR.LIM VCD.TS VCD.TC VCD.WP TV.VCD DVDR.TC DVDR.LIM DVDR.SCR PSP PS2CD XBOXCD XXX
#banned SF-PRE = 
filter SF-PRE = XXX= -SWE6RUS|-Pr0nStarS 

# Changelog:
#
# 050913 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
