affils = DANES FUTAB ROBOTS

rule APPS = APPS std

rule MOVIES = MOVIES bluray 720p 1080p x264 year:2018 rating:6.5 votes:500 lrating:6.5 lvotes:500 limited language:(English) internal stv std 
rule MOVIES.BDR = MOVIES BDR year:2016 rating:5 votes:500 lrating:5 lvotes:500 limited language:(English) internal stv std cls
rule MOVIES.BDRip = MOVIES bdrip dvdrip x264 year:2018 rating:6.5 votes:500 lrating:6.5 lvotes:500 limited language:(English) internal sd std
rule MOVIES.UHD = MOVIES UHD year:2018 rating:6.5 votes:500 lrating:6.5 lvotes:500 limited sd language:(English) internal std 
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip year:2018 rating:6.5 votes:500 lrating:6.5 lvotes:500 limited language:(English) internal std 

rule TV.BLURAY = TV 720p 1080p 2160p nw_us nw_gb nw_ca bluray language:(English) scripted animation x264 internal std
rule TV.BLURAY = TV 720p 1080p 2160p network:(amazon,netflix,youtube,youtube-premium) bluray language:(English) scripted animation x264 internal std
rule TV.BLURAY.SE = TV 720p 1080p 2160p bluray SE internal external 
rule TV = TV 1080p 2160p currentseason animation scripted hdtv nw_us nw_ca nw_gb nw_au nw_nz web webrip std language:(English)
rule TV = TV 1080p 2160p currentseason animation scripted hdtv network:(amazon,netflix,youtube,youtube-premium) web webrip std language:(English)
rule TV.XVID = TV xvid hdtv internal x264 scripted language:(English) sd std
rule TV.WEB = TV web webrip internal x264 scripted language:(English) sd std
rule TV.DK = TV DK 720p 1080p 2160p hdtv web webrip internal external nodupe nonfo x264
rule TV.NO = TV NO 720p 1080p 2160p hdtv web webrip internal external nodupe nonfo x264
rule TV.SE = TV SE 720p 1080p 2160p hdtv web webrip internal external nodupe nonfo x264


# NAME                     PATH
dir APPS                        = /incoming/apps
dir BOOKWARE                    = /incoming/bookware
dir MOVIES                      = /incoming/movies-hd
dir MOVIES.BDR                  = /incoming/bluray
dir MOVIES.SD                   = /incoming/movies-sd
dir MOVIES.UHD                  = /incoming/movies-uhd
dir MOVIES.2160p                = /incoming/movies-uhd  
dir TV                          = /incoming/tv-hd
dir TV.BLURAY                   = /incoming/tv-bluray
dir TV.BLURAY.SE                = /incoming/tv-bluray
dir TV.SD                       = /incoming/tv-sd
dir TV.DK                       = /incoming/tv-dk
dir TV.NO                       = /incoming/tv-no
dir TV.SE                       = /incoming/tv-se




