##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SG = FTS iNCiTE ITV RoME RVF ThP VGN
allows SG = SVCD.RET SVCD.LIM DIVX.RET DIVX.LIM SVCD.TS SVCD.TS.LIM TV.X264.DVD
banned SG = 
filter SG = TV.X264.DVD= -VFUA|-MEDiEVAL
# Changelog:
#
# 040817 - Site added (psychoffee)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
