# ###########################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SGY = WiiERD CiNEFiLE FoV iNFAMOUS FoV
allows SGY = APPS APPS.Linux GAMES X264.RET.720 X264.RET.1080 TV.X264.DTV DVDR.RET DIVX.RET TV.X264.HDD DIVX.SCR DIVX.R5
banned SGY = 
filter SGY = NORDIC     = !_MDVDR_ !LIMITED
filter SGY = APPS       = -TBE|-ZWTiSO|-iSO|-RiSE|-MAGNiTUDE|-ABSOKT
filter SGY = APPS.Linux = -TBE|-ZWTiSO|-iSO|-RiSE|-MAGNiTUDE|-ABSOKT
filter SGY = GAMES      = -Razor1911|-RELOADED|-FLT|-SKiDROW
filter SGY = TV.*       = !$REALITY-N-CRAP|$UK-SERIES

tvcountry  SGY = TV.*         = US
#tvgenre    SGY = TV.* = Scripted


movieminyear SGY = X264.RET.720  = 2009
movieminyear SGY = X264.RET.1080 = 2009
movieminyear SGY = DVDR.RET      = 2009
movieminyear SGY = DIVX.*        = 2009

# Changelog:
#
# 100315 - Site added (me)
# 100316 - changed allows added filters
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
