##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SHO = CuLTCLaSSiC DRX FCR FiCO IGUANA INCITE POT TWiST VoMiT WaYsTeD Mediamaniacs EPiSODE
allows SHO = DIVX.RET DIVX.SCR DVDR.RET DVDR.LIM SVCD.RET SVCD.LIM SVCD.SCR SVCD.TC SVCD.TS VCD.CAM VCD.SCR VCD.TC VCD.TS PS2DVD XBOXDVD
banned SHO = 

# Changelog:
#
# 050301 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
