##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SI = BOOZERS DMT iMMERSiON iMSDOX JGTISO LDSXXX MEDIEVAL PORNOLATiON PROTOCOL REiGN RiSE ZWTiSO SVENNE TCF TDA VFUA ViTE
allows SI = APPS DIVX.RET DIVX.SCR GAMES MV SVCD.RET VCD.SCR VCD.TC DOX.DLC
banned SI = -DINOBYTES IBM -DVJ -FUISO -iNTENSE -INTERGANG -LAiSO PCDVD -RCA -RHVID -SHOWTiME -SOMISO -SPH

# Changelog:
#
# YYMMDD - did some change (user)
# synctest9-back2
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
