

rule TV = TV network:FOX tvid:82,83 language:german,English nw_uxs
rule MOVies = MOVIES TV x264 Action
rule GAMES = GAMES group:flt
rule GAMES2 = GAMES group:flt,landev
rule SPORT = SPORTS MOTOGP F1

rule TV.SE = TV SE scripted action drama adventure nodupe
rule MOVIES.SE = Movies SE scripted

xsectionblacklist = *
xsectionwhitelist = GAMES MOVIES

#blacklist = -REPLICA|-AMIABLE|-PSYCHD
#blacklist = -EMERALD
#whitelist = 2018.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)
#whitelist = 2016.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)




TODO: SHRIEKY
