
#rule ALL = TV MOVIES !filter:(matix)

rule TV = TV episodeage:30
rule MOVies = MOVIES x264 Action
rule GAMES = GAMES
rule SPORT = SPORTS MOTOGP F1

rule TV.SE = TV SE scripted action drama adventure nodupe
rule MOVIES.SE = Movies SE scripted

xsectionblacklist = *
xsectionwhitelist = GAMES MOVIES

#blacklist = -REPLICA|-AMIABLE|-PSYCHD
#blacklist = -EMERALD
#whitelist = 2018.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)
#whitelist = 2016.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)


networkwhitelist = DisssNey

TODO: SHRIEKY
