
rule MOVIES = MOVIES bluray 1080p group:(AMIABLE,BLOW,DEFLATE,DRONES,GECKOS,HD4U,PSYCHD,Replica,SAPHiRE,SiNNERS,SPARKS)

#rule TV = TV airdate:2012 airdate:2017
#rule MOVies = MOVIES TV x264 Drama Documentary
#rule GAMES = GAMES
#rule SPORT = SPORTS MOTOGP F1

#rule TV.SE = TV SE scripted action drama adventure nodupe nodupe
#rule MOVIES.SE = Movies SE scripted

xsectionblacklist = *
xsectionwhitelist = GAMES MOVIES

#blacklist = -REPLICA|-AMIABLE|-PSYCDD
#blacklist = -EMERALD
#whitelist = 2018.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)
#whitelist = 2016.*(720p|1080p|2160p).*(-REPLICA|-AMIABLE|-PSYCHD|-EMERALD)


TODO: SHRIEKY
