##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SLM = ALLiANCE EViLiSO RAZOR1911 SCREAM TcS TDA
allows SLM = ANIME.Movies ANIME.Series APPS APPS.DVD APPS.Linux DIVX.RET DIVX.LIM DVDR.RET GAMES GAMES.DVD GAMES.Linux GC SVCD.RET SVCD.SCR SVCD.SCR.LIM SVCD.TC SVCD.TC.LIM TV.VCD VCD.SCR VCD.SCR.LIM VCD.TC VCD.TC.LIM XBOXDVD
banned SLM = -ATA DASSAULT Dragon.Ball.Z -EPH -FastAnime HENTAI -MaTinE PTC -Rizen Sailor.Moon -XRS
filter SLM = TV.VCD= Battlestar.Galactica|Enterprise|Jeremiah|Simpsons
filter SLM = ANIME.Movies= SVCD SUBBED
filter SLM = ANIME.Series= SVCD SUBBED
#warning SLM = DVDR= (*)LIM/DVDR:imdb6+.100+votes

# Changelog:
#
# 040803 - THIS IS SLM BEFORE FEDZ BUST ...FIX IT !
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !