##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SLOW = ANBC DEITY DAGGER
allows SLOW = COVERS DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DVDR.RET DVDR.LIM DVDR.TC GAMES GAMES.DVD PSP XBOX XBOXDVD

# Changelog:
#
# YYMMDD - change (user)
# 060514 - Updated site, missing TV/SOME NL RULES as i don't trade it (pretorian)
# 060607 - Added PSP (pretorian)
# 060608 - Added affils ANBC,DEITY (pretorian)
# 060917 - Removed CLONECD, CLONEDVD (pretorian)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
