############################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SM = aAF ABSRAKT
allows SM = DIVX.RET DIVX.LIM GAMES X264.RET.1080 X264.LIM.1080 APPS TV.DIVX.DE GAMES.DE DIVX.DE TV.X264.DE
filter SM = GAMES= -FLT|-SKIDROW|-Razor1911|-RELOADED|-0x0007|-GENESIS
filter SM = APPS= -CORE|-CYGiSO|-RESTORE|-SHooTERS|-Substance
filter SM = TV.DIVX.DE= -ITG|-SOF|-TVP|-GTVG
filter SM = TV.X264.DE= -GTVG|-ZZGtv|-euHD
banned SM = -POSTMORTEM -ZWTiSO

movieminyear SM = DIVX.* = 2011
movieminyear SM = X264.* = 2011

rating SM = DIVX.* = 0.0 0 0
rating SM = X264.* = 0.0 0 0

# Changelog:
#
# 050828 - Site added (baker)
# 050901 - removed rejects
# 050921 - updated affils(baker)
# 060824 - XBOX360 to allows (checker)
# 
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
