##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SMX = ALLiANCE ALLSTARS CLONECD DMT MAGNiTUDE RELOADED ZWTiSO
allows SMX = APPS CLONECD CLONEDVD GAMES GAMES.DVD APPS.DVD DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DIVX.TS DIVX.TC DVDR.RET PS2DVD PS2CD XBOXDVD XBOXCD TV.DIVX.DTV
banned SMX = IBM DATECODE LOTUS DASSAULT TIVOLI -EPH -SOMiSO -OMAR -EiTiSO -RFTA -MONTAGE -CAMEL -SiNiSTER -OUTLAWS -JAGiSO -PirateK -SCANDIC -PHXiSO -Substance -FASiSO -PNWiSO -HOODLUM

filter SMX = SVCD.TS= -CENTROPY|-VIDOECD|-CHAKRA|-maVen
filter SMX = TV.DIVX.DTV= ^24.S\d\d|^Alias|^Andromeda|^CSI|^CSI.Miami|^CSI.NY|^Enterprise|^Lost|Simpsons.S\d\d|^Smallville|Sopranos.S\d\d|^Stargate|^Battlestar.Galactica

# Changelog:
#
# 050404 - Site added (bourbon)
# 050413 - Fixed the space after filter .....! (shrike)
# 060318 - Fixed affils (baker)
# 060525 - Fixed affils (sillix)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
