############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SOA = DROiDS 
allows SOA = DVDR.RET DVDR.LIM DVDR.CLS PS3 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 TV.DIVX.DTV TV.X264.DTV DOCU DIVX.RET DIVX.LIM DIVX.CLS TVDVDRIP XBOX360 WII DIVX.R5 XXX DOX GAMES BOOKWARE APPS TV.X264.DVD DOX.DLC
#banned SOA = 
exempt SOA = XXX= .

movieminyear           SOA = X264.RET.1080  = 2007
movieminyear           SOA = X264.LIM.1080  = 2007
movieminyear           SOA = X264.CLS.1080  = 1900

movieminyear           SOA = DVDR.RET=     2007
movieminyear           SOA = DVDR.LIM=     2007
movieminyear           SOA = DVDR.CLS=     1900

tvcountry              SOA = TV.DIVX.DTV   = US
tvcountry              SOA = TV.X264.DTV   = US
tvgenre                SOA = TV.DIVX.DTV   = Scripted
tvgenre                SOA = TV.X264.DTV   = Scripted

rating                 SOA = X264.RET.1080  = 0.0 0 0
rating                 SOA = X264.LIM.1080  = 0.0 0 0
rating                 SOA = X264.CLS.1080  = 7.0 0 500

rating                 SOA = DVDR.RET=     0.0 0 0
rating                 SOA = DVDR.LIM=     0.0 0 0
rating                 SOA = DVDR.CLS=     7.0 0 500


# Changelog:
#
# 110329 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
