############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SOHO = BAT HI2U PROCYON RiSE RED 
# DVDR or NO DVDR?
#allows SOHO = X264.RET.720 X264.LIM.720 XBOX360 WII DVDR.RET DVDR.LIM DIVX.RET DIVX.SCR.LIM DIVX.SCR DIVX.LIM GAMES APPS APPS.Linux APPS.MAC TV.X264.DTV XXX
allows SOHO = X264.RET.720 X264.LIM.720 XBOX360 WII DIVX.RET DIVX.SCR.LIM DIVX.SCR DIVX.LIM GAMES APPS APPS.Linux APPS.MAC TV.X264.DTV XXX 
banned SOHO = -ViTALiTY -SKiDROW 
filter SOHO = XXX  = -PORNOLATiON|-VBT 
exempt SOHO = -PORNOLATiON|-VBT 
filter SOHO = TV.* = !$REALITY-N-CRAP|$UK-SERIES 

rating                SOHO = X264.LIM.720 = 5.0 500 1 
rating                SOHO = DVDR.LIM     = 5.0 500 1 
rating                SOHO = DIVX.SCR.LIM = 0.0 0 50 
rating                SOHO = DIVX.LIM     = 0.0 0 50 
x264formats           SOHO = X264.*       = mkv 
movieminyear          SOHO = DIVX.*       = 2008 
movieminyear          SOHO = DVDR.*       = 2008 
movieminyear          SOHO = X264.*       = 2008 
moviegenre            SOHO = DIVX.*= 

# Changelog:
#
# 090112 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
