#############################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SOM = ABSOKT DDUiSO DiAMOND ZWTiSO CSiSO LCS TBE LiBiSO CAPH CuriousJotos PROTOCOL
allows SOM = APPS APPS.DVD APPS.Linux BOOKWARE DVDR.RET DVDR.LIM DVDR.SCR DIVX.RET DVDR.R5 DIVX.R5 DIVX.LIM DIVX.SCR DIVX.SCR.LIM GAMES GAMES.DVD NORDIC TV.DIVX.DTV TV.DIVX.DSR DIVX.RET.SE DVDR.RET.SE XBOX360
banned SOM = IBM -PHXiSO -EMPORIO PTC DATECODE Sub100 Sub.100 -FASiSO -ViTALiTY
filter SOM = BOOKWARE=    Adobe|NETWORK|DATABASE|Java
filter SOM = NORDIC=      SWEDISH !SCREENER !DVDR.PAL !PAL.DVDR
filter SOM = TV.DIVX.DTV= !$REALITY-N-CRAP
filter SOM = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter SOM = DIVX.R5= ![._]LINE[._-]
filter SOM = DVDR.R5= ![._]LINE[._-]
exempt SOM = The.Daily.Show|The.Colbert.Report|Saturday.Night.Live|Mythbusters

# Changelog:
#
# 040729 - Site added (wader)
# 040805 - Added BOOKWARE filter (wader)
# 040811 - Added APPS.DVD to allows (checker)
# 040811 - Added APPS.Linux to allows (checker)
# 040814 - Added HOODLUM to affils (checker)
# 040814 - removed ban -ALLiANCE (wader)
# 040905 - Added affil DDUiSO (wader)
# 040924 - Fixed NORDIC filter a bit (wader)
# 041003 - Added -PHXiSO to ban list
# 041109 - Added GNiTE to affils, removed MAYA from BOOKWARE FILTER (psychoffee)
# 041116 - Added PTC/DATECOE to bans (bourbon)
# 041205 - Added PANTHEON to affils (psychoffee)
# 051011 - Updated affils (psychoffee)
# 051011 - Updated sections (psychoffee)
# 050112 - Added DDUiSO to affil. (ks)
# 051212 - added guest affil (ZWTiSO) (darkm)
# 060210 - Added DiAMOND and Chakra (wader)
# 060410 - Added Filter for CLonecd and dvd /checker
# 060509 - +DVDR.SCR (wader)
# 060912 - Clonecd/dvd removed (psy)
# 070905 - +DVDR.R5 (shr)
# 071108 - Added XBOX360 section (stealth)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
