############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SOT = TLA STARLETS
allows SOT = APPS TV.X264.DVD TV.X264.SD TV.X264.DTV TV.X264.HDD PS3 XXX DOX GAMES.MAC XBOX360 GAMES
banned SOT = 


exempt SOT = XXX       = -DivXfacTory|-Pr0nStars|-PORNOLATION|-STARLETS|-CHiKANi

filter SOT = GAMES     = -SKIDROW|-Razor1911|-FLT|-RELOADED|-COGENT
filter SOT = GAMES.MAC = -MONEY
filter SOT = DOX       = -SKIDROW|-RazorDOX|-FLTDOX|-RELOADED|-COGENT|-MONEY


movieminyear SOT = X264.* = 2011
movieminyear SOT = DIVX.* = 2011
movieminyear SOT = BLURAY.RET = 2011

rating SOT = X264.RET.1080 = 1.0 0 1
rating SOT = X264.RET.720  = 1.0 0 1
rating SOT = X264.LIM.720  = 1.0 0 1
rating SOT = X264.LIM.1080 = 1.0 0 1


rating SOT = DIVX.RET       = 0.0 0 1
rating SOT = DIVX.LIM       = 1.0 0 1

tvcountry  SOT      = TV.X264.SD  = UK|US
tvcountry  SOT      = TV.X264.DTV = UK|US
tvcountry  SOT      = TV.X264.HDD = US|UK

# Changelog:
#
# 130829 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
