##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SRC = ANIDVD DRUNK FLAIR HELLBOUND INERTIA JSPEC LhBoX PIZZADOX POT PWZiSO rSE SNN TDS ThP V4F-TV VPi
allows SRC = DIVX.RET DIVX.SCR DIVX.LIM DVDR.RET VCD.WP SVCD.TS SVCD.TC VCD.TC ANIME.Series GAMES GAMES.DVD DOX.DLC
banned SRC = -Mystic
filter SRC = DVDR.RET= !200[0-3]
filter SRC = ANIME.Series= DVDRip|SUBBED|!HENTAI

# Changelog:
#
# 040806 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
