##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SRS = NBS VOLCANO FTi STINKYCUBE
allows SRS = APPS DIVX.RET DIVX.SCR DVDR.RET DVDR.SCR GAMES PS2DVD TV.DIVX.DTV VCD.TS VCD.TC SVCD.TS SVCD.TC XBOXDVD XXX
banned SRS = IBM DVD9 PAL
filter SRS = XXX= -Pr0nstars

# Changelog:
#
# 050307 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
