# ###########################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SS = hV DASH QUASAR FoV
allows SS = TV.DIVX.DSR NORDIC TV.DIVX.DTV DIVX.RET DIVX.SCR GAMES TV.X264.DTV WII DIVX.LIM DIVX.SCR.LIM XBOX360 PSP X264.RET.1080 X264.CLS.1080 X264.LIM.1080
banned SS = 

filter SS = X264.RET.1080= !BD5 BD9 
filter SS = X264.CLS.1080= !BD5 BD9 
filter SS = X264.LIM.1080= !BD5 BD9

#filter SS = XXX= SWE6RUS|DivXfacTory
filter SS = Wii= PAL|EUR
rating  SS = X264.CLS.1080 = 5.0 500 1
movieminyear SS = X264.CLS.1080 = 1900
movieminyear SS = X264.RET.1080 = 2002
movieminyear SS = X264.LIM.1080 = 2002

tvcountry   SS = TV.DIVX.DTV= US
tvcountry   SS = TV.X264.DTV= US
tvcountry   SS = TV.DVDR= US
tvgenre     SS = TV.DIVX.DTV= Scripted|Cartoon
tvgenre     SS = TV.X264.DTV= Scripted|Cartoon


x264formats            SS = X264.*       = BD
x264formatrank         SS = X264.*       = BD
x264allowformatdupe    SS = X264.*       = 0


# Changelog:
#
# 080307 - Site added (me)
# 081103 - Added hV , guest only (dyna)
#
#
#
#
