##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SST = GAMERZ iNERTIA NoDVD VOLATILE CDZ
allows SST = APPS DVDR.RET DVDR.LIM DVDR.SCR DIVX.RET DIVX.SCR GAMES GAMES.DVD PS2DVD SVCD.TC SVCD.TS TV.DIVX.DSR TV.DIVX.DTV VCD.TS VCD.TC VCD.WP VCD.SCR VCD.LIM SVCD.WP XBOXDVD
banned SST = $INDUSTRIAL FS SUB100
filter SST = DVDR.RET= !PAL
filter SST = PS2DVD= !PAL
# Changelog:
#
# 040910 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
