############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils STH = iNSPiRED DETAiLS Start2 EXPiRED QwiiF ENCOUNTERS QoM FLESHLiGHT iRONiSO PROPHET
allows STH = APPS.DE APPS DIVX.DE DIVX.DE.LD DIVX.R5 DOX DIVX.R5.LIM DIVX.LIM DIVX.RET DIVX.SCR DIVX.TC DIVX.TS DVDR.DE DVDR.RET TV.DIVX.DE TV.DIVX.DTV TV.DIVX.DSR WII X264.RET.1080 X264.RET.720 XBOX360 XXX TV.DIVX.DU.DE GAMES TV.X264.DVD.DE TV.X264.DE X264.DE.720 X264.DE.1080 TV.DIVX.DVD GAMES.DE DOX.DLC
banned STH = -Bamboocha -FASiSO -oNePiEcE -TiNYiSO -VC -WiiSiON -Wiiware \.3D\. -XMF -TRANSFORMERS -SCEPTiCAL -OneUp -SUNSHiNE -UP2DATE -DLC 
#tvgenre     PHB = TV.DIVX.DTV= Scripted

exempt STH = -DEFUSED -SOW 
consoleregions         STH = WII= NTSC|PAL 
filter STH = TV.X264.DE= -ITG|-ZZGtv|-euHD 
#filter STH = TV.DIVX.DE= -ITG|-SOF|-ETM
filter STH = TV.X264.DVD.DE= -ITG|-SOF|-ETM 
filter STH = TV.DIVX.DU.DE= -ITG|-SOF|-ETM 
filter STH = TV.X264.DVD = -TOPAZ|-REWARD|-ORPHEUS|-SAiNTS 

filter  STH = XXX= -Pr0nStarS|-DivXfacTory|-VBT
exempt  STH = XXX= -Pr0nStarS|-DivXfacTory|-VBT
#filter STH = X264.RET.720= -iNFAMOUS|-REFiNED|-SiNNERS|-HUBRIS|-METiS
#filter STH = X264.RET.1080= -iNFAMOUS|-REFiNED|-SiNNERS|-HUBRIS|-METiS
filter STH = X264.DE.720= !19[0-9][0-9]|200[0-7] 
filter STH = X264.DE.1080= !19[0-9][0-9]|200[0-7] 


tvcountry    STH = TV.DIVX.DE = 
tvcountry    STH = TV.X264.DVD.DE = 
tvcountry    STH = TV.DIVX.DU.DE = 
x264formats  STH = X264.RET.720 = mkv 
x264formats  STH = X264.RET.1080 = mkv 

# Changelog:
#
# 090220 - Site added (none based on ||)
# 091113 - Fixed metis allows (blade)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
