##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils SV = GECKOS
allows SV = DIVX.RET DIVX.LIM GAMES X264.RET.720 X264.LIM.720 X264.RET.1080 X264.CLS.1080 X264.LIM.1080 XBOX360 WII TV.X264.DTV DOX DOX.DLC
banned SV = 

rating                 SV = X264.LIM.1080 = 5.0 0 0
rating                 SV = X264.LIM.720  = 5.0 0 0

movieminyear           SV = DIVX.*        = 2011
movieminyear           SV = X264.*        = 2011

tvcountry              SV = TV.X264.DTV = US|UK

# Changelog:
#
# 120325 - Site added (me)
# 
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
