############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils SWD = DVTiSO EiDER kEISO POSTMORTEM SERIOUSLY SWE6RUS SKiDROW TiNYiSO TRiPS TUTOR GUACAMOLE VBT MOFOXXX
allows SWD = DOX DOX.DLC XXX TV.X264.DTV TV.X264.WEB GAMES GAMES.MAC GAMES.LINUX APPS APPS.Linux X264.720.RET BLURAY.RET
#banned SWD = 

rating SWD = X264.RET.720 = 5.0 0 1
filter SWD = GAMES= -SKIDROW|-TiNYiSO|-CODEX|-PLAZA|-RELOADED|-FLT|-Razor1911
filter SWD = DOX* = -RAZORDOX|-CODEX|-RELOADED|-SKIDROW|-FLTDOX|-BAT
tvcountry    SWD = TV.X264.DTV = US|UK
tvcountry    SWD = TV.X264.WEB = US
filter SWD = XXX = -Pr0nStarS|-PORNOLATiON|-STARLETS|-VBT|KuKaS


# Changelog:
#
# 151224 - Site added (me)
# 160409 - TRiPS added as affil (ohno)
# 160819 - STARLETS, VBT and KuKaS added as allowed for XXX
# 161012 - added SKiDROW TiNYiSO as affil (ohno)
# 161101 - added EiDER as affil (ohno)
# 161201 - added TV.X264.WEB
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
