#DONT USE THIS FILE NOR ITS RULES - SHRIKE 2016-06-20
#
#rule TV.X264.SD.SE = tv.x264.sd.se = \.SWEDiSH[.-] !\.x264
#rule TV.X264.720.SE = tv.x264.720.se = \.SWEDiSH[.-] x264 \.720p[.-]


## Changelog:
#
# 120508 - rule added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
