##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils T-PRE = GCUBE FTS KiSS AoS Xtasy CHRONiC KiSS GANT HAFVCD GPSP WAR3X DEVOTiONS
allows T-PRE = GERMAN SVCD.TS SVCD.TC VCD.SCR VCD.TS VCD.TC XXX APPS.LINUX PSP
banned T-PRE = DVD9 TRCD
filter T-PRE = XXX= -Pr0nStarS|-PORNOLATION|-SWE6RUS

# Changelog:
#
# YYMMDD - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
