############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils T = BARGE BiRDHOUSE FilmHD Japhson KUSH LEVERAGE MOMENTUM SHORTBREHD SWAGGERHD SYS TWG UNTOUCHABLES
banned T = Big.Brother -ETACH -AVS720 -DASH
allows T = TV.X264.DTV TV.X264.HDD TV.DIVX.DSR TV.DIVX.DTV TV.X264.DVD XBOX360 WII DIVX.RET DIVX.R5 DIVX.SCR DIVX.TC DIVX.LIM DIVX.R5.LIM DIVX.SCR.LIM DIVX.TC.LIM X264.RET.720 X264.LIM.720 X264.CLS.720 GAMES X264.RET.1080 X264.LIM.1080 X264.CLS.1080
filter T = Wii= !NTSC|USA 
filter T = TV.DIVX.DTV = !.DVDSCR.|\.PREAIR\.|$UK-SERIES
filter T = TV.X264.DTV = !.DVDSCR.|\.PREAIR\.

rating                 T = X264.RET.* = 0.0 0 1 
rating                 T = X264.LIM.* = 5.0 250 1 
rating                 T = X264.CLS.* = 6.0 5000 0 

movieminyear           T = X264.CLS.* = 1950 
x264formatrank         T = X264.*       = BD mkv 

#moviegenre  T = DIVX.* =

tvcountry   T = TV.X264.HDD = US
tvcountry   T = TV.X264.DTV = US|UK
tvgenre     T = TV.X264.HDD = Scripted 
tvgenre     T = TV.DIVX.DTV = Scripted|Talkshow|Reality 
tvgenre     T = TV.DIVX.DSR = Scripted|Talkshow|Reality
tvgenre     T = TV.X264.DVD = Scripted

exempt      T = TV.DIVX.DTV = ^Austin.City.Limits|^Dirty.Jobs|Poker|^Soundstage 


# Changelog:
#
# 070326 - Site added (me)
# 080325 - affil list from last year sorted (vibr)
# 080822 - Added some pci2 filters (dyna)
# 091121 - -OUTDATED -VAiN +Nocturnal (dyna)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
