###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TAF = CBGB DVTiSO HOTiSO ISO JUMANJi MPTDVD SiTV ZRY REV0 iNKiSO ATONEMENT HETERO DAMNATiON TAGLESS TBE 
allows TAF = ANIME.Series ANIME.Movies APPS APPS.BSD APPS.DVD APPS.Linux APPS.MAC APPS.Solaris BOOKWARE DIVX.RET DIVX.R5 DIVX.R5.LIM DIVX.TC DIVX.SCR DIVX.LIM DIVX.SCR.LIM DOX GAMES GAMES.Linux GAMES.MAC NDS PHOTODISC XBOX360 TV.X264.DTV X264.RET.720 XXX DOX.DLC
banned TAF = $REALITY-N-CRAP -CPY -FASISO Fighting.Spirit. Im.Gonna.Be.An.Angely Music.Library. Zatch.Bell. Archer. Funny.or.Die.Presents. The.Life.and.Times.of.Tim. -HELL -IMMERSE
#filter TAF = TV.DIVX.DSR= ^Stargate.|^South.Park|Battlestar.Galactica
#filter TAF = TV.X264.DTV= ^Stargate.Altantis|^24|^Smallville|^Lost|^BattleStar.Galactica|^Heroes|^Prison.Break
filter TAF = ANIME.Series= XVID !Naruto !Inuyasha !Dragon.Ball 
filter TAF = ANIME.Movies= XVID 
filter TAF = HENTAI.Series= XVID 
filter TAF = HENTAI.Movies= XVID 
#filter TAF = XBOX360= PAL
filter TAF = BOOKWARE= ![._]HD|^STASH[_.]|Gnomon.Master.Classes 
exempt TAF = Top.Gear.+DTV.XviD 

# XXX removed for now
xxxstudio              TAF = XXX         = Marc.Dorcel|Private|Ninn.Worx|21st.Sextury|Evil.Angel|Paradise.Films|Jules.Jordan|Andrew.Blake|Viv.Thomas|Suze.Randall|Swank|Woodman|Pinko|Videorama|Magma 

movieminyear           TAF = DIVX.RET=     2008 
movieminyear           TAF = DIVX.LIM=     2008 
movieminyear           TAF = DIVX.R5=      2008 
movieminyear           TAF = DIVX.R5.LIM=  2008 
movieminyear           TAF = DIVX.SCR=     2008 
movieminyear           TAF = DIVX.SCR.LIM= 2008 
movieminyear           TAF = DIVX.TC=      2008 
movieminyear           TAF = X264.RET.720= 2008 

rating                 TAF = DIVX.LIM=     0.0 100 1 
rating                 TAF = DIVX.SCR.LIM= 0.0 100 1 
rating                 TAF = DIVX.R5.LIM=  0.0 100 1 

# Documentaries ok:
#moviegenre             TAF = DIVX.RET=
#moviegenre             TAF = DIVX.LIM=
#moviegenre             TAF = DIVX.R5=
#moviegenre             TAF = DIVX.R5.LIM=
#moviegenre             TAF = DIVX.SCR=
#moviegenre             TAF = DIVX.SCR.LIM=
#moviegenre             TAF = DIVX.TC=


#tvcountry              TAF = TV.DIVX.DTV=  US
#tvcountry              TAF = TV.DIVX.DSR=  US
tvcountry               TAF = TV.X264.DTV=  US 
tvgenre 				TAF = TV.X264.DTV=  Scripted 


# Changelog:
#
# 040729 - Adjusted banned groups (wader)
# 040801 - Removed tNB-VCD from affils due complication with teg-vcd (wader)
# 040807 - Added BOOKWARE filter (checker)
# 040810 - Added ^The.Grid to filter TV.DIVX.DTV (checker)
# 040810 - Added DEITY to affils (shrike)
# 040810 - Updated series: -Titus, -Threat.Matrix, -Angel, +Stargate.Atlantis (shrike)
# 040810 - Fixed Voyager rule -> DVDRip XVID of S4-S7 only (shrike)
# 040817 - Updated Affils (shrike)
# 040823 - Added DIVX.TS/TC to allows (shrike)
# 041113 - Disabled BOOKWARE filter myself ...after waiting 2 weeks for someone else doing this huge change (shrike)
# 050301 - Removed section SVCD.TS and affils NOX VCDCentral VXr (wader)
# 050831 - Added TV.DIVX.DSR and added filter (checker)
# 050901 - ...and fixed by (shrike) :) [less is more]
# 050902 - Added ANIME.Movies & HENTAI +filter (divx only), removed DIVX.TS, Added missing series... (shrike)
# 051016 - Updated series + sections (gin)
# 051110 - Added Usanime to banned list (acid)
# 051113 - Removed clonecd clonedvd (orb)
# 060315 - Added TV.DIVX.HR (shr)
# 070115 - Removed TV.DIVX.DTV filter
# 070124 - Removed PS1/2/Hentai etc etc + Added FOOTAGE/PSP/NDS/GAMES.MAC/DIVX.LIM/DIVX.SCR.LIM etc etc (shrike)
# 070806 - XBOX360 filter fixed (removed 2nd '!') -> Site included in races now (..) (shrike)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
