############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TAH = FTP pSyPSP REMAX RUSTLERS SLiEZE SuperX360 TESORO NoPE
# partially down 
#allows TAH = APPS APPS.Linux DIVX.RET DIVX.SCR DIVX.R5 DVDR.RET DVDR.LIM GAMES PS2DVD PS3 PSP X264.RET.720 TV.DIVX.DTV XXX TV.X264.HDD TV.X264.DTV WII
allows TAH = APPS APPS.Linux DVDR.RET DVDR.SCR DVDR.SCR.LIM DVDR.LIM PS2DVD PS3 X264.RET.720 TV.DIVX.DTV XXX TV.X264.HDD TV.X264.DTV WII XBOX360
banned TAH = 
filter TAH = XXX= -DivxFactory|-PORNOLATION|-Pr0nStarS
filter TAH = TV.X264.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter TAH = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter TAH = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter TAH = Wii= [._]PAL[._-]
# Changelog:
#
# 071212 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
