############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TC = SHOCKISO EDGEISO AFFECTION P0W4DVD
allows TC = TV.X264.DTV XXX X264.RET.720 X264.CLS.720 DIVX.RET DIVX.LIM NORDIC APPS APPS.DVD APPS.LINUX GAMES GAMES.DVD TV.X264.HDD WII CLONE CLONEDVD XBOX360
banned TC = AUTODESK $INDUSTRIAL The.Boondocks.S

filter TC = NORDIC         = DVDRip.XVID-|Bluray.x264- 
filter TC = TV.X264.DTV    = !$REALITY-N-CRAP 
filter TC = XXX            = -STARLETS|-PORNOLATION|-SWE6RUS 
#filter TC = Wii         = !USA|NTSC
consoleregions  TC  = WII=          PAL|NTSC


x264formats            TC = X264.*       = mkv 
movieminyear           TC = X264.CLS.720 = 1900 
rating                 TC = X264.CLS.720 = 6.0 0 0 

tvcountry TC = TV.X264.DTV = US 


# Changelog:
#
# 090304 - Site added (shrike)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
