##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TC2 = ASTEROiDS BIERBUIKEN CHEATERS DARKFORCE FFWD FKKDVDR LiGHTFORCE LYNCH MUTE
allows TC2 = GAMES GAMES.DVD DVDR.RET DIVX.RET DIVX.TC PS2DVD XBOXDVD PSP APPS APPS.DVD XXX DUTCH
banned TC2 = DVD9
filter TC2 = XXX= -Pr0nStarS
filter TC2 = APPS= Adobe|Ahead |Corel|McAfee|Microsoft|Norton|Pinnacle|Symantec|Sonic|Sophos|Ulead|Veritas|Winternals|DUTCH
filter TC2 = APPS.DVD= Adobe|Ahead |Corel|McAfee|Microsoft|Norton|Pinnacle|Symantec|Sonic|Sophos|Ulead|Veritas|Winternals|DUTCH

rating TC2 = DVD.RET= 5.0 0 0

# Changelog:
#
# 051201 - Site added (psychoffee)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
