##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TCF = APATHY DHD DYNAMiCS iTWINS Micronauts NextLevel QwiiF PiX pSyPSP PWZ rG RoME RUSH S6 Start2 SUSHi WiDE XorCist XPA BLOW
allows TCF = GAMES GAMES.DVD CLONECD CLONEDVD APPS.DVD APPS.MAC APPS TV.DIVX.DTV TV.DIVX.DSR DVDR.RET DVDR.LIM DVDR.SCR DVDR.TC NORDIC PS2DVD XBOXDVD PSP DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC
banned TCF = GTW
filter TCF = APPS= !$INDUSTRIAL|IBM
filter TCF = TV.DIVX.DTV= !$UK-SERIES|$REALITY-N-CRAP
filter TCF = TV.DIVX.DSR= !$UK-SERIES|$REALITY-N-CRAP
filter TCF = XXX= -Pr0nStarS|-SWE6RUS
# Changelog:
#
# YYMMDD - Site added (checker)
# 080326 - affils fixed (vibr)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
