
##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TCIA = BiN SiNiSTER SPARE STRiKE W3D
allows TCIA = GAMES GAMES.DVD APPS APPS.DVD DIVX.RET DIVX.TC TV.DIVX.DTV PS2DVD
banned TCIA = -KINDRED -4KiDS -PHXiSO -JUSTiSO -DELiRiUM -EATiSO -SOSiSO -TSZiSO -HOOLiGANS -HBoVCD -TPP -VANDALiSM -FTF -QUiCKSHOT -LEGiON -Xtreme -SAFEDiSK -TrueWorks -MaTine
filter TCIA = APPS= Microsoft|Powerquest|Mcafee|Macromedia|Adaptec|Adobe|Symantec|Pinnacle 
filter TCIA = APPS.DVD= Microsoft|Powerquest|Mcafee|Macromedia|Adaptec|Adobe|Symantec|Pinnacle
filter TCIA = TV.DIVX.DTV= Enterprise|^CSI|^Smallville|Stargate.S|Charmed|^24

# Changelog:
#
# YYMMDD - Site added (blade)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed TV from affil (bourbon)
# 051020 - Updated affils (pretorian)
# 051023 - Updated filter for apps.dvd/apps (pretorian)
# 051024 - Added Pinnacle to APPS/APPS.DVD
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
