############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TDS = KYR
allows TDS = DOX XBOX360 GAMES APPS APPS.MAC X264.RET.720 X264.LIM.720 TV.X264.DTV TV.X264.SD DIVX.RET PS3 DOX.DLC
banned TDS = 

movieminyear           TDS = X264.*.720  = 2010
movieminyear           TDS = X264.*.1080 = 2010
movieminyear           TDS = DIVX.*  = 2010

rating                 TDS = DIVX.LIM= 1.0 0 1
rating                 TDS = DIVX.RET= 1.0 0 1
rating                 TDS = X264.RET.720  = 1.0 1 1
rating                 TDS = X264.RET.1080 = 1.0 1 1
rating                 TDS = X264.LIM.720  = 5.0 500 1
rating                 TDS = X264.LIM.1080 = 5.0 500 1

# Changelog:
#
# 120924 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
