##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TE = CIMS CSISO IMMERSION REPLiCA ViTE ZWTiSO
allows TE = APPS APPS.DVD CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD PS2CD PS2DVD SVCD.TS SVCD.TC TV.DIVX.DTV VCD.SCR XBOXDVD NORDIC TV.DIVX.DSR XBOX360
#banned TE =
filter TE = APPS= Macromedia|Adobe|Symantec|Borland|Microsoft|Ulead|MapInfo
filter TE = APPS.DVD= Macromedia|Adobe|Symantec|Borland|Microsoft|Ulead|MapInfo
filter TE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter TE = TV.DIVX.DSR= Stargate|Battlestar.Galactica|Over.There|The.4400

# Changelog:
#
# 040729 - Site added (wader)
# 050907 - Updated alot of stuff (wader)
# 050913 - Added CLONECD/DVD (shrike)
# 051012 - Added section TV.DIVX.DSR and filter
# 051116 - Removed TVL from affils (gin)
# 051209 - Added XBOX360 to allows (shr)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
