##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TER = 
allows TER = DIVX.RET TV.DIVX.DTV DVDR.RET DVDR.SCR GAMES GAMES.DVD SVCD.TS VCD.SCR XXX
filter TER = TV.DIVX.DTV= ^8.Simple.Rules|King.Of.Queens|^That.70s.Show|^Malcolm|Simpsons|Bernie.Mac|^Joey|^The.O.C|^Scrubs|^Will
filter TER = XXX= -xDMNx|-PORNOLATiON|-Pr0nStarS

# Changelog:
#
# 040806 - Site added (checker)
# 040809 - added xxx section with pl/xdmnx/pr0nstars (gza)
# 040925 - updated tv rules (blade)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
