############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils	TF = REV0 Replica COALiTiON REWARD WiiCKED TBE
allows	TF = DIVX.RET DVDR.RET DVDR.LIM GAMES GAMES.DVD GAMES.MAC APPS.MAC WII X264.RET.720 X264.LIM.720 X264.CLS.720 TV.X264.DTV
banned	TF = SKIDROW VITALITY UNLEASHED
exempt  TF = CRITERION

rating    TF = DVDR.LIM = 7.5 0 0
rating    TF = X264.LIM.720 = 7.5 0 0
movieminyear TF = X264.CLS.720 = 2004

x264formats        TF = X264.*           = BD

consoleregions     TF = WII= NTSC


# Changelog:
#
# 090501 - Site added (dyna)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
