############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TFM = AFTERMATH AG BaLD CCCLX DMU DMZ DOMiNENT EMiNENT GoTV HELL PaTHe PROMiNENT SAiNTS ViTE SUSHi Larceny STUDIO SWE6RUS
allows TFM = APPS APPS.DVD BOOKWARE DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.TC DVDR.RET DVDR.LIM GAMES GAMES.DVD XBOX360 DIVX.R5 PS2DVD TV.DIVX.DTV TV.X264.DTV DUTCH TV.DIVX.DSR WII PSP NDS DIVX.R5.LIM
banned TFM = -FASiSO -GGS -Micronauts -SKIDROW -ViTALiTY -VLiSO
filter TFM = APPS=     Adobe|Ahead|Autodesk|Cakewalk|Corel|Cyberlink|Discreet|Macromedia|Microsoft|Norton|Pinnacle|Sonic|Sony|Steinberg|Symantec|TomTom
filter TFM = APPS.DVD= Adobe|Ahead|Autodesk|Cakewalk|Corel|Cyberlink|Discreet|Macromedia|Microsoft|Norton|Pinnacle|Sonic|Sony|Steinberg|Symantec|TomTom
filter TFM = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter TFM = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter TFM = TV.X264.DTV= !$REALITY-N-CRAP|$UK-SERIES

rating TFM = DVDR.LIM= 5.0 0 1

consoleallowregiondupe	TFM = PSP= 1
consoleregionrank	TFM = PSP= PAL NTSC
consoleregions		TFM = PSP= NTSC|PAL

# Changelog:
#
# 061031 - Site added (gay darkm)
# 061107 - fixed affils (spark)
# 070213 - removed ViTALiTY (stealth)
# 070610 = removed psypsp and superx260 (stealth)
# 070917 - updated affiled (exe/stealth)
# 080203 - updated affils (stealth)
# 080401 - added Larceny (stealth)
# 080418 - added DVDR.LIM rating filter (stealth)
# 080520 - thanks to the one who didnt update the affil list! (stealth)
# 080827 - pci2 psp filters done (dyna)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
