##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TFS = 0TV DHD
allows TFS = DIVX.RET TV.X264.DTV GAMES XXX DIVX.TC DIVX.TS DIVX.R5 DIVX.SCR X264.RET.720
filter TFS = XXX= -NYMPHO


# Changelog:
#
# 040806 - Site added (checker)
# 040901 - Added DoNE as affils (checker)
# 070111 - Updated (checker)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
