############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TGN = ARROW CROSSBOW  DivXfacTory JWARE TASTE TASTETV
allows TGN = TV.X264.DVD TV.X264.SD TV.X264.DTV TV.DIVX.DVD TV.X264.HDD XXX DIVX.RET DIVX.LIM X264.RET.1080 X264.LIM.1080 DOX DOX.DLC GAMES GAMES.MAC APPS APPS.MAC XBOX360 NDS 3DS WII PS3 DOX.DLC
banned TGN = 
exempt TGN = XXX= -PORNOLATiON|-STARLETS|-DivXfacTory|-Pr0nStarS|-Jiggly|-SWE6RUS|-VBT
exempt TGN = TV.X264.DTV = ^Continuum
exempt TGN = TV.X264.SD  = ^Continuum
filter TGN = DOX = -SKIDROW|-FLTDOX|-RazorDOX|-RELOADED
filter TGN = GAMES = -SKIDROW|-RELOADED|-Razor1911|-FLT|-MONEY|-CODEX
filter TGN = TV.DIVX.DTV= !$REALITY-N-CRAP

tvcountry TGN = TV.* = US|UK
tvgenre   TGN = TV.* = Scripted
tvstartyear TGN = TV.X264.HDD = 2010


movieminyear TGN = DIVX.* = 2010
movieminyear TGN = X264.* = 2010
movieminyear TGN = DVDR.* = 2010

rating TGN = DIVX.RET = 0.0 100 0
rating TGN = DIVX.LIM = 5.0 200 0
rating TGN = X264.RET.1080 = 0.0 100 0
rating TGN = X264.LIM.1080 = 5.0 200 0



# Changelog:
#
# 120508 - Site added (me)
# 140505 - exempt added (ohno)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
