############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TGS = 2HD CRBS EiDER FAPCAVE FKKHD RiVER SKG SKGTV UPPERCUT USURY XCiTE
allows TGS = APPS APPS.Linux APPS.MAC DOX DOX.DLC GAMES GAMES.Linux GAMES.MAC XBOX360 PS3 TV.X264.DTV TV.X264.HDD SE.X264.720 SE.X264.1080 X264.RET.1080 X264.RET.720 X264.LIM.1080 X264.LIM.720 XXX X264.CLS.720 X264.CLS.1080 X264.MUSIC.1080 X264.MUSIC.720 TV.X264.DTV.1080 TV.X264.WEB TV.X264.WEB.1080
banned TGS = -iGNiTiON -SADPANDA -SADPANDAx -RedBlade -PHOBOS REMASTERED

tvcountry     TGS = TV.X264.*   = US|UK
tvstartyear   TGS = TV.X264.HDD = 2010

moviegenre    TGS = X264.*      = 
movieminyear  TGS = X264.CLS.*  = 1930
movieminyear  TGS = SE.X264.720 = 2014
movieminyear  TGS = SE.X264.1080 = 2014
rating        TGS = X264.CLS.*  = 5.0 5000 1

filter        TGS = X264.MUSIC.* = ![._]200[0-9][._-] ![._]201[0-3][._-] ![._]19\d\d[._-] ![._]DOCU[._]
filter        TGS = APPS.*      = -TBE|-ZWTiSO|-DVTiSO|-MAGNiTUDE
filter TGS = XXX = -Pr0nstars|-PORNOLATiON|-SWE6RUS|-VBT|-SLiEZE

exempt        TGS = X264.*      = -SPARKS
exempt        TGS = TV.X264.HDD = 720p.BluRay.x264-DEMAND 720p.BluRay.x264-SNOOZE


# Changelog:
#
# 131209 - Site added (shrike)
# 150615 - Updated (shrike)
# 150212 - Updated rules/affils (g0ne)
# 160201 - added nordic bookmarks (ohno)
# 160210 - added FKKHD as affil (ohno)
# 160415 - added webrip 1080 (ohno)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
