############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TH = Counterfeit Felony Larceny SECTOR7 FiGHTCLUB DEMAND JWARE FLT
allows TH = DIVX.RET DIVX.LIM GAMES TV.X264.DTV WII X264.RET.1080 X264.LIM.1080 XBOX360 APPS BOOKWARE
banned TH = -FASiSO -ViTALiTY -PreVail -Hi2U
filter TH = APPS = Adobe|Intuit|Mcafee|Microsoft|Norton|Roxio|Avid|Quicken|Steinberg|Autodesk|Symantec|Corel
#filter TH = BOOKWARE =  Lynda.com[_.-]|VTC.COM[_.-]

tvcountry    TH = TV.DIVX.DTV = US
tvcountry    TH = TV.X264.DTV = US
tvgenre      TH = TV.DIVX.DTV = Scripted
tvgenre      TH = TV.X264.DTV = Scripted

movieminyear               TH = X264.*             = 2009  
movieminyear	   	   TH = DIVX.*             = 2009 

rating                 TH = X264.RET.1080      = 1.0 0 0
rating                 TH = X264.LIM.1080      = 6.0 0 1 

# Changelog:
#
# 090215 - Site added (dyna)
# 091004 - Removed .de sections, classics, cine etc., adjusted movieminyear, x1080 rating etc. (shrike)
# 100726 - updated sections (g0ne)
# 231111 - redone (rizza)

# DONT FORGET TO UPDATE OUR SITEBOT AS WELLE
