rule APPS = APPS group:(BIE,RESTORE,SHooTERS,ISO,ZWTiSO,ZZGiSO,TBE,rG,BLZiSO,LZ0,CYGiSO,CORE,PANTHEON,MAGNiTUDE,DVTiSO,Substance) std

rule GAMES = GAMES windows group:(RELOADED,Razor1911,SKIDROW,PLAZA,HOODLUM,STEAMPUNKS,CODEX,CPY) std

rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule MOVIES = MOVIES 1080p x264 bluray limited year:2015 language:(English) std stv stdmovies cls
rule MOVIES.2160p = MOVIES 2160p x265 uhdrip limited year:2015 language:(English) std stv stdmovies cls

rule XXX = XXX dvdrip bdrip x264 std

# NAME              PATH
dir APPS            = /utils
dir GAMES           = /games
dir PS4             = /ps4
dir MOVIES          = /x264
dir MOVIES.2160p    = /x265
dir XXX             = /xxx



