############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TIX = EcHoS HELL HLS ZN ISO RiSE CFE iNKiSO VCF CiNEFiLE SAPHiRE MELiTE
allows TIX = APPS APPS.DVD BOOKWARE PHOTOCD DIVX.LIM DIVX.R5 DIVX.RET DIVX.SCR DIVX.TC DOX GAMES MV X264.RET.720 X264.LIM.720 TV.X264.DTV DOX.DLC
banned TIX = -MENTiON

x264formats TIX = x264.* = mkv 

movieminyear TIX = DIVX.* = 2005 
movieminyear TIX = DVDR.* = 2006 
movieminyear TIX = X264.* = 2000 
rating TIX = DVDR.LIM = 0.0 200 50 
rating TIX = X264.LIM.720 = 0.0 200 50 
tvgenre     TIX = TV.X264.DTV= Scripted|Documentary 
filter      TIX = TV.X264.DTV= ^Prison.Break|^Heroes|^Terminator|^Mythbusters|^Battlestar.Galactica|^Lost|^Jericho|^House|Stargate.Atlantis|Nip.Tuck 
#rating TIX = DVDR.SCR= 0 200 50
# Changelog:
#
# 070215 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
