##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TKV = ANiDVD CLONECD GimpDVD KHG LOYAL mVi S6 ThP USA 
allows TKV = APPS DOX DVDR.RET DVDR.LIM GAMES PS2DVD SVCD.RET SVCD.SCR SVCD.TS SVCD.TC TV.DIVX.DTV VCD.TS VCD.TC VCD.SCR VCD.TS XBOXDVD DOX.DLC
banned TKV = $INDUSTRIAL -HOODLUM
filter TKV = TV.DIVX.DTV= ^24|^Ali.G.Show|^Alias|^Cold.Case|^CSI|^CSI.Miami|^CSI.New.York|^Desperate.Housewives|^Entourage|^Eve|^Father.Of.The.Pride|^Jack.And.Bobby|^Joey|^Las.Vegas|^LAX|^Lost|^Newlyweds|^North.Shore|^One.Tree.Hill|^Quintuplets|^Scrubs|^Summerland|^The.Apprentice|^The.Benefactor|^The.Mountain|^Tru.Calling  
filter TKV = APPS= Adobe|Cakewalk|Intervideo|Intuit|Jasc|Macromedia|Microsoft|Pinnacle|Powerquest|Roxio|Symantec|Ulead|VMWare|Winternals
filter SST = DVDR.RET= !PAL
filter SST = XBOXDVD= !PAL
filter SST = PS2DVD= !PAL

# Changelog:
#
# 040910 - Site added (bourbon)
# 040927 - Remove BBX from affils and anime from allows (bourbon)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
