############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TL = ACTIVATED BAKED COMPLEX DARKFORCE DVTiSO ECZ ENGiNE LiGHTFORCE LiQUiD LOST PCH ReVOLVeR SODAPOP ULSHD Ulysee
allows TL = DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM X264.CLS.720 X264.CLS.1080 X264.RET.720 X264.RET.1080 X264.LIM.720 X264.LIM.1080 GAMES APPS APPS.Linux APPS.MAC APPS.DVD TV.DIVX.DTV XXX WII XBOX360 NDS PSP TV.X264.DTV DOX.DLC PS3 DIVX.R5 3DS GAMES.MAC GAMES.Linux WIIU TV.X264.WEB
banned TL = $INDUSTRIAL -AiRLiNE -FiDELiO -MUxHD -PURE -iMARS -FLEET

filter TL = NDS= !USA|NTSC 
filter TL = PSP= 
#filter TL = WII= !USA|NTSC 
filter TL = XXX= -Pr0nStarS|-PORNOLATiON|-DivXFactory
exempt TL = -Pr0nStarS -PORNOLATiON -DivXFactory -STARLETS

#tvgenre TL = TV.DIVX.DTV  = Scripted|Animation|Cartoon
tvcountry TL = TV.X264.DTV  = US 


movieminyear TL = X264.CLS.* = 1980
movieminyear TL = DIVX.*     = 2009
movieminyear TL = X264.RET.* = 2007 

#consoleregions TL = PS3= PAL

rating TL = X264.LIM = 5.0 500 1
rating TL = X264.CLS = 6.5 100 1



# Changelog:
#
# 090110 - Site added (dyna)
# 100312 - added xxx filter (solar) 
# 150313 - Removed DOX.DLC (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
