##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TLF = AMRCMPG ANiMOTiON CORRuPT Chakra DoNE GAMERZ GOD KiF KJS mVz NaQ NFR ORACLE PmV Pr0nStarS PROTOCOL RnY S6 SE TRAiLERCRAP YoungDangerous 1UP
allows TLF = ANIME.Movies ANIME.Series APPS DIVX.LIM DIVX.RET DIVX.SCR DIVX.SCR.LIM DVDR.RET GAMES GAMES.DVD MV NORDIC PS2CD PS2DVD SVCD.RET SVCD.SCR SVCD.SCR.LIM SVCD.TC SVCD.TS VCD.SCR VCD.SCR.LIM VCD.WP XBOXDVD ANIME.Movies
banned TLF = -ATA -EiTiSO -EUPHORiA -FASISO -FASTANiME -FTF -HS -OMA -PHXiSO -SHOWTiME -SOSiSO -Substance -WOYiSO
#filter TLF = TV.DIVX.DTV= ^The.O.C|^The.OC|^The.Shield
filter TLF = APPS= Microsoft|Adobe|Norton|Pinnacle|Macromedia|Borland|Ulead
filter TLF = NORDIC= NORDIC|SWEDISH !.DVDR. !.DVDR-
#filter TLF = PS2DVD= !DVD9
#filter TLF = XBOXDVD= !DVD9
filter TLF = ANIME.Movies= DVDR-
filter TLF = ANIME.Series= DVDR-

# Changelog:
#
# 040729 - Site added (wader)
# 040810 - Added DIVX.LIM to allows (checker)
# 040810 - Added affils: GOD SE PROTOCOL (shrike)
# 040810 - Added allows: MV (shrike)
# 040816 - Added NORDIC to NORDIC filter (wader)
# 040821 - Added subzero to affils (*TEMP*) (shrike)
# 040829 - Added CRIMSON to affils (shrike)
# 040901 - Removed FANTA from affils (wader)
# 040901 - Removed REMAX from affils (shrike)
# 040902 - Added PS2.*DVD9 and XBOX.*DVD9 to bans (wader)
# 040904 - Added -YoungDangerous to affils (shrike)
# 040904 - Removed DVD9 from banned and added to filters (wader)
# 040904 - Added S6 to affils (shrike)
# 040905 - Added Pr0nStarS as affils (checker)
# 040921 - Removed PS2CD from allows (checker)
# 040924 - Removed subzero from affils (*TEMP*) (bourbon)
# 040924 - Added section DIVX.SCR.LIM (wader)
# 041016 - Added section Anime.Movies
# 041025 - Removed Anime.Series, DVDR.SCR, SVCD.LIM, SVCD.SCR.LIM, SVCD.TC.LIM, SVCD.TS.LIM, VCD.SCR.LIM, TV.DIVX.DTV from allows (checker)
# 041025 - Diabled TV.DIVX.DTV filter cause its affil only now (checker)
# 041210 - Added NFR/CORRuPT/KJS to affils (shrike)
# 041216 - Added GAMERZ to affils (shrike)
# 041220 - Added SVCD.SCR.LIM and VCD.SCR.LIM because they are allowed!! (shrike)
# 040201 - Removed Crimson from affils because they blow (bourbon)
# 050225 - Added DoNE to affils (shrike)
# 050302 - Added affil ORACLE (temp) (wader)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !

