############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TLR = 0PTiMUS ARiGOLD NVA RoME SOF THUGLiNE UP2DATE iMPERiUM WATCHABLE
allows TLR = XXX XX.DE TV.X264.DE DIVX.RET DIVX.LIM DIVX.R5 DIVX.R5.LIM X264.RET.720 APPS.DE TV.DIVX.DU.DE GAMES.DE GAMES XBOX360 WII X264.DE.720 X264.DE.1080 DVDR.DE DIVX.DE DIVX.DE.LD TV.X264.DVD.DE TV.DIVX.DE DIVX.DE.MD
banned TLR = -FASiSO -VITALITY -CPY 

filter TLR = DVDR.DE= !19[0-9][0-9]|200[0-7] !-CRITICAL 
filter TLR = X264.DE.720= !19[0-9][0-9]|200[0-7]|Limited -exqusite|-empirehd
filter TLR = X264.DE.1080= !19[0-9][0-9]|200[0-7]|Limited -exqusite|-empirehd
filter TLR = DIVX.DE.LD= \.R5\. 

filter TLR = DIVX.DU.DE= !19[0-9][0-9]|200[0-7] !-CRITICAL 
filter TLR = DIVX.DE= !19[0-9][0-9]|200[0-7] !-CRITICAL 
exempt TLR = XXX= -DivXfacTory|-WDE 
filter TLR = XXX= -DivXfacTory|-WDE 
filter TLR = XX.DE= -DivXfacTory|-WDE 
filter TLR = TV.X264.DE= -euHD|-ZZGtv|-iNSPiRED 
filter TLR = TV.DIVX.DU.DE= -iNSPiRED|-ITG|-SOF|-EXPiRED 
filter TLR = TV.DIVX.DE= -iNSPiRED|-ITG|-SOF|-EXPiRED 
filter TLR = TV.X264.DVD.DE= -iNSPiRED|-ITG|-SOF|-EXPiRED 
tvcountry    TLR = TV.DIVX.DE = 
tvcountry    TLR = TV.X264.DVD.DE = 
tvcountry    TLR = TV.DIVX.DU.DE = 
tvcountry    TLR = TV.X264.DE = 

tvstartyear       TLR = TV.X264.DVD = 2008 

# Changelog:
#
# 090914 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
