##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TLS = ALLiANCE CLONECD GimpDVD MDP RELOADED ThP RAGEDVD LOKi
allows TLS = CLONECD DVDR.RET GAMES GAMES.DVD SVCD.TC SVCD.TS VCD.TC VCD.TS TV.DIVX.DTV XBOXDVD 
banned TLS = -HOODLUM
filter TLS = TV.DIVX.DTV=^24|^8.Simple.Rules|^Ali.G.Show|^Alias|^American.Chopper|^Americas.Next.Top.Model|^Dead.Like.Me|^Star.Trek.Enterprise|^ER|^Everwood|^Family.Guy|^Joey|^King.Of.Queens|^Las.Vegas|^Last.Comic.Standing|^Law.And.Order|^LAX|^One.Tree.Hill|^Scrubs|Simpsons.S\d\d|^Smallville|^The.Apprentice|^THE.O.C|^The.Sopranos|^Tru.Calling|^What.I.Like.About.You
filter SST = DVDR.RET= !PAL
# Changelog:
#
# 041012 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
