##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TLS2 = DESUX ECP FKKDVDR GTR PaL
allows TLS2 = APPS APPS.Linux DIVX.RET DIVX.TS DIVX.TC DIVX.R5 DIVX.SCR XBOX360 PS2DVD WII GAMES GAMES.DVD XXX 
banned TLS2 = $INDUSTRIAL|-SUNSHiNE|-FANiSO|-FASiSO|-SKIDROW|-CPY
filter TLS2 = XXX= -QualitX
# Changelog:
#
# 050816 - Site added (checker)
# 051019 - Added DVD9 ban to XBOXDVD/PS2DVD (gin)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
