##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TLS2-PRE = DESUX ECP FKKDVDR GTR PaL iMBT
allows TLS2-PRE = GERMAN SVCD.SCR XXX
#banned TLS2-PRE = 
filter TLS2-PRE = XXX= -Pr0nStarS

# Changelog:
#
# YYMMDD - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
