##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TLT = PORNOLATiON 
allows TLT = APPS APPS.MAC APPS.Linux DIVX.RET DIVX.LIM DIVX.SCR DIVX.SCR.LIM GAMES GAMES.DVD PS2DVD PS2CD PSP TV.DIVX.DTV XBOXDVD XBOX360
banned TLT = $INDUSTRIAL
filter TLT = TV.DIVX.DTV= !$UK-SERIES
exempt TLT = Poker

# Changelog:
#
# 051227 - Site added (checker)
# 061027 - pornolation added to affils and sections updated. (ks)
# 070531 - removed REALITY-N-CRAP from filters (ego)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
