############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TML = CURIOSITY EXECUTION KNiFESHARP KOENiG PRiNCE sweHD
allows TML = APPS TV.X264.DTV TV.X264.DOCU SE.TV.X264.DTV SE.TV.X264.DTV.1080 SE.TV.X264.HDD TV.X264.DTV.1080 TV.X264.HDD X264.LIM.720 X264.LIM.1080 X264.RET.720 X264.RET.1080 SE.X264.720 SE.X264.1080
banned TML = -DOCERE -NORiTE -VIDEOSLAVE -W4F ^Bordertown.S\d

movieminyear TML = X264.* = 2013
rating TML = X264.RET.720 = 5.0 500 1
rating TML = X264.RET.1080 = 5.0 500 1
rating TML = X264.LIM.720 = 5.0 500 1
rating TML = X264.LIM.1080 = 5.0 500 1


tvgenre      TML = TV.X264.DOCU = Documentary
tvcountry    TML = TV.X264.DOCU = US|CA|UK|NZ|AU

#tvstartyear  TML = TV.X264.DTV = 2010
tvgenre      TML = TV.X264.DTV = Scripted|Documentary
tvcountry    TML = TV.X264.DTV = US

tvstartyear  TML = TV.X264.HDD = 2008
tvgenre      TML = TV.X264.HDD = Scripted
tvcountry    TML = TV.X264.HDD = US

#tvstartyear  TML = TV.X264.DTV.1080 = 2010
tvgenre      TML = TV.X264.DTV.1080 = Scripted
filter       TML = TV.X264.DTV.1080 = 1080p.HDTV.X264-DIMENSION|1080p.HDTV.x264-BATV|1080p.HDTV.x264-SERIOUSLY|1080p.HDTV.x264-BRISK|1080p.HDTV.x264-MORiTZ|1080p.HDTV.x264-CRAVERS

exempt TML = ^Simpsons.*x264 ^Family.Guy.*x264 ^South.Park.*x264 ^American.Dad.*x264 ^Shark.Tank.*x264 ^Survivor.*x264 ^Top.Gear.UK.*x264 ^Dragons.Den.UK.*x264 ^Dragons.Den.CA.*x264 ^Masterchef.US.*x264 ^Hells.Kitchen.*x264 ^Kitchen.Nightmares.US.*x264 ^The.Amazing.Race.*x264 ^Conan.*x264 ^Stephen.Colbert.*x264 ^Jimmy.Fallon.*x264 ^Jimmy.Kimmel.*x264 ^John.Oliver.*x264 ^Formula1.*Qualifying*x264 ^NHL.*x264 ^NFL.*.vs.*x264 ^UFC.*.720p.HDTV.x264


# Changelog:
#
# 151207 - Site added (default)
# 160201 - added tvgenre and tvcountry for tv docu (default)
# 160620 - updated new TV.X264.SE rule and deleted old one (default)
# 160630 - updated TV.X264.SE rule according to updated nordic.cfg (default)
# 160630 - added rules for SE.TV.X264.DTV.1080 and SE.TV.X264.HDD (default)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
