############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TMP = BiA DEPRAVITY Felony GOW HDCLASSICS Larceny SECTOR7
allows TMP = APPS APPS.DVD GAMES GAMES.DVD DIVX.RET DIVX.LIM DVDR.RET PSP TV.DIVX.DTV TV.X264.DTV XBOX360 WII X264.RET.720
banned TMP = IBM. Alldata. -FASiSO -ViTALiTY -CPY -TiNYiSO -DNL BD5 BD9
#filter TMP = X264.RET.720= !200[0-5]

#filter TMP = APPS=         !$INDUSTRIAL
filter BAR = APPS.*      = Adobe|Intuit|Mcafee|Microsoft|Norton|Roxio|Pinnacle|Quicken|Steinberg|Symantec|Ulead
#filter TMP = DUTCH=        DVDR- !LiMiTED

#filter TMP = TV.DIVX.DSR=  South.Park|Battlestar.Galactica
#filter TMP = TV.DIVX.DTV=  !$REALITY-N-CRAP|$UK-SERIES
filter TMP = TV.*          = !$REALITY-N-CRAP|$UK-SERIES
#filter TMP = TV.X264.DTV=  ^Shark.S|^CSI|Prison.Break|^Rome.S|^Numbers.S|Las.Vegas.S|Criminal.Minds|^Lost.S|The.Unit.S|^24.S|^Heroes.S|^Jericho.S|^Traveler.S|^K-Ville|^Moonlight.S|^Bionic.Woman.S|^Life.S|^Journeyman.S|^Cane.S|^Big.Shots.S|^Californication.S|^Battlestar.Galactica.S
#filter TMP = TV.X264.DTV=  ^Shark.S|^CSI|^Prison.Break|^Rome.S|^Numbers.S|^Las.Vegas.S|^Criminal.Minds|^Lost.S|^The.Unit.S|^24.S|^Heroes.S|^Jericho.S|^Leverage.S|^DollHouse.S|^Bionic.Woman.S|^Terminator.The.Sarah.Connor.Chronicles.S|^The.Mentalist.S|^Lie.To.Me.S|^Fringe.S|^90210.S|^Battlestar.Galactica.S|^Crusoe.S|^Dexter.S

#filter TMP = PS2DVD=       !DVD9
#filter TMP = XXX=          -SWE6RUS
filter TMP = WII=          !NTSC|USA
#filter TMP = NDS=	   !NTSC|USA


rating       TMP = DIVX.LIM      = 6.0 500 1
#rating       TMP = X264.RET.1080 = 6.0 0 0
rating       TMP = DVDR.RET      = 6.0 500 0
#rating       TMP = DVDR.LIM      = 6.0 0 1
#rating       TMP = X264.LIM.720  = 6.0 0 1

movieminyear TMP = X264.*        = 2008
movieminyear TMP = DVDR.RET      = 2008
movieminyear TMP = DIVX.*        = 2008

#BD5 doesnt dupe normal release, normale release does dupe BD5:
#x264formatrank        TMP = X264.*       = BD mkv
#x264formats            TMP = mkv

# Changelog:
#
# 061025 - Site added (darkm)
# 070223 - Updated affils, sections, filters ..+RENAMED (shrike)
# 070930 - updated affils && filter !usa.wii (stealth)
# 080513 - Added x264 section + filter (stealth)
# 080923 - added SVENNE to affils (stealth)
# 080928 - added ARROW (stealth)
# 081007 - removed DELERIUM (dyna)
# 081128 - removed ARROW (inspector stealth)
# 090106 - Added GOW (guess who.. dyna)
# 140109 - +RESiSTANCE (dyna)
# 010210 - changed all configed once again cuz a lot changed (solar)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
