##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TNA = TVL FFNDVD JSpec KSi-TV NAS 
allows TNA = TV.VCD TV.DIVX.DTV TV.DIVX ANIME
banned TNA = 

# Changelog:
#
# 040830 - Site added (bourbon) 
# 040901 - updated some stuff (blade) 
# 040927 - Added TVL as affil (bourbon)
# 040927 - Removed FFN as affil (bourbon)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
