############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TO = MPTDVD ASAP HOTiSO iCON ZRY CLUE LPD 7SinS
allows TO = DVDR.RET GAMES PS3 TV.X264.DTV APPS APPS.MAC WII X264.RET.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 X264.CLS.720 X264.CLS.1080 XBOX360 DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM DOX BOOKWARE TV.X264.SD DOX.DLC
banned TO = 
filter TO = XXX=      -PORNOLATiON|-Pr0nStarS|-DivXfacTory
filter TO = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter TO = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES

filter    TO = TV.*           = !$REALITY-N-CRAP|$UK-SERIES
tvcountry TO = TV.X264.DTV    = US|UK
tvcountry TO = TV.X264.DVD    = US


consoleregions         PG = WII=          PAL|NTSC

rating         TO = X264.LIM.720  = 7.0 300 1
rating         TO = X264.LIM.1080 = 7.0 300 1
rating         TO = X264.CLS.720  = 6.0 2000 0
rating         TO = X264.CLS.1080 = 6.0 2000 0
rating         TO = DIVX.LIM      = 6.0 250 0
rating         TO = DIVX.SCR.LIM  = 6.0 250 0
rating         TO = DIVX.R5.LIM   = 6.0 250 0

movieminyear   TO  = DIVX.*       = 2008
movieminyear   TO  = X264.LIM.720       = 2008
movieminyear   TO  = X264.LIM.1080       = 2008
movieminyear   TO  = X264.RET.720       = 2008
movieminyear   TO  = X264.RET.1080       = 2008
movieminyear   TO  = X264.CLS.720 = 1930
movieminyear   TO  = X264.CLS.1080 = 1930
movieminyear   TO  = DVDR.*       = 2008

x264formats    TO = X264.*       = mkv

# Changelog:
#
# 080219 - Site added (checker)
# 111201 = site readded (solar)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
