############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TOL = BLOW CookieMonster RELOADED Replica
allows TOL = GAMES.MAC GAMES.Linux GAMES DOX TV.X264.WEB.1080 TV.X264.DTV.1080 X264.CLS.1080 X264.RET.1080 X264.LIM.1080 X265.LIM.2160 X265.RET.2160
banned TOL = [._]Theatrical[._] -STRiFE
exempt TOL = The.Grand.Tour.S

filter TOL = DOX                = -RELOADED|-RAZOR1911|-CODEX|-PLAZA|-BAT|-HI2U|-CPY|-STEAMPUNKS|-CODEPUNKS|-SKIDROW|-FLT|-ACTIVATED
filter TOL = GAMES.*            = -RELOADED|-RAZOR1911|-CODEX|-PLAZA|-BAT|-HI2U|-CPY|-STEAMPUNKS|-CODEPUNKS|-SKIDROW|-FLT|-ACTIVATED
filter TOL = TV.X264.DTV.1080   = -DIMENSION

movieminyear TOL = X264.*       = 1900
movieminyear TOL = X265.*       = 1900

rating       TOL = X264.*       = 5.0 1000 0
rating       TOL = X265.*       = 5.0 1000 0

tvcountry    TOL = TV.*         = US|UK|CA


# Changelog:
#
# 171117 - Site added (shrike)
# 171219 - TV.X264.DTV removed + WEB->1080 (shrike)
# 171222 - Updated (shrike)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
