affils = 13 AEROHOLiCS AMPEDDOX BAT CiCXXX CYGiSO DRUMKiDS EMERGE Hi2U INKED LiQUiD LOUNGE OBiTS PANTHEON PROPAGANDA rGiSO TRSI 

groupblacklist = OXBRiDGE ANALYTiCS iLLiTERATE TCD FASiSO BigBlueBox
blacklist = .PDTV. .DSR.  

rule APPS = APPS std
rule BOOKWARE = BOOKWARE std

rule DOX = DOX std
rule GAMES = GAMES std

rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule MOVIES.MBluRay = MOVIES MBluRay 720p 1080p x264 std stv nonfo
rule MOVIES.BDRip = MOVIES x264 bdrip limited stv std cls
rule MOVIES.720p = MOVIES bluray 720p x264 limited rating:5.5 lrating:5.5 votes:500 lvotes:500 language:(English) stv std cls
rule MOVIES.1080 = MOVIES bluray 1080p x264 limited rating:7 lrating:7 votes:2000 lvotes:2000 language:(English) stv std cls     
rule MOVIES.WEBRIP = MOVIES webrip web stv 720p language:(English) external nodupe 2d nfo rating:5.5 votes:500 cls

rule TV.XVID = TV xvid hdtv x264 nw_us nw_gb nw_ca dupesweb scripted animation documentary reality language:(English) sd std
rule TV.WEB = TV web webrip x264 nw_us nw_gb nw_ca dupeshdtv scripted animation documentary reality network:(amazon,netflix,hbo,showtime,starz) language:(English) sd std
rule TV.720p = TV 720p nw_us nw_gb hdtv h264 web webrip x264 scripted language:(English) std
rule TV.720p = TV 720p network:(amazon,netflix,youtube,youtube-premium) hdtv h264 web webrip x264 scripted language:(English) std 
rule TV.720p = TV 720p nw_us nw_gb hdtv h264 web webrip x264 scripted internal group:(DiMENSiON,KiLLERS,AVS,SVA,SKGTV,MOROSE,DEFLATE,BATV,DHD) language:(English) std            

rule XXX = XXX bdrip dvdrip x264 std


# NAME                     PATH
dir APPS                        = /incoming/apps
dir BOOKWARE                    = /incoming/apps
dir DOX                         = /incoming/games/dox
dir GAMES                       = /incoming/games/pc
dir PS4                         = /incoming/games/ps4
dir NSW                         = /incoming/games/nsw
dir MOVIES.720p.MBluRay         = /incoming/music/mbluray
dir MOVIES.1080p.MBluRay         = /incoming/music/mbluray
dir MOVIES.BDRip                = /incoming/movies/xvid-eng   
dir MOVIES.720p                 = /incoming/movies/720p
dir MOVIES.1080p                = /incoming/movies/1080p
dir MOVIES.webrip               = /incoming/movies/720p
dir TV.SD                       = /incoming/tv/xvid-eng
dir TV.720p                     = /incoming/tv/720p
dir XXX                         = incoming/xxx/xvid
