###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TP = AG CRNTV FLESHLiGHT SCREAM SPARE SWE6RUS TV TBE TWCiSO ZWTiSO DiAMOND iNKiSO VENOM
allows TP = APPS APPS.DVD BOOKWARE CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.TC DIVX.R5 DVDR.RET GAMES GAMES.DVD PS2CD PS2DVD TV.DIVX.DTV Wii PSP TV.DIVX.DSR TV.DVDR DIVX.VHS UFC
banned TP = -BC DASSAULT -FAS -FASiSO ^IBM PTC Technet
filter TP = TV.DVDR = ^24.|^Heroes.|^Lost.|^Prison.Break.|^Rome.|^Dexter.|^The.Sopranos.|^The.Wire.|^Entourage.|^CSI.|^30.Rock.|^Black.Donnellys.|^Greys.Anatomy.|^Brotherhood.|^The.Shield.|^Stargate.SG.|^Stargate.Atlantis.|^Studio.60. 
filter TP = TV.DIVX.* = ^24.|^American.Dad.|^Aqua.Teen.Hunger.|^Battlestar.Galactica.|^CSI.|^Dragons.Den.|^So.You.Think.You.Can.Dance.|^Doctor.Who.|^Hells.Kitchen.|^Heroes.|^Hung.|^Lost.|^Mad.Men.|^Merlin.|^Monk.|^Psych.|^Kitchen.Nightmares.|^Robot.Chicken.|^Smallville.|^South.Park.|^Stargate.Universe.|^Supernatural.|^The.Amazing.Race.|^The.Simpsons.|^The.Venture.Brothers.|^True.Blood. 
exempt TP = ^The.Daily.Show.\d.*XviD ^The.Colbert.Report.\d.*XviD ^Pride.FC.*XviD ^The.Ultimate.Fighter.S\d.*XviD ^The.Apprentice.S ^Mythbusters.S
filter TP = NORDIC=       Norwegian
filter TP = BOOKWARE=     VTC|CBTNuggets|Trainsignal|Total.Training|Lynda.com|Train.Signal|LinuxCBT
filter TP = APPS=         !$INDUSTRIAL
filter TP = APPS.DVD=     !$INDUSTRIAL

tvgenre TP = TV.DIVX.* =

rating                 TP = DVDR.RET=     3.0 0 500
rating                 TP = DIVX.LIM=     0.0 0 1

consoleallowregiondupe TP = WII=          1
consoleregions         TP = WII=          PAL|NTSC
consoleallowregiondupe TP = PS2CD=        0
consoleregions         TP = PS2CD=        PAL|NTSC
consoleallowregiondupe TP = PS2DVD=       0
consoleregions         TP = PS2DVD=       PAL|NTSC

# Changelog:
#
# 040801 - Added section SVCD.TS and SVCD.TS.LIM (wader)
# 040802 - Added -Alliance to banlist (shrike)
# 040803 - Added affil Confusion due "unexpected" pre (wader)
# 040806 - Fixed banned + BOOKWARE filter (wader)
# 040814 - removed ban -ALLiANCE (wader)
# 040905 - Added affil RORiSO (wader)
# 040907 - Added GAMES.RIP to allows (shrike)
# 040911 - Updated series (+Enterprise +Stargate) (shrike)
# 041104 - Added some series (wader)
# 041109 - Added LOL to affils (psychoffe)
# 041120 - TV.VCD -> TV.DIVX.DTV (shrike)
# 041121 - Removed affils EFTERLYST and KEBABTOMTE and added FLUFFERS (wader)
# 041128 - Added affil BRUTUS (wader)
# 041218 - Added SVCD.TC (shrike)
# 041231 - Removed DEITY (shrike)
# 050216 - Removed ConFuSiON from affils (psychoffee)
# 050218 - Added SPARE (wader)
# 050319 - ROR->ZWT (shrike)
# 050602 - Added PEEPSHOW and Wastedtime (wader)
# 050902 - Updated (baker)
# 050910 - Updated allowed shows(orb)
# 050922 - added PSP section (orb)
# 051018 - Added SCREAM (wader)
# 051115 - maVen to affils (checker)
# 060106 - Added VCD.SCR (orb)
# 060330 - Removed Apps.Linux (baker)
# 060503 - Fixed some sections (wader)
# 060512 - Updated BOOKWARE filter
# 060523 - Removed Magnitude
# 061003 - Added APPS filter (checker)
# 061110 - Added south park and american dad to tv filter (sparky)
# 070223 - Added DIVX.R5 section (sparky)
# 090727 - Updated TV-series (wader)
# 091001 - Big update (shrike@trial)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
