##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TPA = FQM iNVFX JEI LOKi Pv
allows TPA = APPS DIVX.RET DIVX.SCR DVDR.RET DVDR.LIM DVDR.SCR DVDR.SCR.LIM GAMES GAMES.DVD CLONECD PS2DVD SVCD.TS SVCD.TC TV.DIVX.DTV VCD.SCR VCD.CAM VCD.TS VCD.TC XBOXDVD
filter TPA = TV.DIVX.DTV= -LOL|-TCM
banned TPA = 

# Changelog:
#
# 050415 - Site added (bourbon)
# 050415 - Blessed :) (shrike)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
