##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TPA2 = GOOGLE	
allows TPA2 = GAMES GAMES.DVD DVDR.RET DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM VCD.SCR TV.DIVX.DTV TV.DIVX.DSR XBOXDVD
banned TPA2 = SUB100
filter TPA2 = TV.DIVX.DTV= 24|Alias|Andromeda|Battlestar.Galactica|Charmed|CSI|Enterprise|The.Simpsons|Smallville|The.4400|Stargate|The.O.C.|Threshold 
filter TPA2 = TV.DIVX.DSR= Battlestar.Galactica|The.4400|Stargate 

# Changelog:
#
# 051102 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
