############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TPB1 = BATV FoV 
allows TPB1 = TV.X264.DTV TV.X264.DTV.1080 TV.X264.HDD X264.RET.720 X264.LIM.720 X264.CLS.720 GAMES GAMES.Linux XBOX360 XXX GAMES.MAC PS3
#banned TPB1 =
filter          TPB1 = GAMES        = -Razor1911|-RELOADED|-FLT|-SKIDROW|-MONEY|-CODEX|-HI2U|-ACTiVATED|-MONEY|-POSTMORTEM


x264formats             TPB1 = X264.*       = mkv

tvcountry              TPB1 = TV.X264.DTV   = US|UK
tvcountry              TPB1 = TV.X264.HDD = US

tvgenre                TPB1 = TV.X264.*   = Scripted|Animation|Cartoon|Variety

movieminyear TPB1 = X264.* = 2000
rating TPB1 = X264.* = 5.0 0 0


# Changelog:
#
# 110329 - Site added (rizza)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
