##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils       TPL = DAGGER DMT NGR CBGB MOTU TFAiSO GLoBAL LoCAL
banned       TPL = -ViTALiTY -SKIDROW -FASISO
allows       TPL = TV.X264.DTV TV.DIVX.DTV TV.DIVX.DSR GAMES GAMES.DVD NDS DIVX.RET DIVX.LIM DIVX.FOREIGN DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.R5.LIM DIVX.VHS DIVX.TC X264.RET.720 X264.CLS.720 DOX X264.LIM.720 DOX.DLC

filter          TPL = TV.DIVX.* = Real.Time.With.Bill.Maher|^Robot.Chicken.*XviD|^The.Daily.Show|^The.Colbert.Report|^Family.Guy|^QI.|The.Buzzcocks|^Have.I.Got.News.For.You
tvgenre         TPL = TV.DIVX.* = 
tvcountry       TPL = TV.DIVX.* = 

rating          TPL = X264.LIM.720 = 7.0 2000 0
rating 		TPL = X264.CLS.720 = 7.0 2000 0
x264formats    	TPL = X264.*       = mkv

exempt TPL = ^Top.Gear.*x264 ^South.Park.*x264 ^Saturday.Night.Live.*x264 ^The.Daily.Show.*x264 ^The.Colbert.Report.*x264 ^Real.Time.with.Bill.Maher.*x264 

#documentary is ok:

moviegenre      TPL = DIVX.* =
moviegenre      TPL = X264.* =

# Changelog:
#
# 040728 - Added DvP to affils (shrike)
# 040802 - Added -maVen to SVCD.TS filter (shrike)
# 040810 - Added DUTCH section/filter (shrike)
# 040815 - Added Nip.Tuck to TV.DIVX.DTV filter (shrike)
# 040824 - Removed iMS from affils (shrike)
# 040826 - Removed TDA from affils (shrike)
# 040830 - Fixed 'Dead.Like.Me' - moved from filter TV.VCD to TV.DIVX.DTV (shrike)
# 040914 - Added DIVX.FOREIGN to allows (shrike)
# 040914 - Added Joey to series filter (shrike)
# 040915 - Removed PS2RIP ..now i finally realized it's allowed! (shrike)
# 041001 - Removed SVCD.RET and VCD.TS/TC from allows, -VIDEOCD/-TCR from SVCD.TS filter (shrike)
# 041007 - Added FLiX to affils (shrike)
# 041019 - Added AURA to affils (shrike)
# 041019 - Added DAGGER to affils (bourbon)
# 051014 - Removed vcd.scr vcd.scr svcd.ts svcd.tc and added divx.ts divx.tc to sections, removed svcd.ts filter (psychoffee)
# 051102 - Removed TV.DIVX.DTV section (darkm)
# 051118 - Removed SMuT and FLiX from affils (psychoffee)
# 090422 - Added pci2 filters, changed all the sections and affils (dyna)
# 091119 - Classic x264 required rating lowered to 7.0
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
