##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TR = iNGOT DIMENSION AiRiSO CCCAM ARCADE HUBRiS LOL SiNNERS SWAG TESTBiLD SUSHi RiOT SAiNTS SECTOR7 SUXXORS VENOM XiSO KILLERS CODEX iNGOT
allows TR = APPS BOOKWARE DIVX.LIM DIVX.RET DOX GAMES SE.X264.720 SE.X264.1080 SE.TV.X264.DTV TV.X264.DTV PSP NDS XBOX360 PS3 WII WIIU X264.RET.1080 X264.LIM.1080 X264.RET.720 X264.LIM.720 X264.CLS.720 X264.CLS.1080 DOX.DLC GAMES.MAC
banned TR = -W4F -DOCERE -Genius -CCCUNT -PHXISO Datecode Datacode ^IBM DASSAULT .3DS -iMARS -FLEET -CBFM

filter TR = Wii= !USA|NTSC
filter TR = PS3= !USA|NTSC
#filter TR = APPS= !$INDUSTRIAL
filter TR = BOOKWARE= _AFTER_EFFECTS_|_ADOBE_|_PHOTOSHOP_|_Premiere_

filter TR = GAMES.MAC = -ACTiVATED

rating                 TR = X264.RET.* = 0.0 0 1
rating                 TR = X264.LIM.* = 7.0 0 1
rating                 TR = X264.CLS.* = 8.0 0 0
rating                 TR = DIVX.*     = 0.0 0 1

moviegenre             TR = DIVX.*       =

movieminyear           TR = X264.RET.*   = 2015
movieminyear           TR = X264.LIM.*   = 2015
movieminyear           TR = DIVX         = 2015
#movieminyear           TR = X264.CLS.*   = 1910

exempt                 TR = X264.*       = -AMIABLE

consoleregions         TR = XBOX360      = PAL|NTSC
consoleregions         TR = PSP          = PAL|NTSC

tvgenre    TR = TV.X264.DTV = Scripted
tvcountry  TR = TV.X264.DTV = US
#tvgenre    TR = TV.X264.SD = Scripted
#tvcountry  TR = TV.X264.SD = US

tvcountry TR = SE.TV.X264.DTV = SE
tvgenre TR = SE.TV.X264.DTV = Scripted|Sketch|Animation|Cartoon|Documentary|Reality



# Changelog:
#
# 040808 - removed TV.DVDR from allows (shrike)
# 040814 - removed ban -ALLiANCE (wader)
# 040814 - Added Stargate.Atlantis and The.4400 to TV.VCD and removed Friends
# 040823 - Removed nrd from users *rofl* (shrike)
# 040908 - Added Datecode to banned (shrike)
# 040909 - Added LOL to affils (shrike)
# 040909 - Removed Angel (finish) from series (shrike)
# 040909 - Added TV.DIVX.DTV (allows+filter) (shrike)
# 040910 - Removed PS2CD from allows (blade)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed FFN from affil (bourbon)
# 041004 - Added IBM DASSAULT to banned (shrike)
# 050228 - Added DIVX.LIM and DVDR.LIM (wader)
# 050328 - Added Pimp.My.Ride (shrike)
# 050829 - added mpt to banned (orb)
# 240311 - added AiRiSO ARCADE DiMENSiON HUBRiS iMBT LOL SiNNERS SWAG TESTBiLD SUSHi (rizza)
# 280311 - redid whole rules (rizza)
# 180611 - added bookware filter (rizza)
# 160203 - changed filter for bookware (ohno)
# 160630 - updated TV.X264.SE rule according to updated nordic.cfg (default)
# 160810 - removed SDTV for now till pci is fixed (ohno)
# 160922 - added VENOM as affil (ohno)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
