############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TRB = REWIND DORITOS STARLETS
allows TRB = GAMES GAMES.MAC APPS X264.RET.1080 X264.LIM.1080 DIVX.RET DIVX.LIM WII PS3 XBOX360
banned TRB = FASISO TINYISO
filter TRB = APPS= Microsoft|Symantec|Norton|Adobe|Cyberlink|Ahead|McAfee|Pinnacle|Magix|VMWare|TomTom

movieminyear   TRB = DIVX.* = 2011
movieminyear   TRB = X264.* = 2011
rating         TRB = DIVX.* = 4.0 0 0
rating         TRB = X264.* = 4.0 0 0

xxxstudio      TRB = XXX    = Anabolic|Anabolic.Video|Diabolic|Evil.Angel|Jules.Jordan|Private|Third.Degree|Zero.Tolerance


# Changelog:
#
# 130409 - Site added (shrike)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
