##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TRM = WAM HOODLUM GAMERZ CRiMSON TCM ALLiANCE Pr0nStarS TUN
allows TRM = APPS APPS.Linux DVDR.RET GAMES GAMES.DVD GERMAN PS2DVD SVCD.RET SVCD.RET.LIM SVCD.TC SVCD.TC.LIM SVCD.TS SVCD.TS.LIM VCD.SCR VCD.SCR.LIM VCD.TC VCD.TC.LIM VCD.TS VCD.TS.LIM XBOXDVD PS2CD
banned TRM = IBM TIVOLI BULLFROG DRABBITS $INDUSTRIAL CAD FANISO
#filter TRM = APPS= Adobe|Microsoft|Autodesk|Corel|Lexware|Macromedia|Magix|McAffee|Norton|Powerquest|Symantec|Pinnacle|Borland|Mathworks|Oracle|Steinberg

# Changelog:
#
# 040803 - THIS SITE IS NOT FULLY FIXED YET (i guess) - ANYONE?
# 040810 - Added filter for allowed APPS (checker)
# 040906 - Removed DvP CiNEVCD from affils (checker)
# 040906 - Added a bunch of movie sections (wader)
# 040906 - Disabled APPS filter (wader)
# 040920 - Removed Pornolation from affils (checker)
# 040921 - Added affil DoNE (wader)
# 041009 - Added section TV.VCD (wader)
# 041216 - Added GAMERZ to affils (?)
# 050109 - Added IATSE,FYC,MPAA to affils (checker)
# 050109 - Removed TV.VCD from allows casue affil only now (checker)
# 050109 - Added PS2CD to allows (psychoffee)
# 050130 - Removed SVCD.SCr from allows and FYC/IATSE/MPAA/PReCiSiON from affils (bourbon)
# 050530 - Rem. TEG-VCD (checker)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
