############################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TROY = AURA DAGGER DMT DvP FLiX HYPERION LIMIT MiRACLE ORGASM RARE RiOT SMuT
allows TROY = DIVX.FOREIGN DIVX.LIM DIVX.RET DIVX.SCR DIVX.SCR.LIM DOX DUTCH DVDR.RET GAMES GAMES.DVD PS2CD PS2DVD SVCD.TC SVCD.TS TRAILERS TV.DIVX.DTV TV.VCD VCD.SCR VCD.SCR.LIM XBOXDVD DOX.DLC
banned TROY = -GENIUS -PCDVD -SHOWTIME -FFM -IFXP -LLF -PHXISO -TUN
filter TROY = TV.DIVX.DTV= ^24|^Alias|^Andromeda|^Angel|^CSI|^CSI.Miami|Dead.Like.Me|Enterprise|^Gilmore.Girls|^Joey.S|^Las.Vegas|Nip.Tuck|Simpsons.S\d\d|^Smallville|The.4400|^Viva.la.Bam|^Will.and.Grace
filter TROY = TV.VCD= Chappelles.Show|South.Park
filter TROY = SVCD.TS= -Centropy|-TCF|-maVen
filter TROY = DUTCH= DIVX|XVID|De.Lamas
#note  TROY = FS ok for non-retails

# Changelog:
#
# 040728 - Added DvP to affils (shrike)
# 040802 - Added -maVen to SVCD.TS filter (shrike)
# 040810 - Added DUTCH section/filter (shrike)
# 040815 - Added Nip.Tuck to TV.DIVX.DTV filter (shrike)
# 040824 - Removed iMS from affils (shrike)
# 040826 - Removed TDA from affils (shrike)
# 040830 - Fixed 'Dead.Like.Me' - moved from filter TV.VCD to TV.DIVX.DTV (shrike)
# 040914 - Added DIVX.FOREIGN to allows (shrike)
# 040914 - Added Joey to series filter (shrike)
# 040915 - Removed PS2RIP ..now i finally realized it's allowed! (shrike)
# 041001 - Removed SVCD.RET and VCD.TS/TC from allows, -VIDEOCD/-TCR from SVCD.TS filter (shrike)
# 041007 - Added FLiX to affils (shrike)
# 041019 - Added AURA to affils (shrike)
# 041019 - Added DAGGER to affils (bourbon)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
