############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TSC = STARLETS DPXXXHD SCREAM iNFAMOUS STRANGE
allows TSC = XBOX360 X264.LIM.720 TV.X264.DTV DIVX.RET X264.RET.720 X264.CLS.720 DIVX.LIM XX.720 TV.X264.DVD TV.X264.SD
banned TSC = ViTALiTY TomTom 
exempt TSC = TV.* =^Top.Gear.S 

rating TSC = X264.CLS.720 = 7.0 10000 1
#rating TSC = DIVX.LIM= 6.5 500 1 
exempt TSC = XXX.720 = .
exempt TSC = XX.720 = .

movieminyear TSC = X264.RET.720      = 2010
movieminyear TSC = X264.CLS.720      = 1900
movieminyear TSC = DIVX.*      = 2010
tvcountry    TSC = TV.DIVX.DSR       = US 
tvcountry    TSC = TV.DIVX.DTV       = US 
tvcountry    TSC = TV.X264.DTV       = US 
tvgenre      TSC = TV.DIVX.DSR       = Scripted 
tvgenre      TSC = TV.DIVX.DTV       = Scripted 
tvgenre      TSC = TV.X264.DTV       = Scripted 
filter       TSC = TV.*              = !$REALITY-N-CRAP|$UK-SERIES 

x264formats    TSC = X264.*       = mkv 

# Changelog:
#
# 080128 - Site added (me)
# 080418 - Updated pci2 filters (who added them anyway!) (stealth)
# 080919 - Removed HD1080 from affils (dyna)
# 091222 - added rules for tvs (solar)
# 110326 - renamed from en to tsc (solar)
# 110701 - added X264.CLS.720 to allowed and added movieminyear (rizza)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
