##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TSW = AMSTEL ECHELON GP HCG JCT MRN SCOTCH SFM SPiRo SWE6RUS SweetDreamZ TDS TUN USA
allows TSW = DIVX.RET DIVX.SCR DIVX.LIM SVCD.RET VCD.SCR VCD.SCR.LIM DVDR.RET TV.DIVX.DTV GAMES GAMES.DVD APPS XBOXDVD PS2DVD
banned TSW = -MiRAGETV IBM 
filter TSW = TV.DIVX.DTV= !$REALITY-N-CRAP
filter TSW = APPS= !-MAGNITUDE|!-RiSE

# Changelog:
#
# 040808 - Site added (checker)
# 040810 - Filter added for APPS, indu only grps (checker)
# 040914 - Removed HLS from affils (checker)
# 040920 - Added ECHELON to affils (bourbon)
# 050413 - Fixed (shrike)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
