##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils TUS = ECHELON ZWTiSO PORNOLATiON RiSE
allows TUS = APPS DVDR.RET CLONECD CLONEDVD TV.DIVX.DTV VCD.SCR VCD.TC XBOXDVD
banned TUS = -RTFA -CAMEL -EiTHELiSO -MONTAGE -SiNiSTER -VERMiSO -TEG-TV -RCA -VIGILANTE -RiSCiSO -WOYiSO -GLORiOUS -JAGiSO -FANiSO -SWE6 -BHP -P.I.M.P -HafVCD
filter TUS = APPS= Adobe|Alias|^AND.|Autodesk|Avid|Borland|Cakewalk|Corel|Databecker|Discreet|Macromedia|Magix|Mcafee|Microsoft|Norton|Pinnacle|Powerquest|Roxio|Scansoft|Sonic|Symantec|Ulead|Veritas
filter TUS = TV.DIVX.DTV= ^24|Bernie.Mac|^Charmed|^CSI|^Desperate.Housewives|^ER.S|^Family.Guy|^Gilmore.Girls|^Hustle|^Lost|^Las.Vegas|^Law.And.Order|^Monk|^My.Name.is.Earl|^Prison.Break|Six.Feet.Under|Simpsons|^Smallville|^Sopranos|Spooks|^Top.Gear|^Will.And.Grace|^Formula1|^Future.Weapons
filter TUS = TV.DIVX.DSR= Monk|Trippin.The.Rift
filter TUS = SVCD.TS= -Centropy
filter TUS = XBOXDVD= !DVD9

# Changelog:
#
# 040907 - Added GAMES.RIP to allows (shrike)
# 040910 - Removed PS2CD from allowed (blade)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed TV from affil (bourbon)
# 041220 - Added maVen to affils (bourbon)
# 050406 - Fixed affil line ...due guy's fuckup who added blueeyes, put rise and tvl together and didnt update changelog (shrike)
# 050829 - Changed VideoCD to FUCK and removed TVL (baker)
# 050913 - Updated affils (baker)
# 051008 - Added TVL to affils (shrike)
# 051019 - Added DVD9 bans to XBOXDVD/PS2DVD (gin)
# 051024 - Fixed allowed series and sections (gin)
# 051025 - Removed Allstars from affil (gin)
# 051116 - Removed TVL and added XOR to affils (gin)
# 060109 - Added SiLENTGATE (baker)
# 060301 - changed affils dunno who affils anymore (darkm)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
