###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#affils TV =
allows TV = TV.X264.HDD TV.X264.HDD.1080 TV.X264.DVD TV.X264.DTV TV.X264.DTV.1080 TV.X264.DOCU TV.X264.WEB TV.X264.WEB.1080
#banned TV = 

tvgenre         TV = TV.* = Scripted|Animation|Cartoon|Talkshow|Reality|Documentary|Variety|News|Sports|Gameshow       
tvcountry       TV = TV.* = US|UK|CA|AU|NZ

tvgenre         TV = TV.X264.DVD = Scripted
tvgenre         TV = TV.X264.HD* = Scripted



# Changelog:
#
# 121101 - Site added (rizza)
# 160413 - updated affils, and added TV-1080P + TV-1080P-BLURAY section (default)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
