# TVT

affils = BDA BRAVERY CiNEFiLE HOODLUM LPD PLUTONiUM RedBlade RESPAWN RUSTED TEASER VALUE VERUM VETO

rule DOX = DOX group:(BAT,CODEX,CPY,FLTDOX,HI2U,HOODLUM,PLAZA,RazorDOX,RELOADED,SKIDROW,TiNYiSO) windows mac std
rule GAMES = GAMES windows mac std

rule MOVIES.BDRip = MOVIES x264 bdrip limited year:2010 language:(English) sd std 
rule MOVIES.BDRip.CLS = MOVIES x264 bdrip limited rating:6 lrating:6 votes:10000 lvotes:10000 language:(English) sd stv cls std     
rule MOVIES.DVDRRip = MOVIES x264 bdrip limited year:2010 language:(English) sd std                                                  
rule MOVIES.DVDRip.CLS = MOVIES x264 bdrip limited rating:6 lrating:6 votes:10000 lvotes:10000 language:(English) sd stv cls std

rule MOVIES = MOVIES bluray 720p 1080p x264 year:2010 limited language:(English) std stdmovies
rule MOVIES.CLS = MOVIES bluray 720p 1080p x264 limited language:(English) std stv cls rating:6 votes:1000 lrating:6 lvotes:1000 stdmovies               
rule MOVIES.2160p = MOVIES uhdrip 2160p x265 year:2016 rating:5 lrating:5 limited language:(English) std stdmovies cls                     

rule TV = TV 720p 1080p currentseason nw_us nw_gb hdtv h264 dupesweb dupeshdtv web webrip x264 Scripted language:(English) std
rule TV = TV 720p 1080p currentseason network:(amazon,netflix,youtube,youtube-premium) hdtv h264 dupesweb dupeshdtv web webrip x264 Scripted language:(English) std               
rule TV.XVID = TV xvid hdtv x264 scripted nw_us nw_gb currentseason dupesweb dupeshdtv language:(English) sd std
rule TV.WEB = TV web webrip x264 scripted nw_us nw_gb currentseason dupesweb dupeshdtv language:(English) sd std
rule TV.WEB = TV web webrip x264 scripted network:(amazon,netflix,youtube,youtube-premium) currentseason dupesweb dupeshdtv language:(English) sd std 
rule TV.BLURAY = TV 720p 1080p bluray language:(English) nw_us nw_gb x264 scripted airdate:2012 std
rule TV.BLURAY = TV 720p 1080p bluray language:(English) network:(amazon,netflix,youtube,youtube-premium) x264 scripted airdate:2012 std

rule PS4 = PS4 pal ntsc rf dupesJPN std

# NAME           PATH

dir DOX           = /incoming/dox
dir GAMES         = /incoming/games
dir MOVIES        = /incoming/x264-hd        
dir MOVIES.BDRip  = /incoming/x264-sd
dir MOVIES.DVDRip = /incoming/x264-sd
dir MOVIES.2160p  = /incoming/x265-uhd
dir MOVIES.BDR    = /incoming/bluray
dir MOVIES.UHD    = /incoming/x265-uhd   
dir TV            = /incoming/tv-hd
dir TV.SD         = /incoming/tv-sd        
dir TV.BLURAY     = /incoming/tv-bd        
dir PS4           = /incoming/ps4
dir SPORTS        = /incoming/tv-hd   
dir XXX           = /incoming/xxx 

