############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils TWZ = AVCHD BiA Counterfeit DiVERGE FLT HALCYON ISO MELITE
allows TWZ = APPS.Linux APPS APPS.DVD CLONECD CLONEDVD GAMES TV.X264.DTV X264.RET.720 X264.CLS.720 X264.LIM.720 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 TV.X264.HDD GAMES.MAC TV.X264.WEB
banned TWZ = -ViTALiTY 
filter TWZ = APPS.* = !$INDUSTRIAL 

x264formats            TWZ = X264.*       = mkv 

movieminyear           TWZ = X264.CLS.720  = 1900 
movieminyear           TWZ = X264.CLS.1080 = 1900 
movieminyear           TWZ = X264.RET.720  = 2007 
movieminyear           TWZ = X264.RET.1080 = 2007 
movieminyear           TWZ = X264.LIM.720  = 2007 
movieminyear           TWZ = X264.LIM.1080 = 2007 

moviegenre             TWZ = X264.* = 
tvcountry              TWZ = TV.*   =
rating                 TWZ = X264.CLS.720  = 5.0 0 0 
rating                 TWZ = X264.CLS.1080 = 5.0 0 0 
rating                 TWZ = X264.RET.720  = 5.0 0 0 
rating                 TWZ = X264.LIM.1080 = 5.0 0 0 
rating                 TWZ = X264.LIM.720  = 5.0 0 0 
rating                 TWZ = X264.RET.1080 = 5.0 0 0 


# Changelog:
#
# 080818 - Site added (me)
# 110324 - added HALCYON (rizza)
# 110324 - Changed 2nd line from bottum from X264.RET.720 (was double) into X264.LIM.720 (rizza)
# 210611 - removed TWiZTED (rizza)
# 160903 - removed thugline as affil (ohno)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
