###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

#added alliance they pre when they feel like it not always
affils U = DoNE HI2U DOGE MAGNiTUDE BAT ALLiANCE
allows U = APPS APPS.DVD APPS.MAC APPS.Linux CLONECD CLONEDVD GAMES DIVX.RET DIVX.LIM X264.RET.720 X264.LIM.720 NDS MP3 0DAY DOX DOX.DLC
banned U = -PLAZA -ACTIVATED

#removed tv until this site is more than 50mbit

movieminyear U = X264.* = 2013
movieminyear U = DIVX.* = 2013


# Allowing all countries:
tvcountry              U = TV.DIVX.DTV= US|AU|UK
tvcountry              U = TV.DIVX.DSR= US|AU|UK
tvcountry              U = TV.X264.DTV= US|AU|UK

rating                 U = X264.* = 0.0 0 1
rating                 U = DIVX.* = 0.0 0 1

#filter U = XXX = -Pr0nStarS|-PORNOLATION|-CHiKANi


# Changelog:
#
# 040817 - Site added (checker)
# 040923 - Added CLONECD to sections (checker)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed FFN from affil (bourbon)
# 041017 - removed svcd section (bourbon)
# 051116 - Removed TVL and added XOR to affils (gin)
# 051122 - Updated affils entirely. (ks)
# 051202 - added SHOCKiSO to affils (darkm)
# 060217 - removed XOR from affils (gin)
# 060222 - added CLONECD to affils(baker)
# 060225 - added NeDiVx to affils(sparky)
# 061018 - added ALLiANCE (baker)
# 080418 - Added pci2 filters (stealth)
# 090320 - Removed $DSRDUPES (shrike)
# 140813 - Removed PS3/WII (shrike)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
