############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils UN = DAGGER DivXfacTory DNL EMERALD MDP PROCYON pSyPSP REMAX ThP RiVER TVFF
allows UN = GAMES GAMES.DVD DVDR.RET DVDR.LIM DVDR.SCR DIVX.RET DIVX.VHS DVDR.SCR.LIM DIVX.LIM DIVX.SCR DIVX.SCR.LIM DIVX.R5 DIVX.TC XBOXDVD PS2DVD PSP TV.DIVX.DTV TV.DIVX.DSR TV.DIVX.HR TV.X264.DVD XXX XBOX360 TV.DIVX.HR
banned UN = $INDUSTRIAL -PLEX -FASISO -MAGNiTUDE M.I.High.S\d
filter UN = GAMES.DVD=   !DVD9
filter UN = XBOXDVD=     !DVD9
filter UN = PS2DVD=      !DVD9
filter UN = TV.DIVX.DSR= !$REALITY-N-CRAP
filter UN = TV.DIVX.DTV= !$REALITY-N-CRAP
filter UN = TV.DIVX.HR= !$REALITY-N-CRAP
filter UN = TV.X264.DVD= ^24[._]|Alias[._]!SMITH|Band.of.Gold[._]|Battlestar.Galactica|Deadwood.|Friends[_.]|Futurama[._]|^Hex[._]|^Huff[._]|^Joey[_.]|^Lost[._]|Malcolm.in.the.Middle|Over.There|Prison.Break|^Rome.S|^Scrubs|Significant.Others|Sleeper.Cell|^Sopranos|South.Park|The.4400|Adventures.of.Superman|Blue.Planet|The.IT.Crowd|^The.Simpsons|Tittybangbang|Top.Gear|Tour.of.Duty|Trap.Door|Arrested.Development|^Charmed.S|^Las.Vegas|Will.and.Grace|^Entourage|Family.Guy|American.Dad|^Weeds|The.OC|The.O.C|Desperate.Housewives|^House|Peep.Show|Nip.Tuck|The.L.Word|Drawn.Together|Chapelles.Show|^Spooks|^Hustle|Hotel.Babylon|Green.Wing
filter UN = XXX= -PORNOLATION|-DiVXFACTORY
exempt UN = Planet.Earth Fifth.Gear Top.Gear Have.I.Got.News.For.You Regenesis Black.White
#note UN = DVDR.LIM = 6.0/500+ only

# Changelog:
#
# 060503 - Site added (acidbr)
# 060504 - Fixed and added tons of missing stuff :~ (shrike)
# 060513 - SVCD.TS/TC -> DIVX.TS/TC (shrike)
# 060824 - XBOX360 to allows (checker)
# 060901 - Removed Apps from allows (checker)
# 060912 - Added DIVX.VHS (shr)
# 070511 - Fixed affils (stealth)
# 070521 - Added TVFF (stealth)
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
