##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils UPC-PRE = AI ANiHLS BBF BBX BMF BSOUNDZ CFE DYNAMiCS EcHoS GP GoDSMaCK HafVCD JKR MOONCUBE NBP S6 SPiRO STARCUBE STINKYCUBE STRESS SaG SiLENTGATE SoSISO TUBE W3D WUF XPDVD BBXviD HYdRO bC UMD BiS
allows UPC-PRE = 
banned UPC-PRE = 

# Changelog:
#
# 060120 - Site added (acidbr)
# 060404 - STRESS added as affil (spark)
# 060612 - HafVCD added as affil (sillix)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
