##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils UPC = BLOW DivXfacTory DONE DVTISO HAIDEAF HAGGiS KEISO MTB LAP NODLABS QUASAR RIVER SNOW TLA WEST
allows UPC = APPS APPS.MAC APPS.Linux BOOKWARE DIVX.RET DIVX.LIM DOX DOX.DLC GAMES GAMES.MAC GAMES.LINUX TV.X264.DTV X264.RET.720 X264.RET.1080 X264.LIM.720 XBOX360 TV.X264.WEB
banned UPC = -FLEET

rating UPC = DIVX.RET = 1.0 100 1
rating UPC = DIVX.LIM = 6.0 175 1
rating UPC = X264.RET.720 = 1.0 100 1
rating UPC = X264.LIM.720 = 6.0 300 1
rating UPC = X264.RET.1080 = 5.0 1 1

filter UPC = TV.X264.SD= !$REALITY-N-CRAP
exempt UPC = TV.X264.DTV = ^Masterchef

movieminyear  UPC = X264.* = 2009
movieminyear  UPC = DIVX.* = 2009

#tvgenre UPC = TV.X264.SD = Scripted
#tvgenre UPC = TV.X264.DTV = Scripted

tvcountry UPC = TV.X264.* = US|UK

 
# 29022016 - added HAGGiS as affil (ohno)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
