
SITE = SITE1 SITE77
SITE SITE3 AZP DNL

host = localhost
password = 123456
port = 55477

blacklist = -LAMEGROUP
whiteliest = star.wars.next.big.movie.2025.x264.bluray-LAMEGROUP

sectionblacklist = *
sectionwhitelist = GAMES MOVIES

networkblacklist = disney
networkwhitelist = disney


#TODO: ADD ALL POSSIBLE CONFIGURATION VALUES HERE TO HAVE A TEMPLATE


