

SITE = SITE1 SITE2
SITE = ZH
SITE = GP
SITE = BBR
#SITE = DNL
#SITE = RATS
#SITE = SITE1

tvcountry    VAL = TV.*         = US|CA|UK #we override the site rules for site1 allowing only US,CA,UK tv shows for TV.* sections
tvgenre      VAL = TV.*         = Scripted #we override the site rules for site1 allowing only Scripted shows for TV.* sections


whitelist = matrix

host = localhost
password = 8d969eef6ecad3c29a3a629280e686cfc3f5d5a86aff3ca122c923adc6c92
cbpassword = 123456
port = 55477

