

SITE = SITE1 SITE2
SITE = A5A BAN BRW DNS EF HH ZH AZP BBR CAVE DOM EPH JB TPB BBR-TBS CP DOOM EXN KOH BAE BOOM CW DVN G4Y GP MF
#SITE = DNL
#SITE = RATS
#SITE = SITE1




host = localhost
password = 8d969eef6ecad3c29a3a629280e686cfc3f5d5a86aff3ca122c923adc6c92
cbpassword = 123456
port = 55477

whitelist = Mickey.Mouse
groupblacklist = landev

networkwhitelist = DisnEY
