#sectionblacklist =

#sectionwhitelist =

#networkblacklist =

#networkwhitelist =

#blacklist =

#whitelist =



SITE = A5A AZP BAE BAN BBR BOOM BRW CAVE CP CW DNS DOM DOOM

SITE = DVN EF EPH EXN G4Y GOT GP HH HLN HR HSR ID JB JC KOH

SITE = LD M MEC MF ML MWN NJ ORB PN QUBE RATS RFA SF SFC SH

SITE = SIL TB TG THS TOSY TPB TT US W42 ZH


HOST = localhost

PASSWORD = 8d969eef6ecad3c29a3a629280e686cfc3f5d5a86aff3ca122c923adc6c92
cbpassword = 123456

PORT = 45476



