#sectionblacklist = XXX
#sectionwhitelist = GAMES
#releaseblacklist =
#networkblacklist = FOX
#networkwhitelist = AMC
#blacklist = -CiELOS

SITE = BBR BRW DNS DOM EF G4Y TPB BBR-TBS
SITE = HH JB GP KOH MF ZH
SITE = SITE2

HOST = localhost
PASSWORD = 8d969eef6ecad3c29a3a629280e686cfc3f5d5a86aff3ca122c923adc6c92
cbpassword = 123456
PORT = 49723

