SHOW_ECHOES = 1 #shows the amount of people send the catched release from pirssi to pri after X mins after the initial catch was send
SHOW_LOGO = 1 #shows phase logo
SHOW_BENCHMARK = 0 #shows benchmark time
DEBUG = 30 # level of debug output to debug.log
CBFTPDAEMONPASSWORD = yuyuyu #udp password
CBFTPPORT = 6666 #udb port

ignore = [._]internal[._-]!KILLERS #we override the global config for only this user
ignore = NORWEGIAN SUBBED #see above

unignore = -GROUP1|-GROUP2 #if this is set we ignore all other releases EXCEPT if its from those groups

sectionsunignore = GAMES X264.RET.1080 PS4 #if set we ignore every section EXCEPT those sections

#INCLUDE general #including the general config   #### deparced, new separate config word
#INCLUDE nordic #including the nordic config   #### deparced, new separate config word

BASECONFIG general #including the general config
BASECONFIG nordic #including the nordic config

custom tv.x264.web.1080 = SITE1,SITE3,SITE6 = TVShow.*-GROUP1 #a custom chain, we dont pay attention to any rules or sections we just send the udp command to cb as: password tv.x264.web.1080 TVShow.S01E01.1080.WEB.x264-GROUP1 SITE1,SITE3,SITE6


#SITE = AZP  DNL
SITE = SITE1 SITE2 SITE3 SITE7
SITE = SITE1


tvcountry    VAL = TV.*         = US|CA|UK #we override the site rules for site1 allowing only US,CA,UK tv shows for TV.* sections
tvgenre      VAL = TV.*         = Scripted #we override the site rules for site1 allowing only Scripted shows for TV.* sections


HOST = localhost
password = 8d969eef6ecad3c29a3a629280e686cfc3f5d5a86aff3ca122c923adc6c92
cbpassword = 123456
PORT = 55477

sectionblacklist = *
sectionwhitelist = MOVIES SPORTS GAMES

--blacklist = *
--whitelist = 10
