##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils UTT = AVALANCHE DoNE iNNSYN MATERiA SoSiSO EcHoS
allows UTT = APPS DIVX.RET DIVX.LIM DVDR.RET DVDR.LIM GAMES GAMES.DVD
#banned UTT = 

# Changelog:
#
# 040930 - Site added (bourbon)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
