##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils V = ASSASS1NS AVS720 MVHiTS pSyPSP SiGHT XPA
allows V = APPS.Linux APPS APPS.DVD GAMES GAMES.DVD GAMES.DE XBOX360 Wii PSP X264.RET.720 X264.DE DIVX.TS DIVX.TC DIVX.R5 DIVX.SCR DIVX.RET TV.DIVX.DE DIVX.DE DVDR.DE XXX  TV.X264.DVD.DE
banned V = -RUiNS -FASiSO -ViTALiTY -PreVail -VoMiT -VST -AiRWAVES -XMF 

filter V = APPS.*=               !$INDUSTRIAL

movieminyear V = X264.*=       2008
movieminyear V = DIVX.*=       2008

filter V = XXX=                -DivXfacTory|-Pr0nStarS

filter V = X264.DE = [_.]1080p[._-]
filter V = TV.DIVX.DE = -INSPIRED|-SOF|-ITG
filter V = TV.DIVX.DU.DE = -INSPIRED|-SOF|-ITG

x264formats V = X264.720.RET = mkv

# Changelog:
#
# 040803 - NOT FULLY FIXED ...do it! * Gbit.hu "VEGAS"
# 090102 - Rules,affils updated (dyna)
# 090119 - added BAND1D0S as affil (orb)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
