############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in wXXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils VC = BLiZZARD BLZiSO DETAiLS DNL GRMV kHzViD MiGHTY MOD MONOBiLD NextLevel NGX NGXHD SiGHT SightHD SOF sUppLeX uva WDE YSP HDViSiON
allows VC = TV.X264.DE TV.DIVX.DE TV.DIVX.DU.DE TV.DIVX.DTV GAMES DIVX.RET DIVX.LIM DIVX.DE XBOX360 WII DIVX.TC DIVX.TS DIVX.R5 DIVX.SCR DIVX.DE.LD APPS APPS.Linux APPS.MAC X264.RET.720 X264.DE.720 APPS.DE 
banned VC = -FASiSO -RHI -ViTALiTY -YPOGEiOS -TiNYiSO 

filter VC = APPS     = -CYGiSO|-RESTORE|-Substance 
exempt VC = APPS.MAC = ^Galileo|^Video2Brain 
exempt VC = APPS     = ^Galileo|^Video2Brain 
filter VC = X264.DE.720= !19[0-9][0-9]|200[0-7] 

tvcountry    VC = TV.X264.DE = 
tvcountry    VC = TV.DIVX.DE = 
tvcountry    VC = TV.DIVX.DU.DE = 
tvcountry    VC =  TV.X264.DVD.DE = 

# Changelog:
#
# 091001 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
