############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils VMX = FKKDVDR KiSS MLAB MRN RAGEDVD Unleashed ZN iKA
allows VMX = DIVX.RET DIVX.SCR DIVX.LIM DIVX.SCR.LIM DIVX.TS DIVX.TC DIVX.R5 GAMES GAMES.DVD TV.DIVX.DTV TV.DIVX.DSR PS2DVD DVDR.RET TV.DIVX.DTV
banned VMX = $REALITY-N-CRAP $UK-SERIES
#filter VMX = TV.DIVX.DTV= ^Heroes|^24|^StarGate|^Lost|^ReGenesis|BSG|^Rome|^Supernatural|^The.4400|^Eureka|^Prison.Break|^Eureka|^Numb3rs|^The.Unit|^Painkiller|^Jane

# Changelog:
#
# 070512 - Site added (checker)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
