

SITE = SITE1 SITE2
#SITE = A5A BAN BRW DNS EF HH ZH AZP BBR CAVE DOM EPH JB TPB BBR-TBS CP DOOM EXN KOH BAE BOOM CW DVN G4Y GP MF
#SITE = DNL
#SITE = RATS
#SITE = SITE1



tvcountry    VAL = TV.*         = US|CA|UK #we override the site rules for site1 allowing only US,CA,UK tv shows for TV.* sections
tvgenre      VAL = TV.*         = Scripted #we override the site rules for site1 allowing only Scripted shows for TV.* sections


host = localhost
password = watchdogUSER
port = 55477

whitelist = Mickey.Mouse

networkwhitelist = DisnEY
