############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils WCR = 433 ARROGANE AZuRRaY CCE DEFiNiTE GAIJIN.HQ GENESIDE hV NYMPHO TACTiLE WPi SPAREL CiNEFiLE
allows WCR = APPS APPS.MAC APPS.Linux APPS.DVD NORDIC DVDR.RET DVDR.SCR DVDR.LIM DVDR.SCR.LIM X264.RET.720 X264.LIM.720 X264.CLS.720 X264.RET.1080 X264.LIM.1080 X264.CLS.1080 PS2DVD TV.X264.DTV TV.X264.HDD TV.DIVX.DTV TV.X264.DVD TV.DIVX.DSR WII XBOX360 DIVX.RET DIVX.STV DIVX.LIM DIVX.R5 DIVX.TC DIVX.TS DIVX.LIM DIVX.SCR.LIM DIVX.R5.LIM GAMES GAMES.DVD
banned WCR = -mVs|-PreVail|-KAMERA|-RUiNS|-iVE|-BaLD|-TRADiNGSTANDARDS

x264formats WCR = x264.* = mkv
tvstartyear            WCR = TV.X264.DVD= 1890
tvgenre                WCR = TV.X264.DVD= Scripted|Cartoon|Animation
tvcountry              WCR = TV.X264.DVD= US|UK
tvcountry              WCR = TV.DIVX.DTV= US|UK
tvcountry              WCR = TV.X264.DTV= US|UK
movieminyear           WCR = X264.* = 1800
# Changelog:
#
# 080711 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
