##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

## README 
## 12:15 >>> SITE dupe 1080p
## 12:15 200- 0 of 0 dupes listed. (35 total)
## 1080p is not traded there they only allow first rip no dupes .. don't add it to pci if its not traded thx -none


affils WH = BiA CiNEFiLE DHD FFNDVD HAGGiS MEDiEVAL NODLABS ORENJi QiX REPRiSE RETREAT SFM SPACE SUG XOR
allows WH = DIVX.RET DIVX.LIM DIVX.R5 DIVX.SCR NORDIC TV.X264.DTV X264.RET.720 X264.LIM.720
banned WH = -UNiTY -UKTV PROPER..DTV.XVID-LOL DTV.XviD.PROPER-LOL
filter WH = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES|PDTV
filter WH = NORDIC=      SWEDISH|DANISH|NORWEGIAN !SCREENER !SVCD !SWEDISH.+DVDR- !DANISH.+DVDR-
#filter WH = TV.X264.DTV= ^Californication|^Entourage|^Heroes|^Lost|^Smallville|^Supernatural|^Weeds
filter WH = TV.X264.DVD= ^Battlestar.Galactica|^Carnivale|^Charmed|^Dr.Who|^Earth.Final.Conflict|^Invasion|^Lost|^Odyssey.5|^Prison.Break|^Seinfeld|^Smallville|^Stargate|^Star.Trek|^Surface|^The.4400
filter WH = TV.DIVX.DSR= ^American.Dad|^Battlestar.Galactica|^Charmed|^Colbert.Report|^Curb.Your.Enthusiasm|^Dr.Who.2005|^Ebert.And.Roeper|^Family.Guy|^Gumball|^Joey|^Mythbusters|^Real.Time.With.Bill.Maher|Simpsons|^South.Park|^Stargate.Atlantis|^Stargate.SG|^The.4400|^The.Daily.Show|^The.Shield|^Thief|^Work.Out|^X.Play|^Paranormal|^Haunting|^UFO
exempt WH =              ^American.Dad ^Battlestar.Galactica ^Charmed ^Colbert.Report ^Curb.Your.Enthusiasm ^Dr.Who.2005 ^Ebert.And.Roeper ^Gumball ^Joey ^Mythbusters ^Real.Time.With.Bill.Maher Simpsons ^South.Park ^Stargate.Atlantis ^Stargate.SG ^The.4400 ^The.Daily.Show ^The.Shield ^Thief ^Work.Out ^X.Play ^Paranormal ^Haunting ^UFO

movieminyear           WH = DIVX.RET      =    2007
movieminyear           WH = DIVX.LIM      =    2007
movieminyear           WH = DIVX.SCR      =    2007
movieminyear           WH = X264.RET.720  =    2007
movieminyear           WH = X264.LIM.720  =    2007

rating                 WH = DIVX.LIM      =    6.0 100 1
rating                 WH = X264.RET.720  =    4.0 1000 500
rating                 WH = X264.LIM.720  =    4.0 1000 1
rating                 WH = X264.RET.1080 =    4.0 1000 500
rating                 WH = X264.LIM.1080 =    4.0 1000 1

x264formats            WH = X264.*        =    mkv

# Changelog:
#
# 040729 - Site added (wader)
# 040808 - ^Roswell added to tv filter (checker)
# 040808 - Added TV.X264.DVD to allowed and added Filter (checker)
# 040809 - Fixed TV.X264.DVD filter (wader)
# 040821 - Added OMiCRON as affils (wader)
# 040828 - Added ^Alias to TV.X264.DVD filter (checker)
# 040830 - Added ALLiANCE as affils (wader)
# 040918 - Added voyager to tv.divx.dvd (blade)
# 040924 - Fixed NORDIC filter a bit (wader)
# 040924 - Added section DIVX.SCR.LIM (wader)
# 040925 - added raped tv rules (blade)
# 040925 - added !SWEDISH.+DVDR- and !DANISH.+DVDR- to nordic filter (blade)
# 041221 - added Las.Vegas to TV.X264.DVD (bourbon)
# 050130 - Removed DiTS and PHRENiC (wader)
# 050601 - Added NBA to TV.DIVX.DTV (shrike)
# 051117 - XOR to affils (checker)
# 060926 - Fixed some series and added pdtv exempt etc (wader/shrike)
# 080331 - Added X264.RET.720 year filter (shrike) 
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
