##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils WISHDVD = FFNDVD CHEETAH-TV MEDiEVAL uDF
allows WISHDVD = TV.X264.DVD TV.DVD.SCR TV.DVDR
filter WISHDVD = TV.X264.DVD= 24|^Alf|^Alias|^Andromeda|^Arrested.Development|^Boy.Meets.World|^Carnivale|^Cheers|^CSI|^CSI.Miami|^Dead.Like.Me|^Everybody.Loves.Raymond|^Everwood|^Frasier|^Home.Improvement|^Knight.Rider|^Law.and.Order|^Mad.About.You|^Malcolm.in.the.Middle|^Married.With.Children|^Nip.Tuck|^Roswell|^Seinfeld|^Six.Feet.Under|^Sliders|^Smallville|^Stargate.S|^That.70s.Show|^The.Dead.Zone|^The.O.C|^The.Simpsons|^The.Shield|^The.West.Wing|^The.Wire|^Tru.Calling|^Will.and.Grace|Voyager|^Without.A.Trace
filter WISHDVD = TV.DVDR= ^3rd|^Arrested|^Carnivale|^CSI.Miami|Nikita|^Millennium|Seinfeld|Smallville|Voyager|West.Wing|Tru.Calling

# Changelog:
#
# 040831 - Site added (bourbon)
# 040918 - added voyager to tv.divx.dvd (blade)
# 040922 - added MEDiEVAL to affils
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
