##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils WISH = 442 BuSTeD Cheetah-TV GOTHIC TVL HV mVzTV NWP PHRENiC SC SChiZO VFUA
allows WISH = TV.DIVX.DTV
banned WISH = ROTFL  King.Of.The.Hill
#filter WISH = TV.VCD= S01E01|S00E00|S01\.E01|^24|^8.Simple.Rules|^Alias|^Andromeda|^Arrested.Development|^Big.Brother|^Carnivale|^Charmed|^Cold.Case|^CSI|^CSI.Miami|^CSI.New.York|^Dead.like.me|^Deadwood|^Enterprise|^ER|^Everwood|^Fearless|^Gilmore.Girls|^Grounded.for.Life|^Joan.of.Arcadia|^King.of.the.Hill|^Las.Vegas|^Malcolm.in.the.Middle|^Mutant.X|^Nip.Tuck|^NYPD.Blue|^Scrubs|^Smallville|^South.Park|^Spooks|^Stargate.Atlantis|^Stargate.SG-1|^Survivor|^That.70s.Show|^The.Amazing.Race|^The.Dead.Zone|^The.O.C|^The.Shield|^The.Simple.Life.2|^The.Simpsons|^The.West.Wing|^Tru.Calling|^Will.and.Grace|^Without.A.Trace
#filter WISH = TV.SVCD= ^24|^8.Simple.Rules|^Alias|^Andromeda|^Arrested.Development|^Big.Brother|^Carnivale|^Charmed|^Cold.Case|^CSI|^CSI.Miami|^CSI.New.York|^Dead.like.me|^Deadwood|^Enterprise|^ER|^Everwood|^Fearless|^Gilmore.Girls|^Grounded.for.Life|^Joan.of.Arcadia|^King.of.the.Hill|^Las.Vegas|^Malcolm.in.the.Middle|^Mutant.X|^Nip.Tuck|^NYPD.Blue|^Scrubs|^Smallville|^South.Park|^Spooks|^Stargate.Atlantis|^Stargate.SG-1|^Survivor|^That.70s.Show|^The.Amazing.Race|^The.Dead.Zone|^The.O.C|^The.Shield|^The.Simple.Life.2|^The.Simpsons|^The.West.Wing|^Tru.Calling|^Will.and.Grace|^Without.A.Trace


# Changelog:
#
# 040831 - Site added (bourbon)
# 040918 - added s01e01 to tv.vcd (blade)
# 040927 - added TVL to affil (bourbon)
# 040927 - removed FFN from affil (bourbon)
# 040930 - Add ROTFL to bans (bourbon)
# 041124 - Add GOTHIC to affils (bourbon)
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
