##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils WOD = AVALANCHE CRiMSON dGV BBF AMSTEL HATE PHOENiX XV NxM
allows WOD = XXX DIVX.RET DVDR.RET VCD.SCR TV.DIVX.DTV TV.VCD 
banned WOD = EiP zr0 AUD TST FOS ESK SS CNMC AMRC PMS SER SRM
filter WOD = XXX= -DVNVCD|-eXXXtasy|-LDSXXX|-VINTAGE|-RoSeXXX|-NovaVCD|-Pr0nStarS|-MIRAGE|-SMuT|-PMP|-XCiTE|-xDMNx|-SPiCE
filter WOD = TV.DIVX.DTV= ^Im.With.Her|^One.Three.Hill|^The.L.Word|^Tru.Calling|^Touching.Evil
filter WOD = TV.VCD= ^American.Idol|^Average.Joe|.Chapelles.Show|^Crank.Yankers|^Ed|^Newlyweds|^Reno 911|^Scare.Tactics|^Scrubs|South.Park|^Survivor|^The.Apprentice|^The.Sopranos|^The.Simpsons|^The.Surreal.Life|^Touching.Evil|^Viva.La.Bam|^Wildboyz

# Changelog:
#
# 040806 - Site added (checker)
# 040809 - Added TV.VCD filter (checker)
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
