############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils WOW = iFPD LPD NOSCREENS PRiNCE SMACKs SWE6RUS TEASER UPPERCUT VALUE
allows WOW = DIVX.RET DIVX.LIM GAMES GAMES.MAC DOX TV.X264.DTV TV.X264.WEB TV.X264.HDD XBOX360 WII X264.RET.720 X264.LIM.720 XXX SE.TV.X264.DTV
banned WOW = YOURMOTHER

rating WOW = DIVX.* = 1.0 0 1
rating WOW = X264.* = 1.0 0 1

movieminyear WOW = DIVX.* = 2012
movieminyear WOW = X264.* = 2012

filter WOW = WII = !USA|NTSC
tvstartyear WOW = TV.X264.HDD = 2000
tvgenre WOW = TV.* = Scripted|Animation
tvcountry WOW = TV.X264.DTV = US|UK|CA
tvcountry WOW = TV.X264.HDD = US
filter WOW = XXX = -Pr0nStarS

# Changelog:
#
# 130903 - Site added (g0ne)
# 160413 - updated affils (default)
# 160620 - updated new TV.X264.SE rule and deleted old one (default)
# 160630 - updated TV.X264.SE rule according to updated nordic.cfg (default)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
