###########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils WWE = RoME MeLA NBS TEG-DVD ROYAL Hype ThP OMiCRON
#allows WWE = APPS APPS.MAC GAMES GAMES.DVD XBOXDVD DIVX.RET PS2DVD TV.DIVX.DTV SVCD.RET DVDR.RET SVCD.TS VCD.SCR SVCD.TC SVCD.CAM
allows WWE = SVCD.RET
banned WWE = -PNWiSO -BALTHAZAR -FRiGHT -ViM -FASiSO -SCANDiC


# Changelog:
#
# 040806 - Site added (checker)
# 040913 - added XPD to affils (blade)
# 040925 - added VCD.CAM to allows and added JEI to affils (blade)
# 051021 - changed affils (acidbr)
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
