##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils WY = AVALANCHE DFA DVDR HURRiCANE KEBABSAX PiTch2oo4 ViLSE ViViD VoLVo
allows WY = APPS BOOKWARE CLONECD DIVX.RET DIVX.LIM DIVX.SCR DVDR.RET GAMES NORDIC SVCD.TC SVCD.TS XBOXDVD XXX
#banned WY = 
filter WY = XXX= -PORNOLATiON|-Pr0nStarS|-SMuT|-SWE6RUS
filter WY = NORDIC= DVDR.PAL|PAL.DVDR

# Changelog:
#
# 050831 - Site added (wader)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
