############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils X = 2HD CINEFILE GLOBAL GNARLY LOCAL PROCISION REIGN ZRY LMAO TGP APATHY PreCiSiON XBOX360 WII CLANDESTiNE SUBMERGE IMMERSE SECTOR7 IMBORED HALCYON TOPAZ
allows X = DIVX.RET DIVX.LIM DIVX.SCR DIVX.R5 GAMES PS2DVD PSP TV.DIVX.DTV TV.DIVX.DSR WII XBOX360 TV.X264.DTV X264.RET.720 X264.LIM.720 TV.X264.HR 
filter X = TV.* = !$REALITY-N-CRAP|$UK-SERIES 
exempt X = ^Top.Gear ^Survivor.S ^The.Pacific 

x264formats            X = X264.*  = mkv 

consoleregions         X = PS2DVD  = PAL|NTSC 
consoleregions         X = WII     = PAL|NTSC 

rating X = X264.LIM.720 = 6.0 200 1 
movieminyear X = X264.RET.720 = 2007 
movieminyear X = X264.LIM.720 = 2008 

# Changelog:
#
# 081108 - Site added
# 090321 - Added Precision (dyna)
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
