############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils XB = MPTDVD TBE STRiKE SPARE IMMERSION CIMS
allows XB = APPS CLONECD CLONEDVD DIVX.RET DIVX.LIM DIVX.SCR DIVX.TS DIVX.TC DVDR.RET GAMES GAMES.DVD TV.DIVX.DTV TV.DIVX.DSR PS2DVD XBOXDVD XXX
banned XB = -aAF -UMD -DeFaCto -CRiMSON -PreVail -iND -REMAX -CLEAR -XiSO -THOR -PRIDEVCD
filter XB = TV.DIVX.DSR= !$REALITY-N-CRAP|$UK-SERIES
filter XB = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter XB = XXX= -pr0nstars
filter XB = CLONECD= ![._]SF.*Clone|[._]SF.*Cure
filter XB = CLONEDVD= ![._]SF.*Clone|[._]SF.*Cure

# Changelog:
#
# 060502 - Site added (shr)
# 060509 - +MPTDVD (wader)
# 060702 - +TBE guest (psy)
# 060710 - +STRiKE (shr)
# 060727 - -Redlight, +pr0nstars xxx filter (shr)
# 060904 - -DVD.SCR.LIM (shr)
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
