##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)  < one line only or $keywords to last one!
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils XPA-PRE = iKA LiNE W3D RIDERz BURGER DAMiAN CLEAR COBRA ESPiSE BiS
allows XPA-PRE = APPS GAMES VCD.SCR VCD.SCR.LIM DIVX.SCR DIVX.SCR.LIM XXX PS2DVD XBOXDVD DVDR.RET TV.DIVX.DT$
banned XPA-PRE = -FASiSO -TmN -DUTCHDVDR
filter XPA-PRE = APPS= Adobe|Macromedia|Microsoft|Nero|Norton|Pinnacle|Powerquest|RedHat|Steinberg|SuSe|Symantec|Tomtom
filter XPA-PRE = XXX= -Pr0nStarS
filter XPA-PRE = TV.DIVX.DTV= Charmed|^CSI|Enterprise|The.O.C|Simpsons|^Lost|^Joey|^Pimp.My.Ride

# Changelog:
#
# 051210 - Site added without divx.ret section (acidbr)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
