##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils XPA = BAVARiA BMB BURGER CLEAR COBRA ESPiSE iKA LiNE DMU CuriousJotos CRIME NEPTUNE
allows XPA = APPS GAMES VCD.SCR VCD.SCR.LIM DIVX.RET DIVX.SCR DIVX.RET.LIM DIVX.SCR.LIM XXX PS2DVD XBOXDVD DVDR.RET TV.DIVX.DTV PSP
banned XPA = -FASiSO -TmN -DUTCHDVDR
filter XPA = APPS= Adobe|Macromedia|Microsoft|Nero|Norton|Pinnacle|Powerquest|RedHat|Steinberg|SuSe|Symantec|Tomtom
filter XPA = XXX= -Pr0nStarS
filter XPA = TV.DIVX.DTV= Battlestar.Galactica|^Charmed|^CSI|Enterprise|^ER|^Fifth.Gear|^Joey|^Lost|^My.Name.Is.Earl|^Numb3rs|^Pimp.My.Ride|^Stargate|^Smallville|^Surface|^Top.Gear|The.O.C|Simpsons

# Changelog:
#
# YYMMDD - Site added (blade)
# 040926 - updated affils (blade)
# 051008 - updated affils (orb)
# 051015 - added riderz (orb)
# 051103 - added BURGER (acid)
# 051117 - added DAMiAN (orb)
# 050107 - added COBRA + ESPiSE
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
