##########################################################################################################################
# affils SITE = AFFIL1 AFFIL2 ...
# allows SITE = list of allowed sections                  < be careful (check rules in general.cfg) - ie. dont forget .RET
# banned SITE = list of banned keywords (groups usually)
# filter SITE = rulename= WHATTOFILTER                    < Fine-definition of sections (what is allowed). Careful! Regexp.
#                      ^^ no space!
###########################################################################################################################

affils XRAY = ADMITONE BJ Chakra CSiSO DELIRIUM JGTISO PROMPT Replica SCREAM SHOCKiSO STFU TDA Pr0nStarS TCM
allows XRAY = APPS APPS.DVD APPS.Linux APPS.MAC GAMES GAMES.DVD PS2DVD XBOXDVD TV.DIVX.DTV TV.VCD VCD.SCR SVCD.TS SVCD.TC SVCD.RET SVCD.SCR DIVX.RET DIVX.SCR DIVX.SCR.LIM DIVX.LIM DVDR.RET DVDR.LIM DUTCH
banned XRAY = HRHDTV ^IBM PHXiSO TMN FASiSO MPTDVD MeLA
filter XRAY = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES
filter XRAY = TV.VCD= MadTV.S|Survivor.S|Top.Gear.S|Da.Ali.G.|SNL.S|Saturday.Night|Nip.Tuck|Rescue.Me|Entourage.S|Real.Time.with|Reno.911|Crank.Y|The.Daily.S|Though.Crow
filter XRAY = DUTCH= [._]DVDR[._-]|Microsoft|Macromedia|Borland|Kylix|Discreet|Norton|Cadance|Corel|Alias|Wavefront|Symantec|Autodesk|Adobe|Cisco|Jasc|TomTom|Electronics.*Work.*Bench|Dassault.*Systems
filter XRAY = APPS.DVD= -ISO|-ZWTISO|-MAGNiTUDE|-QUANTUM|-RiSE|Microsoft|Macromedia|Borland|Kylix|Discreet|Norton|Cadance|Corel|Alias|Wavefront|Symantec|Autodesk|Adobe|Cisco|Jasc|TomTom|Electronics.*Work.*Bench|Dassault.*Systems
filter XRAY = APPS.Linux= -ISO|-ZWTISO|-MAGNiTUDE|-QUANTUM|-RiSE|Microsoft|Macromedia|Borland|Kylix|Discreet|Norton|Cadance|Corel|Alias|Wavefront|Symantec|Autodesk|Adobe|Cisco|Jasc|TomTom|Electronics.*Work.*Bench|Dassault.*Systems
filter XRAY = APPS= -ISO|-ZWTISO|-MAGNiTUDE|-QUANTUM|-RiSE|Microsoft|Macromedia|Borland|Kylix|Discreet|Norton|Cadance|Corel|Alias|Wavefront|Symantec|Autodesk|Adobe|Cisco|Jasc|TomTom|Electronics.*Work.*Bench|Dassault.*Systems
#note  XRAY = TV.DIVX.DSR only allowed for specific series

# Changelog:
#
# 040827 - Site added (checker)
# 040902 - Fixed some stuff in APPS filter (shrike)
# 040902 - Added DIVX.SCR.LIM to allows (checker)
# 040905 - Added SCREAM as affils (checker)
# 040908 - Fixed APPS filter (2 filters = both must match which is unwanted here) (shrike, thx to checker) 
# 040914 - Added SHOCKiSO to affils (shrike)
# 041007 - Added PHXISO/TMN to banned (shrike)
# 041007 - Fixed APPS filter (removed vigor/prompt/digiso) (shrike)
# 041007 - Added APPS.DVD/Linux filter (cloned) (shrike)
# 041007 - Fixed DUTCH filter - added allowed apps companies (shrike)
# 041203 - Added !$UK-SERIES (shrike)
# 041209 - Added TV.VCD+filters (shrike)
# 041220 - Added ^Superbabies.Baby to banned, its not wanted/svcd&dvdr (checker)
# 041221 - Added The.Amazing.Race. to TV.DIVX.DTV filter (shrike)
# 040105 - Added Pr0nStarS to affils (checker)
# 050207 - Removed CRiMSON from affils (psychoffee)
# 050313 - RORISO->ZWTISO (shrike)
# 050401 - Fixed TV.DIVX.DTV filter (" !$" -> "|$") ...more than 3 months buggy and noone complained, hmm (shrike)
# 050401 - Updated APPS filter (shrike)
# 050429 - Added LDSXXX filter and XXX to allows
# 050529 - No More LDSXXX, rem. Section and Filter (checker)
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
