############################################################################################################################
# affils SITE = RELOADED STRiKE XOR                             << List of affiliated groups, duh!                         #
# allows SITE = APPS.DVD DIVX.RET GAMES PS2DVD TV.DIVX.DTV XXX  << Allowed sections (check 'general' for a complete list)  #
# banned SITE = -HOODLUM ^IBM                                   << Banlist - Dont add $reality here and use enough chars!  #
# filter SITE = TV.DIVX.DTV= !$REALITY-N-CRAP|$UK-SERIES        << - No space between the SECTION and = (!)                #
# filter SITE = APPS.DVD= Adobe|Microsoft|Norton|Symantec       << - To restrict a section by adding $keywords, tags, ...  #
# filter SITE = PS2DVD= !DVD9                                   << - regexp.: !=NOT |=OR <space>=AND                       #
# filter SITE = XXX= Barely.Legal.|Teen.Idol. DIVX|XVID         << - example: BL and TI allowed in XXX, as divx/xvid only  #
# exempt SITE = Top.Gear.S\d Pimp.My.Ride.S\d                   << To exempt keywords from previously banned $keywords     #
############################################################################################################################

affils ZB = CIS CLANDESTiNE D4U LeechOurStuff UTOPiA RHyTM rG ABSTRAKT
allows ZB = DIVX.RET DIVX.LIM DIVX.SCR DIVX.R5 DIVX.TS XXX X264.RET.1080 X264.LIM.1080 X264.RET.720 X264.LIM.720 TV.DIVX.DTV TV.X264.DTV GAMES.DE DIVX.DE DIVX.DE.LD DIVX.DE.MD TV.DIVX.DE TV.DIVX.DU.DE XXX TV.X264.DTV XX.DE X264.DE.720 DIVX.DE.MD APPS.DE X264.DE.1080 PSP
banned ZB = -aaF -LCHD -XMF -FASiSO -NMY -Bamboocha -ONEPIECE -0x0008 ^Family.Guy ^The.Simpsons ^American.Dad ^Cleveland.Show

filter ZB = XXX = !-WDE|-JustDifferent|-EINFACHNORMAL|-HOMOSEXUAL|-EINFACHALT|-CiCXXX|-PORNOLATION|-Pr0nstarS|-YUMYUM|-DivXfacTory|-ESCORT|-iCHiBaN|-NGE|-Nukleotide|-MotTto|-CHiKaNi|-XMC
exempt ZB = XXX = -SEXTiME|-HANGPUNG|-EROS|-OUZO|-LiPS|-kRc|-FLESHLiGHT|-DFA|-VBT|-CLiT

exempt ZB = X264.DE.1080 = -DETAiLS|-CDD|-RSG|-VCF|-Pleaders
exempt ZB = X264.DE.720  = -DETAiLS|-CDD|-RSG|-VCF|-Pleaders
filter ZB = X264.DE.1080 = !19[0-9][0-9]|200[0-4]
filter ZB = X264.DE.720  = !19[0-9][0-9]|200[0-4]

exempt ZB = DIVX.DE = -RSG|-VCF|-DiSTRiCT|-GMA
filter ZB = DIVX.DE = !-WOMBAT|-KLASSiGER|-UMF|-NGE|-SQsR|-BiTRiPPERs|-MostWanted|-HACO|-XF|-CiA|-RedRay|-STARS|-NGE|-XMF|-aWake|19[0-9][0-9]|2000

filter ZB = APPS     = -RHI|-RESTORE|-CYGiSO|-BIE|-AiRiSO|-SHOOTERS|-Substance|-H0TiSO|-KOPIE|-ZWTiSO|-TBE|-ISO|-HS
filter ZB = APPS.DE  = -RHI|-RESTORE|-CYGiSO|-BIE|-AiRiSO|-SHOOTERS|-Substance|-H0TiSO|-KOPIE|-ZWTiSO|-TBE|-ISO|-HS

filter ZB = WII     = !-GAC|-OneUp|-FYK
filter ZB = XBOX360 = !-GAC|-OneUp|-FYK
filter ZB = PS3     = !-GAC|-OneUp|-FYK

filter ZB = GAMES.DE =  -SKIDROW|-FLT|-0x0007|-RELOADED|-POSTMORTEM|-Razor1911|-GENESIS
filter ZB = GAMES    =  -SKIDROW|-FLT|-0x0007|-RELOADED|-POSTMORTEM|-Razor1911|-GENESIS

filter ZB = TV.X264.DE = -euHD|-ZZGtv|-DELiCiOUS|-RSG|-MiRAMAX|-idTV|-AMBiTiOUS|-GTVG
filter ZB = TV.DIVX.DU.DE = -ITG|-DELiCiOUS|-ZZGtv|-SOF|-RSG|-AMBiTiOUS|-GTVG
filter ZB = TV.DIVX.DE = -ITG|-DELiCiOUS|-ZZGtv|-SOF|-RSG|-AMBiTiOUS|-GTVG

movieminyear ZB = X264.* = 2011
movieminyear ZB = DIVX.* = 2010

tvcountry    ZB = TV.X264.DE =
tvcountry    ZB = TV.DIVX.DE =
tvcountry    ZB = TV.DIVX.DU.DE =
tvcountry    ZB =  TV.X264.DVD.DE =

# Changelog:
#
# 111129 - Site added (me)
#
#
#
#
#
#
#
# DONT FORGET TO UPDATE OUR SITEBOT AS WELL !
