# ZH

AFFILS = AEROHOLiCS BlaZe eNHD Fapulous JustWatch kEISO PROTOCOL SERIOUSLY TRSI VANDALS XCODE

groupblacklist = BRiNK C4TV CiELOS DARKSiDERS DEADPOOL FCC FERiCE HYBRiS REGRET SH0W SharpHD STRiFE TCD TiMELiNE TUSAHD W4F BigBlueBox iLLiTERATE

rule APPS = APPS std
rule BOOKWARE = BOOKWARE std

rule DOX = DOX std
rule GAMES = GAMES std

rule NSW = NSW pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std
rule PS4 = PS4 pal ntsc rf dupesRF dupesNTSC dupesJPN dupesPAL std

rule TV.720p = TV 720p x264 hdtv h264 currentseason episodeAge:3 dupesweb nw_us nw_gb nw_ca web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 hdtv h264 currentseason episodeAge:3 dupesweb network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.720p = TV 720p x264 hdtv h264 currentseason episodeAge:3 dupesweb tvid:(83,87,107,315,112,216,522,17078) web webrip language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason episodeAge:3 dupesweb nw_us nw_gb nw_ca web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason episodeAge:3 dupesweb network:(amazon,netflix,youtube,youtube-premium) web webrip scripted language:(English) std
rule TV.1080p = TV 1080p x264 hdtv h264 currentseason episodeAge:3 dupesweb tvid:(83,87,107,315,112,216,522,17079) web webrip language:(English) std
rule TV.X264.BLURAY = TV 720p bluray language:(English) x264 scripted nw_us nw_gb nw_ca std
rule TV.X264.BLURAY = TV 720p bluray language:(English) x264 scripted network:(amazon,netflix,youtube,youtube-premium) std

rule MOVIES = MOVIES 1080p bluray x264 limited Documentary stv cls language:(English) std


rule XXX = XXX dvdrip bdrip std

dir APPS             = /incoming/APPS
dir BOOKWARE         = /incoming/BOOKWARE
dir DOX              = /incoming/DOX
dir GAMES            = /incoming/GAMES
dir TV.720p          = /incoming/TV720
dir TV.1080p         = /incoming/TV1080
dir TV.x264.BLURAY   = /incoming/TVBLURAY
dir TV.DVDRip        = /incoming/TVDVDRIP
dir NSW              = /incoming/NSW
dir PS4              = /incoming/PS4
dir MOVIES.1080p     = /incoming/X264
dir MOVIES.2160p     = /incoming/X265
dir MOVIES.BDRip     = /incoming/XVID
dir XXX              = /incoming/XXX

Name = Zenith
Location = 1000Mbit
Country = ch
Size = 312 TB
ISP = Swisscom
Control = pHASE
Sitebans = 
Status = Up
